dify/App Configurator [Staging] v3.yml
app:
  description: Avni AI Assistant — App Configurator (Refactored)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: App Configurator [Staging] v3
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: agimaster/justwait:0.0.2@1cc2d5e7fbd6a829396c8a51947924f799f9566071bf8499c4e2a9f75ad3330f
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.8@6706e34565fb2c560cc3641c888b7f4e34288928df913e92241bd6d4f830a0cf
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 2f4fff3b-8643-4e22-9d9f-70b34a4ae94a
    name: bundle_approved
    selector:
    - conversation
    - bundle_approved
    value: false
    value_type: boolean
  - description: ''
    id: 999821f7-4bbe-4eaa-802e-c9b9ba9b22ab
    name: spec_loop_active
    selector:
    - conversation
    - spec_loop_active
    value: true
    value_type: boolean
  - description: Avni auth token for API calls
    id: f3337c5a-b833-47a7-8eeb-1d29182542f9
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: Avni AI server base URL
    id: 4c1c713d-15fd-4a91-904b-20ef56e53cd0
    name: avni_mcp_server_url
    selector:
    - conversation
    - avni_mcp_server_url
    value: ''
    value_type: string
  - description: Extracted entities from specification file
    id: dada7c31-e9c4-4b37-838c-00f71b67c54a
    name: entities_jsonl
    selector:
    - conversation
    - entities_jsonl
    value: {}
    value_type: object
  - description: Uploaded specification files
    id: ee0fbd12-9867-4b7c-95d5-4b74e03475be
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: Upload task ID for polling
    id: 79e98864-f718-4375-b980-b8e9df1fa427
    name: upload_task_id
    selector:
    - conversation
    - upload_task_id
    value: ''
    value_type: string
  - description: Boolean constant true
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: Boolean constant false
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: Controls upload polling loop
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  - description: Tracks if user is in active setup workflow
    id: a1b2c3d4-e5f6-4789-a0b1-c2d3e4f5a6b7
    name: setup_mode_active
    selector:
    - conversation
    - setup_mode_active
    value: false
    value_type: boolean
  - description: Stores the user's anchored intent
    id: b2c3d4e5-f6a7-4890-b1c2-d3e4f5a6b7c8
    name: primary_intent
    selector:
    - conversation
    - primary_intent
    value: ''
    value_type: string
  - description: Base64 encoded bundle ZIP for upload
    id: e5f6a7b8-c9d0-4123-e4f5-a6b7c8d9e0f1
    name: bundle_zip_b64
    selector:
    - conversation
    - bundle_zip_b64
    value: ''
    value_type: string
  - description: Counter for chitchat messages
    id: c3d4e5f6-a7b8-4901-c2d3-e4f5a6b7c8d9
    name: chitchat_count
    selector:
    - conversation
    - chitchat_count
    value: 0
    value_type: integer
  - description: Counter for out-of-scope messages
    id: d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d9e0
    name: out_of_scope_count
    selector:
    - conversation
    - out_of_scope_count
    value: 0
    value_type: integer
  - description: Approved YAML spec from Spec Agent
    id: f7a8b9c0-d1e2-4f3a-b4c5-d6e7f8a9b0c1
    name: spec_yaml
    selector:
    - conversation
    - spec_yaml
    value: ''
    value_type: string
  - description: Base64 encoded existing org bundle ZIP downloaded from Avni
    id: a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
    name: existing_bundle_b64
    selector:
    - conversation
    - existing_bundle_b64
    value: ''
    value_type: string
  - description: Base64 encoded bundle ZIP extracted from download response for patching
    id: c2d3e4f5-a6b7-4890-c1d2-e3f4a5b6c7d8
    name: patch_input_bundle_b64
    selector:
    - conversation
    - patch_input_bundle_b64
    value: ''
    value_type: string
  - description: Organisation name persisted across conversation turns
    id: 7a1b2c3d-e4f5-4678-9a0b-1c2d3e4f5678
    name: org_name
    selector:
    - conversation
    - org_name
    value: ''
    value_type: string
  - description: PEV retry cycle counter for self-healing loop
    id: 8b2c3d4e-f5a6-4789-0b1c-2d3e4f567890
    name: retry_count
    selector:
    - conversation
    - retry_count
    value: 0
    value_type: integer
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .XLSX
      - .XLS
      - .CSV
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: 'Hey {{user_name}}! I’m your Avni AI assistant. I can help
      you with:


      📚 **Learn about Avni** — Ask me anything about the platform

      📄 **Set up your program** — Upload a Field Workflow Specification and I’ll configure
      everything

      🔧 **Custom configuration** — Build something unique


      How can I help you today?'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - I want to set up a new program
    - What is Avni?
    - Upload my field workflow specification
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: if-else
        targetType: llm
      id: 1757493270484-case-rag-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-rag
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
      id: 1757495664531-source-1757495688732-target
      selected: false
      source: '1757495664531'
      sourceHandle: source
      target: '1757495688732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: 1757493270484-case-clarify-1758608702077-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-clarify
      target: '1758608702077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: 1757493270484-case-oos-1758699378772-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-oos
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: llm
      id: 1757493270484-case-assistant-17580163919060-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-assistant
      target: '17580163919060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
      id: 17580163919060-source-1760358474156-target
      selected: false
      source: '17580163919060'
      sourceHandle: source
      target: '1760358474156'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 1774617205889-No-41baa894-e39d-45c7-826d-9ba1faad150b-target
      selected: false
      source: '1774617205889'
      sourceHandle: 'No'
      target: 41baa894-e39d-45c7-826d-9ba1faad150b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: loop-start
        targetType: tool
      id: 47e94f80-07ea-4cf9-b0e3-36875cb6a80c-source-1774617481433-target
      selected: false
      source: 47e94f80-07ea-4cf9-b0e3-36875cb6a80c
      sourceHandle: source
      target: '1774617481433'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: tool
        targetType: http-request
      id: 1774617481433-source-1774617517718-target
      selected: false
      source: '1774617481433'
      sourceHandle: source
      target: '1774617517718'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 1774617205889-__timeout-ef812954-180c-4672-9c41-4d2e8058fdb5-target
      selected: false
      source: '1774617205889'
      sourceHandle: __timeout
      target: ef812954-180c-4672-9c41-4d2e8058fdb5
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f9136731-f6e1-472d-8cad-55edaed02022-true-da538de9-c1a6-46e9-b189-9e5978bf6521-target
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: 'true'
      target: da538de9-c1a6-46e9-b189-9e5978bf6521
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f9136731-f6e1-472d-8cad-55edaed02022-upload-case-401-eed94bb6-3565-4fbc-944c-3b114211f447-target
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-401
      target: eed94bb6-3565-4fbc-944c-3b114211f447
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f9136731-f6e1-472d-8cad-55edaed02022-upload-case-403-848fa968-67cb-41cc-a287-322536fe9f69-target
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-403
      target: 848fa968-67cb-41cc-a287-322536fe9f69
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f9136731-f6e1-472d-8cad-55edaed02022-upload-case-404-7b04db95-2264-496e-8447-0efb83a7b9a2-target
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-404
      target: 7b04db95-2264-496e-8447-0efb83a7b9a2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f9136731-f6e1-472d-8cad-55edaed02022-upload-case-500-608df9da-f21e-4d20-8d01-e4d65fec1256-target
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-500
      target: 608df9da-f21e-4d20-8d01-e4d65fec1256
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 50519a54-053f-4c25-9486-ec03eadb94ca-case-error-report-0f4603cf-1aab-4b53-a05d-c5cb6f9194c2-target
      selected: false
      source: 50519a54-053f-4c25-9486-ec03eadb94ca
      sourceHandle: case-error-report
      target: 0f4603cf-1aab-4b53-a05d-c5cb6f9194c2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: loop
      id: 50519a54-053f-4c25-9486-ec03eadb94ca-false-1774617440956-target
      selected: false
      source: 50519a54-053f-4c25-9486-ec03eadb94ca
      sourceHandle: 'false'
      target: '1774617440956'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-case-delete-config-6494459f-3dee-4fc1-bdff-ff0400aefd52-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-delete-config
      target: 6494459f-3dee-4fc1-bdff-ff0400aefd52
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: human-input
      id: 6494459f-3dee-4fc1-bdff-ff0400aefd52-source-5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88-target
      selected: false
      source: 6494459f-3dee-4fc1-bdff-ff0400aefd52
      sourceHandle: source
      target: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: http-request
      id: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88-Yes-fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b-target
      selected: false
      source: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      sourceHandle: 'Yes'
      target: fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88-No-3cfb30bf-9386-48db-bfa2-3bd3359cf040-target
      selected: false
      source: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      sourceHandle: 'No'
      target: 3cfb30bf-9386-48db-bfa2-3bd3359cf040
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88-__timeout-3cfb30bf-9386-48db-bfa2-3bd3359cf040-target
      selected: false
      source: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      sourceHandle: __timeout
      target: 3cfb30bf-9386-48db-bfa2-3bd3359cf040
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b-source-13f1b052-2aed-4126-937d-5a4837d77639-target
      selected: false
      source: fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
      sourceHandle: source
      target: 13f1b052-2aed-4126-937d-5a4837d77639
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 13f1b052-2aed-4126-937d-5a4837d77639-true-c776a305-2e50-42e0-9209-32881d893c32-target
      selected: false
      source: 13f1b052-2aed-4126-937d-5a4837d77639
      sourceHandle: 'true'
      target: c776a305-2e50-42e0-9209-32881d893c32
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 13f1b052-2aed-4126-937d-5a4837d77639-false-750b6d5a-d7b6-4e8f-8449-b51e3d84f7fd-target
      selected: false
      source: 13f1b052-2aed-4126-937d-5a4837d77639
      sourceHandle: 'false'
      target: 750b6d5a-d7b6-4e8f-8449-b51e3d84f7fd
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: 1757493270484-case-setup-guidance-d9ccc273-d1c4-44d1-8894-177b64b92bfa-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-setup-guidance
      target: d9ccc273-d1c4-44d1-8894-177b64b92bfa
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-false-1758699378772-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'false'
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: if-else
        targetType: assigner
      id: 1774617558364-true-ff6d33df-8310-4f7f-85a6-491645d8b5fe-target
      selected: false
      source: '1774617558364'
      sourceHandle: 'true'
      target: ff6d33df-8310-4f7f-85a6-491645d8b5fe
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: if-else
        targetType: answer
      id: 1774617558364-false-abe6cb3a-769a-4f59-b705-fef4884fdb5e-target
      selected: false
      source: '1774617558364'
      sourceHandle: 'false'
      target: abe6cb3a-769a-4f59-b705-fef4884fdb5e
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: assigner
        targetType: answer
      id: ff6d33df-8310-4f7f-85a6-491645d8b5fe-source-48d1cfc7-02ef-457e-8e39-bff34b4fb91e-target
      selected: false
      source: ff6d33df-8310-4f7f-85a6-491645d8b5fe
      sourceHandle: source
      target: 48d1cfc7-02ef-457e-8e39-bff34b4fb91e
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1711528708197-source-1774005428719-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1774005428719'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1711528708197-source-1774005484035-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1774005484035'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1711528708197-source-8cf929e0-b909-47df-949b-6d40ed0a3bbe-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: 8cf929e0-b909-47df-949b-6d40ed0a3bbe
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: http-request
        targetType: code
      id: 1774617517718-source-17749417129260-target
      selected: false
      source: '1774617517718'
      sourceHandle: source
      target: '17749417129260'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: code
        targetType: if-else
      id: 17749417129260-source-1774617558364-target
      selected: false
      source: '17749417129260'
      sourceHandle: source
      target: '1774617558364'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528708197-source-1758713692744-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1758713692744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1758713692744-source-1757492907627-target
      selected: false
      source: '1758713692744'
      sourceHandle: source
      target: '1757492907627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1757492907627-source-1757493270484-target
      selected: false
      source: '1757492907627'
      sourceHandle: source
      target: '1757493270484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1757493270484-case-filesetup-f1ffbe75-d06a-4349-b6d4-78aabd9596ee-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-filesetup
      target: f1ffbe75-d06a-4349-b6d4-78aabd9596ee
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: f1ffbe75-d06a-4349-b6d4-78aabd9596ee-false-1774264909113-target
      selected: false
      source: f1ffbe75-d06a-4349-b6d4-78aabd9596ee
      sourceHandle: 'false'
      target: '1774264909113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1774264909113-source-17748507380970-target
      selected: false
      source: '1774264909113'
      sourceHandle: source
      target: '17748507380970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17748507380970-source-9c0103c2-e377-4925-8f4a-501ff5b34379-target
      selected: false
      source: '17748507380970'
      sourceHandle: source
      target: 9c0103c2-e377-4925-8f4a-501ff5b34379
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 9c0103c2-e377-4925-8f4a-501ff5b34379-source-ecd0bd72-6c77-4fb8-a362-0164343614af-target
      selected: false
      source: 9c0103c2-e377-4925-8f4a-501ff5b34379
      sourceHandle: source
      target: ecd0bd72-6c77-4fb8-a362-0164343614af
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: human-input
      id: 1773909436902-source-1774617205889-target
      selected: false
      source: '1773909436902'
      sourceHandle: source
      target: '1774617205889'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 1774617205889-Yes-ea75c737-ec88-4d16-ab02-281ab9c2d006-target
      selected: false
      source: '1774617205889'
      sourceHandle: 'Yes'
      target: ea75c737-ec88-4d16-ab02-281ab9c2d006
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17748474036620-source-1773909436902-target
      selected: false
      source: '17748474036620'
      sourceHandle: source
      target: '1773909436902'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1773908701222-source-17748474036620-target
      selected: false
      source: '1773908701222'
      sourceHandle: source
      target: '17748474036620'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: ecd0bd72-6c77-4fb8-a362-0164343614af-source-1773908701222-target
      selected: false
      source: ecd0bd72-6c77-4fb8-a362-0164343614af
      sourceHandle: source
      target: '1773908701222'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 959d2ca3-2445-4375-ac9e-f68f47724a2f-source-6d81a37b-960b-42d3-ae88-5799cd773102-target
      selected: false
      source: 959d2ca3-2445-4375-ac9e-f68f47724a2f
      sourceHandle: source
      target: 6d81a37b-960b-42d3-ae88-5799cd773102
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 6d81a37b-960b-42d3-ae88-5799cd773102-source-8e0563d0-7844-4e89-a765-cbd9647e7676-target
      selected: false
      source: 6d81a37b-960b-42d3-ae88-5799cd773102
      sourceHandle: source
      target: 8e0563d0-7844-4e89-a765-cbd9647e7676
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: agent
      id: 8e0563d0-7844-4e89-a765-cbd9647e7676-source-f6a7cffe-d1af-4c54-9a49-a64cf97e3584-target
      selected: false
      source: 8e0563d0-7844-4e89-a765-cbd9647e7676
      sourceHandle: source
      target: f6a7cffe-d1af-4c54-9a49-a64cf97e3584
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: if-else
      id: f6a7cffe-d1af-4c54-9a49-a64cf97e3584-source-50519a54-053f-4c25-9486-ec03eadb94ca-target
      selected: false
      source: f6a7cffe-d1af-4c54-9a49-a64cf97e3584
      sourceHandle: source
      target: 50519a54-053f-4c25-9486-ec03eadb94ca
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: 959d2ca3-2445-4375-ac9e-f68f47724a2f-fail-branch-f9136731-f6e1-472d-8cad-55edaed02022-target
      selected: false
      source: 959d2ca3-2445-4375-ac9e-f68f47724a2f
      sourceHandle: fail-branch
      target: f9136731-f6e1-472d-8cad-55edaed02022
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f9136731-f6e1-472d-8cad-55edaed02022-false-608df9da-f21e-4d20-8d01-e4d65fec1256-target
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: 'false'
      target: 608df9da-f21e-4d20-8d01-e4d65fec1256
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: if-else
        targetType: answer
      id: 177553979885713-true-177553979885714-target
      selected: false
      source: '177553979885713'
      sourceHandle: 'true'
      target: '177553979885714'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: if-else
        targetType: answer
      id: 177553979885713-d26825bc-0735-4704-b42c-eb42f6cb4b67-177553979885715-target
      selected: false
      source: '177553979885713'
      sourceHandle: d26825bc-0735-4704-b42c-eb42f6cb4b67
      target: '177553979885715'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: if-else
        targetType: answer
      id: 177553979885713-bef31e01-b42e-40cf-9c16-fd9fef71ec17-177553979885716-target
      selected: false
      source: '177553979885713'
      sourceHandle: bef31e01-b42e-40cf-9c16-fd9fef71ec17
      target: '177553979885716'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: if-else
        targetType: answer
      id: 177553979885713-16b24b6c-aef8-437c-a9e3-18a892d85f37-177553979885717-target
      selected: false
      source: '177553979885713'
      sourceHandle: 16b24b6c-aef8-437c-a9e3-18a892d85f37
      target: '177553979885717'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: if-else
        targetType: answer
      id: 177553979885713-54bc604c-0b21-4ea6-8050-d3af11bdbce4-177553979885718-target
      selected: false
      source: '177553979885713'
      sourceHandle: 54bc604c-0b21-4ea6-8050-d3af11bdbce4
      target: '177553979885718'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: agent
        targetType: code
      id: 17755397988578-source-17755397988579-target
      selected: false
      source: '17755397988578'
      sourceHandle: source
      target: '17755397988579'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: code
        targetType: assigner
      id: 17755397988579-source-177553979885710-target
      selected: false
      source: '17755397988579'
      sourceHandle: source
      target: '177553979885710'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: code
        targetType: answer
      id: 17755397988579-source-17755397988576-target
      selected: false
      source: '17755397988579'
      sourceHandle: source
      target: '17755397988576'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: assigner
        targetType: http-request
      id: 177553979885710-source-17755397988570-target
      selected: false
      source: '177553979885710'
      sourceHandle: source
      target: '17755397988570'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: http-request
        targetType: code
      id: 17755397988570-source-17755397988571-target
      selected: false
      source: '17755397988570'
      sourceHandle: source
      target: '17755397988571'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: http-request
        targetType: code
      id: 17755397988573-source-17755397988574-target
      selected: false
      source: '17755397988573'
      sourceHandle: source
      target: '17755397988574'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: code
        targetType: assigner
      id: 17755397988571-source-17755397988572-target
      selected: false
      source: '17755397988571'
      sourceHandle: source
      target: '17755397988572'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: assigner
        targetType: http-request
      id: 17755397988572-source-17755397988573-target
      selected: false
      source: '17755397988572'
      sourceHandle: source
      target: '17755397988573'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: code
        targetType: assigner
      id: 17755397988574-source-17755397988575-target
      selected: false
      source: '17755397988574'
      sourceHandle: source
      target: '17755397988575'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: assigner
        targetType: answer
      id: 17755397988575-source-17755397988577-target
      selected: false
      source: '17755397988575'
      sourceHandle: source
      target: '17755397988577'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: assigner
        targetType: agent
      id: 17755397988575-source-177553979885711-target
      selected: false
      source: '17755397988575'
      sourceHandle: source
      target: '177553979885711'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: agent
        targetType: if-else
      id: 177553979885711-source-177553979885712-target
      selected: false
      source: '177553979885711'
      sourceHandle: source
      target: '177553979885712'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: http-request
        targetType: if-else
      id: 17755397988573-fail-branch-177553979885713-target
      selected: false
      source: '17755397988573'
      sourceHandle: fail-branch
      target: '177553979885713'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: if-else
        targetType: answer
      id: 177553979885713-false-177553979885718-target
      selected: false
      source: '177553979885713'
      sourceHandle: 'false'
      target: '177553979885718'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: http-request
        targetType: if-else
      id: 17755397988570-fail-branch-177553979885713-target
      selected: false
      source: '17755397988570'
      sourceHandle: fail-branch
      target: '177553979885713'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: loop-start
        targetType: assigner
      id: 1775539639483start-source-17755399262440-target
      selected: false
      source: 1775539639483start
      sourceHandle: source
      target: '17755399262440'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: assigner
        targetType: agent
      id: 17755399262440-source-17755397988578-target
      selected: false
      source: '17755399262440'
      sourceHandle: source
      target: '17755397988578'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        sourceType: if-else
        targetType: assigner
      id: 177553979885712-case-bundle-approved-17755411834170-target
      source: '177553979885712'
      sourceHandle: case-bundle-approved
      target: '17755411834170'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: loop
      id: 1774617205889-Yes-1775539639483-target
      source: '1774617205889'
      sourceHandle: 'Yes'
      target: '1775539639483'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: loop
      id: f1ffbe75-d06a-4349-b6d4-78aabd9596ee-case-true-1775539639483-target
      source: f1ffbe75-d06a-4349-b6d4-78aabd9596ee
      sourceHandle: case-true
      target: '1775539639483'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1775541471535-true-959d2ca3-2445-4375-ac9e-f68f47724a2f-target
      source: '1775541471535'
      sourceHandle: 'true'
      target: 959d2ca3-2445-4375-ac9e-f68f47724a2f
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1775541471535-false-1775541508232-target
      source: '1775541471535'
      sourceHandle: 'false'
      target: '1775541508232'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: loop
        targetType: if-else
      id: 1775539639483-source-1775541471535-target
      source: '1775539639483'
      sourceHandle: source
      target: '1775541471535'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_mcp_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_mcp_server_url
      height: 257
      id: '1711528708197'
      position:
        x: 0
        y: 331
      positionAbsolute:
        x: 0
        y: 331
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - avni_mcp_server_url
          variable_selector:
          - conversation
          - avni_mcp_server_url
          write_mode: over-write
        selected: false
        title: AI Server url assigner
        type: assigner
        version: '2'
      height: 84
      id: '1774005428719'
      position:
        x: 362
        y: 0
      positionAbsolute:
        x: 362
        y: 0
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        selected: false
        title: Auth token var assigner
        type: assigner
        version: '2'
      height: 84
      id: '1774005484035'
      position:
        x: 362
        y: 164
      positionAbsolute:
        x: 362
        y: 164
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - org_name
          variable_selector:
          - conversation
          - org_name
          write_mode: over-write
        selected: false
        title: Org name assigner
        type: assigner
        version: '2'
      height: 84
      id: 8cf929e0-b909-47df-949b-6d40ed0a3bbe
      position:
        x: 362
        y: 328
      positionAbsolute:
        x: 362
        y: 328
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 9TmCqtDyQNUaJCKXT7rPGCd21br8q6JzrrUr4xib3E9uqcfMf6t6rxJkkXFK7EzL
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 6
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o
            provider: langgenius/openai/openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1758713692744'
      position:
        x: 362
        y: 492
      positionAbsolute:
        x: 362
        y: 492
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        model:
          completion_params:
            max_tokens: 19999
            response_format: JSON
            temperature: 0.1
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 8a1b2c3d-e4f5-4678-9a0b-1c2d3e4f5a6b
          role: system
          text: "You are the Avni Platform Orchestrator. Your sole job is to classify\
            \ the user's message into one service and decide if clarification is needed.\n\
            \n<context> {{#context#}} </context>\n<user_uploaded_files> {{#sys.files#}}\
            \ </user_uploaded_files>\n\n## GOLDEN RULE — check this before anything\
            \ else\nIf sys.files is NOT empty → service = FILE_SETUP. Stop. Do not\
            \ evaluate any other rule.\n\n## Session State\n- setup_mode_active: {{#conversation.setup_mode_active#}}\n\
            - entities_jsonl: {{#conversation.entities_jsonl#}}\n\n## Routing (evaluate\
            \ in order, stop at first match)\n1. setup_mode_active=true OR entities_jsonl\
            \ non-empty → FILE_SETUP (user is mid-setup; anchor to it even if message\
            \ drifts)\n2. Greeting (hi/hello/thanks) → RAG, clarification_needed=false\n\
            3. Capability question (\"Can Avni\", \"Is it possible\", \"Does Avni\
            \ support\", \"How does\") → RAG\n4. Delete/reset request (\"delete everything\"\
            , \"clean slate\", \"start fresh\", \"remove all config\") → DELETE_CONFIG\n\
            5. Implementation request (\"build\", \"create\", \"develop\", \"set up\
            \ for me\") → ASSISTANT\n6. Setup intent WITHOUT file (\"I want to set\
            \ up\", \"how do I configure\") → PROGRAM_SETUP_GUIDANCE\n7. Unrelated\
            \ to Avni → OUT_OF_SCOPE\n8. Anything else Avni-related → RAG\n\n## Deviation\
            \ Handling\nIf setup_mode_active=true and the message is chitchat or out-of-scope,\
            \ still return FILE_SETUP with deviation_detected=true. Do NOT abandon\
            \ the session.\n\n## Clarification Policy\nSet clarification_needed=true\
            \ ONLY when ALL three are true:\n- The question cannot be answered without\
            \ one specific missing detail\n- That detail materially changes the answer\n\
            - The session is NOT in setup mode\nMax 2 questions. Each question must\
            \ name exactly what information is expected.\n\n## Response Format\n{\"\
            service\": \"RAG|ASSISTANT|FILE_SETUP|PROGRAM_SETUP_GUIDANCE|DELETE_CONFIG|OUT_OF_SCOPE\"\
            ,\n \"confidence\": 0.0-1.0,\n \"question_type\": \"...\",\n \"routing_reason\"\
            : \"...\",\n \"clarification_needed\": false,\n \"clarifying_questions\"\
            : [],\n \"deviation_detected\": false}\n"
        - id: 3925c0a4-bbab-4189-8ba8-ac1725e2263e
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            properties:
              clarification_needed:
                type: boolean
              clarifying_questions:
                items:
                  type: string
                type: array
              confidence:
                maximum: 1
                minimum: 0
                type: number
              deviation_detected:
                type: boolean
              question_type:
                type: string
              routing_reason:
                type: string
              service:
                enum:
                - RAG
                - ASSISTANT
                - FILE_SETUP
                - PROGRAM_SETUP_GUIDANCE
                - DELETE_CONFIG
                - OUT_OF_SCOPE
                type: string
            required:
            - service
            - confidence
            - question_type
            - routing_reason
            - clarification_needed
            - clarifying_questions
            - deviation_detected
            type: object
        structured_output_enabled: true
        structured_output_schema:
          properties:
            clarification_needed:
              type: boolean
            clarifying_questions:
              items:
                type: string
              type: array
            confidence:
              type: number
            question_type:
              type: string
            routing_reason:
              type: string
            service:
              type: string
          required:
          - service
          - confidence
          type: object
        title: Orchestrator
        type: llm
      height: 88
      id: '1757492907627'
      position:
        x: 704
        y: 493
      positionAbsolute:
        x: 704
        y: 493
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-filesetup
          conditions:
          - comparison_operator: is
            value: FILE_SETUP
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-filesetup
          logical_operator: and
        - case_id: case-clarify
          conditions:
          - comparison_operator: is
            value: 'true'
            variable_selector:
            - '1757492907627'
            - structured_output
            - clarification_needed
          id: case-clarify
          logical_operator: and
        - case_id: case-rag
          conditions:
          - comparison_operator: is
            value: RAG
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-rag
          logical_operator: and
        - case_id: case-assistant
          conditions:
          - comparison_operator: is
            value: ASSISTANT
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-assistant
          logical_operator: and
        - case_id: case-setup-guidance
          conditions:
          - comparison_operator: is
            value: PROGRAM_SETUP_GUIDANCE
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-setup-guidance
          logical_operator: and
        - case_id: case-delete-config
          conditions:
          - comparison_operator: is
            value: DELETE_CONFIG
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-delete-config
          logical_operator: and
        - case_id: case-oos
          conditions:
          - comparison_operator: is
            value: OUT_OF_SCOPE
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-oos
          logical_operator: and
        selected: false
        title: Main Router
        type: if-else
      height: 580
      id: '1757493270484'
      position:
        x: 1046
        y: 247
      positionAbsolute:
        x: 1046
        y: 247
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        model:
          completion_params: {}
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 9b2c3d4e-f5a6-4789-0b1c-2d3e4f5a6b7c
          role: system
          text: 'Use the context inside <context></context> tags as your knowledge.

            <context> {{#context#}} </context>

            You are talking to {{#1711528708197.user_name#}} from {{#1711528708197.org_name#}}.
            You are part of the Avni AI Assistant.

            Currently capable of: 1. Answering questions about the Avni system 2.
            Assistance with designing workflows, forms etc on Avni

            Not currently capable of: 1. Helping with rules

            Context State: - Setup mode active: {{#conversation.setup_mode_active#}}
            - Entities loaded: {{#conversation.entities_jsonl#}}

            Rules: - If you don''t know, say so. Don''t guess or invent features.
            - If greeting, greet warmly by name: {{#1711528708197.user_name#}} - Do
            not greet repeatedly. - Answer in the user''s language.

            CLARIFICATION DISCIPLINE: - If greeting: respond warmly, do NOT ask questions
            unless user explicitly asks for help - If question has adequate context:
            answer directly - If ambiguous AND not in setup mode: ask ONE specific
            question with clear expected response format - If setup_mode_active=true
            and question relates to setup: answer directly without clarification

            '
        - id: rag-user-msg-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: false
        title: RAG LLM
        type: llm
      height: 88
      id: '1757495664531'
      position:
        x: 1408
        y: 34
      positionAbsolute:
        x: 1408
        y: 34
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#1757495664531.text#}}'
        selected: false
        title: RAG Answer
        type: answer
      height: 103
      id: '1757495688732'
      position:
        x: 1750
        y: 26
      positionAbsolute:
        x: 1750
        y: 26
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#1757492907627.structured_output.clarifying_questions#}}


          Note: Please provide specific details so I can help you better.'
        selected: false
        title: Clarify the question
        type: answer
      height: 135
      id: '1758608702077'
      position:
        x: 1408
        y: 202
      positionAbsolute:
        x: 1408
        y: 202
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'I''m sorry, that question doesn''t seem to be related to Avni. I
          can help you with:

          - Learning about Avni''s features

          - Setting up programs and forms

          - Configuring your Avni implementation


          How can I help you with Avni today?'
        selected: false
        title: Unrelated Question
        type: answer
      height: 196
      id: '1758699378772'
      position:
        x: 1408
        y: 877
      positionAbsolute:
        x: 1408
        y: 877
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'You can set up your program by uploading a **Field Workflow Specification**.
          Here is a [sample field workflow specification document](https://docs.google.com/spreadsheets/d/1cEod2MbMtRvAcupArC4nZaHIYB2HHUrIIbOZR0uGRz8/edit?gid=262841117#gid=262841117)
          that you can use as a template.


          Once you fill it out, click the **+** icon below to upload your file and
          I''ll automatically create:

          - Location hierarchy

          - Subject types

          - Programs

          - Encounter types

          - Forms and form mappings


          I can also clarify any questions you have about filling the document. What
          would you like to know?'
        selected: false
        title: Program Setup Guidance
        type: answer
      height: 356
      id: d9ccc273-d1c4-44d1-8894-177b64b92bfa
      position:
        x: 1408
        y: 1153
      positionAbsolute:
        x: 1408
        y: 1153
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 0c3d4e5f-a6b7-4890-1c2d-3e4f5a6b7c8d
          role: system
          text: ''
        - id: 1c276f7a-296a-466b-9296-1d0c4024a349
          role: user
          text: 'You are Avni Copilot, an expert assistant for the Avni data collection
            platform. Guide NGOs and implementers in designing Avni configurations.

            Context State: - Setup mode active: {{#conversation.setup_mode_active#}}
            - Entities loaded: {{#conversation.entities_jsonl#}} - Primary intent:
            {{#conversation.primary_intent#}}

            - Ask ONE simple question at a time (guidance, not clarification) - Org
            Type is {{#1711528708197.org_type#}} - If Org Type is "Production" or
            "UAT", tell user automatic configurations are not supported for their
            org type. Do not proceed. - If Org Type is "Trial", proceed with configuration.
            - You are talking to {{#1711528708197.user_name#}} - When user wants to
            create config, suggest uploading a Field Workflow Specification file instead.

            BEHAVIOR: - If setup_mode_active=true: stay focused on configuration,
            minimal questions - If user deviates from setup task, gently redirect:
            "Let''s focus on your configuration. What would you like to adjust?" -
            Provide clear, actionable guidance'
        selected: false
        title: Assistant LLM
        type: llm
      height: 88
      id: '17580163919060'
      position:
        x: 1408
        y: 417
      positionAbsolute:
        x: 1408
        y: 417
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#17580163919060.text#}}'
        selected: false
        title: Assistant Answer
        type: answer
      height: 103
      id: '1760358474156'
      position:
        x: 1750
        y: 409
      positionAbsolute:
        x: 1750
        y: 409
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-true
          conditions:
          - comparison_operator: not empty
            value: ''
            varType: object
            variable_selector:
            - conversation
            - entities_jsonl
          - comparison_operator: empty
            value: ''
            varType: array
            variable_selector:
            - sys
            - files
          id: case-true
          logical_operator: and
        selected: false
        title: Already Processed?
        type: if-else
      height: 150
      id: f1ffbe75-d06a-4349-b6d4-78aabd9596ee
      position:
        x: 1408
        y: 1589
      positionAbsolute:
        x: 1408
        y: 1589
      selected: false
      type: custom
      width: 242
    - data:
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1774264909113'
      position:
        x: 1770
        y: 1627
      positionAbsolute:
        x: 1770
        y: 1627
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17748507380970'
          - structured_output
          variable_selector:
          - conversation
          - entities_jsonl
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - setup_mode_active
          write_mode: over-write
        selected: false
        title: Save Entities JSONL
        type: assigner
        version: '2'
      height: 110
      id: 9c0103c2-e377-4925-8f4a-501ff5b34379
      position:
        x: 2454
        y: 1624
      positionAbsolute:
        x: 2454
        y: 1624
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: store-entities-body
            key: ''
            type: text
            value: "{\n  \"conversation_id\": \"{{#sys.conversation_id#}}\",\n  \"\
              entities\": {{#conversation.entities_jsonl#}}\n}\n"
          type: raw-text
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 10
        title: Store Entities
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}store-entities'
      height: 141
      id: ecd0bd72-6c77-4fb8-a362-0164343614af
      position:
        x: 2796
        y: 1608
      positionAbsolute:
        x: 2796
        y: 1608
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 7b3e4f5a-c6d7-4e89-a0b1-c2d3e4f5a6b7
            key: ''
            type: text
            value: "{\n  \"conversation_id\": \"{{#sys.conversation_id#}}\"\n}\n"
          type: raw-text
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 10
        title: Ambiguity Checker
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}validate-entities'
      height: 141
      id: '1773908701222'
      position:
        x: 3138
        y: 1608
      positionAbsolute:
        x: 3138
        y: 1608
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#17748474036620.text#}}


          Does everything look correct? Click **Yes** to proceed with configuration,
          or **No** to make corrections.'
        selected: false
        title: Summary Answer
        type: answer
      height: 151
      id: '1773909436902'
      position:
        x: 3822
        y: 1603
      positionAbsolute:
        x: 3822
        y: 1603
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 94a48a21-1e24-4f35-93d1-920d93afe268
            key: ''
            type: text
            value: "{\n  \"bundle_zip_b64\": \"{{#conversation.bundle_zip_b64#}}\"\
              \n}\n"
          type: raw-text
        error_strategy: fail-branch
        headers: 'Content-Type:application/json

          avni-auth-token:{{#conversation.auth_token#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 120
          max_write_timeout: 30
        title: Upload Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}upload-bundle'
      height: 177
      id: 959d2ca3-2445-4375-ac9e-f68f47724a2f
      position:
        x: 9418
        y: 2652
      positionAbsolute:
        x: 9418
        y: 2652
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    try:\n        parsed\
          \ = json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"task_id\": parsed.get(\"\
          task_id\", \"\"),\n        \"status\": parsed.get(\"status\", \"\")\n  \
          \  }\n"
        code_language: python3
        outputs:
          status:
            children: null
            type: string
          task_id:
            children: null
            type: string
        selected: false
        title: Parse Upload Response
        type: code
        variables:
        - value_selector:
          - 959d2ca3-2445-4375-ac9e-f68f47724a2f
          - body
          value_type: string
          variable: body
      height: 52
      id: 6d81a37b-960b-42d3-ae88-5799cd773102
      position:
        x: 9760
        y: 2685
      positionAbsolute:
        x: 9760
        y: 2685
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6d81a37b-960b-42d3-ae88-5799cd773102
          - task_id
          variable_selector:
          - conversation
          - upload_task_id
          write_mode: over-write
        selected: false
        title: Save Task ID
        type: assigner
        version: '2'
      height: 84
      id: 8e0563d0-7844-4e89-a765-cbd9647e7676
      position:
        x: 10102
        y: 2669
      positionAbsolute:
        x: 10102
        y: 2669
      selected: false
      type: custom
      width: 242
    - data:
        delivery_methods:
        - enabled: true
          id: fa93dae0-de3e-4354-80b6-279549abcae0
          type: webapp
        form_content: ''
        inputs: []
        selected: false
        timeout: 1
        timeout_unit: hour
        title: Confirm Entities
        type: human-input
        user_actions:
        - button_style: primary
          id: 'Yes'
          title: 'Yes'
        - button_style: default
          id: 'No'
          title: 'No'
      height: 190
      id: '1774617205889'
      position:
        x: 4164
        y: 1584
      positionAbsolute:
        x: 4164
        y: 1584
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        break_conditions:
        - comparison_operator: is
          id: 60dfd905-4978-4518-b4c6-943941b7f125
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - loop
        error_handle_mode: terminated
        height: 530
        logical_operator: and
        loop_count: 20
        selected: false
        start_node_id: 47e94f80-07ea-4cf9-b0e3-36875cb6a80c
        title: Upload Poll Loop
        type: loop
        width: 2116
      height: 530
      id: '1774617440956'
      position:
        x: 11188
        y: 2895
      positionAbsolute:
        x: 11188
        y: 2895
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2116
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 47e94f80-07ea-4cf9-b0e3-36875cb6a80c
      parentId: '1774617440956'
      position:
        x: 60
        y: 135
      positionAbsolute:
        x: 11248
        y: 3030
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        is_team_authorization: true
        loop_id: '1774617440956'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The number of seconds to wait
            ja_JP: The number of seconds to wait
            pt_BR: The number of seconds to wait
            zh_Hans: 等待的秒数
          label:
            en_US: Seconds
            ja_JP: Seconds
            pt_BR: Seconds
            zh_Hans: 秒数
          llm_description: The number of seconds to pause execution
          max: null
          min: null
          name: seconds
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          seconds: '3'
        plugin_id: agimaster/justwait
        plugin_unique_identifier: agimaster/justwait:0.0.2@1cc2d5e7fbd6a829396c8a51947924f799f9566071bf8499c4e2a9f75ad3330f
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=d6ae5ab1-753e-4a2e-9183-eff6f9ec2d00&filename=a260a47b34be7b6bca428d8e8617d3ad9389cde761097b839c16a4e3ff378fbc.svg
        provider_id: agimaster/justwait/justwait
        provider_name: agimaster/justwait/justwait
        provider_type: builtin
        selected: false
        title: Wait
        tool_configurations: {}
        tool_description: Wait for a specified number of seconds, similar to Python's
          time.sleep() function
        tool_label: Wait
        tool_name: wait
        tool_node_version: '2'
        tool_parameters:
          seconds:
            type: constant
            value: 3
        type: tool
      height: 52
      id: '1774617481433'
      parentId: '1774617440956'
      position:
        x: 184
        y: 133
      positionAbsolute:
        x: 11372
        y: 3028
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: avni-auth-token:{{#conversation.auth_token#}}
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
        title: Check Upload Status
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}upload-status/{{#conversation.upload_task_id#}}'
        variables: []
      height: 160
      id: '1774617517718'
      parentId: '1774617440956'
      position:
        x: 506
        y: 79
      positionAbsolute:
        x: 11694
        y: 2974
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            value: completed
            varType: string
            variable_selector:
            - '17749417129260'
            - status
          - comparison_operator: contains
            id: bb085deb-9e17-477b-8010-3d80bc018375
            value: failed
            varType: string
            variable_selector:
            - '17749417129260'
            - status
          id: 'true'
          logical_operator: or
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        selected: false
        title: Upload Done?
        type: if-else
      height: 198
      id: '1774617558364'
      parentId: '1774617440956'
      position:
        x: 1150
        y: 60
      positionAbsolute:
        x: 12338
        y: 2955
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - loop
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - setup_mode_active
          write_mode: over-write
        loop_id: '1774617440956'
        selected: false
        title: Break Upload Loop
        type: assigner
        version: '2'
      height: 110
      id: ff6d33df-8310-4f7f-85a6-491645d8b5fe
      parentId: '1774617440956'
      position:
        x: 1492
        y: 244
      positionAbsolute:
        x: 12680
        y: 3139
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: '✅ **Configuration complete!**


          Your implementation bundle has been generated and uploaded to Avni.


          **Next steps:**

          1. Log into [Avni](https://app.avniproject.org) to review your configuration

          2. Check Subject Types, Programs, Encounter Types, and Forms in the Admin
          panel

          3. Verify form fields and mappings are correct

          4. Test the workflow by creating a sample subject


          If you need to make changes, just upload an updated specification or describe
          the corrections in this chat.'
        isInLoop: true
        loop_id: '1774617440956'
        selected: false
        title: Upload Done
        type: answer
      height: 308
      id: 48d1cfc7-02ef-457e-8e39-bff34b4fb91e
      parentId: '1774617440956'
      position:
        x: 1814
        y: 145
      positionAbsolute:
        x: 13002
        y: 3040
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: ⏳ Uploading bundle to Avni server... Please wait.
        isInLoop: true
        loop_id: '1774617440956'
        selected: false
        title: Upload Progress
        type: answer
      height: 116
      id: abe6cb3a-769a-4f59-b705-fef4884fdb5e
      parentId: '1774617440956'
      position:
        x: 1492
        y: 68
      positionAbsolute:
        x: 12680
        y: 2963
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: The confirmation timed out. Your extracted entities have been saved.
          You can continue the setup by sending another message.
        selected: false
        title: Timeout
        type: answer
      height: 148
      id: ef812954-180c-4672-9c41-4d2e8058fdb5
      position:
        x: 4526
        y: 1438
      positionAbsolute:
        x: 4526
        y: 1438
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'Please describe the corrections you''d like to make. For example:

          - "Remove program X"

          - "Change encounter type Y to scheduled"

          - "Add a new subject type called Z"


          I''ll update the configuration and show you a revised summary.'
        selected: false
        title: Corrections Prompt
        type: answer
      height: 196
      id: 41baa894-e39d-45c7-826d-9ba1faad150b
      position:
        x: 4526
        y: 1162
      positionAbsolute:
        x: 4526
        y: 1162
      selected: false
      type: custom
      width: 242
    - data:
        answer: 🔄 Generating configuration spec from your confirmed entities. This
          may take a moment...
        selected: false
        title: 'Progress: Generating Spec'
        type: answer
      height: 132
      id: ea75c737-ec88-4d16-ab02-281ab9c2d006
      position:
        x: 4526
        y: 1666
      positionAbsolute:
        x: 4526
        y: 1666
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 64000
            temperature: 0.3
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: b58fc3ce-f0ed-4ddc-811f-2cd4d84d881d
          role: system
          text: 'You are an Avni platform configuration assistant. Your job is to
            present a clear, structured summary of the extracted app configuration
            entities and highlight any issues that need the user''s attention before
            proceeding.


            Format your response in three sections in markdown format:


            ## Extracted Configuration

            List every extracted entity grouped by type (Subject Types, Programs,
            Encounter Types, Address Levels, Forms). For each entity, show all key
            fields.


            ## Issues & Warnings

            If the ambiguity report contains warnings or errors, clearly list each
            one and explain what needs to be fixed. If there are no issues, say "No
            issues found".


            ## Next Steps

            If there are errors: explain what corrections are needed before we can
            proceed.

            If warnings only: note them and ask the user to confirm they want to proceed
            or make corrections.

            If no issues: confirm the configuration looks good and ask for approval
            to proceed.'
        - id: 2151dbf6-c159-451e-a23b-e1abb3537053
          role: user
          text: 'Extracted Entities:

            {{#conversation.entities_jsonl#}}


            Validation Report:

            {{#1773908701222.body#}}'
        selected: false
        structured_output_enabled: false
        title: Summary LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17748474036620'
      position:
        x: 3480
        y: 1635
      positionAbsolute:
        x: 3480
        y: 1635
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            response_format: JSON
            temperature: 0.1
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 41cb4e1b-4c4e-4513-a2e1-d7c4eca5864e
          role: system
          text: 'You are an entity extraction assistant for the Avni platform. Extract
            ALL entities from the document content below.


            Document content: {{#1774264909113.text#}}


            Extract into 5 arrays: subject_types, programs, encounter_types, address_levels,
            forms.

            Rules:

            subject_types: name, type (Person|Individual|Household|Group|User), lowest_address_level

            programs: name, target_subject_type, colour (hex or null)

            encounter_types: name, program_name (or null), subject_type, is_program_encounter
            (bool), is_scheduled (bool)

            address_levels: name, level (int), parent (name or null). Topmost has
            highest level number.

            forms: Extract form fields where explicitly defined in the document. Each
            form: name, formType (IndividualProfile|ProgramEnrolment|ProgramExit|ProgramEncounter|Encounter|ProgramEncounterCancellation),
            subjectType (or null), program (or null), encounterType (or null), fields
            (array of: name, dataType (Text|Numeric|Coded|Date|DateTime|Duration|PhoneNumber|Audio|Image|Video|File|Location),
            mandatory (bool). Only include unit/min/max when present. Only include
            options for Coded fields. Omit all null/empty optional fields entirely.

            Only extract from explicitly defined tables/sections. Do not invent entities.
            Ignore nan values. Trim whitespace. Use actual booleans not strings. If
            no form fields are defined in the document, return forms as empty array
            (auto-derive will run as fallback).

            '
        selected: false
        structured_output:
          schema:
            properties:
              address_levels:
                items:
                  type: object
                type: array
              encounter_types:
                items:
                  type: object
                type: array
              forms:
                items:
                  type: object
                type: array
              programs:
                items:
                  type: object
                type: array
              subject_types:
                items:
                  type: object
                type: array
            required:
            - subject_types
            - programs
            - encounter_types
            - address_levels
            - forms
            type: object
        structured_output_enabled: true
        structured_output_schema:
          properties:
            address_levels:
              items:
                type: object
              type: array
            encounter_types:
              items:
                type: object
              type: array
            forms:
              items:
                type: object
              type: array
            programs:
              items:
                type: object
              type: array
            subject_types:
              items:
                type: object
              type: array
          type: object
        title: Entity Extractor
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17748507380970'
      position:
        x: 2112
        y: 1635
      positionAbsolute:
        x: 2112
        y: 1635
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body) -> dict:\n    try:\n        parsed =\
          \ json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"task_id\": parsed.get(\"\
          task_id\", \"\"),\n        \"status\": parsed.get(\"status\", \"\")\n  \
          \  }\n"
        code_language: python3
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        outputs:
          status:
            children: null
            type: string
          task_id:
            children: null
            type: string
        selected: false
        title: Parse Upload Status Response
        type: code
        variables:
        - value_selector:
          - '1774617517718'
          - body
          value_type: string
          variable: body
      height: 52
      id: '17749417129260'
      parentId: '1774617440956'
      position:
        x: 828
        y: 133
      positionAbsolute:
        x: 12016
        y: 3028
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'You are the Error Agent for the Avni App Configurator. An upload
              was initiated and you need to monitor or diagnose any issues.


              Upload Task ID: {{#conversation.upload_task_id#}}

              Server URL: {{#conversation.avni_mcp_server_url#}}


              Workflow:

              1. Check upload status.

              2. If completed successfully, report success to user.

              3. If failed, analyze error message, diagnose root cause.

              4. If fixable (e.g. missing field, wrong format), attempt fix and output
              RETRY_BUNDLE with corrected entities.

              5. If not fixable, output clear ERROR_REPORT explaining what failed
              and why.'
          maximum_iterations:
            type: constant
            value: 3
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 8192
                temperature: 0.2
              mode: chat
              model: claude-haiku-4-5-20251001
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: false
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: false
              extra:
                description: Apply corrections to extracted entities
              parameters:
                corrections:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: false
              extra:
                description: Generate YAML spec from entities
              parameters:
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Generate YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: false
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a generated bundle ZIP
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a generated bundle ZIP
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: false
              extra:
                description: Convert an existing bundle to human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Convert an existing bundle to human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: true
              extra:
                description: Check bundle upload status
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Check bundle upload status
              tool_label: upload_status
              tool_name: upload_status
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Diagnoses upload failures, analyzes server errors, and attempts recovery
          or reports clearly to the user.
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Error Agent
        tool_node_version: '2'
        type: agent
      height: 248
      id: f6a7cffe-d1af-4c54-9a49-a64cf97e3584
      position:
        x: 10484
        y: 2587
      positionAbsolute:
        x: 10484
        y: 2587
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000001
            value: '400'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: 'true'
          logical_operator: and
        - case_id: upload-case-401
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000002
            value: '401'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-401
          logical_operator: and
        - case_id: upload-case-403
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000003
            value: '403'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-403
          logical_operator: and
        - case_id: upload-case-404
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000004
            value: '404'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-404
          logical_operator: and
        - case_id: upload-case-500
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000005
            value: '500'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-500
          logical_operator: and
        selected: false
        title: Upload Error Check
        type: if-else
      height: 436
      id: f9136731-f6e1-472d-8cad-55edaed02022
      position:
        x: 9780
        y: 2973
      positionAbsolute:
        x: 9780
        y: 2973
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: bad request format'
        selected: false
        title: Upload Err 400
        type: answer
        variables: []
      height: 100
      id: da538de9-c1a6-46e9-b189-9e5978bf6521
      position:
        x: 10142
        y: 2833
      positionAbsolute:
        x: 10142
        y: 2833
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Auth token missing or expired. Please start a new
          conversation.'
        selected: false
        title: Upload Err 401
        type: answer
        variables: []
      height: 132
      id: eed94bb6-3565-4fbc-944c-3b114211f447
      position:
        x: 10142
        y: 3013
      positionAbsolute:
        x: 10142
        y: 3013
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Unauthorized access'
        selected: false
        title: Upload Err 403
        type: answer
        variables: []
      height: 100
      id: 848fa968-67cb-41cc-a287-322536fe9f69
      position:
        x: 10142
        y: 3225
      positionAbsolute:
        x: 10142
        y: 3225
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Entity not found'
        selected: false
        title: Upload Err 404
        type: answer
        variables: []
      height: 100
      id: 7b04db95-2264-496e-8447-0efb83a7b9a2
      position:
        x: 10142
        y: 3405
      positionAbsolute:
        x: 10142
        y: 3405
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Server error. Please try again later.'
        selected: false
        title: Upload Err 500
        type: answer
        variables: []
      height: 116
      id: 608df9da-f21e-4d20-8d01-e4d65fec1256
      position:
        x: 10142
        y: 3585
      positionAbsolute:
        x: 10142
        y: 3585
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-retry-bundle
          conditions:
          - comparison_operator: contains
            id: cev-cond-retry
            value: RETRY_BUNDLE
            varType: string
            variable_selector:
            - f6a7cffe-d1af-4c54-9a49-a64cf97e3584
            - text
          id: case-retry-bundle
          logical_operator: and
        - case_id: case-error-report
          conditions:
          - comparison_operator: contains
            id: cev-cond-error
            value: ERROR_REPORT
            varType: string
            variable_selector:
            - f6a7cffe-d1af-4c54-9a49-a64cf97e3584
            - text
          id: case-error-report
          logical_operator: and
        selected: false
        title: Check Error Verdict
        type: if-else
      height: 220
      id: 50519a54-053f-4c25-9486-ec03eadb94ca
      position:
        x: 10826
        y: 2601
      positionAbsolute:
        x: 10826
        y: 2601
      selected: false
      type: custom
      width: 242
    - data:
        answer: '❌ **Upload failed and could not be auto-corrected.**


          Please review the error details above. You can describe corrections or upload
          a revised specification to try again.'
        selected: false
        title: Upload Error Report
        type: answer
      height: 164
      id: 0f4603cf-1aab-4b53-a05d-c5cb6f9194c2
      position:
        x: 11188
        y: 2651
      positionAbsolute:
        x: 11188
        y: 2651
      selected: false
      type: custom
      width: 242
    - data:
        answer: '⚠️ **Are you sure you want to delete the entire implementation?**


          This will remove all Subject Types, Programs, Encounter Types, Forms, and
          related configuration from the organisation. This action cannot be undone.


          Please confirm by clicking **Yes** or **No**.'
        selected: false
        title: Delete Confirm Prompt
        type: answer
      height: 212
      id: 6494459f-3dee-4fc1-bdff-ff0400aefd52
      position:
        x: 1408
        y: 585
      positionAbsolute:
        x: 1408
        y: 585
      selected: false
      type: custom
      width: 242
    - data:
        delivery_methods:
        - enabled: true
          id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
          type: webapp
        form_content: ''
        inputs: []
        selected: false
        timeout: 2
        timeout_unit: hour
        title: Delete Confirmation
        type: human-input
        user_actions:
        - button_style: primary
          id: 'Yes'
          title: 'Yes'
        - button_style: default
          id: 'No'
          title: 'No'
      height: 190
      id: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      position:
        x: 1750
        y: 596
      positionAbsolute:
        x: 1750
        y: 596
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: ''
            header: avni-auth-token
            type: custom
          type: api-key
        body:
          data: ''
          type: none
        headers: Content-Type:application/json
        method: delete
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          connect: 30
          max_connect_timeout: 300
          max_read_timeout: 600
          max_write_timeout: 600
          read: 120
          write: 120
        title: Delete Implementation
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}/api/implementation'
        variables:
        - value_selector:
          - conversation
          - auth_token
          variable: auth_token
      height: 141
      id: fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
      position:
        x: 2112
        y: 467
      positionAbsolute:
        x: 2112
        y: 467
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: drc-cond-200
            value: '200'
            varType: number
            variable_selector:
            - fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
            - status_code
          id: 'true'
          logical_operator: and
        selected: false
        title: Delete Result Check
        type: if-else
      height: 148
      id: 13f1b052-2aed-4126-937d-5a4837d77639
      position:
        x: 2454
        y: 464
      positionAbsolute:
        x: 2454
        y: 464
      selected: false
      type: custom
      width: 242
    - data:
        answer: '✅ **Implementation deleted successfully.**


          All configuration has been removed. You can start fresh by uploading a new
          scoping document or describing your requirements.'
        selected: false
        title: Delete Success
        type: answer
      height: 164
      id: c776a305-2e50-42e0-9209-32881d893c32
      position:
        x: 2816
        y: 264
      positionAbsolute:
        x: 2816
        y: 264
      selected: false
      type: custom
      width: 242
    - data:
        answer: '❌ **Failed to delete implementation.**


          The server returned an error. Please check your auth token is valid and
          try again.'
        selected: false
        title: Delete Failure
        type: answer
      height: 148
      id: 750b6d5a-d7b6-4e8f-8449-b51e3d84f7fd
      position:
        x: 2816
        y: 508
      positionAbsolute:
        x: 2816
        y: 508
      selected: false
      type: custom
      width: 242
    - data:
        answer: Delete operation cancelled. Your current configuration remains unchanged.
        selected: false
        title: Delete Cancelled
        type: answer
      height: 132
      id: 3cfb30bf-9386-48db-bfa2-3bd3359cf040
      position:
        x: 2112
        y: 688
      positionAbsolute:
        x: 2112
        y: 688
      selected: false
      type: custom
      width: 242
    - data:
        break_conditions:
        - comparison_operator: is
          id: 72e8e510-e913-4b81-bb98-a7995578e7d3
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - spec_loop_active
        error_handle_mode: terminated
        height: 1207
        logical_operator: and
        loop_count: 5
        selected: false
        start_node_id: 1775539639483start
        title: Spec Review Loop
        type: loop
        width: 4432
      height: 1207
      id: '1775539639483'
      position:
        x: 4526
        y: 1878
      positionAbsolute:
        x: 4526
        y: 1878
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 4432
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1775539639483start
      parentId: '1775539639483'
      position:
        x: 60
        y: 458
      positionAbsolute:
        x: 4586
        y: 2336
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: ''
          type: none
        error_strategy: fail-branch
        headers: avni-auth-token:{{#conversation.auth_token#}}
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        method: get
        params: includeLocations:false
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 120
          max_write_timeout: 10
        title: Download Existing Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}download-bundle-b64'
        variables: []
      height: 177
      id: '17755397988570'
      parentId: '1775539639483'
      position:
        x: 1492
        y: 544
      positionAbsolute:
        x: 6018
        y: 2422
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(raw_body: str) -> dict:\n    try:\n       \
          \ parsed = json.loads(raw_body) if isinstance(raw_body, str) else raw_body\n\
          \    except (json.JSONDecodeError, TypeError):\n        parsed = {}\n  \
          \  return {\"bundle_b64\": parsed.get(\"bundle_zip_b64\", \"\")}\n"
        code_language: python3
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        outputs:
          bundle_b64:
            children: null
            type: string
        selected: false
        title: Build Patch Body
        type: code
        variables:
        - value_selector:
          - '17755397988570'
          - body
          value_type: string
          variable: raw_body
      height: 52
      id: '17755397988571'
      parentId: '1775539639483'
      position:
        x: 1814
        y: 636
      positionAbsolute:
        x: 6340
        y: 2514
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17755397988571'
          - bundle_b64
          variable_selector:
          - conversation
          - patch_input_bundle_b64
          write_mode: over-write
        loop_id: '1775539639483'
        selected: false
        title: Save Patch Input Bundle B64
        type: assigner
        version: '2'
      height: 84
      id: '17755397988572'
      parentId: '1775539639483'
      position:
        x: 2136
        y: 620
      positionAbsolute:
        x: 6662
        y: 2498
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 4d4c1c5d-e5b8-45f0-b692-c0a5a42ac691
            key: existing_bundle_b64
            type: text
            value: '{{#conversation.patch_input_bundle_b64#}}'
          - id: 4d4c1c5d-e5b8-45f0-b692-c0a5a42ac692
            key: spec_yaml
            type: text
            value: '{{#conversation.spec_yaml#}}'
          type: form-data
        error_strategy: fail-branch
        headers: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 180
          max_write_timeout: 30
        title: Patch Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}patch-bundle'
        variables: []
      height: 177
      id: '17755397988573'
      parentId: '1775539639483'
      position:
        x: 2458
        y: 573
      positionAbsolute:
        x: 6984
        y: 2451
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    try:\n        parsed\
          \ = json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"bundle_zip_b64\"\
          : parsed.get(\"patched_bundle_b64\", parsed.get(\"bundle_zip_b64\", \"\"\
          )),\n        \"files_patched\": parsed.get(\"files_patched\", 0),\n    \
          \    \"confidence\": parsed.get(\"confidence\", {})\n    }\n"
        code_language: python3
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        outputs:
          bundle_zip_b64:
            children: null
            type: string
          confidence:
            children: null
            type: object
          files_patched:
            children: null
            type: number
        selected: false
        title: Parse Bundle Response
        type: code
        variables:
        - value_selector:
          - '17755397988573'
          - body
          value_type: string
          variable: body
      height: 52
      id: '17755397988574'
      parentId: '1775539639483'
      position:
        x: 2800
        y: 876
      positionAbsolute:
        x: 7326
        y: 2754
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17755397988574'
          - bundle_zip_b64
          variable_selector:
          - conversation
          - bundle_zip_b64
          write_mode: over-write
        loop_id: '1775539639483'
        selected: false
        title: Save Bundle B64
        type: assigner
        version: '2'
      height: 84
      id: '17755397988575'
      parentId: '1775539639483'
      position:
        x: 3142
        y: 860
      positionAbsolute:
        x: 7668
        y: 2738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: 📥 Downloading existing bundle from Avni...
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: 'Progress: Downloading Bundle'
        type: answer
        variables: []
      height: 116
      id: '17755397988576'
      parentId: '1775539639483'
      position:
        x: 1170
        y: 415
      positionAbsolute:
        x: 5696
        y: 2293
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: 📤 Uploading bundle to Avni server...
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: 'Progress: Uploading Bundle'
        type: answer
        variables: []
      height: 116
      id: '17755397988577'
      parentId: '1775539639483'
      position:
        x: 3484
        y: 600
      positionAbsolute:
        x: 8010
        y: 2478
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'You are the Spec Agent. The user has ALREADY confirmed their entities.
              Generate the YAML spec and output it immediately.


              Conversation ID: {{#sys.conversation_id#}}


              IMPORTANT: use conversation_id for all tool calls.

              Steps — do ALL in order, do NOT ask the user anything:

              1. Call generate_spec with {"conversation_id": "{{#sys.conversation_id#}}"}

              2. Call validate_spec with the returned spec_yaml

              3. If validation has errors, call apply_entity_corrections then regenerate.

              4. Output your final message in EXACTLY this format:


              SPEC_APPROVED

              (paste the complete YAML spec here)


              CRITICAL RULES:

              - Do NOT ask the user any questions. They already confirmed.

              - Do NOT wrap YAML in markdown code blocks.

              - Your final output MUST start with SPEC_APPROVED on its own line followed
              by the raw YAML spec.

              - Do NOT add commentary before SPEC_APPROVED.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.3
              mode: chat
              model: claude-haiku-4-5-20251001
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: true
              extra:
                description: Apply corrections to extracted entities
              parameters:
                corrections:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: true
              extra:
                description: Generate YAML spec from entities
              parameters:
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Generate YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: false
              extra:
                description: Validate a generated bundle ZIP
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a generated bundle ZIP
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: false
              extra:
                description: Convert an existing bundle to human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Convert an existing bundle to human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: false
              extra:
                description: Check bundle upload status
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Check bundle upload status
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: Call this once after entity extraction. Agent tools can
                  then pass only conversation_id instead of the full entities payload.
              parameters:
                conversation_id:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Call this once after entity extraction. Agent tools
                can then pass only conversation_id instead of the full entities payload.
              tool_label: store_entities
              tool_name: store_entities
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Iteratively refines entities with user corrections, generates and validates
          YAML spec, then stores approved spec in conversation.
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Spec Agent
        tool_node_version: '2'
        type: agent
      height: 264
      id: '17755397988578'
      parentId: '1775539639483'
      position:
        x: 506
        y: 350
      positionAbsolute:
        x: 5032
        y: 2228
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import re\n\ndef main(agent_response: str) -> dict:\n    # Extract\
          \ spec_yaml from agent response\n    # Look for SPEC_APPROVED marker followed\
          \ by YAML content\n    if \"SPEC_APPROVED\" not in agent_response:\n   \
          \     return {\"spec_yaml\": \"\", \"approved\": False}\n    \n    # Extract\
          \ everything after SPEC_APPROVED\n    parts = agent_response.split(\"SPEC_APPROVED\"\
          , 1)\n    if len(parts) < 2:\n        return {\"spec_yaml\": \"\", \"approved\"\
          : False}\n    \n    spec_content = parts[1].strip()\n    \n    # Remove\
          \ markdown code blocks if present\n    spec_content = re.sub(r'^```ya?ml\\\
          s*\\n', '', spec_content, flags=re.MULTILINE)\n    spec_content = re.sub(r'\\\
          n```\\s*$', '', spec_content, flags=re.MULTILINE)\n    \n    return {\n\
          \        \"spec_yaml\": spec_content.strip(),\n        \"approved\": True\n\
          \    }\n"
        code_language: python3
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        outputs:
          approved:
            children: null
            type: boolean
          spec_yaml:
            children: null
            type: string
        selected: false
        title: Extract Spec YAML
        type: code
        variables:
        - value_selector:
          - '17755397988578'
          - text
          value_type: string
          variable: agent_response
      height: 52
      id: '17755397988579'
      parentId: '1775539639483'
      position:
        x: 828
        y: 456
      positionAbsolute:
        x: 5354
        y: 2334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17755397988579'
          - spec_yaml
          variable_selector:
          - conversation
          - spec_yaml
          write_mode: over-write
        loop_id: '1775539639483'
        selected: false
        title: Save Spec YAML
        type: assigner
        version: '2'
      height: 84
      id: '177553979885710'
      parentId: '1775539639483'
      position:
        x: 1170
        y: 591
      positionAbsolute:
        x: 5696
        y: 2469
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "You are the Review Agent. You have ONE job: validate the bundle\
              \ and output a verdict.\n\nStep 1 — Call validate_bundle immediately.\
              \ The bundle_zip_b64 variable is available in context.\nStep 2 — Read\
              \ the result:\n  • If valid=true and errors=[]: your entire response\
              \ must be exactly: BUNDLE_APPROVED\n  • If valid=false or errors is\
              \ non-empty: your entire response must start with: BUNDLE_REJECTED:\
              \ followed by the error list.\n\nRULES:\n- Call validate_bundle exactly\
              \ once. No other tool calls.\n- Do NOT write any preamble, greeting,\
              \ or explanation.\n- Do NOT ask the user any questions.\n- Your response\
              \ MUST begin with BUNDLE_APPROVED or BUNDLE_REJECTED."
          maximum_iterations:
            type: constant
            value: 3
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 8192
                temperature: 0.2
              mode: chat
              model: claude-haiku-4-5-20251001
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: false
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: false
              extra:
                description: Apply corrections to extracted entities
              parameters:
                corrections:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: false
              extra:
                description: Generate YAML spec from entities
              parameters:
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Generate YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: false
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a generated bundle ZIP
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a generated bundle ZIP
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: Convert an existing bundle to human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Convert an existing bundle to human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: false
              extra:
                description: Check bundle upload status
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Check bundle upload status
              tool_label: upload_status
              tool_name: upload_status
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Inspects generated bundle before upload. Validates bundle ZIP using
          bundle_zip_b64 from context, outputs BUNDLE_APPROVED or BUNDLE_REJECTED.
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Review Agent
        tool_node_version: '2'
        type: agent
      height: 280
      id: '177553979885711'
      parentId: '1775539639483'
      position:
        x: 3484
        y: 776
      positionAbsolute:
        x: 8010
        y: 2654
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: case-bundle-approved
          conditions:
          - comparison_operator: contains
            id: cbv-cond-approved
            value: BUNDLE_APPROVED
            varType: string
            variable_selector:
            - '177553979885711'
            - text
          id: case-bundle-approved
          logical_operator: and
        - case_id: case-bundle-rejected
          conditions:
          - comparison_operator: contains
            id: cbv-cond-rejected
            value: BUNDLE_REJECTED
            varType: string
            variable_selector:
            - '177553979885711'
            - text
          id: case-bundle-rejected
          logical_operator: and
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: Check Bundle Verdict
        type: if-else
      height: 220
      id: '177553979885712'
      parentId: '1775539639483'
      position:
        x: 3806
        y: 806
      positionAbsolute:
        x: 8332
        y: 2684
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 672c5bec-9261-4ee1-a82d-2b743caa821b
            value: '400'
            varType: number
            variable_selector:
            - '17755397988573'
            - status_code
          id: 'true'
          logical_operator: and
        - case_id: d26825bc-0735-4704-b42c-eb42f6cb4b67
          conditions:
          - comparison_operator: '='
            id: 4c421e43-485e-4ed1-857d-d7d121c4e3fe
            value: '401'
            varType: number
            variable_selector:
            - '17755397988573'
            - status_code
          id: d26825bc-0735-4704-b42c-eb42f6cb4b67
          logical_operator: and
        - case_id: bef31e01-b42e-40cf-9c16-fd9fef71ec17
          conditions:
          - comparison_operator: '='
            id: 191a228d-f21b-4e30-aa99-cdaf8f14df5a
            value: '403'
            varType: number
            variable_selector:
            - '17755397988573'
            - status_code
          id: bef31e01-b42e-40cf-9c16-fd9fef71ec17
          logical_operator: and
        - case_id: 16b24b6c-aef8-437c-a9e3-18a892d85f37
          conditions:
          - comparison_operator: '='
            id: bde8bc5c-7b23-4a53-965f-5092fa64ed6c
            value: '404'
            varType: number
            variable_selector:
            - '17755397988573'
            - status_code
          id: 16b24b6c-aef8-437c-a9e3-18a892d85f37
          logical_operator: and
        - case_id: 54bc604c-0b21-4ea6-8050-d3af11bdbce4
          conditions:
          - comparison_operator: '='
            id: 42dce423-7b96-4112-a0a1-f15e66b21422
            value: '500'
            varType: number
            variable_selector:
            - '17755397988573'
            - status_code
          id: 54bc604c-0b21-4ea6-8050-d3af11bdbce4
          logical_operator: and
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: Bundle HTTP Request Error
        type: if-else
      height: 436
      id: '177553979885713'
      parentId: '1775539639483'
      position:
        x: 2800
        y: 341
      positionAbsolute:
        x: 7326
        y: 2219
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: bad request format
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: Bad Request Error
        type: answer
        variables: []
      height: 100
      id: '177553979885714'
      parentId: '1775539639483'
      position:
        x: 3142
        y: 380
      positionAbsolute:
        x: 7668
        y: 2258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: Auth token missing or expired
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: Auth Token Error
        type: answer
        variables: []
      height: 100
      id: '177553979885715'
      parentId: '1775539639483'
      position:
        x: 3142
        y: 60
      positionAbsolute:
        x: 7668
        y: 1938
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: 'Unauthorized access '
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: Unauthorized Error
        type: answer
        variables: []
      height: 100
      id: '177553979885716'
      parentId: '1775539639483'
      position:
        x: 3122
        y: 540
      positionAbsolute:
        x: 7648
        y: 2418
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: Entity not found
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: Not Found Error
        type: answer
        variables: []
      height: 100
      id: '177553979885717'
      parentId: '1775539639483'
      position:
        x: 3142
        y: 220
      positionAbsolute:
        x: 7668
        y: 2098
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: server error
        isInIteration: false
        isInLoop: true
        loop_id: '1775539639483'
        selected: false
        title: Server Error
        type: answer
        variables: []
      height: 100
      id: '177553979885718'
      parentId: '1775539639483'
      position:
        x: 3142
        y: 700
      positionAbsolute:
        x: 7668
        y: 2578
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - bundle_approved
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - spec_loop_active
          write_mode: over-write
        loop_id: '1775539639483'
        selected: false
        title: Reset Loop State
        type: assigner
        version: '2'
      height: 110
      id: '17755399262440'
      parentId: '1775539639483'
      position:
        x: 184
        y: 427
      positionAbsolute:
        x: 4710
        y: 2305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - spec_loop_active
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - bundle_approved
          write_mode: over-write
        loop_id: '1775539639483'
        selected: false
        title: Set Bundle Approved
        type: assigner
        version: '2'
      height: 110
      id: '17755411834170'
      parentId: '1775539639483'
      position:
        x: 4128
        y: 861
      positionAbsolute:
        x: 8654
        y: 2739
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: af353ccd-14c6-4604-afe6-1b8f91161b05
            value: true
            varType: boolean
            variable_selector:
            - conversation
            - bundle_approved
          id: 'true'
          logical_operator: and
        selected: false
        title: Is Bundle Approved?
        type: if-else
      height: 124
      id: '1775541471535'
      position:
        x: 9056
        y: 2667
      positionAbsolute:
        x: 9056
        y: 2667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Bundle Failed Spec Review, Max Retries Exhausted
        selected: false
        title: Max Retries Exhausted
        type: answer
        variables: []
      height: 116
      id: '1775541508232'
      position:
        x: 9418
        y: 2909
      positionAbsolute:
        x: 9418
        y: 2909
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1829.25
      y: -273.75
      zoom: 0.25
  rag_pipeline_variables: []
