dify/App Configurator [Staging] v2.yml
app:
  description: Avni AI Assistant — App Configurator (Refactored)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: App Configurator [Staging] v2
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: agimaster/justwait:0.0.2@1cc2d5e7fbd6a829396c8a51947924f799f9566071bf8499c4e2a9f75ad3330f
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.8@6706e34565fb2c560cc3641c888b7f4e34288928df913e92241bd6d4f830a0cf
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: Avni auth token for API calls
    id: f3337c5a-b833-47a7-8eeb-1d29182542f9
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: Avni AI server base URL
    id: 4c1c713d-15fd-4a91-904b-20ef56e53cd0
    name: avni_mcp_server_url
    selector:
    - conversation
    - avni_mcp_server_url
    value: ''
    value_type: string
  - description: Extracted entities from specification file
    id: dada7c31-e9c4-4b37-838c-00f71b67c54a
    name: entities_jsonl
    selector:
    - conversation
    - entities_jsonl
    value: {}
    value_type: object
  - description: Uploaded specification files
    id: ee0fbd12-9867-4b7c-95d5-4b74e03475be
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: Upload task ID for polling
    id: 79e98864-f718-4375-b980-b8e9df1fa427
    name: upload_task_id
    selector:
    - conversation
    - upload_task_id
    value: ''
    value_type: string
  - description: Boolean constant true
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: Boolean constant false
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: Controls upload polling loop
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  - description: Tracks if user is in active setup workflow
    id: a1b2c3d4-e5f6-4789-a0b1-c2d3e4f5a6b7
    name: setup_mode_active
    selector:
    - conversation
    - setup_mode_active
    value: false
    value_type: boolean
  - description: Stores the user's anchored intent
    id: b2c3d4e5-f6a7-4890-b1c2-d3e4f5a6b7c8
    name: primary_intent
    selector:
    - conversation
    - primary_intent
    value: ''
    value_type: string
  - description: Base64 encoded bundle ZIP for upload
    id: e5f6a7b8-c9d0-4123-e4f5-a6b7c8d9e0f1
    name: bundle_zip_b64
    selector:
    - conversation
    - bundle_zip_b64
    value: ''
    value_type: string
  - description: Counter for chitchat messages
    id: c3d4e5f6-a7b8-4901-c2d3-e4f5a6b7c8d9
    name: chitchat_count
    selector:
    - conversation
    - chitchat_count
    value: 0
    value_type: integer
  - description: Counter for out-of-scope messages
    id: d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d9e0
    name: out_of_scope_count
    selector:
    - conversation
    - out_of_scope_count
    value: 0
    value_type: integer
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .XLSX
      - .XLS
      - .CSV
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: 'Hey {{user_name}}! I’m your Avni AI assistant. I can help
      you with:


      📚 **Learn about Avni** — Ask me anything about the platform

      📄 **Set up your program** — Upload a Field Workflow Specification and I’ll configure
      everything

      🔧 **Custom configuration** — Build something unique


      How can I help you today?'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - I want to set up a new program
    - What is Avni?
    - Upload my field workflow specification
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 567b3a09-07aa-446a-af58-bb023337ea04
      selected: false
      source: '1758713692744'
      sourceHandle: source
      target: '1757492907627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: llm
      id: 538316d7-e6df-4c85-aa8e-882da2decf95
      selected: false
      source: '1757493270484'
      sourceHandle: case-rag
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
      id: d3514041-504a-4de1-bce9-63101ad5f1e4
      selected: false
      source: '1757495664531'
      sourceHandle: source
      target: '1757495688732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: 875c60cc-86f0-489d-9f97-a1e53966a106
      selected: false
      source: '1757493270484'
      sourceHandle: case-clarify
      target: '1758608702077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: c501d3e4-1f59-4ac4-9cdd-55ba7b42b765
      selected: false
      source: '1757493270484'
      sourceHandle: case-oos
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: llm
      id: fa6827a3-35fe-4bf5-9749-cb047c315329
      selected: false
      source: '1757493270484'
      sourceHandle: case-assistant
      target: '17580163919060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
      id: c32374c3-d160-41f0-84f9-32eeda89cd7c
      selected: false
      source: '17580163919060'
      sourceHandle: source
      target: '1760358474156'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: if-else
      id: 6a57cf49-c334-464d-a4f4-b9108cf4c092
      selected: false
      source: '1757493270484'
      sourceHandle: case-filesetup
      target: fs-check-processed
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: document-extractor
      id: 2830c064-2881-4fcb-b839-384ced8a80cc
      selected: false
      source: fs-check-processed
      sourceHandle: case-false
      target: '1774264909113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: assigner
        targetType: code
      id: 9edcc33f-ae77-4d1d-a0a4-9b820d327bbf
      selected: false
      source: fs-save-jsonl
      sourceHandle: source
      target: '1773908701222'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: llm
      id: 7e25197b-7c15-4124-bb55-0fded6e2bc22
      selected: false
      source: fs-check-processed
      sourceHandle: case-true
      target: '1773981975918'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: code
      id: 9fee834f-d799-49f1-a1f5-83c0efc7367a
      selected: false
      source: '1773981975918'
      sourceHandle: source
      target: '1773982043351'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: code
        targetType: assigner
      id: 50668f44-e7c8-4b64-ab07-49f9d975505a
      selected: false
      source: '1773982043351'
      sourceHandle: source
      target: '1773984373385'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: human-input
      id: 0daa4d9e-549b-44e3-8b91-c890391b486c
      selected: false
      source: '1773909436902'
      sourceHandle: source
      target: '1774617205889'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: http-request
      id: 5c8dec84-c4d9-4f52-8371-7d194bc49e9c
      selected: false
      source: '1774617205889'
      sourceHandle: 'Yes'
      target: generate-bundle-req
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: loop-start
        targetType: tool
      id: 6eba93ff-953a-4d06-89aa-84731de91aa8
      selected: false
      source: 1774617440956start
      sourceHandle: source
      target: '1774617481433'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: tool
        targetType: http-request
      id: 9b6ed349-cd70-432c-a3f8-90a07592d1a7
      selected: false
      source: '1774617481433'
      sourceHandle: source
      target: '1774617517718'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: http-request
        targetType: if-else
      id: 519849f5-b759-4281-835e-482838d70bb1
      selected: false
      source: '1774617517718'
      sourceHandle: source
      target: '1774617558364'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 8976fc6a-a699-4cbe-a732-28196a29717e
      selected: false
      source: '1774617205889'
      sourceHandle: __timeout
      target: fs-timeout
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: c0f04cc8-1261-47e3-9c25-0b848621f924
      selected: false
      source: '1774617205889'
      sourceHandle: 'No'
      target: fs-ask-corrections
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 83131e8b-57dc-441c-8c07-c97015775b23
      selected: false
      source: generate-bundle-req
      sourceHandle: source
      target: 4eb75ab2-87de-48f6-b52e-35f8646da88d
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: f92114a2-7a0c-4edf-a350-efbaff1f2907
      selected: false
      source: 4eb75ab2-87de-48f6-b52e-35f8646da88d
      sourceHandle: source
      target: 473230ae-fcca-4f3b-b410-fc792d8b0e88
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 59926ff2-ace9-45bc-8fd4-cc82d9b04c9e
      selected: false
      source: 473230ae-fcca-4f3b-b410-fc792d8b0e88
      sourceHandle: source
      target: upload-bundle-req
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: b52e7621-1d82-4538-ab09-ee3c1d8dd2c4
      selected: false
      source: upload-bundle-req
      sourceHandle: source
      target: 6d81a37b-960b-42d3-ae88-5799cd773102
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 27d43db2-e252-4315-95f5-65c4abb02d24
      selected: false
      source: 6d81a37b-960b-42d3-ae88-5799cd773102
      sourceHandle: source
      target: 8e0563d0-7844-4e89-a765-cbd9647e7676
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: loop
      id: 533f37ce-5506-4373-ad40-3e28a5e396ab
      selected: false
      source: 8e0563d0-7844-4e89-a765-cbd9647e7676
      sourceHandle: source
      target: '1774617440956'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: 98938e7f-b8bd-4afb-bba6-5d0716785311
      selected: false
      source: '1757493270484'
      sourceHandle: case-setup-guidance
      target: setup-guidance-answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: d8a60d07-c768-418c-b08b-93d6ad2c5517
      selected: false
      source: fs-check-processed
      sourceHandle: 'false'
      target: '1774264909113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 832726e4-72f8-4a5a-860a-1dfc3d3cfebc
      selected: false
      source: '1757493270484'
      sourceHandle: 'false'
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 4cfba0f9-6e74-4d5a-bdf1-ac49c8e3c2ed
      selected: false
      source: '1773984373385'
      sourceHandle: source
      target: '17748473384490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: fd7dec48-cbbb-4d16-aa2e-902b021e8a5c
      selected: false
      source: '17748473384490'
      sourceHandle: source
      target: '1773909436902'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: bae904c0-f895-4c60-8b6a-593862b19932
      selected: false
      source: '17748474036620'
      sourceHandle: source
      target: '1773909436902'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: f8e2032e-8140-4742-91f3-10a714a1ca1a
      selected: false
      source: '1773908701222'
      sourceHandle: source
      target: '17748474036620'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 07c5d92f-3ba3-4269-b118-ec7d91a4aa21
      selected: false
      source: '1774264909113'
      sourceHandle: source
      target: '17748507380970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 6766ac12-7e02-4061-b4e3-38ee6dafb2f1
      selected: false
      source: '17748507380970'
      sourceHandle: source
      target: fs-save-jsonl
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: if-else
        targetType: assigner
      id: d4a7cb88-3ba7-4232-aba7-bdcb0058bf2d
      selected: false
      source: '1774617558364'
      sourceHandle: 'true'
      target: break-upload-loop
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: if-else
        targetType: answer
      id: 80f9c75e-9348-4c4e-b3e4-5e1fc0383930
      selected: false
      source: '1774617558364'
      sourceHandle: 'false'
      target: upload-progress-answer
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        sourceType: assigner
        targetType: answer
      id: 24e376ae-b1b4-4b20-aaae-449ff541bb6e
      selected: false
      source: break-upload-loop
      sourceHandle: source
      target: upload-done-answer-loop
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 6ffeea64-4eab-4adf-b0be-c741e6360410
      selected: false
      source: '1757492907627'
      sourceHandle: source
      target: '1757493270484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 10d2a0a1-734b-47e0-ac78-dae4b71cc724
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1758713692744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 3768efbc-85a1-4b13-a8b3-59be2f46bb81
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1774005428719'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 52dde296-fa85-448b-b8e3-5934d4a368c6
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1774005484035'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_mcp_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_mcp_server_url
      height: 257
      id: '1711528708197'
      position:
        x: 0
        y: 429
      positionAbsolute:
        x: 0
        y: 429
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - avni_mcp_server_url
          variable_selector:
          - conversation
          - avni_mcp_server_url
          write_mode: over-write
        selected: false
        title: AI Server url assigner
        type: assigner
        version: '2'
      height: 84
      id: '1774005428719'
      position:
        x: 362
        y: 618
      positionAbsolute:
        x: 362
        y: 618
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        selected: false
        title: Auth token var assigner
        type: assigner
        version: '2'
      height: 84
      id: '1774005484035'
      position:
        x: 362
        y: 781.9404724099721
      positionAbsolute:
        x: 362
        y: 781.9404724099721
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 9TmCqtDyQNUaJCKXT7rPGCd21br8q6JzrrUr4xib3E9uqcfMf6t6rxJkkXFK7EzL
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 6
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o
            provider: langgenius/openai/openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1758713692744'
      position:
        x: 342
        y: 450
      positionAbsolute:
        x: 342
        y: 450
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        model:
          completion_params:
            max_tokens: 19999
            response_format: JSON
            temperature: 0.1
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: orchestrator-system
          role: system
          text: "You are the Avni Platform Orchestrator. Your sole job is to classify\
            \ the user's message into one service and decide if clarification is needed.\n\
            \n<context> {{#context#}} </context>\n<user_uploaded_files> {{#sys.files#}}\
            \ </user_uploaded_files>\n\n## GOLDEN RULE — check this before anything\
            \ else\nIf sys.files is NOT empty → service = FILE_SETUP. Stop. Do not\
            \ evaluate any other rule.\n\n## Session State\n- setup_mode_active: {{#conversation.setup_mode_active#}}\n\
            - entities_jsonl non-empty: {{#conversation.entities_jsonl#}}\n\n## Routing\
            \ (evaluate in order, stop at first match)\n1. setup_mode_active=true\
            \ OR entities_jsonl non-empty → FILE_SETUP (user is mid-setup; anchor\
            \ to it even if message drifts)\n2. Greeting (hi/hello/thanks) → RAG,\
            \ clarification_needed=false\n3. Capability question (\"Can Avni\", \"\
            Is it possible\", \"Does Avni support\", \"How does\") → RAG\n4. Implementation\
            \ request (\"build\", \"create\", \"develop\", \"set up for me\", \"delete\
            \ everything\", \"clean slate\") → ASSISTANT\n5. Setup intent WITHOUT\
            \ file (\"I want to set up\", \"how do I configure\") → PROGRAM_SETUP_GUIDANCE\n\
            6. Unrelated to Avni → OUT_OF_SCOPE\n7. Anything else Avni-related → RAG\n\
            \n## Deviation Handling\nIf setup_mode_active=true and the message is\
            \ chitchat or out-of-scope, still return FILE_SETUP with deviation_detected=true.\
            \ Do NOT abandon the session.\n\n## Clarification Policy\nSet clarification_needed=true\
            \ ONLY when ALL three are true:\n- The question cannot be answered without\
            \ one specific missing detail\n- That detail materially changes the answer\n\
            - The session is NOT in setup mode\nMax 2 questions. Each question must\
            \ name exactly what information is expected.\n\n## Response Format\n{\"\
            service\": \"RAG|ASSISTANT|FILE_SETUP|PROGRAM_SETUP_GUIDANCE|OUT_OF_SCOPE\"\
            ,\n \"confidence\": 0.0-1.0,\n \"question_type\": \"...\",\n \"routing_reason\"\
            : \"...\",\n \"clarification_needed\": false,\n \"clarifying_questions\"\
            : [],\n \"deviation_detected\": false}\n"
        - id: 3925c0a4-bbab-4189-8ba8-ac1725e2263e
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            properties:
              clarification_needed:
                type: boolean
              clarifying_questions:
                items:
                  type: string
                type: array
              confidence:
                maximum: 1
                minimum: 0
                type: number
              deviation_detected:
                type: boolean
              question_type:
                type: string
              routing_reason:
                type: string
              service:
                enum:
                - RAG
                - ASSISTANT
                - FILE_SETUP
                - PROGRAM_SETUP_GUIDANCE
                - OUT_OF_SCOPE
                type: string
            required:
            - service
            - confidence
            - question_type
            - routing_reason
            - clarification_needed
            - clarifying_questions
            - deviation_detected
            type: object
        structured_output_enabled: true
        structured_output_schema:
          properties:
            clarification_needed:
              type: boolean
            clarifying_questions:
              items:
                type: string
              type: array
            confidence:
              type: number
            question_type:
              type: string
            routing_reason:
              type: string
            service:
              type: string
          required:
          - service
          - confidence
          type: object
        title: Orchestrator
        type: llm
      height: 88
      id: '1757492907627'
      position:
        x: 685.6158636099401
        y: 450
      positionAbsolute:
        x: 685.6158636099401
        y: 450
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-clarify
          conditions:
          - comparison_operator: is
            value: 'true'
            variable_selector:
            - '1757492907627'
            - structured_output
            - clarification_needed
          id: case-clarify
          logical_operator: and
        - case_id: case-rag
          conditions:
          - comparison_operator: is
            value: RAG
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-rag
          logical_operator: and
        - case_id: case-assistant
          conditions:
          - comparison_operator: is
            value: ASSISTANT
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-assistant
          logical_operator: and
        - case_id: case-filesetup
          conditions:
          - comparison_operator: is
            value: FILE_SETUP
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-filesetup
          logical_operator: and
        - case_id: case-setup-guidance
          conditions:
          - comparison_operator: is
            value: PROGRAM_SETUP_GUIDANCE
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-setup-guidance
          logical_operator: and
        - case_id: case-oos
          conditions:
          - comparison_operator: is
            value: OUT_OF_SCOPE
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-oos
          logical_operator: and
        selected: false
        title: Main Router
        type: if-else
      height: 508
      id: '1757493270484'
      position:
        x: 1036.1956702332027
        y: 339.1691814974598
      positionAbsolute:
        x: 1036.1956702332027
        y: 339.1691814974598
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        model:
          completion_params: {}
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: rag-system
          role: system
          text: 'Use the context inside <context></context> tags as your knowledge.

            <context> {{#context#}} </context>

            You are talking to {{#1711528708197.user_name#}} from {{#1711528708197.org_name#}}.
            You are part of the Avni AI Assistant.

            Currently capable of: 1. Answering questions about the Avni system 2.
            Assistance with designing workflows, forms etc on Avni

            Not currently capable of: 1. Helping with rules

            Context State: - Setup mode active: {{#conversation.setup_mode_active#}}
            - Entities loaded: {{#conversation.entities_jsonl#}}

            Rules: - If you don''t know, say so. Don''t guess or invent features.
            - If greeting, greet warmly by name: {{#1711528708197.user_name#}} - Do
            not greet repeatedly. - Answer in the user''s language.

            CLARIFICATION DISCIPLINE: - If greeting: respond warmly, do NOT ask questions
            unless user explicitly asks for help - If question has adequate context:
            answer directly - If ambiguous AND not in setup mode: ask ONE specific
            question with clear expected response format - If setup_mode_active=true
            and question relates to setup: answer directly without clarification

            '
        selected: false
        structured_output_enabled: false
        title: RAG LLM
        type: llm
      height: 88
      id: '1757495664531'
      position:
        x: 1385
        y: 732
      positionAbsolute:
        x: 1385
        y: 732
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#1757495664531.text#}}'
        selected: false
        title: RAG Answer
        type: answer
      height: 103
      id: '1757495688732'
      position:
        x: 1726
        y: 715
      positionAbsolute:
        x: 1726
        y: 715
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#1757492907627.structured_output.clarifying_questions#}}


          Note: Please provide specific details so I can help you better.'
        selected: false
        title: Clarify the question
        type: answer
      height: 103
      id: '1758608702077'
      position:
        x: 1385
        y: 306
      positionAbsolute:
        x: 1385
        y: 306
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'I''m sorry, that question doesn''t seem to be related to Avni. I
          can help you with:

          - Learning about Avni''s features

          - Setting up programs and forms

          - Configuring your Avni implementation


          How can I help you with Avni today?'
        selected: false
        title: Unrelated Question
        type: answer
      height: 196
      id: '1758699378772'
      position:
        x: 1920.0578477295346
        y: 450
      positionAbsolute:
        x: 1920.0578477295346
        y: 450
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'You can set up your program by uploading a **Field Workflow Specification**.
          Here is a [sample field workflow specification document](https://docs.google.com/spreadsheets/d/1cEod2MbMtRvAcupArC4nZaHIYB2HHUrIIbOZR0uGRz8/edit?gid=262841117#gid=262841117)
          that you can use as a template.


          Once you fill it out, click the **+** icon below to upload your file and
          I''ll automatically create:

          - Location hierarchy

          - Subject types

          - Programs

          - Encounter types

          - Forms and form mappings


          I can also clarify any questions you have about filling the document. What
          would you like to know?'
        selected: false
        title: Program Setup Guidance
        type: answer
      height: 356
      id: setup-guidance-answer
      position:
        x: 2250.639262822364
        y: 200.85911219546108
      positionAbsolute:
        x: 2250.639262822364
        y: 200.85911219546108
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: assistant-system
          role: system
          text: ''
        - id: 1c276f7a-296a-466b-9296-1d0c4024a349
          role: user
          text: 'You are Avni Copilot, an expert assistant for the Avni data collection
            platform. Guide NGOs and implementers in designing Avni configurations.

            Context State: - Setup mode active: {{#conversation.setup_mode_active#}}
            - Entities loaded: {{#conversation.entities_jsonl#}} - Primary intent:
            {{#conversation.primary_intent#}}

            - Ask ONE simple question at a time (guidance, not clarification) - Org
            Type is {{#1711528708197.org_type#}} - If Org Type is "Production" or
            "UAT", tell user automatic configurations are not supported for their
            org type. Do not proceed. - If Org Type is "Trial", proceed with configuration.
            - You are talking to {{#1711528708197.user_name#}} - When user wants to
            create config, suggest uploading a Field Workflow Specification file instead.

            BEHAVIOR: - If setup_mode_active=true: stay focused on configuration,
            minimal questions - If user deviates from setup task, gently redirect:
            "Let''s focus on your configuration. What would you like to adjust?" -
            Provide clear, actionable guidance'
        selected: false
        title: Assistant LLM
        type: llm
      height: 88
      id: '17580163919060'
      position:
        x: 1385
        y: 140
      positionAbsolute:
        x: 1385
        y: 140
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#17580163919060.text#}}'
        selected: false
        title: Assistant Answer
        type: answer
      height: 103
      id: '1760358474156'
      position:
        x: 2087
        y: 0
      positionAbsolute:
        x: 2087
        y: 0
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-true
          conditions:
          - comparison_operator: not empty
            value: ''
            varType: object
            variable_selector:
            - conversation
            - entities_jsonl
          id: case-true
          logical_operator: and
        selected: false
        title: Already Processed?
        type: if-else
      height: 124
      id: fs-check-processed
      position:
        x: 1381.5473217391504
        y: 1181.2931532693729
      positionAbsolute:
        x: 1381.5473217391504
        y: 1181.2931532693729
      selected: false
      type: custom
      width: 242
    - data:
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1774264909113'
      position:
        x: 1657.629894516043
        y: 1381.8617667059568
      positionAbsolute:
        x: 1657.629894516043
        y: 1381.8617667059568
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17748507380970'
          - structured_output
          variable_selector:
          - conversation
          - entities_jsonl
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - setup_mode_active
          write_mode: over-write
        selected: false
        title: Save Entities JSONL
        type: assigner
        version: '2'
      height: 84
      id: fs-save-jsonl
      position:
        x: 2210.5200227062023
        y: 1497.9812894884049
      positionAbsolute:
        x: 2210.5200227062023
        y: 1497.9812894884049
      selected: false
      type: custom
      width: 242
    - data:
        code: "def _fuzzy_match(name, known_names):\n    lower = name.strip().lower()\n\
          \    for known in known_names:\n        if lower == known.lower() or lower\
          \ in known.lower() or known.lower() in lower:\n            return True\n\
          \    return False\n\ndef main(extracted_entities: dict):\n    st_rows =\
          \ extracted_entities.get(\"subject_types\", [])\n    prog_rows = extracted_entities.get(\"\
          programs\", [])\n    enc_rows = extracted_entities.get(\"encounter_types\"\
          , [])\n    addr_rows = extracted_entities.get(\"address_levels\", [])\n\
          \    subject_type_names = {r[\"name\"] for r in st_rows if r.get(\"name\"\
          )}\n    program_names = {r[\"name\"] for r in prog_rows if r.get(\"name\"\
          )}\n    issues = []\n\n    seen = {}\n    for r in st_rows:\n        key\
          \ = r.get(\"name\", \"\").strip().lower()\n        if not key: continue\n\
          \        if key in seen:\n            issues.append({\"severity\": \"error\"\
          , \"entity_type\": \"subject_type\", \"message\": f\"Duplicate subject type:\
          \ '{r['name']}'\"})\n        else:\n            seen[key] = r[\"name\"]\n\
          \n    for r in st_rows:\n        if not r.get(\"type\"):\n            issues.append({\"\
          severity\": \"warning\", \"entity_type\": \"subject_type\", \"message\"\
          : f\"Subject type '{r.get('name', '?')}' is missing 'type'\"})\n\n    seen\
          \ = {}\n    for r in prog_rows:\n        key = r.get(\"name\", \"\").strip().lower()\n\
          \        if not key: continue\n        if key in seen:\n            issues.append({\"\
          severity\": \"error\", \"entity_type\": \"program\", \"message\": f\"Duplicate\
          \ program: '{r['name']}'\"})\n        else:\n            seen[key] = r[\"\
          name\"]\n\n    for r in prog_rows:\n        target = r.get(\"target_subject_type\"\
          , \"\")\n        if not target:\n            issues.append({\"severity\"\
          : \"warning\", \"entity_type\": \"program\", \"message\": f\"Program '{r['name']}'\
          \ missing target subject type\"})\n        elif not _fuzzy_match(target,\
          \ subject_type_names):\n            issues.append({\"severity\": \"warning\"\
          , \"entity_type\": \"program\", \"message\": f\"Program '{r['name']}' references\
          \ unknown subject type '{target}'\"})\n\n    for r in enc_rows:\n      \
          \  if r.get(\"is_program_encounter\"):\n            program = r.get(\"program_name\"\
          , \"\")\n            if program and not _fuzzy_match(program, program_names):\n\
          \                issues.append({\"severity\": \"warning\", \"entity_type\"\
          : \"program_encounter\", \"message\": f\"Program encounter '{r['name']}'\
          \ references unknown program '{program}'\"})\n        else:\n          \
          \  subject = r.get(\"subject_type\", \"\")\n            if subject and not\
          \ _fuzzy_match(subject, subject_type_names):\n                issues.append({\"\
          severity\": \"warning\", \"entity_type\": \"encounter\", \"message\": f\"\
          Encounter '{r['name']}' references unknown subject type '{subject}'\"})\n\
          \n    if not addr_rows:\n        issues.append({\"severity\": \"warning\"\
          , \"entity_type\": \"location_hierarchy\", \"message\": \"No location hierarchy\
          \ found.\"})\n\n    error_count = sum(1 for i in issues if i[\"severity\"\
          ] == \"error\")\n    warning_count = sum(1 for i in issues if i[\"severity\"\
          ] == \"warning\")\n    if not issues:\n        issues_summary = \"No issues\
          \ found. All entities look good.\"\n    else:\n        lines = []\n    \
          \    for i in issues:\n            prefix = \"ERROR\" if i[\"severity\"\
          ] == \"error\" else \"WARNING\"\n            lines.append(f\"[{prefix}]\
          \ {i['message']}\")\n        issues_summary = \"\\n\".join(lines)\n\n  \
          \  return {\"output\": {\"entities\": extracted_entities, \"issues_summary\"\
          : issues_summary, \"error_count\": error_count, \"warning_count\": warning_count}}"
        code_language: python3
        outputs:
          output:
            type: object
        selected: false
        title: Ambiguity Checker
        type: code
        variables:
        - value_selector:
          - conversation
          - entities_jsonl
          value_type: object
          variable: extracted_entities
      height: 52
      id: '1773908701222'
      position:
        x: 2461.3568365136653
        y: 1411.5647292093336
      positionAbsolute:
        x: 2461.3568365136653
        y: 1411.5647292093336
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#17748474036620.text#}}


          Does everything look correct? Click **Yes** to proceed with configuration,
          or **No** to make corrections.'
        selected: false
        title: Summary Answer
        type: answer
      height: 151
      id: '1773909436902'
      position:
        x: 3148.403767912396
        y: 1224.2489828611406
      positionAbsolute:
        x: 3148.403767912396
        y: 1224.2489828611406
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            response_format: JSON
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: corrector-system
          role: system
          text: 'You are an entity correction assistant. Apply corrections to the
            current entities.

            Current entities: {{#conversation.entities_jsonl#}}

            User''s correction request: {{#sys.query#}}

            Output a JSON with "corrections" array. Each correction MUST include:
            - "entity_type": one of "subject_type", "program", "encounter_type", "address_level"
            - "name": the entity name - all other fields to update

            To update: include entity_type, name, and fields to change. To delete:
            include entity_type, name, and "_delete": true. To add: include entity_type
            and all required fields for that type. To rename: output {entity_type,
            name: "OldName", "_delete": true} + {entity_type, name: "NewName", ...all
            fields}. Use actual booleans not strings.

            '
        selected: false
        structured_output:
          schema:
            properties:
              corrections:
                items:
                  type: object
                type: array
            required:
            - corrections
            type: object
        structured_output_enabled: true
        structured_output_schema:
          properties:
            corrections:
              items:
                type: object
              type: array
          required:
          - corrections
          type: object
        title: Entities Corrector LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773981975918'
      position:
        x: 1771.5594531981064
        y: 1208.2489828611406
      positionAbsolute:
        x: 1771.5594531981064
        y: 1208.2489828611406
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(entities_jsonl, corrections_str: str):\n  \
          \  # entities_jsonl is a dict with keys: subject_types, programs, encounter_types,\
          \ address_levels\n    if isinstance(entities_jsonl, str):\n        try:\n\
          \            entities_jsonl = json.loads(entities_jsonl)\n        except\
          \ (json.JSONDecodeError, TypeError):\n            entities_jsonl = {}\n\
          \    if not isinstance(entities_jsonl, dict):\n        entities_jsonl =\
          \ {}\n    result = dict(entities_jsonl)\n    try:\n        parsed = json.loads(corrections_str)\
          \ if isinstance(corrections_str, str) else corrections_str\n        if isinstance(parsed,\
          \ dict):\n            corrections = parsed.get(\"corrections\", [])\n  \
          \      elif isinstance(parsed, list):\n            corrections = parsed\n\
          \        else:\n            corrections = []\n    except (json.JSONDecodeError,\
          \ TypeError):\n        return {\"result\": result}\n    if not corrections:\n\
          \        return {\"result\": result}\n    SECTION_MAP = {\"subject_type\"\
          : \"subject_types\", \"program\": \"programs\", \"encounter_type\": \"encounter_types\"\
          , \"address_level\": \"address_levels\"}\n    for correction in corrections:\n\
          \        if not isinstance(correction, dict):\n            continue\n  \
          \      section_key = SECTION_MAP.get(correction.get(\"entity_type\", \"\"\
          ).lower(), correction.get(\"entity_type\", \"\"))\n        if not section_key\
          \ or section_key not in result:\n            continue\n        c_name =\
          \ correction.get(\"name\", \"\")\n        entities = result[section_key]\n\
          \        if correction.get(\"_delete\"):\n            result[section_key]\
          \ = [e for e in entities if e.get(\"name\") != c_name]\n            continue\n\
          \        matched_idx = next((i for i, e in enumerate(entities) if e.get(\"\
          name\") == c_name), None)\n        payload = {k: v for k, v in correction.items()\
          \ if k not in (\"entity_type\", \"_delete\")}\n        if matched_idx is\
          \ not None:\n            result[section_key][matched_idx].update(payload)\n\
          \        else:\n            result[section_key].append(payload)\n    return\
          \ {\"result\": result}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: object
        selected: false
        title: Entities Corrector
        type: code
        variables:
        - value_selector:
          - conversation
          - entities_jsonl
          value_type: string
          variable: entities_jsonl
        - value_selector:
          - '1773981975918'
          - structured_output
          value_type: string
          variable: corrections_str
      height: 52
      id: '1773982043351'
      position:
        x: 2109.403767912396
        y: 1224.2489828611406
      positionAbsolute:
        x: 2109.403767912396
        y: 1224.2489828611406
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1773982043351'
          - result
          variable_selector:
          - conversation
          - entities_jsonl
          write_mode: over-write
        selected: false
        title: Update entities_jsonl
        type: assigner
        version: '2'
      height: 84
      id: '1773984373385'
      position:
        x: 2450.403767912396
        y: 1208.2489828611406
      positionAbsolute:
        x: 2450.403767912396
        y: 1208.2489828611406
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: bundle-body
            key: ''
            type: text
            value: "{\n  \"entities\": {{#conversation.entities_jsonl#}},\n  \"org_name\"\
              : \"{{#1711528708197.org_name#}}\"\n}\n"
          type: json
        headers: 'Content-Type:application/json

          avni-auth-token:{{#conversation.auth_token#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 180
          max_write_timeout: 30
        title: Generate Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}generate-bundle'
      height: 141
      id: generate-bundle-req
      position:
        x: 3834.7847908378453
        y: 1335.0079152474289
      positionAbsolute:
        x: 3834.7847908378453
        y: 1335.0079152474289
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    try:\n        parsed\
          \ = json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"bundle_zip_b64\"\
          : parsed.get(\"bundle_zip_b64\", \"\"),\n        \"summary\": parsed.get(\"\
          summary\", {}),\n        \"confidence\": parsed.get(\"confidence\", {})\n\
          \    }\n"
        code_language: python3
        outputs:
          bundle_zip_b64:
            children: null
            type: string
          confidence:
            children: null
            type: object
          summary:
            children: null
            type: object
        selected: false
        title: Parse Bundle Response
        type: code
        variables:
        - value_selector:
          - generate-bundle-req
          - body
          value_type: string
          variable: body
      height: 52
      id: 4eb75ab2-87de-48f6-b52e-35f8646da88d
      position:
        x: 4113.714813181977
        y: 1266.9954613889865
      positionAbsolute:
        x: 4113.714813181977
        y: 1266.9954613889865
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 4eb75ab2-87de-48f6-b52e-35f8646da88d
          - bundle_zip_b64
          variable_selector:
          - conversation
          - bundle_zip_b64
          write_mode: over-write
        selected: false
        title: Save Bundle B64
        type: assigner
        version: '2'
      height: 84
      id: 473230ae-fcca-4f3b-b410-fc792d8b0e88
      position:
        x: 4270.714813181977
        y: 1266.9954613889865
      positionAbsolute:
        x: 4270.714813181977
        y: 1266.9954613889865
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: upload-body
            key: ''
            type: text
            value: "{\n  \"bundle_zip_b64\": \"{{#conversation.bundle_zip_b64#}}\"\
              \n}\n"
          type: json
        headers: 'Content-Type:application/json

          avni-auth-token:{{#conversation.auth_token#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 120
          max_write_timeout: 30
        title: Upload Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}upload-bundle'
      height: 141
      id: upload-bundle-req
      position:
        x: 4391.593538657902
        y: 1352.0110287120392
      positionAbsolute:
        x: 4391.593538657902
        y: 1352.0110287120392
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    try:\n        parsed\
          \ = json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"task_id\": parsed.get(\"\
          task_id\", \"\"),\n        \"status\": parsed.get(\"status\", \"\")\n  \
          \  }\n"
        code_language: python3
        outputs:
          status:
            children: null
            type: string
          task_id:
            children: null
            type: string
        selected: false
        title: Parse Upload Response
        type: code
        variables:
        - value_selector:
          - upload-bundle-req
          - body
          value_type: string
          variable: body
      height: 52
      id: 6d81a37b-960b-42d3-ae88-5799cd773102
      position:
        x: 4632.593538657902
        y: 1352.0110287120392
      positionAbsolute:
        x: 4632.593538657902
        y: 1352.0110287120392
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6d81a37b-960b-42d3-ae88-5799cd773102
          - task_id
          variable_selector:
          - conversation
          - upload_task_id
          write_mode: over-write
        selected: false
        title: Save Task ID
        type: assigner
        version: '2'
      height: 84
      id: 8e0563d0-7844-4e89-a765-cbd9647e7676
      position:
        x: 4790.593538657902
        y: 1352.0110287120392
      positionAbsolute:
        x: 4790.593538657902
        y: 1352.0110287120392
      selected: false
      type: custom
      width: 242
    - data:
        delivery_methods:
        - enabled: true
          id: fa93dae0-de3e-4354-80b6-279549abcae0
          type: webapp
        form_content: ''
        inputs: []
        selected: false
        timeout: 1
        timeout_unit: hour
        title: Confirm Entities
        type: human-input
        user_actions:
        - button_style: primary
          id: 'Yes'
          title: 'Yes'
        - button_style: default
          id: 'No'
          title: 'No'
      height: 190
      id: '1774617205889'
      position:
        x: 3509.4037679123953
        y: 1571.2489828611406
      positionAbsolute:
        x: 3509.4037679123953
        y: 1571.2489828611406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        break_conditions:
        - comparison_operator: is
          id: 60dfd905-4978-4518-b4c6-943941b7f125
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - loop
        error_handle_mode: terminated
        height: 490
        logical_operator: and
        loop_count: 20
        selected: false
        start_node_id: 1774617440956start
        title: Upload Poll Loop
        type: loop
        width: 1635
      height: 490
      id: '1774617440956'
      position:
        x: 4582.024318847109
        y: 1538.8554734604397
      positionAbsolute:
        x: 4582.024318847109
        y: 1538.8554734604397
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1635
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1774617440956start
      parentId: '1774617440956'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 4606.024318847109
        y: 1606.8554734604397
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        is_team_authorization: true
        loop_id: '1774617440956'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The number of seconds to wait
            ja_JP: The number of seconds to wait
            pt_BR: The number of seconds to wait
            zh_Hans: 等待的秒数
          label:
            en_US: Seconds
            ja_JP: Seconds
            pt_BR: Seconds
            zh_Hans: 秒数
          llm_description: The number of seconds to pause execution
          max: null
          min: null
          name: seconds
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          seconds: '3'
        plugin_id: agimaster/justwait
        plugin_unique_identifier: agimaster/justwait:0.0.2@1cc2d5e7fbd6a829396c8a51947924f799f9566071bf8499c4e2a9f75ad3330f
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=d6ae5ab1-753e-4a2e-9183-eff6f9ec2d00&filename=a260a47b34be7b6bca428d8e8617d3ad9389cde761097b839c16a4e3ff378fbc.svg
        provider_id: agimaster/justwait/justwait
        provider_name: agimaster/justwait/justwait
        provider_type: builtin
        selected: false
        title: Wait
        tool_configurations: {}
        tool_description: Wait for a specified number of seconds, similar to Python's
          time.sleep() function
        tool_label: Wait
        tool_name: wait
        tool_node_version: '2'
        tool_parameters:
          seconds:
            type: constant
            value: 3
        type: tool
      height: 52
      id: '1774617481433'
      parentId: '1774617440956'
      position:
        x: 128
        y: 71.73396131873233
      positionAbsolute:
        x: 4710.024318847109
        y: 1610.589434779172
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: avni-auth-token:{{#conversation.auth_token#}}
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
        title: Check Upload Status
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}upload-status/{{#conversation.upload_task_id#}}'
        variables: []
      height: 159
      id: '1774617517718'
      parentId: '1774617440956'
      position:
        x: 394.0109257831673
        y: 119.71939360784245
      positionAbsolute:
        x: 4976.035244630276
        y: 1658.5748670682822
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            value: completed
            variable_selector:
            - '1774617517718'
            - body
            - status
          - comparison_operator: is
            id: bb085deb-9e17-477b-8010-3d80bc018375
            value: failed
            varType: string
            variable_selector:
            - '1774617517718'
            - body
            - status
          id: 'true'
          logical_operator: or
        isInIteration: false
        isInLoop: true
        loop_id: '1774617440956'
        selected: false
        title: Upload Done?
        type: if-else
      height: 198
      id: '1774617558364'
      parentId: '1774617440956'
      position:
        x: 696.0109257831673
        y: 95.73396131873233
      positionAbsolute:
        x: 5278.035244630276
        y: 1634.589434779172
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: set
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - loop
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - setup_mode_active
          write_mode: over-write
        loop_id: '1774617440956'
        selected: false
        title: Break Upload Loop
        type: assigner
        version: '2'
      height: 84
      id: break-upload-loop
      parentId: '1774617440956'
      position:
        x: 998
        y: 63.73396131873233
      positionAbsolute:
        x: 5580.024318847109
        y: 1602.589434779172
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: '✅ **Configuration complete!**


          Your implementation bundle has been generated and uploaded to Avni.


          **Summary:**

          {{#parse-bundle-body.summary#}}


          **Confidence score:** {{#parse-bundle-body.confidence.overall#}}


          You can now log into Avni to review your configuration. If you need to make
          changes, just upload an updated specification or describe the corrections.'
        isInLoop: true
        loop_id: '1774617440956'
        selected: false
        title: Upload Done
        type: answer
      height: 234
      id: upload-done-answer-loop
      parentId: '1774617440956'
      position:
        x: 1300
        y: 98.3651164280941
      positionAbsolute:
        x: 5882.024318847109
        y: 1637.2205898885338
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: ⏳ Uploading bundle to Avni server... Please wait.
        isInLoop: true
        loop_id: '1774617440956'
        selected: false
        title: Upload Progress
        type: answer
      height: 116
      id: upload-progress-answer
      parentId: '1774617440956'
      position:
        x: 998
        y: 183.73396131873233
      positionAbsolute:
        x: 5580.024318847109
        y: 1722.589434779172
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: 'Please describe the corrections you''d like to make. For example:

          - "Rename ''Beneficiary'' to ''Individual''"

          - "Remove the ANC Visit encounter"

          - "Add a new program called Child Health"


          I''ll update the entities and show you the revised summary.'
        selected: false
        title: Ask Corrections
        type: answer
      height: 196
      id: fs-ask-corrections
      position:
        x: 3866.414810514454
        y: 1645.2489828611406
      positionAbsolute:
        x: 3866.414810514454
        y: 1645.2489828611406
      selected: false
      type: custom
      width: 242
    - data:
        answer: The confirmation timed out. Your extracted entities have been saved.
          You can continue the setup by sending another message.
        selected: false
        title: Timeout
        type: answer
      height: 148
      id: fs-timeout
      position:
        x: 3854.403767912396
        y: 2011.2489828611406
      positionAbsolute:
        x: 3854.403767912396
        y: 2011.2489828611406
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 64000
            temperature: 0.7
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: correction-summary-system
          role: system
          text: ''
        - id: 76872fab-b7cf-451c-ae20-86a1b86e0fce
          role: user
          text: 'Present updated entities after corrections. Group by type, show what
            changed. Ask user to confirm or request more corrections.

            Updated Entities: {{#conversation.entities_jsonl#}}

            User''s correction request: {{#sys.query#}}'
        selected: false
        title: Correction Summary LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17748473384490'
      position:
        x: 2794.334590390546
        y: 1194.2467130647453
      positionAbsolute:
        x: 2794.334590390546
        y: 1194.2467130647453
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 64000
            temperature: 0.3
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: summary-system
          role: system
          text: ''
        - id: 2151dbf6-c159-451e-a23b-e1abb3537053
          role: user
          text: 'Present a summary of parsed entities from the field workflow specification.
            List EVERY entity individually with all fields. Group by type.

            Updated Entities: {{#conversation.entities_jsonl#}}

            Ambiguity Report: {{#1773908701222.output.issues_summary#}}'
        selected: false
        structured_output_enabled: false
        title: Summary LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17748474036620'
      position:
        x: 2774.976019640213
        y: 1381.8617667059568
      positionAbsolute:
        x: 2774.976019640213
        y: 1381.8617667059568
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            response_format: JSON
            temperature: 0.1
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: entity-extractor-system
          role: system
          text: 'You are an entity extraction assistant for the Avni platform. Extract
            ALL entities from the document content below.


            Document content: {{#1774264909113.text#}}


            Extract into 4 arrays: subject_types, programs, encounter_types, address_levels.

            Rules: - Subject types: name, type (Person|Individual|Household|Group|User),
            form_link, lowest_address_level - Programs: name, target_subject_type,
            enrolment_form, exit_form - Encounter types: name, program_name, subject_type,
            encounter_type (Scheduled|Unscheduled), is_program_encounter (bool), frequency
            - Address levels: name, level (int), parent (name or null). Topmost has
            highest level number. - Only extract from defined tables. Don''t create
            entities just because they''re referenced. - Ignore nan values. Trim whitespace.
            Use actual booleans not strings.

            Output as JSON: {"subject_types": [...], "programs": [...], "encounter_types":
            [...], "address_levels": [...]}

            '
        selected: false
        structured_output:
          schema:
            properties:
              address_levels:
                items:
                  type: string
                type: array
              encounter_types:
                items:
                  type: string
                type: array
              programs:
                items:
                  type: string
                type: array
              subject_types:
                items:
                  type: string
                type: array
            required:
            - subject_types
            - programs
            - encounter_types
            - address_levels
            type: object
        structured_output_enabled: true
        structured_output_schema:
          properties:
            address_levels:
              items:
                type: object
              type: array
            encounter_types:
              items:
                type: object
              type: array
            programs:
              items:
                type: object
              type: array
            subject_types:
              items:
                type: object
              type: array
          type: object
        title: Entity Extractor
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17748507380970'
      position:
        x: 1941.7925228498102
        y: 1420.6483016343564
      positionAbsolute:
        x: 1941.7925228498102
        y: 1420.6483016343564
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1900.6650318003349
      y: -343.6150802653661
      zoom: 0.4549780474597205
  rag_pipeline_variables: []
