dify/Avni [Staging] Assistant [Do Not Touch].yml
app:
  description: Avni AI Assistant
  icon: b849950f-3cae-4021-afc0-ce88c5d12035
  icon_background: ''
  icon_type: image
  mode: advanced-chat
  name: Avni [Staging] Assistant [Do Not Touch]
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: agimaster/justwait:0.0.2@1cc2d5e7fbd6a829396c8a51947924f799f9566071bf8499c4e2a9f75ad3330f
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: ''
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: ''
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  - description: ''
    id: c6cba07c-9187-4228-842f-42a0e3f2f709
    name: org_name
    selector:
    - conversation
    - org_name
    value: ''
    value_type: string
  - description: ''
    id: 0afa1396-e90b-4bbe-aa59-9f4e870a4792
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: ''
    id: 93cecf97-c283-40f6-a8bd-efd306bd94b1
    name: avni_ai_server_url
    selector:
    - conversation
    - avni_ai_server_url
    value: https://staging-ai.avniproject.org/
    value_type: string
  - description: ''
    id: a1d26303-4267-47ef-8662-2b246b1079f1
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: Tracks if user is in active SRS bundle setup workflow
    id: a1b2c3d4-e5f6-4789-a0b1-c2d3e4f5a6b7
    name: setup_mode_active
    selector:
    - conversation
    - setup_mode_active
    value: false
    value_type: boolean
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .xlsx
      - .csv
      - .json
      - .zip
      - .txt
      allowed_file_types:
      - document
      - custom
      allowed_file_upload_methods:
      - local_file
      enabled: true
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: Hey {{user_name}} ! I’m your AI assistant . I can help you
      with any questions about Avni — from creating new forms automatically to guiding
      you through the platform. How can I help you today?
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      config:
        inputs_config:
          enabled: true
          preset_response: In-appropriate input, only designed to help with Avni implementation
            tasks.
        outputs_config:
          enabled: true
          preset_response: I apologize, but I can only provide assistance with Avni
            implementation topics.
      enabled: true
      type: openai_moderation
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1757492907627-source-1757493270484-target
      selected: false
      source: '1757492907627'
      sourceHandle: source
      target: '1757493270484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1757495664531-source-1757495688732-target
      selected: false
      source: '1757495664531'
      sourceHandle: source
      target: '1757495688732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-00ce954d-b2ca-42aa-b302-dc2c163dd1d0-17580163919060-target
      selected: false
      source: '1757493270484'
      sourceHandle: 00ce954d-b2ca-42aa-b302-dc2c163dd1d0
      target: '17580163919060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-3489d477-53a2-4b99-9f40-af010262a1c1-1758608702077-target
      selected: false
      source: '1757493270484'
      sourceHandle: 3489d477-53a2-4b99-9f40-af010262a1c1
      target: '1758608702077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-8ad5b2c6-6d29-4e4f-9f13-7682d4803a70-1758699378772-target
      selected: false
      source: '1757493270484'
      sourceHandle: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528708197-source-1758713692744-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1758713692744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1758713692744-source-1757492907627-target
      selected: false
      source: '1758713692744'
      sourceHandle: source
      target: '1757492907627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-false-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'false'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-true-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'true'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17580163919060-source-1760358453289-target
      selected: false
      source: '17580163919060'
      sourceHandle: source
      target: '1760358453289'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1760358453289-false-1760358474156-target
      selected: false
      source: '1760358453289'
      sourceHandle: 'false'
      target: '1760358474156'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1760358453289-true-1760416664434-target
      selected: false
      source: '1760358453289'
      sourceHandle: 'true'
      target: '1760416664434'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: loop
      id: 1760416664434-source-1760423058735-target
      selected: false
      source: '1760416664434'
      sourceHandle: source
      target: '1760423058735'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        sourceType: loop-start
        targetType: tool
      id: 1760423058735start-source-1760423070414-target
      selected: false
      source: 1760423058735start
      sourceHandle: source
      target: '1760423070414'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        sourceType: tool
        targetType: code
      id: 1760423070414-source-1760423078948-target
      selected: false
      source: '1760423070414'
      sourceHandle: source
      target: '1760423078948'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        sourceType: if-else
        targetType: answer
      id: 1760424086059-false-1760424123324-target
      selected: false
      source: '1760424086059'
      sourceHandle: 'false'
      target: '1760424123324'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        sourceType: code
        targetType: if-else
      id: 1760423078948-source-1760424086059-target
      selected: false
      source: '1760423078948'
      sourceHandle: source
      target: '1760424086059'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        sourceType: if-else
        targetType: assigner
      id: 1760424086059-true-1760426022942-target
      selected: false
      source: '1760424086059'
      sourceHandle: 'true'
      target: '1760426022942'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        sourceType: assigner
        targetType: answer
      id: 1760426022942-source-1760424043492-target
      selected: false
      source: '1760426022942'
      sourceHandle: source
      target: '1760424043492'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: loop
        targetType: assigner
      id: 1760423058735-source-1760434909468-target
      selected: false
      source: '1760423058735'
      sourceHandle: source
      target: '1760434909468'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1760416664434-fail-branch-1763959812229-target
      selected: false
      source: '1760416664434'
      sourceHandle: fail-branch
      target: '1763959812229'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 17756450495350-source-17756450495361-target
      selected: false
      source: '17756450495350'
      sourceHandle: source
      target: '17756450495361'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: agent
      id: 1775646587226-source-17756450495350-target
      selected: false
      source: '1775646587226'
      sourceHandle: source
      target: '17756450495350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1775648480416-source-1775646587226-target
      selected: false
      source: '1775648480416'
      sourceHandle: source
      target: '1775646587226'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 17756450495350-fail-branch-1775658332808-target
      selected: false
      source: '17756450495350'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1775719228711-false-1775648480416-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'false'
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775648480416-fail-branch-1775658332808-target
      selected: false
      source: '1775648480416'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775646587226-fail-branch-1775658332808-target
      selected: false
      source: '1775646587226'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1775719228711-true-1775800000001-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'true'
      target: '1775800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1775800000001-source-1775800000002-target
      selected: false
      source: '1775800000001'
      sourceHandle: source
      target: '1775800000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1775800000002-source-1775648480416-target
      selected: false
      source: '1775800000002'
      sourceHandle: source
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775800000002-fail-branch-1775658332808-target
      selected: false
      source: '1775800000002'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1711528708197-source-1775657870619-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1775657870619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1757493270484-case-bundle-setup-1775719228711-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-bundle-setup
      target: '1775719228711'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org
          hide: true
          hint: ''
          label: avni_ai_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_ai_server_url
      height: 257
      id: '1711528708197'
      position:
        x: 0
        y: 413
      positionAbsolute:
        x: 0
        y: 413
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.files#}} {{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params:
            enable_stream: true
            json_schema: "{\n  \"type\": \"object\",\n  \"additionalProperties\":\
              \ false,\n  \"required\": [\n    \"service\",\n    \"confidence\",\n\
              \    \"question_type\",\n    \"routing_reason\",\n    \"clarification_needed\"\
              ,\n    \"clarifying_questions\"\n  ],\n  \"properties\": {\n    \"service\"\
              : {\n      \"type\": \"string\",\n      \"enum\": [\"RAG\", \"ASSISTANT\"\
              , \"BUNDLE_SETUP\", \"OUT_OF_SCOPE\"]\n    },\n    \"confidence\": {\n\
              \      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\"\
              : 1\n    },\n    \"question_type\": {\n      \"type\": \"string\",\n\
              \      \"enum\": [\n        \"capability_inquiry\",\n        \"implementation_request\"\
              ,\n        \"novel_requirement\",\n        \"not_avni_related\"\n  \
              \    ]\n    },\n    \"routing_reason\": {\n      \"type\": \"string\"\
              \n    },\n    \"clarification_needed\": {\n      \"type\": \"boolean\"\
              \n    },\n    \"clarifying_questions\": {\n      \"type\": \"array\"\
              ,\n      \"items\": { \"type\": \"string\" }\n    }\n  }\n}"
            reasoning_effort: minimal
            verbosity: low
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: b14eb575-d615-41dd-aac1-00663db3a6eb
          role: system
          text: "You are the Avni Platform Orchestrator of the Avni AI Assistant.\
            \ Route user messages based on their PRIMARY INTENT, not the complexity\
            \ or specificity of their\nquestion.\n\n<context>\n{{#context#}}\n</context>\n\
            \n## Core Routing Logic\n\n\n**OVERRIDE RULES**:\n1. If a message is clearly\
            \ NOT about Avni or data collection platforms → OUT_OF_SCOPE\n2. If a\
            \ message starts with capability questions (\"Is it possible\", \"Can\
            \ Avni\", \"Does Avni support\", \"Is there a way\", \"How can I\"), it\
            \ is ALWAYS RAG regardless of complexity.\n\n\n### BUNDLE_SETUP — Program\
            \ Setup from Uploaded SRS/Specification Files\n\n**Priority: HIGHEST —\
            \ evaluate before RAG and ASSISTANT**\n\n**Route BUNDLE_SETUP when ANY\
            \ of the following:**\n1. `sys.files` is not empty — user uploaded file(s)\
            \ this turn\n2. `conversation.setup_mode_active == true` — already in\
            \ an active bundle setup workflow (follow-up turn: \"what\\'s next?\"\
            , \"proceed\", \"approve\", etc.)\n3. User explicitly says \"upload SRS\"\
            , \"upload spec\", \"upload field workflow\", \"generate bundle from file\"\
            \n\n**Do NOT route here for:**\n- Verbal SRS description without a file\
            \ → ASSISTANT\n- General Avni platform questions → RAG\n\n\n### RAG -\
            \ Platform Knowledge & Capabilities\n\n\n**Primary Intent**: Learning\
            \ what Avni can/cannot do\n\n\n**Definitive Indicators** (Route to RAG\
            \ even if complex):\n- \"What is Avni?\" → RAG (basic platform knowledge)\n\
            - \"Tell me about Avni\" → RAG (platform overview)\n- \"Is it possible\
            \ to...\" → RAG (capability inquiry)\n- \"Can Avni...\" → RAG (platform\
            \ capability)\n- \"Does Avni support...\" → RAG (feature question)\n-\
            \ \"Is there a way to...\" → RAG (method inquiry)\n- \"How can I...\"\
            \ → RAG (step-by-step guidance inquiry)\n- \"What are the limitations\
            \ of...\" → RAG (constraint question)\n- \"How does Avni handle...\" →\
            \ RAG (mechanism inquiry)\n\n\n**Key Principle**: Complexity of the scenario\
            \ does NOT change the\nintent. A detailed capability question is still\
            \ a capability question.\n\n\n\n### ASSISTANT - Custom/Novel Requirements\n\
            \n\n**Primary Intent**: Building something new or unique\n\n\n**Indicators**:\
            \ - \"We need something that doesn't exist...\" - \"Can you\nbuild/create/develop...\"\
            \ - \"We have unique requirements...\" -\n\"Integration with external\
            \ system X...\" - \"Delete everything and start fresh...\" - \"Clean slate\
            \ configuration...\" - \"Remove all my current setup...\"\n\n\n### OUT_OF_SCOPE\
            \ - Not Avni Related\n\n\n**Primary Intent**: Questions completely unrelated\
            \ to Avni or data collection platforms\n\n\n**Definitive Indicators**:\n\
            - Questions for which no relevant context available in this prompt\n-\
            \ General programming/coding questions not specific to Avni\n- Questions\
            \ about other software platforms (Salesforce, Excel, etc.)\n- Personal\
            \ questions, weather, news, entertainment\n- Academic questions unrelated\
            \ to health/social programs\n- Technical questions about non-Avni systems\n\
            - \"What is the capital of...\" / \"How do I cook...\" / \"What's the\
            \ weather...\"\n- Questions about competitors without Avni context\n\n\
            \n\n**EXCEPTION**: Greeting messages (\"Hi\", \"Hello\", \"Good morning\"\
            ) should NOT be marked as OUT_OF_SCOPE. These require clarification to\
            \ understand the user's actual intent.\n\n\n## Decision Framework\n\n\n\
            **Step 1**: Check relevance - If clearly NOT about Avni/data collection\
            \ → OUT_OF_SCOPE (STOP HERE)\n**EXCEPTION**: If greeting message → Set\
            \ clarification_needed = true\n\n\n**Step 2**: Identify the question type\
            \ - If starts with capability\nquestions → RAG (STOP HERE) - If describes\
            \ implementation needs →\nASSISTANT - If requests deletion/configuration\
            \ changes → ASSISTANT\n\n\n## Critical Examples\n\n✅ User uploads Excel/CSV/ZIP\
            \ file → **BUNDLE_SETUP** (highest priority)\n✅ \"Proceed with the spec\"\
            \ when setup_mode_active=true → **BUNDLE_SETUP** (follow-up)\n✅ \"Here\
            \ is my SRS\" (with file attached) → **BUNDLE_SETUP**\n\n✅ \"What is Avni?\"\
            \ → **RAG** (basic platform knowledge)\n\n✅ \"Tell me about Avni platform\"\
            \ → **RAG** (platform overview)\n\n✅ \"What does Avni do?\" → **RAG**\
            \ (platform purpose/functionality)\n\n✅ \"Is it possible to automatically\
            \ show selected answers from Clinical\nAssessment in Follow-up Visit forms?\"\
            \ → **RAG** (capability question,\nregardless of technical complexity)\n\
            \n✅ \"Can Avni restrict encounter forms to single entry per individual?\"\
            \ →\n**RAG** (capability question)\n\n✅ \"Is there a way to integrate\
            \ complex multi-step approval workflows?\"\n→ **RAG** (capability question,\
            \ even if the workflow is complex)\n\n✅ \"What are catchments\"\n✅ \"\
            What are user groups\"\n✅ \"What are identifiers\"\n✅ \"What is an identifier\
            \ source\"\n✅ \"How do I create a new catchment\"\n✅ \"What is a program\"\
            \n✅ \"What is a subject type\"\n✅ \"How can I setup the assignment feature\
            \ in Avni?\" → **RAG** (step-by-step guidance question)\n\n✅ \"I want\
            \ to delete my entire configuration and start fresh\" → **ASSISTANT**\
            \ (implementation request for complete deletion)\n\n✅ \"Can you help me\
            \ clean slate my Avni setup?\" → **ASSISTANT** (configuration deletion\
            \ and rebuild request)\n\n✅ \"Remove everything and build a new configuration\"\
            \ → **ASSISTANT** (delete and create request)\n\n\n\n✅ \"What is the capital\
            \ of France?\" → **OUT_OF_SCOPE** (not related to Avni)\n\n\n✅ \"How do\
            \ I write Python code for web scraping?\" → **OUT_OF_SCOPE** (general\
            \ programming, not Avni-specific)\n\n\n✅ \"Can you help me with my Excel\
            \ formulas?\" → **OUT_OF_SCOPE** (different platform)\n\n\n✅ \"Hello\"\
            \ → **RAG** with clarification_needed = true (greeting requires clarification)\n\
            \n\n✅ \"Hi there\" → **RAG** with clarification_needed = true (greeting\
            \ requires clarification)\n\n\n❌ **WRONG**: \"Sounds complex/custom →\
            \ ASSISTANT\" ✅ **CORRECT**:\n\"Starts with capability question → RAG\"\
            \n\n\n## Common Misrouting Traps to Avoid\n\n\n**Trap 1**: Complexity\
            \ Bias - ❌ \"Complex scenario = custom work =\nASSISTANT\" - ✅ \"Capability\
            \ question = platform inquiry = RAG\"\n\n\n**Trap 2**: Implementation\
            \ Details Bias - ❌ \"Mentions specific\ntechnical details = ASSISTANT\"\
            \ - ✅ \"Asking IF it's possible = RAG\"\n\n\n**Trap 3**: Domain Specificity\
            \ Bias - ❌ \"Very specific use case =\nASSISTANT\" - ✅ \"Question format\
            \ determines intent\"\n\n\n**Trap 4**: Relevance Assumption - ❌ \"Any\
            \ question = must be Avni-related\" - ✅ \"Check if actually about Avni/data\
            \ collection first\"\n\n\n**Trap 5**: Greeting Misrouting - ❌ \"Greeting\
            \ = OUT_OF_SCOPE\" - ✅ \"Greeting = needs clarification to understand\
            \ intent\"\n\n\n## Response Format\n\n\n``` json\n{\n  \"service\": \"\
            RAG|ASSISTANT|OUT_OF_SCOPE\",\n  \"confidence\": 0.0-1.0,\n  \"question_type\"\
            : \"capability_inquiry|implementation_request|novel_requirement|not_avni_related\"\
            ,\n  \"routing_reason\": \"Brief explanation focusing on question structure,\
            \ not content complexity\",\n  \"clarification_needed\": true|false,\n\
            \  \"clarifying_questions\": [\"question1\", \"question2\"]\n}\n```\n\n\
            \n## Clarifying Questions Strategy\n\n\nAsk maximum 2 clarifying questions\
            \ when:\n- Intent is ambiguous between RAG and Assistant\n- User provides\
            \ insufficient context about their needs\n- Requirements could match multiple\
            \ services\n- User sends only greeting messages without specific questions\n\
            \n\n**Example clarifying questions:**\n- \"Could you describe what type\
            \ of programs your organization runs?\"\n- \"Are you looking to learn\
            \ about Avni's capabilities or need help setting something up?\"\n- \"\
            Is this similar to typical community health/education programs?\"\n- \"\
            How can I help you with Avni today?\" (for greetings)\n\n\n**General Prompt\
            \ for Clarification:** When unsure, ask concise,\nopen-ended clarifying\
            \ questions that help determine whether the user is\nasking about platform\
            \ capabilities (RAG) or needs implementation help\n(ASSISTANT). Never\
            \ ask more than two questions at once.\n\n\n## Mental Model Validation\n\
            \n\nBefore routing, ask:\n1. **\"Is this just a greeting message?\"**\
            \ - YES → RAG with clarification_needed = true\n2. **\"Is this question\
            \ actually about Avni or data collection platforms?\"** - NO → OUT_OF_SCOPE\n\
            3. **\"Is the user asking IF something is possible, or telling me they\
            \ WANT something implemented?\"** - IF possible → RAG - WANT implemented\
            \ → ASSISTANT\n\n\n## Decision Tree for Edge Cases\n\n\n    User Message\n\
            \        │\n        ├── NOT about Avni/data collection (general questions,\
            \ other platforms)?\n        │   └── YES → OUT_OF_SCOPE\n        │\n \
            \       ├── Starts with \"Is it possible...\" / \"Can Avni...\" / \"Does\
            \ Avni...\" / \"How can I...\" ?\n        │   └── YES → RAG (regardless\
            \ of complexity)\n        │\n        ├── Describes implementation needs\
            \ (\"We need...\", \"Help us set up...\", \"Our org wants...\") or deletion\
            \       requests (\"Delete everything...\", \"Clean slate...\", \"Remove\
            \ all...\")?\n        │   └── YES → ASSISTANT\n        │\n        └──\
            \ UNCLEAR → Default to RAG (safer for capability questions)"
        - id: 36b2faa1-0e45-4962-8107-74a07045af09
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              clarification_needed:
                type: boolean
              clarifying_questions:
                items:
                  type: string
                type: array
              confidence:
                type: number
              question_type:
                type: string
              routing_reason:
                type: string
              service:
                type: string
            required:
            - service
            - confidence
            - question_type
            - routing_reason
            - clarification_needed
            - clarifying_questions
            type: object
        structured_output_enabled: true
        title: Orchestrator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1757492907627'
      position:
        x: 684
        y: 455
      positionAbsolute:
        x: 684
        y: 455
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 3489d477-53a2-4b99-9f40-af010262a1c1
          conditions:
          - comparison_operator: is
            id: 93fbecf3-5468-4878-84ce-37c7cfa15625
            value: 'true'
            varType: object
            variable_selector:
            - '1757492907627'
            - structured_output
            - clarification_needed
          - comparison_operator: <
            id: 964871af-0fc9-45e9-a795-d2fda4b4ad34
            value: '0.8'
            varType: number
            variable_selector:
            - '1757492907627'
            - structured_output
            - confidence
          id: 3489d477-53a2-4b99-9f40-af010262a1c1
          logical_operator: and
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: fb0a1b2b-46e8-4a67-8b98-b44ea87869db
            value: RAG
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 'true'
          logical_operator: and
        - case_id: 00ce954d-b2ca-42aa-b302-dc2c163dd1d0
          conditions:
          - comparison_operator: is
            id: 1931b24c-c74e-4a09-b0c1-afeb220851bd
            value: ASSISTANT
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 00ce954d-b2ca-42aa-b302-dc2c163dd1d0
          logical_operator: and
        - case_id: case-bundle-setup
          conditions:
          - comparison_operator: is
            id: a1b2c3d4-e5f6-4789-a0b1-11223344aabb
            value: BUNDLE_SETUP
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-bundle-setup
          logical_operator: and
        - case_id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          conditions:
          - comparison_operator: is
            id: beb8a551-f66d-4add-9480-bb9c185119f4
            value: OUT_OF_SCOPE
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 486
      id: '1757493270484'
      position:
        x: 1026
        y: 256
      positionAbsolute:
        x: 1026
        y: 256
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            reasoning_effort: minimal
            verbosity: low
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 5aa1519b-cc32-4d81-aaa2-c2e8e6b46c0c
          role: system
          text: "Use the following context as your learned knowledge, inside <context></context>\
            \ XML tags.\n<context>\n{{#context#}}\n</context>\nYou are talking to\
            \ {{#1711528708197.user_name#}}from {{#1711528708197.org_name#}}\nYou\
            \ are part of the Avni AI Assistant. The Avni AI Assistant is currently\
            \ capable of the following\n1. Answering questions about the Avni system\n\
            2. Assistance with designing workflows, forms etc on Avni\n   The Avni\
            \ AI Assistant is currently not capable of\n1. Helping with rules\n2.\
            \ You must not guess or invent Avni features, workflows, or UI options\
            \ that are not explicitly known.\n\nWhen answer to user:\n- If you don't\
            \ know, just say that you don't know.\n- If you don't know when you are\
            \ not sure, ask for clarification.\n- If greeting, greet professionaly\
            \ by their name :  {{#1711528708197.user_name#}}\n- Do not greet repeatedly\
            \ in every response.\n- Never infer or assume features (e.g., don't claim\
            \ a program can be assigned to a catchment unless explicitly supported).\n\
            - If there is any ambiguity, ask a clarifying question instead of guessing.\n\
            \  Avoid mentioning that you obtained the information from the context.\n\
            \  And answer according to the language of the user's question."
        selected: false
        title: RAG LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1757495664531'
      position:
        x: 1388
        y: 738
      positionAbsolute:
        x: 1388
        y: 738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1757495664531.text#}}'
        desc: ''
        selected: false
        title: RAG Answer
        type: answer
        variables: []
      height: 103
      id: '1757495688732'
      position:
        x: 1730
        y: 730
      positionAbsolute:
        x: 1730
        y: 730
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1757492907627'
          - text
        desc: ''
        memory:
          query_prompt_template: 'Previous conversation context for {{#1711528708197.user_name#}}:
            {{#conversation_history#}}

            Current query: {{#sys.query#}} {{#sys.files#}}'
          role_prefix:
            assistant: 'Assistant: '
            user: '{{#1711528708197.user_name#}}: '
          window:
            enabled: true
            size: 20
        model:
          completion_params:
            enable_stream: true
            reasoning_effort: minimal
            verbosity: low
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 5aa1519b-cc32-4d81-aaa2-c2e8e6b46c0c
          role: system
          text: "Instructions:\nYou are Avni Copilot, an expert assistant for the\
            \ Avni data collection platform.\nYour primary role is to guide NGOs,\
            \ program managers, and implementers in designing their Avni configuration\
            \ and confirm that the configuration matches their requirements.\n- Arrive\
            \ at the configuration by asking one simple question at a time\n- Ask\
            \ questions in a way that is easy to understand and answer\n- Confirm\
            \ that the configuration matches my requirements.\n- Iteratively refine\
            \ configurations based on my feedback.\n- Guide users through understanding\
            \ what configuration elements they need\n- You are talking to{{#1711528708197.user_name#}}\n\
            - If greeting, greet professionaly by their name :  {{#1711528708197.user_name#}}\n\
            - Do not greet repeatedly in every response.\n- When user requests configuration\
            \ creation or when you've gathered enough information, offer to create\
            \ the actual configuration files.\n- Org Type is {{#1711528708197.org_type#}}\n\
            - if Org Type  is \"Production\" or \"UAT\", tell the user that we do\
            \ not support automatic configurations for their organisation type. Do\
            \ not proceed with trying to create configuration.\n- if{{#1711528708197.org_type#}}\
            \ is \"Trial\" , proceed with trying to create configuration.\n\nConfiguration\
            \ Creation Capabilities (FOR NON-PRODUCTION/NON-UAT ORGANIZATIONS ONLY):\n\
            - You can create location types, locations, subject types, programs, and\
            \ encounters based on user requirements\n- Ask for user confirmation during\
            \ the design phase, but once user says \"I am happy with the configuration\
            \ provided by the Avni assistant\", proceed directly with creation without\
            \ additional confirmation\n- When creating configurations, provide them\
            \ in structured CRUD JSON format for easy implementation\n- Support create,\
            \ update, and delete operations for all configuration elements\n- When\
            \ user requests to \"delete everything\", \"delete entire configuration\"\
            , \"delete all configurations\", \"clean slate\", or \"start fresh\":\n\
            \  * First check org type: if Org Type is \"Production\" or \"UAT\", tell\
            \ the user that deleting data for Production or UAT organizations is not\
            \ possible.\n  * If Org Type is not \"Production\" and not \"UAT\", proceed\
            \ with deletion process by asking them to clarify what they want to delete:\n\
            \    - \"Would you like to delete only the app designer configuration\
            \ (subject types, programs, encounters) or delete everything including\
            \ admin configuration? Note: Deleting admin configuration (location types,\
            \ locations, catchments) requires deleting app designer configuration\
            \ as well.\"\n    - If user wants to delete admin config, explain: \"\
            Deleting admin configuration will also delete your app designer configuration\
            \ since they are dependent. Are you sure you want to proceed with deleting\
            \ everything?\"\n    - Based on their response, set deleteMetadata and\
            \ deleteAdminConfig appropriately in the implementation deletion parameters\n\
            - FOR NON-PRODUCTION/NON-UAT ORGANIZATIONS ONLY: CRITICAL: For complete\
            \ deletion requests, use ONLY implementation deletion parameters in delete\
            \ section, do NOT include individual entity deletions\n- FOR NON-PRODUCTION/NON-UAT\
            \ ORGANIZATIONS ONLY: VALIDATION RULE: If deleteAdminConfig is true, then\
            \ deleteMetadata must also be true (admin config depends on app designer\
            \ config)\n- After creation, explain how the configuration addresses their\
            \ specific needs\n- AVOID REDUNDANT MESSAGES: Do not repeat information\
            \ about catchment assignments or user assignments if already mentioned\
            \ earlier in the conversation\n- ACCURATE COMPLETION STATUS: Only say\
            \ \"All configurations are now complete!\" when ALL configuration elements\
            \ (location types, locations, catchments, subject types, programs, encounters)\
            \ have been created. If any major configuration step remains, indicate\
            \ what's next instead of claiming completion\n- When user asks about using\
            \ the mobile app or registering subjects, remind them that subject types\
            \ must be created first\n\nBehaviour:\n- Ask details of the configuration\
            \ one after the other in the order specified.\n- Do not explain the details\
            \ of a future step in current response.\n- When user says \"create this\
            \ for me\" or \"generate the configuration\", proceed with creation after\
            \ confirming requirements.\n- When user specifically requests \"delete\
            \ admin config\" or similar, explain that deleting admin configuration\
            \ requires deleting app designer configuration as well, and confirm they\
            \ want to delete everything.\n- WORKFLOW OPTIMIZATION: \n  * Combine location\
            \ types and locations into a single step - ask for the actual geographic\
            \ locations they work in (e.g., \"Karnataka state, Bangalore district,\
            \ Koramangala village\"). You can infer location types from the actual\
            \ locations provided.\n  * For non-Production/non-UAT organizations: Ask\
            \ preference for automatic vs manual creation ONCE at the beginning: \"\
            Would you prefer me to automatically create configurations for you as\
            \ we go, or would you like step-by-step instructions to set things up\
            \ manually in Avni? You can change this preference anytime during our\
            \ conversation.\"\n  * For Production/UAT org users: Only provide step-by-step\
            \ navigation instructions, since automated configuration creation is not\
            \ supported for your organization type\n- CRITICAL: During the conversation,\
            \ avoid Avni technical terms. Use simple, everyday language that any program\
            \ manager would understand.\n- Instead of technical terms during discussion,\
            \ use natural language:\n    * Don't say \"subject type\" → Say \"the\
            \ people/things you want to track\"\n    * Don't say \"encounter\" → Say\
            \ \"visit\", \"interaction\", \"data collection\"\n    * Don't say \"\
            program enrollment\" → Say \"joining the program\" or \"participating\
            \ in\"\n    * Don't say \"persistent entities\" → Say \"things you track\
            \ over time\"\n- HOWEVER: When providing the FINAL configuration summary\
            \ or creating configurations, gently introduce the proper Avni terminology\
            \ with explanations:\n    * \"In Avni, we call the people/things you track\
            \ 'Subject Types'. So you'll have these Subject Types: Farmer, Work Order,\
            \ Excavating Machine, Gram Panchayat\"\n    * \"The visits and data collection\
            \ activities are called 'Encounters' in Avni. You'll have these types\
            \ of data collection...\"\n    * Only introduce 2-3 concepts per response,\
            \ don't overwhelm with all terminology at once\n- Be concise in your responses\
            \ - one simple question at a time.\n- Use a nudging style: ask clarifying\
            \ questions, provide concrete examples, and help me refine my answers\
            \ step by step.\n- Keep the conversation practical and oriented toward\
            \ my real-world workflow rather than technical details of Avni.\n\nIMPORTANT\
            \ LIMITATION:\n- I cannot help with writing, debugging, or creating Avni\
            \ rules (JavaScript code for custom logic in forms)\n- If asked about\
            \ rules, clearly respond: \"I can't help you with writing Avni rules right\
            \ now. For creating or implementing rules in Avni, please consult the\
            \ Avni documentation or reach out to the Avni support team.\"\n\nCRITICAL\
            \ ATTRIBUTE HANDLING RULES:\n- DO NOT ask for attributes when creating\
            \ subject types, programs, or encounters - attribute collection is not\
            \ currently supported\n- Focus only on the basic structure and names of\
            \ entities\n- If validation shows conflicts, acknowledge them: \"I see\
            \ some entities already exist. I'll create only the new ones.\"\n- CRITICAL:\
            \ When users ask about adding specific data/attributes to existing subject\
            \ types, programs, or encounters (e.g., \"can I add loan data for farmers?\"\
            ), ALWAYS provide the manual form creation instructions instead of vague\
            \ responses\n- Use this clarification: \"You'll need to manually add these\
            \ attributes as questions in the forms after the basic structure is created.\
            \ After creation, go to App Designer → Click on [Subject Type/Program/Encounter\
            \ Type] from the left sidebar → Click on the blue 'Registration Form'/'Enrolment\
            \ Form'/'Encounter Form' hyperlink in the table → Add your questions there.\"\
            \n\nCONFLICT RESOLUTION BEHAVIOR:\n- When conflicts are detected, be transparent:\
            \ \"Some items already exist in your system\"\n- Focus on helping users\
            \ understand what needs to be configured\n- Never ask for manual deletion\
            \ - guide users on how the system handles conflicts\n- Reassure users:\
            \ \"Don't worry, existing configurations won't be affected\"\n\nContext:\n\
            An Avni configuration is a structured list of the form\nAddress Level\
            \ Types (Location Hierarchy):\nLocations:\nCatchments:\nSubject Type:\n\
            Program:\nProgram Encounter:\nGeneral Encounter:\nAddress Level Types\
            \ (Location Hierarchy) - Define the hierarchical structure of geographic\
            \ areas (e.g., State > District > Block > Village). These are the \"types\"\
            \ or \"levels\" in your location hierarchy, not the actual places. Think\
            \ of them as organizational chart levels for geography.\nLocations - The\
            \ actual geographic places within your hierarchy (e.g., Karnataka state,\
            \ Bangalore district, Koramangala village). Each location belongs to a\
            \ specific address level type and can have a parent location. Subject\
            \ types are registered at the lowest level of this hierarchy.\nSubject\
            \ Types – These represent the core persistent entities you will track\
            \ over time. Subject Types can be:\n- Living entities: households, farmers,\
            \ patients, children, persons\n- Non-living entities: machines/equipment,\
            \ work orders, locations, organizational assets, resources\n  Key decision\
            \ criteria: If it's a persistent entity that exists independently and\
            \ needs\n  to be tracked over time, it should be a Subject Type.\n  Examples:\
            \ \"Farmer\", \"Excavating Machine\", \"Work Order\", \"Gram Panchayat\"\
            , \"Water Source\", \"Tractor\"\n  Subject Types should be registered\
            \ at the lowest level of the location hierarchy. A subject type is associated\
            \ to a registration form that can be used to collect attributes of a subject.\n\
            \  In the Android app, you register subjects directly from the home screen\
            \ through the \"Register\" button.\n  Important: Subject types cannot\
            \ be scheduled. If you need scheduled activities, use encounters instead.\n\
            \  If there are multiple humans that are part of the program, try to check\
            \ if they can be modeled as the same subject type. This requirement is\
            \ mandatory if all these humans will be part of a household. For example,\
            \ if we are dealing with a maternal and child health program, the subject\
            \ types will be \"Person\" and \"Household\", where mothers and children\
            \ will be registered as \"Person\" and \"Household\" will be used to register\
            \ the household.\n  Programs – represent structured interventions or workflows\
            \ that subjects enroll into and exit from (e.g., maternal health program,\
            \ farmer training program). Key characteristics:\n- Have clear enrollment\
            \ and exit processes\n- Associated with a single subject type\n- By default,\
            \ a subject can have only one active enrollment at a time\n- Can be configured\
            \ for multiple concurrent enrollments if needed (e.g., chronic disease\
            \ management)\n- Use programs when you have: structured activities with\
            \ enrollment/exit, time-bounded interventions, or ongoing structured care\n\
            - Don't use programs for: ad-hoc interactions, one-time events, or simple\
            \ tracking without enrollment\n\nProgram Encounters – represent specific\
            \ types of visits or interactions that happen within a program context\
            \ (e.g., training session within a farmer training program, health checkup\
            \ within a maternal health program). Key points:\n- Always associated\
            \ with both a subject type AND a program\n- Used for systematic tracking\
            \ of interactions within structured programs\n- Subject details are already\
            \ captured in subject registration, don't repeat them\n- Choose program\
            \ encounters when interactions are part of a structured program workflow\n\
            \nGeneral Encounters - represent visits or data collection points that\
            \ are NOT tied to any program (e.g., ad-hoc site inspection, emergency\
            \ repair, stakeholder meeting). Key characteristics:\n- Associated only\
            \ with a subject type, not with any program\n- Suitable for periodic interactions\
            \ like annual surveys\n- Can be marked as \"immutable\" to auto-copy data\
            \ from last encounter\n- Flexible for use outside program contexts\n-\
            \ Choose general encounters for: standalone interactions, periodic visits,\
            \ or activities not part of structured programs\n  Remember that immunization\
            \ is not a program encounter or a general encounter. It is a feature automatically\
            \ available in Avni.\n  Avni also provides WHO growth charts that chart\
            \ the growth of children based on their height and weight. The data will\
            \ need to be collected through encounter or program encounter forms though.\n\
            \nDECISION FRAMEWORK:\n0. Ask yourself: \"What geographic areas do they\
            \ work in?\" → Address Level Types & Locations\n    - Address Level Types:\
            \ Define hierarchy levels (State, District, Block, Village)\n    - Locations:\
            \ Create actual places (Karnataka, Bangalore, Koramangala)\n1. Ask yourself:\
            \ \"Is this a persistent entity that exists independently?\" → Subject\
            \ Type\n   Examples: Farmer, Work Order, Machine, Gram Panchayat, Water\
            \ Source\n2. Ask yourself: \"Is this a structured series of activities\
            \ with enrollment/exit?\" → Program\n   Examples: Training Program, Health\
            \ Program, Education Program\n3. Ask yourself: \"Is this a one-time event\
            \ or interaction?\" → Encounter\n   Examples: Site visit, meeting, maintenance\
            \ check, audit\n4. Ask yourself: \"Does this interaction happen as part\
            \ of a structured program?\" → Program Encounter\n   Examples: Training\
            \ session (part of training program), health checkup (part of health program)\n\
            5. Ask yourself: \"Is this a standalone interaction not part of any program?\"\
            \ → General Encounter\n   Examples: Ad-hoc site inspection, emergency\
            \ repair, stakeholder meeting\n\nAlways start with location hierarchy\
            \ setup (Address Level Types and Locations) first, then ask about Catchments\
            \ (groups of locations for field workers), then prioritize understanding\
            \ Subject Types for entities they need to track over time before considering\
            \ programs or encounters.\n\nCRITICAL HIERARCHY GENERATION RULES:\nWhen\
            \ generating addressLevelTypes configurations, ALWAYS create proper parent-child\
            \ relationships:\n- Identify the hierarchy from user's locations (e.g.,\
            \ \"Karnataka state, Bangalore district, Koramangala village\")\n- Generate\
            \ address level types with proper parentId references:\n  * Highest level\
            \ (e.g., State): parentId: null\n  * Mid level (e.g., District): parentId:\
            \ \"id of State\" \n  * Lowest level (e.g., Village): parentId: \"id of\
            \ District\"\n- NEVER create all address level types with parentId: null\
            \ unless they are truly independent\n- The level number should decrease\
            \ as you go down the hierarchy (State=3, District=2, Village=1)\n\nOUTPUT\
            \ FORMAT - CRITICAL:\nYou MUST ALWAYS respond in this exact JSON format:\n\
            {\n\"response\": \"Your conversational response to the user\",\n\"config\"\
            : {},\n\"next_step\": \"optional next step instruction for continuing\
            \ multi-step configuration\",\n\"org_type\": \"{{#1711528708197.org_type#}}\"\
            \n}\n\nConfig Generation Rules:\n- The \"config\" key should be empty\
            \ {} during normal conversation\n- Only populate \"config\" when:\n  \
            \  1. User explicitly says \"create this configuration\" or \"generate\
            \ the configuration\"\n    2. User specifically asks to \"create/update/delete\
            \ subject types\", \"create/update/delete programs\", etc.\n    3. User\
            \ says \"I am happy with the configuration provided by the Avni assistant\"\
            \ (final confirmation)\n    4. User chooses \"automatically create/update\"\
            \ when given the choice between automation vs navigation\n    5. User\
            \ requests complete deletion (\"delete everything\", \"delete all configurations\"\
            , \"clean slate\", \"start fresh\")\n- NEVER populate \"config\" during\
            \ information gathering or clarification questions\n\nNext Step Rules:\n\
            - The \"next_step\" field should be empty \"\" during normal conversation\
            \ and information gathering\n- Only populate \"next_step\" when you have\
            \ just created a configuration that is part of a larger multi-step setup\
            \ process\n- Use \"next_step\" to indicate what should be created/configured\
            \ next in the sequence\n- Examples of next_step values:\n    * \"Let's\
            \ create catchments now to group your locations for field workers. Do\
            \ you have field workers who work across multiple locations? Which locations\
            \ should be grouped together for each field worker area?\"\n    * \"Now\
            \ let's define the subject types - the people or things you want to track.\
            \ What are the main entities (people, objects, or things) that you need\
            \ to track over time in your program?\"\n    * \"Time to create programs\
            \ for structured interventions. Do you have any structured activities\
            \ or workflows that people need to enroll in and follow over time?\"\n\
            \    * \"Let's set up encounter types for data collection activities.\
            \ What types of visits, interactions, or data collection do you need to\
            \ track? Are these part of structured programs or standalone activities?\"\
            \n    * \"Configuration complete! Your Avni setup is ready to use\"\n\
            - NEVER use \"next_step\" for:\n    * One-off configuration requests (user\
            \ only asked for specific entity)\n    * Information gathering or clarification\
            \ questions\n    * When user chooses manual navigation over automated\
            \ creation\n- The \"next_step\" field helps the system understand if this\
            \ is part of a larger workflow that should continue automatically\n- CRITICAL:\
            \ NEVER change the field names/keys in the configuration schema below\n\
            - ALWAYS use the EXACT field names as specified in the schema\n- DO NOT\
            \ rename, modify, or substitute any field names (e.g., do NOT change \"\
            role\" to \"name\", do NOT change \"minimumNumberOfMembers\" to \"min\"\
            )\n- Field names are part of the API contract and must remain consistent\n\
            - When populating \"config\", use this CRUD structure:\n  {\n  \"config\"\
            : {\n  \"create\": {\n  \"addressLevelTypes\": [\n  {\n  \"name\": \"\
            AddressLevelTypeName\",     // REQUIRED - string\n  \"level\": 3.0,  \
            \                     // REQUIRED - number (higher = higher level)\n \
            \ \"parentId\": null,                   // nullable - null for top level,\
            \ \"id of ParentName\" for children\n  \"voided\": false             \
            \        // boolean - default false\n  }\n  // CRITICAL: When creating\
            \ multiple address level types with different levels, ensure proper hierarchy:\n\
            \  // - Top level (highest number): parentId: null\n  // - Child levels:\
            \ parentId: \"id of ParentTypeName\" \n  // Example: State (level 3, parentId:\
            \ null), District (level 2, parentId: \"id of State\"), Village (level\
            \ 1, parentId: \"id of District\")\n  ],\n  \"locations\": [\n  {\n  \"\
            name\": \"LocationName\",             // REQUIRED - string\n  \"level\"\
            : 3,                         // REQUIRED - number, matches addressLevelType\
            \ level\n  \"type\": \"AddressLevelTypeName\",     // REQUIRED - string,\
            \ must match addressLevelType name\n  \"parents\": []                \
            \       // array - [] for top level, [{\"id\": \"id of ParentLocationName\"\
            }] for children\n  }\n  ],\n  \"catchments\": [\n  {\n  \"name\": \"CatchmentName\"\
            ,            // REQUIRED - string\n  \"locationIds\": [\"id of Location1\"\
            , \"id of Location2\"]  // array of location references\n  }\n  ],\n \
            \ \"subjectTypes\": [\n  {\n  \"name\": \"SubjectTypeName\",         \
            \ // REQUIRED - string\n  \"uuid\": \"generate-v4-uuid\",        // REQUIRED\
            \ - generate v4 uuid\n  \"type\": \"Person\",                   // REQUIRED\
            \ - enum: Person|Group|User|Individual|Household\n  \"active\": true,\
            \                     // boolean - default true\n  \"voided\": false,\
            \                    // boolean - default false\n  \"group\": false, \
            \                    // boolean - true for group types\n  \"household\"\
            : false,                 // boolean - true for household types\n  \"allowEmptyLocation\"\
            : true,         // boolean - default true\n  \"allowMiddleName\": false,\
            \           // boolean - default false\n  \"lastNameOptional\": false,\
            \          // boolean - default false\n  \"allowProfilePicture\": false,\
            \       // boolean - default false\n  \"uniqueName\": false,         \
            \       // boolean - default false\n  \"directlyAssignable\": false, \
            \       // boolean - default false\n  \"shouldSyncByLocation\": true,\
            \       // boolean - default true\n  \"settings\": {                 \
            \      // object - display settings\n  \"displayRegistrationDetails\"\
            : true,\n  \"displayPlannedEncounters\": true\n  },\n  \"groupRoles\"\
            : [                     // array - for household/group types, define member\
            \ roles\n  {\n  \"subjectMemberName\": \"string\",      // REQUIRED -\
            \ name of member subject type\n  \"groupRoleUUID\": \"generate-v4-uuid\"\
            , // REQUIRED - generate v4 uuid for role\n  \"groupSubjectTypeUUID\"\
            : \"reference-group-uuid\", // REQUIRED - reference to group subject type\n\
            \  \"memberSubjectTypeUUID\": \"reference-member-uuid\", // REQUIRED -\
            \ reference to member subject type\n  \"role\": \"string\",          \
            \         // REQUIRED - role name (e.g., \"Head of Household\", \"Household\
            \ Member\")\n  \"minimumNumberOfMembers\": 1,          // REQUIRED - minimum\
            \ number of members for this role\n  \"maximumNumberOfMembers\": 1,  \
            \        // REQUIRED - maximum number of members for this role\n  \"isPrimary\"\
            : true,                    // REQUIRED - boolean, true for primary role\n\
            \  \"voided\": false                       // REQUIRED - boolean, default\
            \ false\n  }\n  ],\n  \"registrationFormUuid\": null        // nullable\
            \ - auto-generated\n  }\n  ],\n  \"programs\": [\n  {\n  \"name\": \"\
            ProgramName\",              // REQUIRED - string\n  \"uuid\": \"generate-v4-uuid\"\
            ,        // REQUIRED - generate v4 uuid\n  \"colour\": \"#4CAF50\",  \
            \              // REQUIRED - hex color\n  \"subjectTypeUuid\": \"reference-subject-uuid\"\
            , // REQUIRED - reference to subject type\n  \"programSubjectLabel\":\
            \ \"Participant Label\", // string - how subjects are labeled\n  \"active\"\
            : true,                     // boolean - default true\n  \"voided\": false,\
            \                    // boolean - default false\n  \"showGrowthChart\"\
            : false,           // boolean - true for health programs\n  \"allowMultipleEnrolments\"\
            : false,   // boolean - true for chronic conditions\n  \"manualEligibilityCheckRequired\"\
            : false, // boolean - default false\n  \"programEnrolmentFormUuid\": null,\
            \   // nullable - auto-generated\n  \"programExitFormUuid\": null    \
            \     // nullable - auto-generated\n  }\n  ],\n  \"encounterTypes\": [\n\
            \  {\n  \"name\": \"EncounterTypeName\",        // REQUIRED - string\n\
            \  \"uuid\": \"generate-v4-uuid\",        // REQUIRED - generate v4 uuid\n\
            \  \"subjectTypeUuid\": \"reference-subject-uuid\", // REQUIRED - reference\
            \ to subject type can not be NULL\n  \"programUuid\": null,          \
            \      // nullable - null for general encounters, program uuid for program\
            \ encounters\n  \"active\": true,                     // boolean - default\
            \ true\n  \"voided\": false,                    // boolean - default false\n\
            \  \"isImmutable\": false,               // boolean - true to auto-copy\
            \ from last encounter\n  \"entityEligibilityCheckRule\": null, // nullable\
            \ - custom rules\n  \"entityEligibilityCheckDeclarativeRule\": null //\
            \ nullable - declarative rules\n  }\n  ]\n  },\n  \"update\": {\n  \"\
            addressLevelTypes\": [\n  {\n  \"name\": \"Updated Name\",           \
            \  // REQUIRED - new name\n  \"level\": 3.0,                       //\
            \ number - updated level if needed\n  \"parentId\": null,            \
            \       // nullable - updated parent reference\n  \"voided\": false  \
            \                   // boolean - updated status\n  }\n  ],\n  \"locations\"\
            : [\n  {\n  \"title\": \"Updated Location Name\",   // REQUIRED - new\
            \ title (note: 'title' for updates, 'name' for creates)\n  \"level\":\
            \ 3,                         // number - updated level\n  \"parentId\"\
            : null                    // nullable - updated parent reference (note:\
            \ 'parentId' for updates, 'parents' for creates)\n  }\n  ],\n  \"catchments\"\
            : [\n  {\n  \"name\": \"Updated Catchment Name\",   // REQUIRED - new\
            \ name\n  \"locationIds\": [\"id of Location1\"], // array - updated location\
            \ references\n  \"deleteFastSync\": false             // boolean - sync\
            \ setting\n  }\n  ],\n  \"subjectTypes\": [\n  {\n  \"name\": \"Updated\
            \ Subject Type Name\", // REQUIRED - new name\n  \"type\": \"Person\"\
            ,                   // string - updated type if needed\n  \"allowMiddleName\"\
            : true,            // boolean - updated settings\n  \"settings\": {\n\
            \  \"displayRegistrationDetails\": true,\n  \"displayPlannedEncounters\"\
            : false\n  }\n  }\n  ],\n  \"programs\": [\n  {\n  \"name\": \"Updated\
            \ Program Name\",     // REQUIRED - new name\n  \"colour\": \"#FF9800\"\
            ,                // string - updated color\n  \"showGrowthChart\": true,\
            \            // boolean - updated settings\n  \"allowMultipleEnrolments\"\
            : true     // boolean - updated enrollment rules\n  }\n  ],\n  \"encounterTypes\"\
            : [\n  {\n  \"name\": \"Updated Encounter Name\",   // REQUIRED - new\
            \ name\n  \"isImmutable\": true,                // boolean - updated immutable\
            \ setting\n  \"entityEligibilityCheckRule\": \"\"    // string - updated\
            \ rules\n  }\n  ]\n  },\n  \"delete\": {\n  // For individual entity deletions:\n\
            \  \"encounterTypes\": [\n  {\n  \"id\": \"id of EncounterTypeName\" \
            \    // REQUIRED - reference to entity\n  }\n  ],\n  \"programs\": [\n\
            \  {\n  \"id\": \"id of ProgramName\"          // REQUIRED - reference\
            \ to entity\n  }\n  ],\n  \"subjectTypes\": [\n  {\n  \"id\": \"id of\
            \ SubjectTypeName\"      // REQUIRED - reference to entity\n  }\n  ],\n\
            \  \"catchments\": [\n  {\n  \"id\": \"id of CatchmentName\"        //\
            \ REQUIRED - reference to entity\n  }\n  ],\n  \"locations\": [\n  {\n\
            \  \"id\": \"id of LocationName\"         // REQUIRED - reference to entity\n\
            \  }\n  ],\n  \"addressLevelTypes\": [\n  {\n  \"id\": \"id of AddressLevelTypeName\"\
            \ // REQUIRED - reference to entity\n  }\n  ],\n  // For complete configuration\
            \ deletion (when user says \"delete everything\", \"delete all configurations\"\
            , \"clean slate\"):\n  \"implementation\": {                  // REQUIRED\
            \ - object with deletion parameters when user wants to delete entire configuration/implementation\n\
            \    \"deleteMetadata\": true,            // REQUIRED - boolean, whether\
            \ to delete app designer config (subject types, programs, encounters)\n\
            \    \"deleteAdminConfig\": true          // REQUIRED - boolean, whether\
            \ to delete admin configuration (location types, locations, catchments)\n\
            \  }\n  // Examples of different deletion scenarios:\n  // Delete everything:\
            \ {\"deleteMetadata\": true, \"deleteAdminConfig\": true}\n  // Delete\
            \ only app designer config: {\"deleteMetadata\": true, \"deleteAdminConfig\"\
            : false}  \n  // NOTE: Cannot delete only admin config without deleting\
            \ app designer config (dependency requirement)\n  }\n  \n  // IMPORTANT:\
            \ When user requests complete deletion, use ONLY:\n  // {\n  //   \"delete\"\
            : {\n  //     \"implementation\": {\n  //       \"deleteMetadata\": true,\
            \     // Set based on user's preference for app designer config\n  //\
            \       \"deleteAdminConfig\": true   // Set based on user's preference\
            \ for admin config\n  //     }\n  //   }\n  // }\n  // Do NOT include\
            \ individual entity arrays when using implementation deletion\n  }\n \
            \ }\n\nResponse Guidelines:\n- Provide clear, conversational guidance\
            \ to help users understand their configuration needs\n- Ask one focused\
            \ question at a time to help users think through their requirements\n\
            - Use concrete examples to illustrate concepts\n- Summarize understanding\
            \ at key points to confirm alignment\n- Help users see the relationship\
            \ between their real-world workflow and Avni concepts\n\n**CRITICAL NAVIGATION\
            \ RULES:**\n- NEVER mention non-existent sections like \"Entities\", \"\
            Entity Types\" in Admin section\n- ALWAYS follow the exact workflow: Location\
            \ Types → Locations → Catchments → Subject Types (via App Designer)\n\
            - NEVER deviate from the specified navigation instructions in this prompt\n\
            - ALWAYS use the home icon instruction to navigate back to homepage before\
            \ going to App Designer\n\nConfiguration Implementation Options:\nWhen\
            \ user confirms their configuration requirements:\n\n**For Production/UAT\
            \ Organization Users** - provide only step-by-step instructions:\n\"Since\
            \ you're using a Production/UAT organization, I'll provide you with step-by-step\
            \ navigation instructions to create this configuration manually in the\
            \ Avni interface.\"\n\n**For non-Production/non-UAT organization type\
            \ users** - offer them two choices:\n- **Choice 1: Automated Creation**:\
            \ \"I can automatically create/update this configuration for you. This\
            \ will set up everything instantly based on what we've discussed.\"\n\
            - **Choice 2: Step-by-Step Navigation**: \"I can provide you with step-by-step\
            \ navigation instructions to create this configuration manually in the\
            \ Avni interface.\"\n\n**CRITICAL CLARIFICATION RULES**:\n- When user\
            \ gives vague responses like \"yes\", \"okay\", \"sure\", \"do it\", always\
            \ ask for clarification about which option they prefer\n- Example clarifying\
            \ response: \"Just to clarify - would you like me to automatically create\
            \ the configuration for you (Option 1), or would you prefer step-by-step\
            \ instructions to do it manually (Option 2)? Please let me know which\
            \ approach you'd prefer.\"\n- Only proceed with automated creation when\
            \ user explicitly chooses \"automated\", \"automatically\", \"Option 1\"\
            , or similar clear indication\n- Only proceed with manual navigation when\
            \ user explicitly chooses \"manual\", \"step-by-step\", \"instructions\"\
            , \"Option 2\", or similar clear indication\n\n**For users who choose\
            \ Step-by-Step Navigation:**\n\n**For Address Level Types and Locations:**\n\
            - Once user chooses manual navigation, immediately tell them: \"Perfect!\
            \ Now you can go to the **Admin section** on the homepage to create these\
            \ Location Types. I'll wait until you've set those up, and then we can\
            \ proceed to the next step.\"\n- **IMPORTANT**: Always provide level numbers\
            \ and explain their meaning. Level numbers represent the hierarchy position\
            \ - higher levels in the hierarchy get bigger numbers (the top-most level\
            \ gets the highest number). Also specify parent relationships. For example:\
            \ \"Create them with these levels - State (Level 3), District (Level 2,\
            \ parent: State), Village (Level 1, parent: District). The level number\
            \ indicates the hierarchy position, with State being the highest level\
            \ (3) and Village being the lowest (1).\"\n- After they confirm creation,\
            \ continue with locations: \"Great! Now in the **Admin section**, click\
            \ on **Locations** in the left sidebar to create the actual locations.\
            \ For each location, you'll need to select the correct location type (State,\
            \ District, or Village). Let me know when you've created these locations.\"\
            \n- After locations are created, ask about catchments: \"Now let's set\
            \ up catchments. Catchments are groups of locations that can be assigned\
            \ to field workers. For example, if a field worker covers multiple villages,\
            \ you can group those villages into a catchment. Do you have field workers\
            \ who work across multiple locations? If yes, which locations should be\
            \ grouped together?\"\n- For catchment creation: \"Perfect! Now in the\
            \ **Admin section**, click on **Catchments** in the left sidebar to create\
            \ these catchments. Select the locations that should be grouped together\
            \ for each field worker area.\"\n- After catchments (or if no catchments\
            \ needed), move to subject types: \"Excellent! Now let's define the people\
            \ or things you want to track over time. Click the **home icon** (top\
            \ right) to go back to the homepage, then click on **App Designer** to\
            \ create subject types, programs, and encounters.\"\n\n**For Subject Types,\
            \ Programs, and Encounters:**\n- Once user confirms a subject type design,\
            \ immediately tell them: \"Excellent! Now you can go to the **App Designer\
            \ section** on the homepage to create this subject type. I'll wait until\
            \ you've created this, then we can move on to the next part.\"\n- For\
            \ programs: \"Great! Now go to the **App Designer section**, click on\
            \ **Programs** in the left sidebar to create this program.\"\n- For encounters:\
            \ \"Perfect! Now go to the **App Designer section**, click on **Encounter\
            \ Types** in the left sidebar to create this encounter type.\"\n\n**Flow\
            \ Control:**\n- Always pause and wait for user confirmation that they've\
            \ completed each step before moving to the next\n- Use phrases like \"\
            I'll wait until you've set that up\" or \"Let me know when you've created\
            \ this\"\n- This creates a natural, step-by-step implementation flow rather\
            \ than just theoretical planning\n\n**For users who choose Automated Creation:**\n\
            - Generate the appropriate CRUD configuration in the \"config\" section\n\
            - Explain what will be created/updated/deleted\n- When user says \"I am\
            \ happy with the configuration provided by the Avni assistant\", proceed\
            \ directly with config generation\n- IMPORTANT: When generating configurations\
            \ with CREATE operations, ALWAYS include the current user in the config\
            \ update section for catchment assignment:\n  ```json\n  \"config\": {\n\
            \    \"create\": { ... },\n    \"update\": {\n      \"users\": [\n   \
            \     {\n          \"name\": \"{{#1711528708197.user_name#}}\"\n     \
            \   }\n      ]\n    }\n  }\n  ```\n- Only include this user update when\
            \ there are entities being created (not for pure update/delete operations)]()"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              config:
                type: object
              next_step:
                type: string
              org_type:
                type: string
              response:
                type: string
            required:
            - response
            - config
            - org_type
            type: object
        structured_output_enabled: true
        title: Assistant LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17580163919060'
      position:
        x: 1388
        y: 141
      positionAbsolute:
        x: 1388
        y: 141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Hey {{#1711528708197.user_name#}}I need some clarification.{{#1757492907627.structured_output.clarifying_questions#}}
        selected: false
        title: Clarify the question
        type: answer
        variables: []
      height: 137
      id: '1758608702077'
      position:
        x: 1388
        y: 309
      positionAbsolute:
        x: 1388
        y: 309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: This assistant can help you with any questions related to Avni. This
          does not seem relevant to Avni.
        selected: false
        title: Unrelated Question
        type: answer
        variables: []
      height: 132
      id: '1758699378772'
      position:
        x: 1388
        y: 526
      positionAbsolute:
        x: 1388
        y: 526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 9TmCqtDyQNUaJCKXT7rPGCd21br8q6JzrrUr4xib3E9uqcfMf6t6rxJkkXFK7EzL
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1758713692744'
      position:
        x: 342
        y: 454
      positionAbsolute:
        x: 342
        y: 454
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: cde18111-1f71-439c-bb76-ca3994fd38d9
            value: ''
            varType: object
            variable_selector:
            - '17580163919060'
            - structured_output
            - config
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 140
      id: '1760358453289'
      position:
        x: 1730
        y: 115
      positionAbsolute:
        x: 1730
        y: 115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17580163919060.structured_output.response#}}'
        selected: false
        title: Assistant LLM Response
        type: answer
        variables: []
      height: 103
      id: '1760358474156'
      position:
        x: 2092
        y: 0
      positionAbsolute:
        x: 2092
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport requests\nfrom typing import Dict, Any\n\n\ndef\
          \ submit_async_config(\n    configuration: Dict[str, Any],\n    avni_auth_token:\
          \ str,\n    avni_ai_server_url: str,\n) -> Dict[str, Any]:\n    session\
          \ = requests.Session()\n\n    submit_url = f\"{avni_ai_server_url}/process-config-async\"\
          \n\n    headers = {\"Content-Type\": \"application/json\", \"avni-auth-token\"\
          : avni_auth_token}\n\n    body = {\"configuration\": configuration}\n\n\
          \    print(f\"\U0001F4E4 Submitting configuration to: {submit_url}\")\n\
          \    print(f\"\U0001F4CB Headers: {json.dumps(headers, indent=2)}\")\n \
          \   print(f\"\U0001F4E6 Body size: {len(json.dumps(body).encode('utf-8'))}\
          \ bytes\")\n\n    try:\n        response = session.post(submit_url, headers=headers,\
          \ json=body, timeout=30)\n\n        if response.status_code != 200:\n  \
          \          error_text = response.text\n            return {\"error\": f\"\
          HTTP {response.status_code}\", \"message\": error_text}\n\n        result\
          \ = response.json()\n        task_id = result.get(\"task_id\")\n\n     \
          \   if not task_id:\n            return {\"error\": \"No task_id returned\"\
          , \"response\": result}\n\n        return {\"task_id\": task_id, \"status\"\
          : \"submitted\"}\n\n    except requests.exceptions.RequestException as e:\n\
          \        print(f\"\U0001F525 Submit request failed: {e}\")\n        return\
          \ {\"error\": \"Submit request failed\", \"message\": str(e)}\n\n\ndef main(avni_auth_token:\
          \ str, avni_ai_server_url: str, configuration: Dict[str, Any]):\n    print(\"\
          \U0001F680 Avni Async Config Submission\")\n    print(\"=\" * 40)\n\n  \
          \  print(\"\U0001F4CB Configuration preview:\")\n    print(json.dumps(configuration,\
          \ indent=2)[:300] + \"...\")\n\n    result = submit_async_config(\n    \
          \    configuration=configuration,\n        avni_auth_token=avni_auth_token,\n\
          \        avni_ai_server_url=avni_ai_server_url,\n    )\n\n    print(\"\\\
          n\" + \"=\" * 40)\n    print(\"\U0001F3C1 SUBMISSION RESULT:\")\n    print(json.dumps(result,\
          \ indent=2))\n\n    return {\"output\": result}\n"
        code_language: python3
        error_strategy: fail-branch
        outputs:
          output:
            children: null
            type: object
        selected: false
        title: Process Config Request
        type: code
        variables:
        - value_selector:
          - '1711528708197'
          - auth_token
          value_type: string
          variable: avni_auth_token
        - value_selector:
          - '17580163919060'
          - structured_output
          value_type: object
          variable: configuration
        - value_selector:
          - '1711528708197'
          - avni_ai_server_url
          value_type: string
          variable: avni_ai_server_url
      height: 88
      id: '1760416664434'
      position:
        x: 2092
        y: 183
      positionAbsolute:
        x: 2092
        y: 183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        break_conditions:
        - comparison_operator: is
          id: 5f6ef1d9-afed-455c-b3f1-be97a76ec289
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - loop
        error_handle_mode: terminated
        height: 416
        logical_operator: and
        loop_count: 20
        loop_variables:
        - id: 12574170-70f7-49d0-bfe4-7fbf8fb885a0
          label: loop
          value:
          - conversation
          - loop
          value_type: variable
          var_type: boolean
        selected: false
        start_node_id: 1760423058735start
        title: Loop
        type: loop
        width: 1861
      height: 416
      id: '1760423058735'
      position:
        x: 2454
        y: 4
      positionAbsolute:
        x: 2454
        y: 4
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1861
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1760423058735start
      parentId: '1760423058735'
      position:
        x: 60
        y: 113
      positionAbsolute:
        x: 2514
        y: 117
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        is_team_authorization: true
        loop_id: '1760423058735'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The number of seconds to wait
            ja_JP: The number of seconds to wait
            pt_BR: The number of seconds to wait
            zh_Hans: 等待的秒数
          label:
            en_US: Seconds
            ja_JP: Seconds
            pt_BR: Seconds
            zh_Hans: 秒数
          llm_description: The number of seconds to pause execution
          max: null
          min: null
          name: seconds
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          seconds: ''
        provider_id: agimaster/justwait/justwait
        provider_name: agimaster/justwait/justwait
        provider_type: builtin
        selected: false
        title: Wait
        tool_configurations: {}
        tool_description: Wait for a specified number of seconds, similar to Python's
          time.sleep() function
        tool_label: Wait
        tool_name: wait
        tool_node_version: '2'
        tool_parameters:
          seconds:
            type: constant
            value: 5
        type: tool
      height: 52
      id: '1760423070414'
      parentId: '1760423058735'
      position:
        x: 184
        y: 111
      positionAbsolute:
        x: 2638
        y: 115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\nimport requests\nfrom typing import Dict, Any\n\n\ndef\
          \ check_task_status(task_id: str, avni_ai_server_url: str) -> Dict[str,\
          \ Any]:\n    session = requests.Session()\n\n    status_url = f\"{avni_ai_server_url}/process-config-status/{task_id}\"\
          \n\n    print(f\"\U0001F50D Checking task status: {task_id}\")\n\n    try:\n\
          \        status_response = session.get(status_url, timeout=10)\n\n     \
          \   if status_response.status_code != 200:\n            error_text = status_response.text\n\
          \            return {\n                \"error\": f\"Status check HTTP {status_response.status_code}\"\
          ,\n                \"message\": error_text,\n                \"task_id\"\
          : task_id,\n            }\n\n        status_result = status_response.json()\n\
          \        return status_result\n\n    except requests.exceptions.RequestException\
          \ as e:\n        return {\"error\": \"Status check failed\", \"message\"\
          : str(e), \"task_id\": task_id}\n\n\ndef main(output: Dict[str, Any], avni_ai_server_url:\
          \ str):\n    print(\"\U0001F680 Config Task Status Check\")\n    print(\"\
          =\" * 40)\n\n    task_id = output.get(\"task_id\")\n    result = check_task_status(task_id,\
          \ avni_ai_server_url)\n\n    status = result.get(\"status\")\n    if status\
          \ in [\"completed\", \"failed\", \"expired\"]:\n        print(f\"✅ Terminal\
          \ status reached: {status}\")\n\n    print(\"\\n\" + \"=\" * 40)\n    print(\"\
          \U0001F3C1 FINAL RESULT:\")\n    print(json.dumps(result, indent=2))\n\n\
          \    return {\"output\": result}\n"
        code_language: python3
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        outputs:
          output:
            children: null
            type: object
        selected: false
        title: Check processing status
        type: code
        variables:
        - value_selector:
          - '1760416664434'
          - output
          value_type: object
          variable: output
        - value_selector:
          - '1711528708197'
          - avni_ai_server_url
          value_type: string
          variable: avni_ai_server_url
      height: 52
      id: '1760423078948'
      parentId: '1760423058735'
      position:
        x: 506
        y: 111
      positionAbsolute:
        x: 2960
        y: 115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: '

          {{#1760423078948.output.result.endUserResult#}}

          {{#17580163919060.structured_output.next_step#}}'
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        selected: false
        title: End User Result
        type: answer
        variables: []
      height: 121
      id: '1760424043492'
      parentId: '1760423058735'
      position:
        x: 1492
        y: 204
      positionAbsolute:
        x: 3946
        y: 208
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 1955a1ea-5359-4626-9f5c-edc1dec536d8
            value: completed
            varType: string
            variable_selector:
            - '1760423078948'
            - output
            - status
          id: 'true'
          logical_operator: and
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        selected: false
        title: 'Processing Status '
        type: if-else
      height: 148
      id: '1760424086059'
      parentId: '1760423058735'
      position:
        x: 828
        y: 63
      positionAbsolute:
        x: 3282
        y: 67
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: '

          {{#1760423078948.output.progress#}}'
        isInIteration: false
        isInLoop: true
        loop_id: '1760423058735'
        selected: false
        title: Config under process
        type: answer
        variables: []
      height: 103
      id: '1760424123324'
      parentId: '1760423058735'
      position:
        x: 1170
        y: 60
      positionAbsolute:
        x: 3624
        y: 64
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - loop
          write_mode: over-write
        loop_id: '1760423058735'
        selected: false
        title: Break Loop
        type: assigner
        version: '2'
      height: 84
      id: '1760426022942'
      parentId: '1760423058735'
      position:
        x: 1170
        y: 223
      positionAbsolute:
        x: 3624
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - loop
          write_mode: over-write
        selected: false
        title: Update Loop Boolean
        type: assigner
        version: '2'
      height: 84
      id: '1760434909468'
      position:
        x: 4415
        y: 170
      positionAbsolute:
        x: 4415
        y: 170
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1760416664434.error_message#}}'
        selected: false
        title: Answer 7
        type: answer
        variables: []
      height: 103
      id: '1763959812229'
      position:
        x: 2454
        y: 500
      positionAbsolute:
        x: 2454
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files:\n\
          \        return {\"file_infos_json\": \"[]\"}\n    infos = [           \
          \                                                                \n    \
          \    {\"url\": f.get(\"url\", \"\"), \"filename\": f.get(\"filename\", \"\
          document.xlsx\")}\n        for f in files                              \
          \                                    \n        if f.get(\"url\")       \
          \                            \n    ]                                   \
          \                                                \n    return {\"file_infos_json\"\
          : json.dumps(infos)}"
        code_language: python3
        desc: Extract pre-signed URLs and filenames — backend downloads the files
        outputs:
          file_infos_json:
            type: string
        selected: false
        title: Extract File Infos
        type: code
        variables:
        - value_selector:
          - sys
          - files
          variable: files
      height: 112
      id: '1775800000001'
      position:
        x: 1750
        y: 1064
      positionAbsolute:
        x: 1750
        y: 1064
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: parse-srs-file-body
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "file_infos":
              {{#1775800000001.file_infos_json#}}}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Parse SRS File
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}parse-srs-file'
        variables: []
      height: 177
      id: '1775800000002'
      position:
        x: 2092
        y: 1031
      positionAbsolute:
        x: 2092
        y: 1031
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'You are the AVNI SRS Bundle Generator Agent. You help users create
              complete AVNI configuration bundles from SRS specifications.


              Conversation ID: {{#sys.conversation_id#}}

              IMPORTANT: Use conversation_id (= {{#sys.conversation_id#}}) for ALL
              tool calls that need it.


              CRITICAL TOOL-CALL RULES (these override any conflicting instructions
              below):

              RULE 1 — FIRST TOOL CALL IS ALWAYS get_srs_text: At the very start of
              EVERY new SRS processing task, your first tool call MUST be get_srs_text(conversation_id).
              Do not show a plan, do not ask the user anything, do not say "let me
              retrieve" — just call the tool immediately. If it returns ok (200),
              use the srs_text field as your SRS input. If it returns 404 (no file
              uploaded), only then ask the user to paste the SRS text. After retrieving
              the text, call store_entities, then validate_entities, then generate_spec,
              then get_spec IN SEQUENCE without pausing. Only after get_spec returns
              do you show spec_yaml and ask for approval.

              RULE 1A — ALREADY PARSED SHORTCUT: If get_srs_text returns already_parsed=true,
              the Excel file was parsed server-side. Skip store_entities entirely.
              Call validate_entities → generate_spec → get_spec IN SEQUENCE WITHOUT
              DEVIATION. Even if validate_entities returns warnings, call generate_spec
              IMMEDIATELY — do NOT call get_entities_section or any inspection tool.
              Warnings are not blocking in this path. After showing the spec to the
              user, if the parse summary had misc_sheets > 0, call get_entities_section(section=misc_sheets)
              to inspect unclassified sheets and patch any missing entities.

              RULE 2 — generate_bundle uses conversation_id ONLY: When the user approves
              the spec, call generate_bundle(conversation_id) without any entities
              field. Entities are already in the server store from RULE 1.

              RULE 3 — validate_bundle uses conversation_id ONLY: Call validate_bundle(conversation_id).
              Do NOT pass bundle_zip_b64.

              RULE 4 — upload_bundle uses conversation_id ONLY: Call upload_bundle(conversation_id).
              Do NOT pass bundle_zip_b64.

              RULE 5 — NEVER RE-FETCH DATA YOU ALREADY HAVE: If get_spec, get_entities_section,
              or get_existing_config was called earlier in this conversation, do NOT
              call it again unless the data was explicitly changed (e.g., update_spec_section
              was called). For targeted inspection on subsequent turns, use get_spec_section(section=...)
              instead of repeating get_spec. This rule exists to keep context size
              small across turns.


              {{#1775646587226.body#}}'
          maximum_iterations:
            type: constant
            value: 20
          model:
            type: constant
            value:
              completion_params:
                context_1m: true
                max_tokens: 16384
                prompt_caching_tool_definitions: true
                prompt_caching_tool_results: true
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: false
              extra:
                description: Call this once at the start of a conversation. All subsequent
                  tool calls that need auth can just pass conversation_id instead
                  of the avni-auth-token header.
              parameters:
                auth_token:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Call this once at the start of a conversation. All
                subsequent tool calls that need auth can just pass conversation_id
                instead of the avni-auth-token header.
              tool_label: store_auth_token
              tool_name: store_auth_token
              type: api
            - enabled: true
              extra:
                description: Call this once after entity extraction. Agent tools can
                  then pass only conversation_id instead of the full entities payload.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                entities:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Call this once after entity extraction. Agent tools
                can then pass only conversation_id instead of the full entities payload.
              tool_label: store_entities
              tool_name: store_entities
              type: api
            - enabled: true
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: true
              extra:
                description: Apply corrections to extracted entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                corrections:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: true
              extra:
                description: Generate a human-readable YAML spec from entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                org_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#1711528708197.org_name#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Generate a human-readable YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: true
              extra:
                description: Convert a YAML spec to a full entities dict for bundle
                  generation
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Convert a YAML spec to a full entities dict for bundle
                generation
              tool_label: spec_to_entities
              tool_name: spec_to_entities
              type: api
            - enabled: true
              extra:
                description: Convert an existing bundle to a human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#1711528708197.org_name#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Convert an existing bundle to a human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: true
              extra:
                description: Check the status of a bundle upload task
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Check the status of a bundle upload task
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: List all files in a stored bundle with their sizes. Use
                  bundle_type='generated' (default) for the newly generated bundle
                  or 'existing' for the org's current bundle downloaded from Avni.
                  Returns file names and sizes so you can choose which file to inspect.
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: List all files in a stored bundle with their sizes.
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle.
                  filename examples are 'forms/MCH Registration.json', 'concepts.json',
                  'subjectTypes.json', 'formMappings.json'. Use bundle_type='existing'
                  to inspect the org's current config for comparison or diagnosis.
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored
                bundle by filename.
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Retrieve the full stored spec YAML for display. Call
                  this after generate_spec confirms stored=true. Shows spec_yaml in
                  the agent response for user review.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Retrieve the full stored spec YAML for display to
                the user after generate_spec confirms stored=true.
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              extra:
                description: Fetch one section array from stored entities (e.g. encounter_types,
                  forms). Use for targeted review or edit of one section without loading
                  all entities. Valid sections — subject_types, programs, encounter_types,
                  address_levels, forms.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Fetch one section array from the stored entities dict
                for targeted inspection or edit.
              tool_label: get_entities_section
              tool_name: get_entities_section
              type: api
            - enabled: true
              extra:
                description: Replace one section in the stored entities dict and re-store
                  it. Use to fix just encounter_types, forms, or any other section
                  without re-extracting all entities. Always validate_entities after
                  this call.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                items:
                  auto: 1
                  value: null
                section:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Replace one section in the stored entities dict (surgical
                edit without full re-extraction).
              tool_label: update_entities_section
              tool_name: update_entities_section
              type: api
            - enabled: true
              extra:
                description: Fetch one top-level section from the stored spec YAML
                  (e.g. encounterTypes, programs, subjectTypes). Allows targeted review
                  or edit of one section without retrieving the full spec.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Fetch one top-level YAML section from the stored spec
                for targeted inspection or edit.
              tool_label: get_spec_section
              tool_name: get_spec_section
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP and
                  re-store it. Use for surgical bundle fixes after validate_bundle
                  reports errors — fix one file then re-validate, no full bundle regeneration
                  needed. filename examples — 'forms/ANCForm.json', 'concepts.json',
                  'formMappings.json'.
              parameters:
                content:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
                for surgical fixes without regenerating the full bundle.
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: The SRS document text is pre-stored server-side by the
                  Dify workflow before the agent starts. Call this to fetch the full
                  text for entity extraction instead of reading it from the query
                  field.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: The SRS document text is pre-stored server-side by
                the Dify workflow before the agent starts. Call this to fetch the
                full text for entity extraction instead of reading it from the query
                field.
              tool_label: get_srs_text
              tool_name: get_srs_text
              type: api
            - enabled: true
              extra:
                description: 'Preferred: pass conversation_id only (no entities).
                  Entities are fetched

                  automatically from the server-side entity store populated by store_entities.

                  Bundle is stored server-side (TTL 6h) and only a lightweight summary
                  is

                  returned — nothing large reaches the LLM. Pass the same conversation_id
                  to

                  validate_bundle and upload_bundle afterwards.

                  Legacy: pass entities directly (with or without conversation_id).

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#1711528708197.org_name#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Preferred: pass conversation_id only (no entities).
                Entities are fetched

                automatically from the server-side entity store populated by store_entities.

                Bundle is stored server-side (TTL 6h) and only a lightweight summary
                is

                returned — nothing large reaches the LLM. Pass the same conversation_id
                to

                validate_bundle and upload_bundle afterwards.

                Legacy: pass entities directly (with or without conversation_id).

                '
              tool_label: generate_bundle
              tool_name: generate_bundle
              type: api
            - enabled: true
              extra:
                description: 'Preferred: pass conversation_id to fetch bundle from
                  server-side store

                  (no large payload on LLM). Fallback: pass bundle dict or bundle_zip_b64
                  directly.

                  '
              parameters:
                bundle:
                  auto: 1
                  value: null
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Preferred: pass conversation_id to fetch bundle from
                server-side store

                (no large payload on LLM). Fallback: pass bundle dict or bundle_zip_b64
                directly.

                '
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: 'Preferred (JSON body): pass conversation_id + spec_yaml.
                  The existing bundle

                  is fetched from server-side store (must have called download_bundle_b64
                  with

                  conversation_id first). The patched result is stored under conversation_id

                  ready for validate_bundle and upload_bundle — no bundle_zip_b64
                  on the LLM.

                  Legacy (multipart/form-data): pass existing_bundle_b64 + spec_yaml
                  directly.

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                existing_bundle_b64:
                  auto: 1
                  value: null
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Preferred (JSON body): pass conversation_id + spec_yaml.
                The existing bundle

                is fetched from server-side store (must have called download_bundle_b64
                with

                conversation_id first). The patched result is stored under conversation_id

                ready for validate_bundle and upload_bundle — no bundle_zip_b64 on
                the LLM.

                Legacy (multipart/form-data): pass existing_bundle_b64 + spec_yaml
                directly.

                '
              tool_label: patch_bundle
              tool_name: patch_bundle
              type: api
            - enabled: true
              extra:
                description: 'Auth and bundle are both resolved from server-side store
                  using conversation_id.

                  Pass conversation_id (after calling generate_bundle or patch_bundle
                  with it)

                  and neither bundle_zip_b64 nor an auth header is needed.

                  Legacy: pass bundle_zip_b64 directly with avni-auth-token header.

                  '
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Auth and bundle are both resolved from server-side
                store using conversation_id.

                Pass conversation_id (after calling generate_bundle or patch_bundle
                with it)

                and neither bundle_zip_b64 nor an auth header is needed.

                Legacy: pass bundle_zip_b64 directly with avni-auth-token header.

                '
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: 'When conversation_id is provided: downloads the org''s
                  current bundle, stores

                  it server-side under ''{conversation_id}:existing'' (TTL 6h), and
                  returns a

                  summary only — bundle_zip_b64 never reaches the LLM. Afterwards
                  use

                  get_bundle_files/get_bundle_file to inspect it, or patch_bundle
                  to apply

                  spec changes.

                  Without conversation_id: legacy behaviour, returns full bundle_zip_b64.

                  '
              parameters:
                baseUrl:
                  auto: 0
                  value:
                    type: mixed
                    value: https://staging.avniproject.org
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                includeLocations:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'When conversation_id is provided: downloads the org''s
                current bundle, stores

                it server-side under ''{conversation_id}:existing'' (TTL 6h), and
                returns a

                summary only — bundle_zip_b64 never reaches the LLM. Afterwards use

                get_bundle_files/get_bundle_file to inspect it, or patch_bundle to
                apply

                spec changes.

                Without conversation_id: legacy behaviour, returns full bundle_zip_b64.

                '
              tool_label: download_bundle_b64
              tool_name: download_bundle_b64
              type: api
            - enabled: true
              extra:
                description: 'Surgical edit — replaces a single top-level YAML key
                  and re-stores the spec.

                  Use to fix one section (e.g. encounterTypes) without rewriting the
                  whole spec.

                  Provide either ''value'' (parsed object) or ''yaml_fragment'' (YAML
                  string).

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
                value:
                  auto: 1
                  value: null
                yaml_fragment:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Surgical edit — replaces a single top-level YAML
                key and re-stores the spec.

                Use to fix one section (e.g. encounterTypes) without rewriting the
                whole spec.

                Provide either ''value'' (parsed object) or ''yaml_fragment'' (YAML
                string).

                '
              tool_label: update_spec_section
              tool_name: update_spec_section
              type: api
            - enabled: false
              extra:
                description: Decodes a base64-encoded Excel SRS file, runs the deterministic
                  scoping_parser server-side, and stores the resulting entities under
                  conversation_id. Returns ok=true with entity counts on success,
                  ok=false with error on parse failure.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                file_infos:
                  auto: 0
                  value:
                    type: constant
                    value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Decodes a base64-encoded Excel SRS file, runs the
                deterministic scoping_parser server-side, and stores the resulting
                entities under conversation_id. Returns ok=true with entity counts
                on success, ok=false with error on parse failure.
              tool_label: parse_srs_file
              tool_name: parse_srs_file
              type: api
            - enabled: true
              extra:
                description: 'Fetches up to six resource arrays from the Avni server.
                  Use the optional

                  query params to limit what is returned and avoid large context payloads.

                  Default cap per array: MAX_CONFIG_ITEMS env var (100 items). Pass
                  max_items=0

                  for unlimited. Truncated arrays include a companion ''{key}_truncated''
                  object

                  with {truncated: true, total: N, returned: M}.

                  '
              parameters:
                max_items:
                  auto: 1
                  value: null
                sections:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Fetches up to six resource arrays from the Avni server.
                Use the optional

                query params to limit what is returned and avoid large context payloads.

                Default cap per array: MAX_CONFIG_ITEMS env var (100 items). Pass
                max_items=0

                for unlimited. Truncated arrays include a companion ''{key}_truncated''
                object

                with {truncated: true, total: N, returned: M}.

                '
              tool_label: get_existing_config
              tool_name: get_existing_config
              type: api
            - enabled: true
              extra:
                description: 'Call this after every significant action (tool call,
                  decision, error) to build

                  a traceable history for the current conversation. Required by the
                  agent rules.

                  Entries are retained for 24 h and viewable at GET /agent-logs/{conversation_id}.

                  '
              parameters:
                action:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                error:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                step:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Call this after every significant action (tool call,
                decision, error) to build

                a traceable history for the current conversation. Required by the
                agent rules.

                Entries are retained for 24 h and viewable at GET /agent-logs/{conversation_id}.

                '
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: 'Runs Python code in a per-conversation silo directory.
                  Always pass conversation_id (required for auth).


                  For large inputs: use input_bundle_files to copy bundle files into
                  the silo before execution —

                  the script can then open them as local files (e.g. open("concepts.json"))
                  without any token cost.


                  For large outputs: have the script write to files (e.g. open("output.json","w").write(...))

                  and read them back with read_silo_file using offset/limit pagination.


                  stdout/stderr are truncated at 2000 chars inline. If truncated,
                  use read_silo_file to read

                  any output files the script wrote.

                  '
              parameters:
                code:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                input_bundle_files:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Runs Python code in a per-conversation silo directory.
                Always pass conversation_id (required for auth).


                For large inputs: use input_bundle_files to copy bundle files into
                the silo before execution —

                the script can then open them as local files (e.g. open("concepts.json"))
                without any token cost.


                For large outputs: have the script write to files (e.g. open("output.json","w").write(...))

                and read them back with read_silo_file using offset/limit pagination.


                stdout/stderr are truncated at 2000 chars inline. If truncated, use
                read_silo_file to read

                any output files the script wrote.

                '
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: 'Pages through a file in the conversation silo. Use this
                  to read large outputs written by

                  execute_python scripts without flooding the agent context. Repeat
                  with increasing offset

                  while has_more=true.

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
                limit:
                  auto: 1
                  value: null
                offset:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Pages through a file in the conversation silo. Use
                this to read large outputs written by

                execute_python scripts without flooding the agent context. Repeat
                with increasing offset

                while has_more=true.

                '
              tool_label: read_silo_file
              tool_name: read_silo_file
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Extracts entities from SRS, generates and validates bundle via tools
        error_strategy: fail-branch
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Bundle Agent
        tool_node_version: '2'
        type: agent
      height: 312
      id: '17756450495350'
      position:
        x: 3178
        y: 725
      positionAbsolute:
        x: 3178
        y: 725
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: '{{#17756450495350.text#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: Response
        type: answer
        variables: []
      height: 104
      id: '17756450495361'
      position:
        x: 3520
        y: 777
      positionAbsolute:
        x: 3520
        y: 777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: BUNDLE_AGENT_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/bundle-agent-prompt.txt
        variables: []
      height: 205
      id: '1775646587226'
      position:
        x: 2816
        y: 863
      positionAbsolute:
        x: 2816
        y: 863
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-73
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "auth_token":
              "{{#conversation.auth_token#}}"}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Store Avni Auth-Token
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}store-auth-token'
        variables: []
      height: 177
      id: '1775648480416'
      position:
        x: 2454
        y: 922
      positionAbsolute:
        x: 2454
        y: 922
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - avni_ai_server_url
          variable_selector:
          - conversation
          - avni_ai_server_url
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - org_name
          variable_selector:
          - conversation
          - org_name
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - setup_mode_active
          write_mode: over-write
        selected: false
        title: Conversation Variables Assigner
        type: assigner
        version: '2'
      height: 162
      id: '1775657870619'
      position:
        x: 362
        y: 624
      positionAbsolute:
        x: 362
        y: 624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Type: {{#17756450495350.error_type#}}


          Message: {{#17756450495350.error_message#}}'
        selected: false
        title: Agent Error
        type: answer
        variables: []
      height: 123
      id: '1775658332808'
      position:
        x: 3540
        y: 1044
      positionAbsolute:
        x: 3540
        y: 1044
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 3066368b-a96a-4f38-ad75-aa53556e44f8
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1775719228711'
      position:
        x: 1388
        y: 906
      positionAbsolute:
        x: 1388
        y: 906
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -354.75
      y: 260.75
      zoom: 0.25
  rag_pipeline_variables: []
