dify/Avni [Staging] Sub-Agentic Assistant.yml
app:
  description: Avni AI Assistant
  icon: b849950f-3cae-4021-afc0-ce88c5d12035
  icon_background: ''
  icon_type: image
  mode: advanced-chat
  name: Avni [Staging] Sub-Agentic Assistant
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: ''
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: ''
    id: c6cba07c-9187-4228-842f-42a0e3f2f709
    name: org_name
    selector:
    - conversation
    - org_name
    value: ''
    value_type: string
  - description: ''
    id: 0afa1396-e90b-4bbe-aa59-9f4e870a4792
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: ''
    id: 93cecf97-c283-40f6-a8bd-efd306bd94b1
    name: avni_ai_server_url
    selector:
    - conversation
    - avni_ai_server_url
    value: https://staging-ai.avniproject.org/
    value_type: string
  - description: ''
    id: a1d26303-4267-47ef-8662-2b246b1079f1
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: ''
    id: 133121cd-ffdc-4b00-a6d4-50e44d42e9d0
    name: active_agent
    selector:
    - conversation
    - active_agent
    value: ''
    value_type: string
  - description: ''
    id: e70690cc-336c-46f4-b20b-576153bbb9b7
    name: agent_memory
    selector:
    - conversation
    - agent_memory
    value: ''
    value_type: string
  - description: ''
    id: 4b1f4a64-c732-4f11-acb3-a6ecd9214738
    name: agent_loop_active
    selector:
    - conversation
    - agent_loop_active
    value: false
    value_type: boolean
  - description: ''
    id: 467f932c-99b5-443b-902f-55c458b858b2
    name: workflow_mode
    selector:
    - conversation
    - workflow_mode
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .xlsx
      - .csv
      - .json
      - .zip
      - .txt
      allowed_file_types:
      - document
      - custom
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: Hey {{user_name}} ! I’m your AI assistant . I can help you
      with any questions about Avni — from creating new forms automatically to guiding
      you through the platform. How can I help you today?
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      config:
        inputs_config:
          enabled: true
          preset_response: In-appropriate input, only designed to help with Avni implementation
            tasks.
        outputs_config:
          enabled: true
          preset_response: I apologize, but I can only provide assistance with Avni
            implementation topics.
      enabled: true
      type: openai_moderation
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1757492907627-source-1757493270484-target
      selected: false
      source: '1757492907627'
      sourceHandle: source
      target: '1757493270484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1757495664531-source-1757495688732-target
      selected: false
      source: '1757495664531'
      sourceHandle: source
      target: '1757495688732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-3489d477-53a2-4b99-9f40-af010262a1c1-1758608702077-target
      selected: false
      source: '1757493270484'
      sourceHandle: 3489d477-53a2-4b99-9f40-af010262a1c1
      target: '1758608702077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-8ad5b2c6-6d29-4e4f-9f13-7682d4803a70-1758699378772-target
      selected: false
      source: '1757493270484'
      sourceHandle: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528708197-source-1758713692744-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1758713692744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1758713692744-source-1757492907627-target
      selected: false
      source: '1758713692744'
      sourceHandle: source
      target: '1757492907628'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1757492907628-source-1757492907627-target
      selected: false
      source: '1757492907628'
      sourceHandle: source
      target: '1757492907627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-false-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'false'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-true-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'true'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1775719228711-false-1775648480416-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'false'
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1775719228711-true-1775800000001-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'true'
      target: '1775800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1775800000001-source-1775800000002-target
      selected: false
      source: '1775800000001'
      sourceHandle: source
      target: '1775800000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1775800000002-source-1775648480416-target
      selected: false
      source: '1775800000002'
      sourceHandle: source
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1711528708197-source-1775657870619-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1775657870619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1757493270484-case-agent-work-1800000000040-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-agent-work
      target: '1800000000040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1757493270484-case-bundle-setup-1800000000040-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-bundle-setup
      target: '1800000000040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1800000000040-source-1775719228711-target
      selected: false
      source: '1800000000040'
      sourceHandle: source
      target: '1775719228711'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: loop
      id: 1775648480416-source-1800000000700-target
      selected: false
      source: '1775648480416'
      sourceHandle: source
      target: '1800000000700'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775648480416-fail-branch-1800000000112-target
      selected: false
      source: '1775648480416'
      sourceHandle: fail-branch
      target: '1800000000112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775800000002-fail-branch-1800000000112-target
      selected: false
      source: '1775800000002'
      sourceHandle: fail-branch
      target: '1800000000112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: loop
        targetType: answer
      id: 1800000000700-source-1800000000801-target
      selected: false
      source: '1800000000700'
      sourceHandle: source
      target: '1800000000801'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1800000000801-source-1800000000800-target
      selected: false
      source: '1800000000801'
      sourceHandle: source
      target: '1800000000800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: loop-start
        targetType: if-else
      id: 1800000000700start-source-1800000000710-target
      selected: false
      source: 1800000000700start
      sourceHandle: source
      target: '1800000000710'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-spec-1800000000101-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-spec
      target: '1800000000101'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-bundle-config-1800000000201-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-bundle-config
      target: '1800000000201'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-rules-1800000000301-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-rules
      target: '1800000000301'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-reports-1800000000401-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-reports
      target: '1800000000401'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-inspect-1800000000501-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-inspect
      target: '1800000000501'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-admin-1800000000601-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-admin
      target: '1800000000601'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: code
      id: 1800000000710-false-1800000000720-target
      selected: false
      source: '1800000000710'
      sourceHandle: 'false'
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000101-source-1800000000110-target
      selected: false
      source: '1800000000101'
      sourceHandle: source
      target: '1800000000110'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000201-source-1800000000210-target
      selected: false
      source: '1800000000201'
      sourceHandle: source
      target: '1800000000210'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000301-source-1800000000310-target
      selected: false
      source: '1800000000301'
      sourceHandle: source
      target: '1800000000310'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000401-source-1800000000410-target
      selected: false
      source: '1800000000401'
      sourceHandle: source
      target: '1800000000410'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000501-source-1800000000510-target
      selected: false
      source: '1800000000501'
      sourceHandle: source
      target: '1800000000510'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000601-source-1800000000610-target
      selected: false
      source: '1800000000601'
      sourceHandle: source
      target: '1800000000610'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000110-source-1800000000720-target
      selected: false
      source: '1800000000110'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000210-source-1800000000720-target
      selected: false
      source: '1800000000210'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000310-source-1800000000720-target
      selected: false
      source: '1800000000310'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000410-source-1800000000720-target
      selected: false
      source: '1800000000410'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000510-source-1800000000720-target
      selected: false
      source: '1800000000510'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000610-source-1800000000720-target
      selected: false
      source: '1800000000610'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000110-fail-branch-1800000000760-target
      selected: false
      source: '1800000000110'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000210-fail-branch-1800000000760-target
      selected: false
      source: '1800000000210'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000310-fail-branch-1800000000760-target
      selected: false
      source: '1800000000310'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000410-fail-branch-1800000000760-target
      selected: false
      source: '1800000000410'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000510-fail-branch-1800000000760-target
      selected: false
      source: '1800000000510'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000610-fail-branch-1800000000760-target
      selected: false
      source: '1800000000610'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000101-fail-branch-1800000000760-target
      selected: false
      source: '1800000000101'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000201-fail-branch-1800000000760-target
      selected: false
      source: '1800000000201'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000301-fail-branch-1800000000760-target
      selected: false
      source: '1800000000301'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000401-fail-branch-1800000000760-target
      selected: false
      source: '1800000000401'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000501-fail-branch-1800000000760-target
      selected: false
      source: '1800000000501'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000601-fail-branch-1800000000760-target
      selected: false
      source: '1800000000601'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: code
        targetType: assigner
      id: 1800000000720-source-1800000000730-target
      selected: false
      source: '1800000000720'
      sourceHandle: source
      target: '1800000000730'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: assigner
        targetType: code
      id: 1800000000730-source-1800000000740-target
      selected: false
      source: '1800000000730'
      sourceHandle: source
      target: '1800000000740'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: code
        targetType: if-else
      id: 1800000000740-source-1800000000745-target
      selected: false
      source: '1800000000740'
      sourceHandle: source
      target: '1800000000745'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: assigner
      id: 1800000000745-loop-done-1800000000751-target
      selected: false
      source: '1800000000745'
      sourceHandle: loop-done
      target: '1800000000751'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: assigner
      id: 1800000000745-false-1800000000752-target
      selected: false
      source: '1800000000745'
      sourceHandle: 'false'
      target: '1800000000752'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_ai_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_ai_server_url
      height: 257
      id: '1711528708197'
      position:
        x: 0
        y: 2032
      positionAbsolute:
        x: 0
        y: 2032
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: b14eb575-d615-41dd-aac1-00663db3a6eb
          role: system
          text: "You are the Avni Platform Orchestrator of the Avni AI Assistant.\
            \ Route user messages based on their PRIMARY INTENT, not the complexity\
            \ or specificity of their\nquestion.\n\n<context>\n{{#context#}}\n</context>\n\
            \nFile upload status: {{#1757492907628.file_info#}}\n\
            \n## Core Routing Logic\n\n\n**OVERRIDE RULES**:\n1. If a message is clearly\
            \ NOT about Avni or data collection platforms → OUT_OF_SCOPE\n2. If a\
            \ message starts with capability questions (\"Is it possible\", \"Can\
            \ Avni\", \"Does Avni support\", \"Is there a way\", \"How can I\"), it\
            \ is ALWAYS RAG regardless of complexity.\n\n\n### BUNDLE_SETUP — Program\
            \ Setup from Uploaded SRS/Specification Files\n\n**Priority: HIGHEST —\
            \ evaluate before RAG and ASSISTANT**\n\n**Route BUNDLE_SETUP when ANY\
            \ of the following:**\n1. The file upload status above shows files were uploaded\
            \ (has_files = true)\n2. User's message mentions uploading a file, SRS,\
            \ scoping sheet, or specification document\n3. `conversation.setup_mode_active\
            \ == true` — already in an active bundle setup workflow (follow-up turn:\
            \ \"what\\'s next?\", \"proceed\", \"approve\", etc.)\n3. User explicitly\
            \ says \"upload SRS\", \"upload spec\", \"upload field workflow\",\
            \ \"generate bundle from file\"\
            \n\n**When routing BUNDLE_SETUP, ALWAYS set initial_agent = \\\"spec\\\"\
            \ and workflow_mode = \\\"generic\\\"**. The spec agent must run first\
            \ to parse the SRS and extract entities before bundle generation.\n\n\
            **Do NOT route here for:**\n- Verbal SRS description without a file\
            \ → ASSISTANT\n- General Avni platform questions → RAG\n\n\n### RAG -\
            \ Platform Knowledge & Capabilities\n\n\n**Primary Intent**: Learning\
            \ what Avni can/cannot do\n\n\n**Definitive Indicators** (Route to RAG\
            \ even if complex):\n- \"What is Avni?\" → RAG (basic platform knowledge)\n\
            - \"Tell me about Avni\" → RAG (platform overview)\n- \"Is it possible\
            \ to...\" → RAG (capability inquiry)\n- \"Can Avni...\" → RAG (platform\
            \ capability)\n- \"Does Avni support...\" → RAG (feature question)\n-\
            \ \"Is there a way to...\" → RAG (method inquiry)\n- \"How can I...\"\
            \ → RAG (step-by-step guidance inquiry)\n- \"What are the limitations\
            \ of...\" → RAG (constraint question)\n- \"How does Avni handle...\" →\
            \ RAG (mechanism inquiry)\n\n\n**Key Principle**: Complexity of the scenario\
            \ does NOT change the\nintent. A detailed capability question is still\
            \ a capability question.\n\n\n\n### ASSISTANT - Custom/Novel Requirements\n\
            \n\n**Primary Intent**: Building something new or unique\n\n\n**Indicators**:\
            \ - \"We need something that doesn't exist...\" - \"Can you\nbuild/create/develop...\"\
            \ - \"We have unique requirements...\" -\n\"Integration with external\
            \ system X...\" - \"Delete everything and start fresh...\" - \"Clean slate\
            \ configuration...\" - \"Remove all my current setup...\"\n\n\n### OUT_OF_SCOPE\
            \ - Not Avni Related\n\n\n**Primary Intent**: Questions completely unrelated\
            \ to Avni or data collection platforms\n\n\n**Definitive Indicators**:\n\
            - Questions for which no relevant context available in this prompt\n-\
            \ General programming/coding questions not specific to Avni\n- Questions\
            \ about other software platforms (Salesforce, Excel, etc.)\n- Personal\
            \ questions, weather, news, entertainment\n- Academic questions unrelated\
            \ to health/social programs\n- Technical questions about non-Avni systems\n\
            - \"What is the capital of...\" / \"How do I cook...\" / \"What's the\
            \ weather...\"\n- Questions about competitors without Avni context\n\n\
            \n\n**EXCEPTION**: Greeting messages (\"Hi\", \"Hello\", \"Good morning\"\
            ) should NOT be marked as OUT_OF_SCOPE. These require clarification to\
            \ understand the user's actual intent.\n\n\n## Decision Framework\n\n\n\
            **Step 1**: Check relevance - If clearly NOT about Avni/data collection\
            \ → OUT_OF_SCOPE (STOP HERE)\n**EXCEPTION**: If greeting message → Set\
            \ clarification_needed = true\n\n\n**Step 2**: Identify the question type\
            \ - If starts with capability\nquestions → RAG (STOP HERE) - If describes\
            \ implementation needs →\nASSISTANT - If requests deletion/configuration\
            \ changes → ASSISTANT\n\n\n## Critical Examples\n\n✅ User uploads Excel/CSV/ZIP\
            \ file → **BUNDLE_SETUP** (highest priority)\n✅ \"Proceed with the spec\"\
            \ when setup_mode_active=true → **BUNDLE_SETUP** (follow-up)\n✅ \"Here\
            \ is my SRS\" (with file attached) → **BUNDLE_SETUP**\n\n✅ \"What is Avni?\"\
            \ → **RAG** (basic platform knowledge)\n\n✅ \"Tell me about Avni platform\"\
            \ → **RAG** (platform overview)\n\n✅ \"What does Avni do?\" → **RAG**\
            \ (platform purpose/functionality)\n\n✅ \"Is it possible to automatically\
            \ show selected answers from Clinical\nAssessment in Follow-up Visit forms?\"\
            \ → **RAG** (capability question,\nregardless of technical complexity)\n\
            \n✅ \"Can Avni restrict encounter forms to single entry per individual?\"\
            \ →\n**RAG** (capability question)\n\n✅ \"Is there a way to integrate\
            \ complex multi-step approval workflows?\"\n→ **RAG** (capability question,\
            \ even if the workflow is complex)\n\n✅ \"What are catchments\"\n✅ \"\
            What are user groups\"\n✅ \"What are identifiers\"\n✅ \"What is an identifier\
            \ source\"\n✅ \"How do I create a new catchment\"\n✅ \"What is a program\"\
            \n✅ \"What is a subject type\"\n✅ \"How can I setup the assignment feature\
            \ in Avni?\" → **RAG** (step-by-step guidance question)\n\n✅ \"I want\
            \ to delete my entire configuration and start fresh\" → **ASSISTANT**\
            \ (implementation request for complete deletion)\n\n✅ \"Can you help me\
            \ clean slate my Avni setup?\" → **ASSISTANT** (configuration deletion\
            \ and rebuild request)\n\n✅ \"Remove everything and build a new configuration\"\
            \ → **ASSISTANT** (delete and create request)\n\n\n\n✅ \"What is the capital\
            \ of France?\" → **OUT_OF_SCOPE** (not related to Avni)\n\n\n✅ \"How do\
            \ I write Python code for web scraping?\" → **OUT_OF_SCOPE** (general\
            \ programming, not Avni-specific)\n\n\n✅ \"Can you help me with my Excel\
            \ formulas?\" → **OUT_OF_SCOPE** (different platform)\n\n\n✅ \"Hello\"\
            \ → **RAG** with clarification_needed = true (greeting requires clarification)\n\
            \n\n✅ \"Hi there\" → **RAG** with clarification_needed = true (greeting\
            \ requires clarification)\n\n\n❌ **WRONG**: \"Sounds complex/custom →\
            \ ASSISTANT\" ✅ **CORRECT**:\n\"Starts with capability question → RAG\"\
            \n\n\n## Common Misrouting Traps to Avoid\n\n\n**Trap 1**: Complexity\
            \ Bias - ❌ \"Complex scenario = custom work =\nASSISTANT\" - ✅ \"Capability\
            \ question = platform inquiry = RAG\"\n\n\n**Trap 2**: Implementation\
            \ Details Bias - ❌ \"Mentions specific\ntechnical details = ASSISTANT\"\
            \ - ✅ \"Asking IF it's possible = RAG\"\n\n\n**Trap 3**: Domain Specificity\
            \ Bias - ❌ \"Very specific use case =\nASSISTANT\" - ✅ \"Question format\
            \ determines intent\"\n\n\n**Trap 4**: Relevance Assumption - ❌ \"Any\
            \ question = must be Avni-related\" - ✅ \"Check if actually about Avni/data\
            \ collection first\"\n\n\n**Trap 5**: Greeting Misrouting - ❌ \"Greeting\
            \ = OUT_OF_SCOPE\" - ✅ \"Greeting = needs clarification to understand\
            \ intent\"\n\n\n## Response Format\n\n\n``` json\n{\n  \"service\": \"\
            RAG|ASSISTANT|BUNDLE_SETUP|OUT_OF_SCOPE\",\n  \"initial_agent\"\
            : \"spec|bundle_config|rules|reports|inspect|admin\",\n  \"workflow_mode\"\
            : \"targeted|generic\",\n  \"confidence\": 0.0-1.0,\n  \"question_type\"\
            : \"capability_inquiry|implementation_request|novel_requirement|not_avni_related\"\
            ,\n  \"routing_reason\": \"Brief explanation focusing on question structure,\
            \ not content complexity\",\n  \"clarification_needed\": true|false,\n\
            \  \"clarifying_questions\": [\"question1\", \"question2\"]\n}\n```\n\n\
            \n## Clarifying Questions Strategy\n\n\nAsk maximum 2 clarifying questions\
            \ when:\n- Intent is ambiguous between RAG and Assistant\n- User provides\
            \ insufficient context about their needs\n- Requirements could match multiple\
            \ services\n- User sends only greeting messages without specific questions\n\
            \n\n**Example clarifying questions:**\n- \"Could you describe what type\
            \ of programs your organization runs?\"\n- \"Are you looking to learn\
            \ about Avni's capabilities or need help setting something up?\"\n- \"\
            Is this similar to typical community health/education programs?\"\n- \"\
            How can I help you with Avni today?\" (for greetings)\n\n\n**General Prompt\
            \ for Clarification:** When unsure, ask concise,\nopen-ended clarifying\
            \ questions that help determine whether the user is\nasking about platform\
            \ capabilities (RAG) or needs implementation help\n(ASSISTANT). Never\
            \ ask more than two questions at once.\n\n\n## Mental Model Validation\n\
            \n\nBefore routing, ask:\n1. **\"Is this just a greeting message?\"**\
            \ - YES → RAG with clarification_needed = true\n2. **\"Is this question\
            \ actually about Avni or data collection platforms?\"** - NO → OUT_OF_SCOPE\n\
            3. **\"Is the user asking IF something is possible, or telling me they\
            \ WANT something implemented?\"** - IF possible → RAG - WANT implemented\
            \ → ASSISTANT\n\n\n## Decision Tree for Edge Cases\n\n\n    User Message\n\
            \        │\n        ├── NOT about Avni/data collection (general questions,\
            \ other platforms)?\n        │   └── YES → OUT_OF_SCOPE\n        │\n \
            \       ├── Starts with \"Is it possible...\" / \"Can Avni...\" / \"Does\
            \ Avni...\" / \"How can I...\" ?\n        │   └── YES → RAG (regardless\
            \ of complexity)\n        │\n        ├── Describes implementation needs\
            \ (\"We need...\", \"Help us set up...\", \"Our org wants...\") or deletion\
            \       requests (\"Delete everything...\", \"Clean slate...\", \"Remove\
            \ all...\")?\n        │   └── YES → ASSISTANT\n        │\n        └──\
            \ UNCLEAR → Default to RAG (safer for capability questions)"
        - id: 36b2faa1-0e45-4962-8107-74a07045af09
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              clarification_needed:
                type: boolean
              clarifying_questions:
                items:
                  type: string
                type: array
              confidence:
                type: number
              initial_agent:
                type: string
              question_type:
                type: string
              routing_reason:
                type: string
              service:
                type: string
              workflow_mode:
                type: string
            required:
            - service
            - initial_agent
            - workflow_mode
            - confidence
            - question_type
            - routing_reason
            - clarification_needed
            - clarifying_questions
            type: object
        structured_output_enabled: true
        title: Orchestrator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1757492907627'
      position:
        x: 684
        y: 2074
      positionAbsolute:
        x: 684
        y: 2074
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(files: list) -> dict:\n    if files and len(files) > 0:\n\
          \        names = [f.get(\"filename\", f.get(\"name\", \"unknown\")) for f\
          \ in files if isinstance(f, dict)]\n        return {\"has_files\": True,\
          \ \"file_info\": f\"User uploaded {len(files)} file(s): {', '.join(names)}\"\
          }\n    return {\"has_files\": False, \"file_info\": \"No files uploaded\"\
          }\n"
        code_language: python3
        outputs:
          file_info:
            type: string
          has_files:
            type: boolean
        selected: false
        title: Check Files
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
      height: 52
      id: '1757492907628'
      position:
        x: 500
        y: 2074
      positionAbsolute:
        x: 500
        y: 2074
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 3489d477-53a2-4b99-9f40-af010262a1c1
          conditions:
          - comparison_operator: is
            id: 93fbecf3-5468-4878-84ce-37c7cfa15625
            value: 'true'
            varType: object
            variable_selector:
            - '1757492907627'
            - structured_output
            - clarification_needed
          - comparison_operator: <
            id: 964871af-0fc9-45e9-a795-d2fda4b4ad34
            value: '0.8'
            varType: number
            variable_selector:
            - '1757492907627'
            - structured_output
            - confidence
          id: 3489d477-53a2-4b99-9f40-af010262a1c1
          logical_operator: and
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: fb0a1b2b-46e8-4a67-8b98-b44ea87869db
            value: RAG
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 'true'
          logical_operator: and
        - case_id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          conditions:
          - comparison_operator: is
            id: beb8a551-f66d-4add-9480-bb9c185119f4
            value: OUT_OF_SCOPE
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          logical_operator: and
        - case_id: case-agent-work
          conditions:
          - comparison_operator: is
            id: c3b0ee63-3c37-45ad-a05e-0f7b28599a90
            value: ASSISTANT
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-agent-work
          logical_operator: and
        - case_id: case-bundle-setup
          conditions:
          - comparison_operator: is
            id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
            value: BUNDLE_SETUP
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-bundle-setup
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 414
      id: '1757493270484'
      position:
        x: 1026
        y: 1911
      positionAbsolute:
        x: 1026
        y: 1911
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.3
          mode: chat
          name: claude-sonnet-4-6
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 5aa1519b-cc32-4d81-aaa2-c2e8e6b46c0c
          role: system
          text: "Use the following context as your learned knowledge, inside <context></context>\
            \ XML tags.\n<context>\n{{#context#}}\n</context>\nYou are talking to\
            \ {{#1711528708197.user_name#}}from {{#1711528708197.org_name#}}\nYou\
            \ are part of the Avni AI Assistant. The Avni AI Assistant is capable\
            \ of the following\n1. Answering questions about the Avni system\n\
            2. Assistance with designing workflows, forms, rules, reports, and full\
            \ program setup on Avni\n\nYou must not guess or invent Avni features, workflows, or UI options\
            \ that are not explicitly known.\n\nWhen answer to user:\n- If you don't\
            \ know, just say that you don't know.\n- If you don't know when you are\
            \ not sure, ask for clarification.\n- If greeting, greet professionaly\
            \ by their name :  {{#1711528708197.user_name#}}\n- Do not greet repeatedly\
            \ in every response.\n- Never infer or assume features (e.g., don't claim\
            \ a program can be assigned to a catchment unless explicitly supported).\n\
            - If there is any ambiguity, ask a clarifying question instead of guessing.\n\
            \  Avoid mentioning that you obtained the information from the context.\n\
            \  And answer according to the language of the user's question."
        selected: false
        title: RAG LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1757495664531'
      position:
        x: 1388
        y: 2191
      positionAbsolute:
        x: 1388
        y: 2191
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1757495664531.text#}}'
        desc: ''
        selected: false
        title: RAG Answer
        type: answer
        variables: []
      height: 103
      id: '1757495688732'
      position:
        x: 1730
        y: 2183
      positionAbsolute:
        x: 1730
        y: 2183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Hey {{#1711528708197.user_name#}}I need some clarification.{{#1757492907627.structured_output.clarifying_questions#}}
        selected: false
        title: Clarify the question
        type: answer
        variables: []
      height: 137
      id: '1758608702077'
      position:
        x: 1388
        y: 1762
      positionAbsolute:
        x: 1388
        y: 1762
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: This assistant can help you with any questions related to Avni. This
          does not seem relevant to Avni.
        selected: false
        title: Unrelated Question
        type: answer
        variables: []
      height: 132
      id: '1758699378772'
      position:
        x: 1388
        y: 1979
      positionAbsolute:
        x: 1388
        y: 1979
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 9TmCqtDyQNUaJCKXT7rPGCd21br8q6JzrrUr4xib3E9uqcfMf6t6rxJkkXFK7EzL
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1758713692744'
      position:
        x: 342
        y: 2073
      positionAbsolute:
        x: 342
        y: 2073
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files:\n\
          \        return {\"file_infos_json\": \"[]\"}\n    infos = [           \
          \                                                                \n    \
          \    {\"url\": f.get(\"url\", \"\"), \"filename\": f.get(\"filename\", \"\
          document.xlsx\")}\n        for f in files                              \
          \                                    \n        if f.get(\"url\")       \
          \                            \n    ]                                   \
          \                                                \n    return {\"file_infos_json\"\
          : json.dumps(infos)}"
        code_language: python3
        desc: Extract pre-signed URLs and filenames — backend downloads the files
        outputs:
          file_infos_json:
            type: string
        selected: false
        title: Extract File Infos
        type: code
        variables:
        - value_selector:
          - sys
          - files
          variable: files
      height: 112
      id: '1775800000001'
      position:
        x: 2092
        y: 2524
      positionAbsolute:
        x: 2092
        y: 2524
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: parse-srs-file-body
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "file_infos":
              {{#1775800000001.file_infos_json#}}}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Parse SRS File
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}parse-srs-file'
        variables: []
      height: 177
      id: '1775800000002'
      position:
        x: 2434
        y: 2491
      positionAbsolute:
        x: 2434
        y: 2491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-73
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "auth_token":
              "{{#conversation.auth_token#}}"}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Store Avni Auth-Token
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}store-auth-token'
        variables: []
      height: 177
      id: '1775648480416'
      position:
        x: 2796
        y: 2381
      positionAbsolute:
        x: 2796
        y: 2381
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - avni_ai_server_url
          variable_selector:
          - conversation
          - avni_ai_server_url
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - org_name
          variable_selector:
          - conversation
          - org_name
          write_mode: over-write
        selected: false
        title: Conversation Variables Assigner
        type: assigner
        version: '2'
      height: 136
      id: '1775657870619'
      position:
        x: 362
        y: 2243
      positionAbsolute:
        x: 362
        y: 2243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 3066368b-a96a-4f38-ad75-aa53556e44f8
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1775719228711'
      position:
        x: 1730
        y: 2366
      positionAbsolute:
        x: 1730
        y: 2366
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1757492907627'
          - structured_output
          - initial_agent
          variable_selector:
          - conversation
          - active_agent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1757492907627'
          - structured_output
          - workflow_mode
          variable_selector:
          - conversation
          - workflow_mode
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        selected: false
        title: Set Initial Agent
        type: assigner
        version: '2'
      height: 136
      id: '1800000000040'
      position:
        x: 1388
        y: 2360
      positionAbsolute:
        x: 1388
        y: 2360
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        break_conditions:
        - comparison_operator: is
          id: 9b674a5a-6ccb-4687-929b-b238615dd49a
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - agent_loop_active
        error_handle_mode: terminated
        height: 2452
        logical_operator: and
        loop_count: 10
        loop_variables:
        - id: a416f73e-492a-44c9-9b05-4e9576a5b7ef
          label: agent_loop_active
          value:
          - conversation
          - agent_loop_active
          value_type: variable
          var_type: boolean
        - id: cd56c7bd-76ad-4c96-a8af-31e0ee630096
          label: output
          value:
          - conversation
          - agent_memory
          value_type: variable
          var_type: string
        selected: false
        start_node_id: 1800000000700start
        title: Agent Loop
        type: loop
        width: 4000
      height: 2452
      id: '1800000000700'
      position:
        x: 3158
        y: 0
      positionAbsolute:
        x: 3158
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 4000
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1800000000700start
      parentId: '1800000000700'
      position:
        x: 60
        y: 703
      positionAbsolute:
        x: 3218
        y: 703
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        cases:
        - case_id: dispatch-spec
          conditions:
          - comparison_operator: is
            id: fb4db41d-7c66-4527-a8dd-14c4db83b4ac
            value: spec
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-spec
          logical_operator: and
        - case_id: dispatch-bundle-config
          conditions:
          - comparison_operator: is
            id: b6837b40-e213-494d-8d55-cfc6f97a2861
            value: bundle_config
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-bundle-config
          logical_operator: and
        - case_id: dispatch-rules
          conditions:
          - comparison_operator: is
            id: f1f9d6d2-27a3-4374-984e-854d53b71595
            value: rules
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-rules
          logical_operator: and
        - case_id: dispatch-reports
          conditions:
          - comparison_operator: is
            id: 6366d54a-6309-4686-940f-529d821f5ba9
            value: reports
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-reports
          logical_operator: and
        - case_id: dispatch-inspect
          conditions:
          - comparison_operator: is
            id: fdf911b5-3c56-4bf0-a69f-ed75d5f5e237
            value: inspect
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-inspect
          logical_operator: and
        - case_id: dispatch-admin
          conditions:
          - comparison_operator: is
            id: afe3f421-0d0b-4367-b96b-37d80d813f6b
            value: admin
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-admin
          logical_operator: and
        desc: ''
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Agent Dispatcher
        type: if-else
      height: 364
      id: '1800000000710'
      parentId: '1800000000700'
      position:
        x: 184
        y: 545
      positionAbsolute:
        x: 3342
        y: 545
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: SPEC_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/spec-agent.txt
        variables: []
      height: 205
      id: '1800000000101'
      parentId: '1800000000700'
      position:
        x: 526
        y: 60
      positionAbsolute:
        x: 3684
        y: 60
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: BUNDLE_CONFIG_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/bundle-config-agent.txt
        variables: []
      height: 221
      id: '1800000000201'
      parentId: '1800000000700'
      position:
        x: 526
        y: 590
      positionAbsolute:
        x: 3684
        y: 590
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: RULES_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/rules-agent.txt
        variables: []
      height: 205
      id: '1800000000301'
      parentId: '1800000000700'
      position:
        x: 526
        y: 871
      positionAbsolute:
        x: 3684
        y: 871
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: REPORTS_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/reports-agent.txt
        variables: []
      height: 205
      id: '1800000000401'
      parentId: '1800000000700'
      position:
        x: 526
        y: 1136
      positionAbsolute:
        x: 3684
        y: 1136
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: INSPECTOR_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/config-inspector-agent.txt
        variables: []
      height: 221
      id: '1800000000501'
      parentId: '1800000000700'
      position:
        x: 526
        y: 1401
      positionAbsolute:
        x: 3684
        y: 1401
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: ADMIN_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/admin-agent.txt
        variables: []
      height: 205
      id: '1800000000601'
      parentId: '1800000000700'
      position:
        x: 526
        y: 325
      positionAbsolute:
        x: 3684
        y: 325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000101.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Retrieve the stored SRS document text for this conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the stored SRS document text for this conversation
              tool_label: get_srs_text
              tool_name: get_srs_text
              type: api
            - enabled: true
              extra:
                description: Cache entities server-side by conversation_id (TTL 6h)
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                entities:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Cache entities server-side by conversation_id (TTL 6h)
              tool_label: store_entities
              tool_name: store_entities
              type: api
            - enabled: true
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: true
              extra:
                description: Apply corrections to extracted entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                corrections:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: true
              extra:
                description: Generate a YAML spec from stored entities and store it server-side
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                org_name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate a YAML spec from stored entities and store it server-side
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: true
              extra:
                description: Retrieve the full stored spec YAML for display to the user
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full stored spec YAML for display to the user
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              extra:
                description: Fetch one top-level section from the stored spec
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Fetch one top-level section from the stored spec
              tool_label: get_spec_section
              tool_name: get_spec_section
              type: api
            - enabled: true
              extra:
                description: Replace one top-level section in the stored spec
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                section:
                  auto: 1
                  value: null
                value:
                  auto: 1
                  value: null
                yaml_fragment:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one top-level section in the stored spec
              tool_label: update_spec_section
              tool_name: update_spec_section
              type: api
            - enabled: true
              extra:
                description: Fetch one section from the stored entities dict
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Fetch one section from the stored entities dict
              tool_label: get_entities_section
              tool_name: get_entities_section
              type: api
            - enabled: true
              extra:
                description: Replace one section in the stored entities dict
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                section:
                  auto: 1
                  value: null
                items:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one section in the stored entities dict
              tool_label: update_entities_section
              tool_name: update_entities_section
              type: api
            - enabled: true
              extra:
                description: Apply user-provided answers to stored ambiguities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                resolutions:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Apply user-provided answers to stored ambiguities
              tool_label: resolve_ambiguities
              tool_name: resolve_ambiguities
              type: api
            - enabled: true
              extra:
                description: Retrieve stored ambiguities for this conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve stored ambiguities for this conversation
              tool_label: get_ambiguities
              tool_name: get_ambiguities
              type: api
            - enabled: true
              extra:
                description: Initialize a guided chat SRS session with sector defaults
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                sector:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
                is_new_org:
                  auto: 1
                  value: null
                description:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Initialize a guided chat SRS session with sector defaults
              tool_label: chat_srs_init_session
              tool_name: chat_srs_init_session
              type: api
            - enabled: true
              extra:
                description: Update a specific section of the chat SRS session
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                section:
                  auto: 1
                  value: null
                data:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a specific section of the chat SRS session
              tool_label: chat_srs_update_section
              tool_name: chat_srs_update_section
              type: api
            - enabled: true
              extra:
                description: Transform completed chat SRS sections into standard entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Transform completed chat SRS sections into standard entities
              tool_label: chat_srs_build_entities
              tool_name: chat_srs_build_entities
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                step:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                action:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                error:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Spec Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Spec Agent
        tool_node_version: '2'
        type: agent
      height: 274
      id: '1800000000110'
      parentId: '1800000000700'
      position:
        x: 868
        y: 456
      positionAbsolute:
        x: 4026
        y: 456
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000201.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 10
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Generate a complete Avni bundle ZIP from entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                org_name:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate a complete Avni bundle ZIP from entities
              tool_label: generate_bundle
              tool_name: generate_bundle
              type: api
            - enabled: true
              extra:
                description: Validate a generated bundle for structural correctness
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                bundle:
                  auto: 1
                  value: null
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate a generated bundle for structural correctness
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: Patch an existing bundle ZIP with a new spec
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                spec_yaml:
                  auto: 1
                  value: null
                existing_bundle_b64:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Patch an existing bundle ZIP with a new spec
              tool_label: patch_bundle
              tool_name: patch_bundle
              type: api
            - enabled: true
              extra:
                description: List all files in a stored bundle with their sizes
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                bundle_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: List all files in a stored bundle with their sizes
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                bundle_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                content:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: Download existing org bundle from Avni and store server-side
              parameters:
                includeLocations:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                baseUrl:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Download existing org bundle from Avni and store server-side
              tool_label: download_bundle_b64
              tool_name: download_bundle_b64
              type: api
            - enabled: true
              extra:
                description: Generate complete AVNI form JSON from field specifications
              parameters:
                name:
                  auto: 1
                  value: null
                formType:
                  auto: 1
                  value: null
                fields:
                  auto: 1
                  value: null
                subjectType:
                  auto: 1
                  value: null
                program:
                  auto: 1
                  value: null
                encounterType:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate complete AVNI form JSON from field specifications
              tool_label: generate_form
              tool_name: generate_form
              type: api
            - enabled: true
              extra:
                description: Suggest sector-specific form fields for an encounter type
              parameters:
                encounter_name:
                  auto: 1
                  value: null
                sector:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Suggest sector-specific form fields for an encounter type
              tool_label: suggest_form_fields
              tool_name: suggest_form_fields
              type: api
            - enabled: true
              extra:
                description: Parse natural language skip logic into AVNI declarative rules
              parameters:
                rules:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Parse natural language skip logic into AVNI declarative rules
              tool_label: generate_skip_logic
              tool_name: generate_skip_logic
              type: api
            - enabled: true
              extra:
                description: Execute Python code in a sandboxed environment
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                code:
                  auto: 1
                  value: null
                input_bundle_files:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Execute Python code in a sandboxed environment
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: Read a file written by execute_python in chunks
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                offset:
                  auto: 1
                  value: null
                limit:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read a file written by execute_python in chunks
              tool_label: read_silo_file
              tool_name: read_silo_file
              type: api
            - enabled: true
              extra:
                description: Upload a bundle ZIP to Avni server for import
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Upload a bundle ZIP to Avni server for import
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                step:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                action:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                error:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Bundle Config Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Bundle Config Agent
        tool_node_version: '2'
        type: agent
      height: 290
      id: '1800000000210'
      parentId: '1800000000700'
      position:
        x: 868
        y: 1145
      positionAbsolute:
        x: 4026
        y: 1145
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000301.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Validate JavaScript rule code with static analysis
              parameters:
                code:
                  auto: 1
                  value: null
                rule_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate JavaScript rule code with static analysis
              tool_label: validate_rule
              tool_name: validate_rule
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                bundle_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                content:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: Execute Python code in a sandboxed environment
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                code:
                  auto: 1
                  value: null
                input_bundle_files:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Execute Python code in a sandboxed environment
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                step:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                action:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                error:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: Generates JavaScript rule code for one of 7 supported
                  types (visitSchedule, decision, validation, eligibility, summary,
                  worklist, checklist). Returns the code along with validation results.
              parameters:
                params:
                  auto: 1
                  value: null
                rule_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generates JavaScript rule code for one of 7 supported
                types (visitSchedule, decision, validation, eligibility, summary,
                worklist, checklist). Returns the code along with validation results.
              tool_label: generate_rule
              tool_name: generate_rule
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Rules Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Rules Agent
        tool_node_version: '2'
        type: agent
      height: 252
      id: '1800000000310'
      parentId: '1800000000700'
      position:
        x: 868
        y: 1516
      positionAbsolute:
        x: 4026
        y: 1516
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000401.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Generate reportCard.json entries for AVNI dashboards
              parameters:
                org_name:
                  auto: 1
                  value: null
                card_types:
                  auto: 1
                  value: null
                custom_cards:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate reportCard.json entries for AVNI dashboards
              tool_label: generate_report_cards
              tool_name: generate_report_cards
              type: api
            - enabled: true
              extra:
                description: Suggest sector-specific dashboard cards and layout
              parameters:
                sector:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Suggest sector-specific dashboard cards and layout
              tool_label: suggest_dashboard
              tool_name: suggest_dashboard
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                bundle_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                content:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: Execute Python code in a sandboxed environment
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                code:
                  auto: 1
                  value: null
                input_bundle_files:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Execute Python code in a sandboxed environment
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                step:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                action:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                error:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Reports Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Reports Agent
        tool_node_version: '2'
        type: agent
      height: 252
      id: '1800000000410'
      parentId: '1800000000700'
      position:
        x: 868
        y: 1828
      positionAbsolute:
        x: 4026
        y: 1828
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000501.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 10
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Check business requirements against entities
              parameters:
                requirements:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Check business requirements against entities
              tool_label: compile_requirements
              tool_name: compile_requirements
              type: api
            - enabled: true
              extra:
                description: Perform gap analysis on entity configuration
              parameters:
                entities:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Perform gap analysis on entity configuration
              tool_label: inspect_config
              tool_name: inspect_config
              type: api
            - enabled: true
              extra:
                description: Validate a generated bundle for structural correctness
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                bundle:
                  auto: 1
                  value: null
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate a generated bundle for structural correctness
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: Retrieve the full stored spec YAML for display to the user
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full stored spec YAML for display to the user
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              extra:
                description: List all files in a stored bundle with their sizes
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                bundle_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: List all files in a stored bundle with their sizes
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                filename:
                  auto: 1
                  value: null
                bundle_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Upload a bundle ZIP to Avni server for import
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Upload a bundle ZIP to Avni server for import
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: Check the status of a bundle upload task
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Check the status of a bundle upload task
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
                content:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                step:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                action:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                error:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Config Inspector - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Config Inspector
        tool_node_version: '2'
        type: agent
      height: 252
      id: '1800000000510'
      parentId: '1800000000700'
      position:
        x: 868
        y: 2140
      positionAbsolute:
        x: 4026
        y: 2140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000601.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 10
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Create a new location type (address level type)
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                name:
                  auto: 1
                  value: null
                level:
                  auto: 1
                  value: null
                parentId:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Create a new location type (address level type)
              tool_label: create_location_type
              tool_name: create_location_type
              type: api
            - enabled: true
              extra:
                description: Update an existing location type
              parameters:
                id:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                uuid:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
                level:
                  auto: 1
                  value: null
                parentId:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update an existing location type
              tool_label: update_location_type
              tool_name: update_location_type
              type: api
            - enabled: true
              extra:
                description: Delete a location type by ID
              parameters:
                id:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete a location type by ID
              tool_label: delete_location_type
              tool_name: delete_location_type
              type: api
            - enabled: true
              extra:
                description: Get all locations for the organisation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Get all locations for the organisation
              tool_label: get_locations
              tool_name: get_locations
              type: api
            - enabled: true
              extra:
                description: Create a new location
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                name:
                  auto: 1
                  value: null
                level:
                  auto: 1
                  value: null
                type:
                  auto: 1
                  value: null
                parents:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Create a new location
              tool_label: create_location
              tool_name: create_location
              type: api
            - enabled: true
              extra:
                description: Update a location
              parameters:
                id:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                title:
                  auto: 1
                  value: null
                level:
                  auto: 1
                  value: null
                parentId:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a location
              tool_label: update_location
              tool_name: update_location
              type: api
            - enabled: true
              extra:
                description: Delete a location by ID
              parameters:
                id:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete a location by ID
              tool_label: delete_location
              tool_name: delete_location
              type: api
            - enabled: true
              extra:
                description: Get all catchments for the organisation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Get all catchments for the organisation
              tool_label: get_catchments
              tool_name: get_catchments
              type: api
            - enabled: true
              extra:
                description: Create a new catchment
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                name:
                  auto: 1
                  value: null
                locationIds:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Create a new catchment
              tool_label: create_catchment
              tool_name: create_catchment
              type: api
            - enabled: true
              extra:
                description: Update a catchment
              parameters:
                id:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                name:
                  auto: 1
                  value: null
                locationIds:
                  auto: 1
                  value: null
                deleteFastSync:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a catchment
              tool_label: update_catchment
              tool_name: update_catchment
              type: api
            - enabled: true
              extra:
                description: Delete a catchment by ID
              parameters:
                id:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete a catchment by ID
              tool_label: delete_catchment
              tool_name: delete_catchment
              type: api
            - enabled: true
              extra:
                description: Find a user by name
              parameters:
                name:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Find a user by name
              tool_label: find_user
              tool_name: find_user
              type: api
            - enabled: true
              extra:
                description: Update a user
              parameters:
                id:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                name:
                  auto: 1
                  value: null
                username:
                  auto: 1
                  value: null
                phoneNumber:
                  auto: 1
                  value: null
                email:
                  auto: 1
                  value: null
                organisationId:
                  auto: 1
                  value: null
                catchmentId:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a user
              tool_label: update_user
              tool_name: update_user
              type: api
            - enabled: true
              extra:
                description: Delete organisation implementation (config reset)
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                deleteMetadata:
                  auto: 1
                  value: null
                deleteAdminConfig:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete organisation implementation (config reset)
              tool_label: delete_implementation
              tool_name: delete_implementation
              type: api
            - enabled: true
              extra:
                description: Upload a bundle ZIP to Avni server for import
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Upload a bundle ZIP to Avni server for import
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: Check the status of a bundle upload task
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Check the status of a bundle upload task
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}' 
                step:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                action:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                error:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Admin Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Admin Agent
        tool_node_version: '2'
        type: agent
      height: 274
      id: '1800000000610'
      parentId: '1800000000700'
      position:
        x: 868
        y: 811
      positionAbsolute:
        x: 4026
        y: 811
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(active_agent: str, existing_memory: str,\n         spec_text:\
          \ str, bundle_text: str, rules_text: str,\n         reports_text: str, inspect_text:\
          \ str, admin_text: str) -> dict:\n    texts = {\n        \"spec\": spec_text,\n\
          \        \"bundle_config\": bundle_text,\n        \"rules\": rules_text,\n\
          \        \"reports\": reports_text,\n        \"inspect\": inspect_text,\n\
          \        \"admin\": admin_text,\n    }\n    agent_text = texts.get(active_agent,\
          \ \"\") or \"\"\n    entry = f\"[{active_agent}] {agent_text[:1000]}\"\n \
          \   sep = \"\\n---\\n\"\n    memory_entry = (existing_memory + sep + entry)\
          \ if existing_memory else entry\n    return {\n        \"memory_entry\":\
          \ memory_entry,\n        \"agent_output\": agent_text,\n    }\n"
        code_language: python3
        isInLoop: true
        loop_id: '1800000000700'
        outputs:
          agent_output:
            type: string
          memory_entry:
            type: string
        selected: false
        title: Output Collector
        type: code
        variables:
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - conversation
          - agent_memory
          value_type: string
          variable: existing_memory
        - value_selector:
          - '1800000000110'
          - text
          value_type: string
          variable: spec_text
        - value_selector:
          - '1800000000210'
          - text
          value_type: string
          variable: bundle_text
        - value_selector:
          - '1800000000310'
          - text
          value_type: string
          variable: rules_text
        - value_selector:
          - '1800000000410'
          - text
          value_type: string
          variable: reports_text
        - value_selector:
          - '1800000000510'
          - text
          value_type: string
          variable: inspect_text
        - value_selector:
          - '1800000000610'
          - text
          value_type: string
          variable: admin_text
      height: 52
      id: '1800000000720'
      parentId: '1800000000700'
      position:
        x: 1240
        y: 1316
      positionAbsolute:
        x: 4398
        y: 1316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000720'
          - memory_entry
          variable_selector:
          - conversation
          - agent_memory
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: State Update
        type: assigner
        version: '2'
      height: 136
      id: '1800000000730'
      parentId: '1800000000700'
      position:
        x: 1562
        y: 1274
      positionAbsolute:
        x: 4720
        y: 1274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import re\n\ndef main(active_agent: str, workflow_mode: str,\n     \
          \    agent_output: str) -> dict:\n    if workflow_mode == \"targeted\":\n \
          \       return {\"next_agent\": \"done\", \"loop_done\": True,\n         \
          \       \"reason\": \"Targeted mode — single agent only\"}\n\n    t = (agent_output\
          \ or \"\").lower()\n    has_output = len(t.strip()) > 50\n\n    # Detect\
          \ if agent is asking user a question (should exit loop)\n    question_signals\
          \ = [\"could you\", \"can you please\", \"would you like\",\n            \
          \         \"please provide\", \"please confirm\", \"please share\",\n   \
          \                  \"let me know\", \"what would you\", \"which option\",\
          \n                     \"do you want\", \"shall i\", \"?\\'s next?\"]\n \
          \   asking_user = any(q in t for q in question_signals) and t.rstrip().endswith(\"\
          ?\")\n\n    # Completion signals per agent\n    completion = {\n        \"\
          spec\": [\"generate_spec\", \"spec generated\", \"stored=true\",\n      \
          \           \"approved\", \"encounter types\", \"subject types\",\n      \
          \           \"spec summary\", \"configuration summary\",\n              \
          \   \"forms |\", \"programs |\", \"address hierarchy\"],\n        \"bundle_config\"\
          : [\"generate_bundle\", \"bundle generated\",\n                    \"validate_bundle\"\
          , \"put_bundle_file\", \"upload_bundle\",\n                    \"generate_form\"\
          , \"concepts.json\", \"formmappings\",\n                    \"bundle complete\"\
          , \"bundle is ready\"],\n        \"rules\": [\"generate_rule\", \"validate_rule\"\
          , \"rule code\",\n                 \"visitschedule\", \"decision rule\",\
          \ \"formElementRule\"],\n        \"reports\": [\"generate_report_cards\"\
          , \"suggest_dashboard\",\n                   \"reportcard\", \"dashboard\"\
          , \"report cards\"],\n        \"inspect\": [\"compile_requirements\", \"\
          inspect_config\",\n                   \"completeness\", \"gap analysis\"\
          , \"score\", \"upload_bundle\", \"upload_status\",\n                   \"\
          uploaded successfully\"],\n    }\n\n    chain = [\"spec\", \"bundle_config\", \"rules\"\
          , \"reports\", \"inspect\"]\n    try:\n        idx = chain.index(active_agent)\n\
          \    except ValueError:\n        return {\"next_agent\": \"done\", \"loop_done\"\
          : True,\n                \"reason\": f\"Unknown agent: {active_agent}\"}\n\
          \n    # Check if current agent completed\n    signals = completion.get(active_agent,\
          \ [])\n    completed = has_output and any(s in t for s in signals)\n\n  \
          \  # If asking user a question, always exit\n    if asking_user and not completed:\n\
          \        return {\"next_agent\": \"done\", \"loop_done\": True,\n        \
          \        \"reason\": f\"{active_agent} is asking the user a question\"}\n\
          \n    # If not completed and no output, exit\n    if not has_output:\n  \
          \      return {\"next_agent\": \"done\", \"loop_done\": True,\n          \
          \      \"reason\": f\"{active_agent} produced no output\"}\n\n    # If completed,\
          \ advance\n    if completed and idx < len(chain) - 1:\n        next_a =\
          \ chain[idx + 1]\n        return {\"next_agent\": next_a, \"loop_done\"\
          : False,\n                \"reason\": f\"{active_agent} done, advancing\
          \ to {next_a}\"}\n\n    # If completed but last in chain, done\n    if completed\
          \ and idx >= len(chain) - 1:\n        return {\"next_agent\": \"done\",\
          \ \"loop_done\": True,\n                \"reason\": \"End of chain\"}\n\n\
          \    # Not clearly completed but has output — assume done, try to advance\n\
          \    if idx < len(chain) - 1:\n        next_a = chain[idx + 1]\n        return\
          \ {\"next_agent\": next_a, \"loop_done\": False,\n                \"reason\"\
          : f\"{active_agent} output unclear but advancing to {next_a}\"}\n\n    return\
          \ {\"next_agent\": \"done\", \"loop_done\": True,\n            \"reason\"\
          : \"End of chain\"}\n"
        code_language: python3
        isInLoop: true
        loop_id: '1800000000700'
        outputs:
          loop_done:
            type: boolean
          next_agent:
            type: string
          reason:
            type: string
        selected: false
        title: Next Agent Decider
        type: code
        variables:
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - conversation
          - workflow_mode
          value_type: string
          variable: workflow_mode
        - value_selector:
          - '1800000000720'
          - agent_output
          value_type: string
          variable: agent_output
      height: 52
      id: '1800000000740'
      parentId: '1800000000700'
      position:
        x: 1884
        y: 1316
      positionAbsolute:
        x: 5042
        y: 1316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: loop-done
          conditions:
          - comparison_operator: is
            id: 52c24dd0-ad64-4edd-9b24-e58c32ce587c
            value: 'true'
            varType: boolean
            variable_selector:
            - '1800000000740'
            - loop_done
          id: loop-done
          logical_operator: and
        desc: ''
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Loop Done Check
        type: if-else
      height: 148
      id: '1800000000745'
      parentId: '1800000000700'
      position:
        x: 2206
        y: 1268
      positionAbsolute:
        x: 5364
        y: 1268
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Break Loop
        type: assigner
        version: '2'
      height: 84
      id: '1800000000751'
      parentId: '1800000000700'
      position:
        x: 2548
        y: 1275
      positionAbsolute:
        x: 5706
        y: 1275
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000740'
          - next_agent
          variable_selector:
          - conversation
          - active_agent
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Continue Loop
        type: assigner
        version: '2'
      height: 84
      id: '1800000000752'
      parentId: '1800000000700'
      position:
        x: 2548
        y: 1419
      positionAbsolute:
        x: 5706
        y: 1419
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Error Handler
        type: assigner
        version: '2'
      height: 84
      id: '1800000000760'
      parentId: '1800000000700'
      position:
        x: 1240
        y: 715
      positionAbsolute:
        x: 4398
        y: 715
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
        desc: Summarizes agent work for the user
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 0
        model:
          completion_params:
            max_tokens: 1024
            temperature: 0.3
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: a1b2c3d4-summary-prompt-01
          role: system
          text: "You are a friendly assistant that summarizes what happened during\
            \ an Avni configuration workflow. Read the agent activity log below and\
            \ produce a concise, well-formatted summary for the end user.\n\n<agent_log>\n\
            {{#conversation.agent_memory#}}\n</agent_log>\n\n## Instructions\n\n\
            1. Summarize what was accomplished in 3-5 bullet points (what was created,\
            \ configured, uploaded)\n2. Highlight any issues found and how they were\
            \ handled\n3. If the bundle was uploaded, confirm it with the upload status\n\
            4. End with clear next steps — what the user should do now (e.g. \"Check\
            \ your Avni app\", \"Review the forms\", \"Upload locations and users\"\
            )\n5. Keep it under 200 words\n6. Use markdown formatting\n7. Do NOT dump\
            \ raw data or technical details — keep it user-friendly"
        - id: a1b2c3d4-summary-prompt-02
          role: user
          text: Summarize what was done and what the user should do next.
        selected: false
        title: Summarize Results
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1800000000801'
      position:
        x: 7100
        y: 1174
      positionAbsolute:
        x: 7100
        y: 1174
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1800000000801.text#}}'
        selected: false
        title: Post-Loop Answer
        type: answer
        variables: []
      height: 103
      id: '1800000000800'
      position:
        x: 7258
        y: 1174
      positionAbsolute:
        x: 7258
        y: 1174
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: An error occurred while setting up. Please try again or contact support.
        selected: false
        title: Pre-Loop Error
        type: answer
        variables: []
      height: 116
      id: '1800000000112'
      position:
        x: 3158
        y: 2532
      positionAbsolute:
        x: 3158
        y: 2532
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -508.74218809490003
      y: 90.85731538414711
      zoom: 0.25
  rag_pipeline_variables: []
