dify/Avni [Staging] Sub-Agentic Assistant.yml
app:
  description: Avni AI Assistant
  icon: b849950f-3cae-4021-afc0-ce88c5d12035
  icon_background: ''
  icon_type: image
  mode: advanced-chat
  name: Avni [Staging] Sub-Agentic Assistant
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: ''
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: ''
    id: c6cba07c-9187-4228-842f-42a0e3f2f709
    name: org_name
    selector:
    - conversation
    - org_name
    value: ''
    value_type: string
  - description: ''
    id: 0afa1396-e90b-4bbe-aa59-9f4e870a4792
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: ''
    id: 93cecf97-c283-40f6-a8bd-efd306bd94b1
    name: avni_ai_server_url
    selector:
    - conversation
    - avni_ai_server_url
    value: https://staging-ai.avniproject.org/
    value_type: string
  - description: ''
    id: a1d26303-4267-47ef-8662-2b246b1079f1
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: ''
    id: 133121cd-ffdc-4b00-a6d4-50e44d42e9d0
    name: active_agent
    selector:
    - conversation
    - active_agent
    value: ''
    value_type: string
  - description: ''
    id: b024871d-efdb-4367-98e2-fc111ec12c4a
    name: current_phase
    selector:
    - conversation
    - current_phase
    value: ''
    value_type: string
  - description: ''
    id: e70690cc-336c-46f4-b20b-576153bbb9b7
    name: agent_memory
    selector:
    - conversation
    - agent_memory
    value: []
    value_type: array[object]
  - description: ''
    id: e56b6ac8-fa4e-4aa0-80d0-3f7eda4b9928
    name: spec_complete
    selector:
    - conversation
    - spec_complete
    value: false
    value_type: boolean
  - description: ''
    id: af8eaabc-d169-44ae-9bd6-612b82f1e896
    name: bundle_complete
    selector:
    - conversation
    - bundle_complete
    value: true
    value_type: boolean
  - description: ''
    id: 4b1f4a64-c732-4f11-acb3-a6ecd9214738
    name: agent_loop_active
    selector:
    - conversation
    - agent_loop_active
    value: true
    value_type: boolean
  - description: ''
    id: 467f932c-99b5-443b-902f-55c458b858b2
    name: workflow_mode
    selector:
    - conversation
    - workflow_mode
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .xlsx
      - .csv
      - .json
      - .zip
      - .txt
      allowed_file_types:
      - document
      - custom
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: Hey {{user_name}} ! I’m your AI assistant . I can help you with any questions about Avni — from creating new forms automatically to guiding you through the platform. How can I help
      you today?
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      config:
        inputs_config:
          enabled: true
          preset_response: In-appropriate input, only designed to help with Avni implementation tasks.
        outputs_config:
          enabled: true
          preset_response: I apologize, but I can only provide assistance with Avni implementation topics.
      enabled: true
      type: openai_moderation
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1757492907627-source-1757493270484-target
      selected: false
      source: '1757492907627'
      sourceHandle: source
      target: '1757493270484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1757495664531-source-1757495688732-target
      selected: false
      source: '1757495664531'
      sourceHandle: source
      target: '1757495688732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-3489d477-53a2-4b99-9f40-af010262a1c1-1758608702077-target
      selected: false
      source: '1757493270484'
      sourceHandle: 3489d477-53a2-4b99-9f40-af010262a1c1
      target: '1758608702077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-8ad5b2c6-6d29-4e4f-9f13-7682d4803a70-1758699378772-target
      selected: false
      source: '1757493270484'
      sourceHandle: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528708197-source-1758713692744-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1758713692744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1758713692744-source-1757492907627-target
      selected: false
      source: '1758713692744'
      sourceHandle: source
      target: '1757492907627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-false-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'false'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-true-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'true'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1775719228711-false-1775648480416-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'false'
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1775719228711-true-1775800000001-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'true'
      target: '1775800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1775800000001-source-1775800000002-target
      selected: false
      source: '1775800000001'
      sourceHandle: source
      target: '1775800000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1775800000002-source-1775648480416-target
      selected: false
      source: '1775800000002'
      sourceHandle: source
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1711528708197-source-1775657870619-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1775657870619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1757493270484-case-agent-work-1800000000040-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-agent-work
      target: '1800000000040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1800000000040-source-1775719228711-target
      selected: false
      source: '1800000000040'
      sourceHandle: source
      target: '1775719228711'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: loop
      id: 1775648480416-source-1800000000700-target
      selected: false
      source: '1775648480416'
      sourceHandle: source
      target: '1800000000700'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775648480416-fail-branch-1800000000112-target
      selected: false
      source: '1775648480416'
      sourceHandle: fail-branch
      target: '1800000000112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775800000002-fail-branch-1800000000112-target
      selected: false
      source: '1775800000002'
      sourceHandle: fail-branch
      target: '1800000000112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: loop
        targetType: answer
      id: 1800000000700-source-1800000000800-target
      selected: false
      source: '1800000000700'
      sourceHandle: source
      target: '1800000000800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: true
        sourceType: loop-start
        targetType: if-else
        loop_id: '1800000000700'
      id: 1800000000700start-source-1800000000710-target
      selected: false
      source: 1800000000700start
      sourceHandle: source
      target: '1800000000710'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: http-request
        loop_id: '1800000000700'
      id: 1800000000710-dispatch-spec-1800000000101-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-spec
      target: '1800000000101'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: http-request
        loop_id: '1800000000700'
      id: 1800000000710-dispatch-bundle-config-1800000000201-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-bundle-config
      target: '1800000000201'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: http-request
        loop_id: '1800000000700'
      id: 1800000000710-dispatch-rules-1800000000301-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-rules
      target: '1800000000301'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: http-request
        loop_id: '1800000000700'
      id: 1800000000710-dispatch-reports-1800000000401-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-reports
      target: '1800000000401'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: http-request
        loop_id: '1800000000700'
      id: 1800000000710-dispatch-inspect-1800000000501-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-inspect
      target: '1800000000501'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: http-request
        loop_id: '1800000000700'
      id: 1800000000710-dispatch-admin-1800000000601-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-admin
      target: '1800000000601'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: agent
        loop_id: '1800000000700'
      id: 1800000000101-source-1800000000110-target
      selected: false
      source: '1800000000101'
      sourceHandle: source
      target: '1800000000110'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: agent
        loop_id: '1800000000700'
      id: 1800000000201-source-1800000000210-target
      selected: false
      source: '1800000000201'
      sourceHandle: source
      target: '1800000000210'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: agent
        loop_id: '1800000000700'
      id: 1800000000301-source-1800000000310-target
      selected: false
      source: '1800000000301'
      sourceHandle: source
      target: '1800000000310'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: agent
        loop_id: '1800000000700'
      id: 1800000000401-source-1800000000410-target
      selected: false
      source: '1800000000401'
      sourceHandle: source
      target: '1800000000410'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: agent
        loop_id: '1800000000700'
      id: 1800000000501-source-1800000000510-target
      selected: false
      source: '1800000000501'
      sourceHandle: source
      target: '1800000000510'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: agent
        loop_id: '1800000000700'
      id: 1800000000601-source-1800000000610-target
      selected: false
      source: '1800000000601'
      sourceHandle: source
      target: '1800000000610'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: code
        loop_id: '1800000000700'
      id: 1800000000110-source-1800000000720-target
      selected: false
      source: '1800000000110'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: code
        loop_id: '1800000000700'
      id: 1800000000210-source-1800000000720-target
      selected: false
      source: '1800000000210'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: code
        loop_id: '1800000000700'
      id: 1800000000310-source-1800000000720-target
      selected: false
      source: '1800000000310'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: code
        loop_id: '1800000000700'
      id: 1800000000410-source-1800000000720-target
      selected: false
      source: '1800000000410'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: code
        loop_id: '1800000000700'
      id: 1800000000510-source-1800000000720-target
      selected: false
      source: '1800000000510'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: code
        loop_id: '1800000000700'
      id: 1800000000610-source-1800000000720-target
      selected: false
      source: '1800000000610'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000110-fail-branch-1800000000760-target
      selected: false
      source: '1800000000110'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000210-fail-branch-1800000000760-target
      selected: false
      source: '1800000000210'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000310-fail-branch-1800000000760-target
      selected: false
      source: '1800000000310'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000410-fail-branch-1800000000760-target
      selected: false
      source: '1800000000410'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000510-fail-branch-1800000000760-target
      selected: false
      source: '1800000000510'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: agent
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000610-fail-branch-1800000000760-target
      selected: false
      source: '1800000000610'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000101-fail-branch-1800000000760-target
      selected: false
      source: '1800000000101'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000201-fail-branch-1800000000760-target
      selected: false
      source: '1800000000201'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000301-fail-branch-1800000000760-target
      selected: false
      source: '1800000000301'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000401-fail-branch-1800000000760-target
      selected: false
      source: '1800000000401'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000501-fail-branch-1800000000760-target
      selected: false
      source: '1800000000501'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: http-request
        targetType: answer
        loop_id: '1800000000700'
      id: 1800000000601-fail-branch-1800000000760-target
      selected: false
      source: '1800000000601'
      sourceHandle: fail-branch
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: code
        targetType: assigner
        loop_id: '1800000000700'
      id: 1800000000720-source-1800000000730-target
      selected: false
      source: '1800000000720'
      sourceHandle: source
      target: '1800000000730'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: assigner
        targetType: code
        loop_id: '1800000000700'
      id: 1800000000730-source-1800000000740-target
      selected: false
      source: '1800000000730'
      sourceHandle: source
      target: '1800000000740'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: code
        targetType: if-else
        loop_id: '1800000000700'
      id: 1800000000740-source-1800000000745-target
      selected: false
      source: '1800000000740'
      sourceHandle: source
      target: '1800000000745'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: assigner
        loop_id: '1800000000700'
      id: 1800000000745-loop-done-1800000000751-target
      selected: false
      source: '1800000000745'
      sourceHandle: loop-done
      target: '1800000000751'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        sourceType: if-else
        targetType: assigner
        loop_id: '1800000000700'
      id: 1800000000745-false-1800000000752-target
      selected: false
      source: '1800000000745'
      sourceHandle: 'false'
      target: '1800000000752'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_ai_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_ai_server_url
      height: 257
      id: '1711528708197'
      position:
        x: 0
        y: 413
      positionAbsolute:
        x: 0
        y: 413
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.files#}} {{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params:
            enable_stream: true
            json_schema: "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"service\",\n    \"confidence\",\n    \"question_type\",\n    \"routing_reason\",\n    \"\
              clarification_needed\",\n    \"clarifying_questions\"\n  ],\n  \"properties\": {\n    \"service\": {\n      \"type\": \"string\",\n      \"enum\": [\"RAG\", \"ASSISTANT\", \"BUNDLE_SETUP\"\
              , \"OUT_OF_SCOPE\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    },\n    \"question_type\": {\n      \"type\": \"string\",\n\
              \      \"enum\": [\n        \"capability_inquiry\",\n        \"implementation_request\",\n        \"novel_requirement\",\n        \"not_avni_related\"\n      ]\n    },\n    \"routing_reason\"\
              : {\n      \"type\": \"string\"\n    },\n    \"clarification_needed\": {\n      \"type\": \"boolean\"\n    },\n    \"clarifying_questions\": {\n      \"type\": \"array\",\n      \"items\"\
              : { \"type\": \"string\" }\n    }\n  }\n}"
            reasoning_effort: minimal
            verbosity: low
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: b14eb575-d615-41dd-aac1-00663db3a6eb
          role: system
          text: "You are the Avni Platform Orchestrator of the Avni AI Assistant. Route user messages based on their PRIMARY INTENT, not the complexity or specificity of their\nquestion.\n\n<context>\n\
            {{#context#}}\n</context>\n\n## Core Routing Logic\n\n\n**OVERRIDE RULES**:\n1. If a message is clearly NOT about Avni or data collection platforms → OUT_OF_SCOPE\n2. If a message starts with\
            \ capability questions (\"Is it possible\", \"Can Avni\", \"Does Avni support\", \"Is there a way\", \"How can I\"), it is ALWAYS RAG regardless of complexity.\n\n\n### BUNDLE_SETUP — Program\
            \ Setup from Uploaded SRS/Specification Files\n\n**Priority: HIGHEST — evaluate before RAG and ASSISTANT**\n\n**Route BUNDLE_SETUP when ANY of the following:**\n1. `sys.files` is not empty —\
            \ user uploaded file(s) this turn\n2. `conversation.setup_mode_active == true` — already in an active bundle setup workflow (follow-up turn: \"what\\'s next?\", \"proceed\", \"approve\", etc.)\n\
            3. User explicitly says \"upload SRS\", \"upload spec\", \"upload field workflow\", \"generate bundle from file\"\n\n**Do NOT route here for:**\n- Verbal SRS description without a file → ASSISTANT\n\
            - General Avni platform questions → RAG\n\n\n### RAG - Platform Knowledge & Capabilities\n\n\n**Primary Intent**: Learning what Avni can/cannot do\n\n\n**Definitive Indicators** (Route to RAG\
            \ even if complex):\n- \"What is Avni?\" → RAG (basic platform knowledge)\n- \"Tell me about Avni\" → RAG (platform overview)\n- \"Is it possible to...\" → RAG (capability inquiry)\n- \"Can\
            \ Avni...\" → RAG (platform capability)\n- \"Does Avni support...\" → RAG (feature question)\n- \"Is there a way to...\" → RAG (method inquiry)\n- \"How can I...\" → RAG (step-by-step guidance\
            \ inquiry)\n- \"What are the limitations of...\" → RAG (constraint question)\n- \"How does Avni handle...\" → RAG (mechanism inquiry)\n\n\n**Key Principle**: Complexity of the scenario does\
            \ NOT change the\nintent. A detailed capability question is still a capability question.\n\n\n\n### ASSISTANT - Custom/Novel Requirements\n\n\n**Primary Intent**: Building something new or unique\n\
            \n\n**Indicators**: - \"We need something that doesn't exist...\" - \"Can you\nbuild/create/develop...\" - \"We have unique requirements...\" -\n\"Integration with external system X...\" - \"\
            Delete everything and start fresh...\" - \"Clean slate configuration...\" - \"Remove all my current setup...\"\n\n\n### OUT_OF_SCOPE - Not Avni Related\n\n\n**Primary Intent**: Questions completely\
            \ unrelated to Avni or data collection platforms\n\n\n**Definitive Indicators**:\n- Questions for which no relevant context available in this prompt\n- General programming/coding questions not\
            \ specific to Avni\n- Questions about other software platforms (Salesforce, Excel, etc.)\n- Personal questions, weather, news, entertainment\n- Academic questions unrelated to health/social\
            \ programs\n- Technical questions about non-Avni systems\n- \"What is the capital of...\" / \"How do I cook...\" / \"What's the weather...\"\n- Questions about competitors without Avni context\n\
            \n\n\n**EXCEPTION**: Greeting messages (\"Hi\", \"Hello\", \"Good morning\") should NOT be marked as OUT_OF_SCOPE. These require clarification to understand the user's actual intent.\n\n\n##\
            \ Decision Framework\n\n\n**Step 1**: Check relevance - If clearly NOT about Avni/data collection → OUT_OF_SCOPE (STOP HERE)\n**EXCEPTION**: If greeting message → Set clarification_needed =\
            \ true\n\n\n**Step 2**: Identify the question type - If starts with capability\nquestions → RAG (STOP HERE) - If describes implementation needs →\nASSISTANT - If requests deletion/configuration\
            \ changes → ASSISTANT\n\n\n## Critical Examples\n\n✅ User uploads Excel/CSV/ZIP file → **BUNDLE_SETUP** (highest priority)\n✅ \"Proceed with the spec\" when setup_mode_active=true → **BUNDLE_SETUP**\
            \ (follow-up)\n✅ \"Here is my SRS\" (with file attached) → **BUNDLE_SETUP**\n\n✅ \"What is Avni?\" → **RAG** (basic platform knowledge)\n\n✅ \"Tell me about Avni platform\" → **RAG** (platform\
            \ overview)\n\n✅ \"What does Avni do?\" → **RAG** (platform purpose/functionality)\n\n✅ \"Is it possible to automatically show selected answers from Clinical\nAssessment in Follow-up Visit forms?\"\
            \ → **RAG** (capability question,\nregardless of technical complexity)\n\n✅ \"Can Avni restrict encounter forms to single entry per individual?\" →\n**RAG** (capability question)\n\n✅ \"Is there\
            \ a way to integrate complex multi-step approval workflows?\"\n→ **RAG** (capability question, even if the workflow is complex)\n\n✅ \"What are catchments\"\n✅ \"What are user groups\"\n✅ \"\
            What are identifiers\"\n✅ \"What is an identifier source\"\n✅ \"How do I create a new catchment\"\n✅ \"What is a program\"\n✅ \"What is a subject type\"\n✅ \"How can I setup the assignment feature\
            \ in Avni?\" → **RAG** (step-by-step guidance question)\n\n✅ \"I want to delete my entire configuration and start fresh\" → **ASSISTANT** (implementation request for complete deletion)\n\n✅\
            \ \"Can you help me clean slate my Avni setup?\" → **ASSISTANT** (configuration deletion and rebuild request)\n\n✅ \"Remove everything and build a new configuration\" → **ASSISTANT** (delete\
            \ and create request)\n\n\n\n✅ \"What is the capital of France?\" → **OUT_OF_SCOPE** (not related to Avni)\n\n\n✅ \"How do I write Python code for web scraping?\" → **OUT_OF_SCOPE** (general\
            \ programming, not Avni-specific)\n\n\n✅ \"Can you help me with my Excel formulas?\" → **OUT_OF_SCOPE** (different platform)\n\n\n✅ \"Hello\" → **RAG** with clarification_needed = true (greeting\
            \ requires clarification)\n\n\n✅ \"Hi there\" → **RAG** with clarification_needed = true (greeting requires clarification)\n\n\n❌ **WRONG**: \"Sounds complex/custom → ASSISTANT\" ✅ **CORRECT**:\n\
            \"Starts with capability question → RAG\"\n\n\n## Common Misrouting Traps to Avoid\n\n\n**Trap 1**: Complexity Bias - ❌ \"Complex scenario = custom work =\nASSISTANT\" - ✅ \"Capability question\
            \ = platform inquiry = RAG\"\n\n\n**Trap 2**: Implementation Details Bias - ❌ \"Mentions specific\ntechnical details = ASSISTANT\" - ✅ \"Asking IF it's possible = RAG\"\n\n\n**Trap 3**: Domain\
            \ Specificity Bias - ❌ \"Very specific use case =\nASSISTANT\" - ✅ \"Question format determines intent\"\n\n\n**Trap 4**: Relevance Assumption - ❌ \"Any question = must be Avni-related\" - ✅\
            \ \"Check if actually about Avni/data collection first\"\n\n\n**Trap 5**: Greeting Misrouting - ❌ \"Greeting = OUT_OF_SCOPE\" - ✅ \"Greeting = needs clarification to understand intent\"\n\n\n\
            ## Response Format\n\n\n``` json\n{\n  \"service\": \"RAG|ASSISTANT|OUT_OF_SCOPE\",\n  \"confidence\": 0.0-1.0,\n  \"question_type\": \"capability_inquiry|implementation_request|novel_requirement|not_avni_related\"\
            ,\n  \"routing_reason\": \"Brief explanation focusing on question structure, not content complexity\",\n  \"clarification_needed\": true|false,\n  \"clarifying_questions\": [\"question1\", \"\
            question2\"]\n}\n```\n\n\n## Clarifying Questions Strategy\n\n\nAsk maximum 2 clarifying questions when:\n- Intent is ambiguous between RAG and Assistant\n- User provides insufficient context\
            \ about their needs\n- Requirements could match multiple services\n- User sends only greeting messages without specific questions\n\n\n**Example clarifying questions:**\n- \"Could you describe\
            \ what type of programs your organization runs?\"\n- \"Are you looking to learn about Avni's capabilities or need help setting something up?\"\n- \"Is this similar to typical community health/education\
            \ programs?\"\n- \"How can I help you with Avni today?\" (for greetings)\n\n\n**General Prompt for Clarification:** When unsure, ask concise,\nopen-ended clarifying questions that help determine\
            \ whether the user is\nasking about platform capabilities (RAG) or needs implementation help\n(ASSISTANT). Never ask more than two questions at once.\n\n\n## Mental Model Validation\n\n\nBefore\
            \ routing, ask:\n1. **\"Is this just a greeting message?\"** - YES → RAG with clarification_needed = true\n2. **\"Is this question actually about Avni or data collection platforms?\"** - NO\
            \ → OUT_OF_SCOPE\n3. **\"Is the user asking IF something is possible, or telling me they WANT something implemented?\"** - IF possible → RAG - WANT implemented → ASSISTANT\n\n\n## Decision Tree\
            \ for Edge Cases\n\n\n    User Message\n        │\n        ├── NOT about Avni/data collection (general questions, other platforms)?\n        │   └── YES → OUT_OF_SCOPE\n        │\n        ├──\
            \ Starts with \"Is it possible...\" / \"Can Avni...\" / \"Does Avni...\" / \"How can I...\" ?\n        │   └── YES → RAG (regardless of complexity)\n        │\n        ├── Describes implementation\
            \ needs (\"We need...\", \"Help us set up...\", \"Our org wants...\") or deletion       requests (\"Delete everything...\", \"Clean slate...\", \"Remove all...\")?\n        │   └── YES → ASSISTANT\n\
            \        │\n        └── UNCLEAR → Default to RAG (safer for capability questions)"
        - id: 36b2faa1-0e45-4962-8107-74a07045af09
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              clarification_needed:
                type: boolean
              clarifying_questions:
                items:
                  type: string
                type: array
              confidence:
                type: number
              question_type:
                type: string
              routing_reason:
                type: string
              service:
                type: string
            required:
            - service
            - confidence
            - question_type
            - routing_reason
            - clarification_needed
            - clarifying_questions
            type: object
        structured_output_enabled: true
        title: Orchestrator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1757492907627'
      position:
        x: 684
        y: 455
      positionAbsolute:
        x: 684
        y: 455
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 3489d477-53a2-4b99-9f40-af010262a1c1
          conditions:
          - comparison_operator: is
            id: 93fbecf3-5468-4878-84ce-37c7cfa15625
            value: 'true'
            varType: object
            variable_selector:
            - '1757492907627'
            - structured_output
            - clarification_needed
          - comparison_operator: <
            id: 964871af-0fc9-45e9-a795-d2fda4b4ad34
            value: '0.8'
            varType: number
            variable_selector:
            - '1757492907627'
            - structured_output
            - confidence
          id: 3489d477-53a2-4b99-9f40-af010262a1c1
          logical_operator: and
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: fb0a1b2b-46e8-4a67-8b98-b44ea87869db
            value: RAG
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 'true'
          logical_operator: and
        - case_id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          conditions:
          - comparison_operator: is
            id: beb8a551-f66d-4add-9480-bb9c185119f4
            value: OUT_OF_SCOPE
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          logical_operator: and
        - case_id: case-agent-work
          conditions:
          - comparison_operator: is
            id: c3b0ee63-3c37-45ad-a05e-0f7b28599a90
            value: AGENT_WORK
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-agent-work
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 486
      id: '1757493270484'
      position:
        x: 1026
        y: 256
      positionAbsolute:
        x: 1026
        y: 256
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            reasoning_effort: minimal
            verbosity: low
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 5aa1519b-cc32-4d81-aaa2-c2e8e6b46c0c
          role: system
          text: "Use the following context as your learned knowledge, inside <context></context> XML tags.\n<context>\n{{#context#}}\n</context>\nYou are talking to {{#1711528708197.user_name#}}from {{#1711528708197.org_name#}}\n\
            You are part of the Avni AI Assistant. The Avni AI Assistant is currently capable of the following\n1. Answering questions about the Avni system\n2. Assistance with designing workflows, forms\
            \ etc on Avni\n   The Avni AI Assistant is currently not capable of\n1. Helping with rules\n2. You must not guess or invent Avni features, workflows, or UI options that are not explicitly known.\n\
            \nWhen answer to user:\n- If you don't know, just say that you don't know.\n- If you don't know when you are not sure, ask for clarification.\n- If greeting, greet professionaly by their name\
            \ :  {{#1711528708197.user_name#}}\n- Do not greet repeatedly in every response.\n- Never infer or assume features (e.g., don't claim a program can be assigned to a catchment unless explicitly\
            \ supported).\n- If there is any ambiguity, ask a clarifying question instead of guessing.\n  Avoid mentioning that you obtained the information from the context.\n  And answer according to\
            \ the language of the user's question."
        selected: false
        title: RAG LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1757495664531'
      position:
        x: 1388
        y: 738
      positionAbsolute:
        x: 1388
        y: 738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1757495664531.text#}}'
        desc: ''
        selected: false
        title: RAG Answer
        type: answer
        variables: []
      height: 103
      id: '1757495688732'
      position:
        x: 1730
        y: 730
      positionAbsolute:
        x: 1730
        y: 730
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Hey {{#1711528708197.user_name#}}I need some clarification.{{#1757492907627.structured_output.clarifying_questions#}}
        selected: false
        title: Clarify the question
        type: answer
        variables: []
      height: 137
      id: '1758608702077'
      position:
        x: 1388
        y: 309
      positionAbsolute:
        x: 1388
        y: 309
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: This assistant can help you with any questions related to Avni. This does not seem relevant to Avni.
        selected: false
        title: Unrelated Question
        type: answer
        variables: []
      height: 132
      id: '1758699378772'
      position:
        x: 1388
        y: 526
      positionAbsolute:
        x: 1388
        y: 526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 9TmCqtDyQNUaJCKXT7rPGCd21br8q6JzrrUr4xib3E9uqcfMf6t6rxJkkXFK7EzL
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1758713692744'
      position:
        x: 342
        y: 454
      positionAbsolute:
        x: 342
        y: 454
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files:\n        return {\"file_infos_json\": \"[]\"}\n    infos = [                                                             \
          \              \n        {\"url\": f.get(\"url\", \"\"), \"filename\": f.get(\"filename\", \"document.xlsx\")}\n        for f in files                                                         \
          \         \n        if f.get(\"url\")                                   \n    ]                                                                                   \n    return {\"file_infos_json\"\
          : json.dumps(infos)}"
        code_language: python3
        desc: Extract pre-signed URLs and filenames — backend downloads the files
        outputs:
          file_infos_json:
            type: string
        selected: false
        title: Extract File Infos
        type: code
        variables:
        - value_selector:
          - sys
          - files
          variable: files
      height: 112
      id: '1775800000001'
      position:
        x: 1750
        y: 1064
      positionAbsolute:
        x: 1750
        y: 1064
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: parse-srs-file-body
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "file_infos": {{#1775800000001.file_infos_json#}}}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Parse SRS File
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}parse-srs-file'
        variables: []
      height: 177
      id: '1775800000002'
      position:
        x: 2092
        y: 1031
      positionAbsolute:
        x: 2092
        y: 1031
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-73
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "auth_token": "{{#conversation.auth_token#}}"}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Store Avni Auth-Token
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}store-auth-token'
        variables: []
      height: 177
      id: '1775648480416'
      position:
        x: 2454
        y: 922
      positionAbsolute:
        x: 2454
        y: 922
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - avni_ai_server_url
          variable_selector:
          - conversation
          - avni_ai_server_url
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - org_name
          variable_selector:
          - conversation
          - org_name
          write_mode: over-write
        selected: false
        title: Conversation Variables Assigner
        type: assigner
        version: '2'
      height: 136
      id: '1775657870619'
      position:
        x: 362
        y: 624
      positionAbsolute:
        x: 362
        y: 624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 3066368b-a96a-4f38-ad75-aa53556e44f8
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1775719228711'
      position:
        x: 1388
        y: 906
      positionAbsolute:
        x: 1388
        y: 906
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: Set Initial Agent
        type: assigner
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1757492907627'
          - structured_output
          - initial_agent
          variable_selector:
          - conversation
          - active_agent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1757492907627'
          - structured_output
          - workflow_mode
          variable_selector:
          - conversation
          - workflow_mode
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        version: '2'
      height: 136
      id: '1800000000040'
      position:
        x: 1600
        y: 600
      positionAbsolute:
        x: 1600
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        break_conditions:
        - comparison_operator: is
          id: 9b674a5a-6ccb-4687-929b-b238615dd49a
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - agent_loop_active
        error_handle_mode: terminated
        height: 900
        logical_operator: and
        loop_count: 6
        loop_variables:
        - id: a416f73e-492a-44c9-9b05-4e9576a5b7ef
          label: agent_loop_active
          value:
          - conversation
          - agent_loop_active
          value_type: variable
          var_type: boolean
        selected: false
        start_node_id: 1800000000700start
        title: Agent Loop
        type: loop
        width: 4000
      height: 900
      id: '1800000000700'
      position:
        x: 2200
        y: 400
      positionAbsolute:
        x: 2200
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 4000
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1800000000700start
      parentId: '1800000000700'
      position:
        x: 60
        y: 113
      positionAbsolute:
        x: 2260
        y: 513
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Agent Dispatcher
        type: if-else
        cases:
        - case_id: dispatch-spec
          conditions:
          - comparison_operator: is
            id: fb4db41d-7c66-4527-a8dd-14c4db83b4ac
            value: spec
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-spec
          logical_operator: and
        - case_id: dispatch-bundle-config
          conditions:
          - comparison_operator: is
            id: b6837b40-e213-494d-8d55-cfc6f97a2861
            value: bundle_config
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-bundle-config
          logical_operator: and
        - case_id: dispatch-rules
          conditions:
          - comparison_operator: is
            id: f1f9d6d2-27a3-4374-984e-854d53b71595
            value: rules
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-rules
          logical_operator: and
        - case_id: dispatch-reports
          conditions:
          - comparison_operator: is
            id: 6366d54a-6309-4686-940f-529d821f5ba9
            value: reports
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-reports
          logical_operator: and
        - case_id: dispatch-inspect
          conditions:
          - comparison_operator: is
            id: fdf911b5-3c56-4bf0-a69f-ed75d5f5e237
            value: inspect
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-inspect
          logical_operator: and
        - case_id: dispatch-admin
          conditions:
          - comparison_operator: is
            id: afe3f421-0d0b-4367-b96b-37d80d813f6b
            value: admin
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-admin
          logical_operator: and
        desc: ''
      height: 400
      id: '1800000000710'
      parentId: '1800000000700'
      position:
        x: 180
        y: 50
      positionAbsolute:
        x: 2380
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: SPEC_PROMPT_FETCH
        type: http-request
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/spec-agent.txt
        variables: []
      height: 205
      id: '1800000000101'
      parentId: '1800000000700'
      position:
        x: 550
        y: 50
      positionAbsolute:
        x: 2750
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: BUNDLE_CONFIG_PROMPT_FETCH
        type: http-request
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/bundle-config-agent.txt
        variables: []
      height: 205
      id: '1800000000201'
      parentId: '1800000000700'
      position:
        x: 550
        y: 180
      positionAbsolute:
        x: 2750
        y: 580
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: RULES_PROMPT_FETCH
        type: http-request
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/rules-agent.txt
        variables: []
      height: 205
      id: '1800000000301'
      parentId: '1800000000700'
      position:
        x: 550
        y: 310
      positionAbsolute:
        x: 2750
        y: 710
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: REPORTS_PROMPT_FETCH
        type: http-request
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/reports-agent.txt
        variables: []
      height: 205
      id: '1800000000401'
      parentId: '1800000000700'
      position:
        x: 550
        y: 440
      positionAbsolute:
        x: 2750
        y: 840
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: INSPECTOR_PROMPT_FETCH
        type: http-request
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/config-inspector-agent.txt
        variables: []
      height: 205
      id: '1800000000501'
      parentId: '1800000000700'
      position:
        x: 550
        y: 570
      positionAbsolute:
        x: 2750
        y: 970
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: ADMIN_PROMPT_FETCH
        type: http-request
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/admin-agent.txt
        variables: []
      height: 205
      id: '1800000000601'
      parentId: '1800000000700'
      position:
        x: 550
        y: 700
      positionAbsolute:
        x: 2750
        y: 1100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Spec Agent
        type: agent
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000101.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_srs_text
              tool_name: get_srs_text
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: store_entities
              tool_name: store_entities
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_spec_section
              tool_name: get_spec_section
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: update_spec_section
              tool_name: update_spec_section
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_entities_section
              tool_name: get_entities_section
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: update_entities_section
              tool_name: update_entities_section
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: resolve_ambiguities
              tool_name: resolve_ambiguities
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_ambiguities
              tool_name: get_ambiguities
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: chat_srs_init_session
              tool_name: chat_srs_init_session
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: chat_srs_update_section
              tool_name: chat_srs_update_section
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: chat_srs_build_entities
              tool_name: chat_srs_build_entities
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Spec Agent - specialized agent
        error_strategy: fail-branch
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        tool_node_version: '2'
      height: 312
      id: '1800000000110'
      parentId: '1800000000700'
      position:
        x: 950
        y: 50
      positionAbsolute:
        x: 3150
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Bundle Config Agent
        type: agent
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000201.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 10
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: generate_bundle
              tool_name: generate_bundle
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: patch_bundle
              tool_name: patch_bundle
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: download_bundle_b64
              tool_name: download_bundle_b64
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: generate_form
              tool_name: generate_form
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: suggest_form_fields
              tool_name: suggest_form_fields
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: generate_skip_logic
              tool_name: generate_skip_logic
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: read_silo_file
              tool_name: read_silo_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Bundle Config Agent - specialized agent
        error_strategy: fail-branch
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        tool_node_version: '2'
      height: 312
      id: '1800000000210'
      parentId: '1800000000700'
      position:
        x: 950
        y: 180
      positionAbsolute:
        x: 3150
        y: 580
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Rules Agent
        type: agent
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000301.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: generate_rule
              tool_name: generate_rule
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: validate_rule
              tool_name: validate_rule
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Rules Agent - specialized agent
        error_strategy: fail-branch
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        tool_node_version: '2'
      height: 312
      id: '1800000000310'
      parentId: '1800000000700'
      position:
        x: 950
        y: 310
      positionAbsolute:
        x: 3150
        y: 710
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Reports Agent
        type: agent
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000401.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: generate_report_cards
              tool_name: generate_report_cards
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: suggest_dashboard
              tool_name: suggest_dashboard
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Reports Agent - specialized agent
        error_strategy: fail-branch
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        tool_node_version: '2'
      height: 312
      id: '1800000000410'
      parentId: '1800000000700'
      position:
        x: 950
        y: 440
      positionAbsolute:
        x: 3150
        y: 840
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Config Inspector
        type: agent
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000501.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 3
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: compile_requirements
              tool_name: compile_requirements
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: inspect_config
              tool_name: inspect_config
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Config Inspector - specialized agent
        error_strategy: fail-branch
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        tool_node_version: '2'
      height: 312
      id: '1800000000510'
      parentId: '1800000000700'
      position:
        x: 950
        y: 570
      positionAbsolute:
        x: 3150
        y: 970
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Admin Agent
        type: agent
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000601.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT: Use conversation_id for ALL tool calls.'
          maximum_iterations:
            type: constant
            value: 10
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: create_location_type
              tool_name: create_location_type
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: update_location_type
              tool_name: update_location_type
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: delete_location_type
              tool_name: delete_location_type
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_locations
              tool_name: get_locations
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: create_location
              tool_name: create_location
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: update_location
              tool_name: update_location
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: delete_location
              tool_name: delete_location
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: get_catchments
              tool_name: get_catchments
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: create_catchment
              tool_name: create_catchment
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: update_catchment
              tool_name: update_catchment
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: delete_catchment
              tool_name: delete_catchment
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: find_user
              tool_name: find_user
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: update_user
              tool_name: update_user
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: delete_implementation
              tool_name: delete_implementation
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              parameters:
                conversation_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Admin Agent - specialized agent
        error_strategy: fail-branch
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        tool_node_version: '2'
      height: 312
      id: '1800000000610'
      parentId: '1800000000700'
      position:
        x: 950
        y: 700
      positionAbsolute:
        x: 3150
        y: 1100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Output Collector
        type: code
        code: "import json\n\ndef main(active_agent: str,\n         spec_text: str, bundle_text: str, rules_text: str,\n         reports_text: str, inspect_text: str, admin_text: str) -> dict:\n    texts\
          \ = {\n        \"spec\": spec_text,\n        \"bundle_config\": bundle_text,\n        \"rules\": rules_text,\n        \"reports\": reports_text,\n        \"inspect\": inspect_text,\n        \"\
          admin\": admin_text,\n    }\n    agent_text = texts.get(active_agent, \"\") or \"\"\n    memory_entry = json.dumps({\n        \"agent\": active_agent,\n        \"summary\": agent_text[:500],\n\
          \    })\n    spec_just_completed = (\n        active_agent == \"spec\"\n        and \"spec\" in agent_text.lower()\n        and (\"generated\" in agent_text.lower() or \"complete\" in agent_text.lower())\n\
          \    )\n    bundle_just_completed = (\n        active_agent == \"bundle_config\"\n        and \"bundle\" in agent_text.lower()\n        and (\"generated\" in agent_text.lower() or \"complete\"\
          \ in agent_text.lower())\n    )\n    return {\n        \"memory_entry\": memory_entry,\n        \"agent_output\": agent_text,\n        \"spec_just_completed\": spec_just_completed,\n        \"\
          bundle_just_completed\": bundle_just_completed,\n    }\n"
        code_language: python3
        outputs:
          memory_entry:
            type: string
          agent_output:
            type: string
          spec_just_completed:
            type: boolean
          bundle_just_completed:
            type: boolean
        variables:
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - '1800000000110'
          - text
          value_type: string
          variable: spec_text
        - value_selector:
          - '1800000000210'
          - text
          value_type: string
          variable: bundle_text
        - value_selector:
          - '1800000000310'
          - text
          value_type: string
          variable: rules_text
        - value_selector:
          - '1800000000410'
          - text
          value_type: string
          variable: reports_text
        - value_selector:
          - '1800000000510'
          - text
          value_type: string
          variable: inspect_text
        - value_selector:
          - '1800000000610'
          - text
          value_type: string
          variable: admin_text
      height: 112
      id: '1800000000720'
      parentId: '1800000000700'
      position:
        x: 1400
        y: 200
      positionAbsolute:
        x: 3600
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: State Update
        type: assigner
        items:
        - input_type: variable
          operation: append
          value:
          - '1800000000720'
          - memory_entry
          variable_selector:
          - conversation
          - agent_memory
          write_mode: append
        - input_type: variable
          operation: over-write
          value:
          - '1800000000720'
          - spec_just_completed
          variable_selector:
          - conversation
          - spec_complete
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1800000000720'
          - bundle_just_completed
          variable_selector:
          - conversation
          - bundle_complete
          write_mode: over-write
        version: '2'
      height: 136
      id: '1800000000730'
      parentId: '1800000000700'
      position:
        x: 1700
        y: 200
      positionAbsolute:
        x: 3900
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Next Agent Decider
        type: code
        code: "def main(active_agent: str, workflow_mode: str,\n         spec_complete: bool, bundle_complete: bool) -> dict:\n    if workflow_mode == \"targeted\":\n        return {\"next_agent\": \"done\"\
          , \"loop_done\": True}\n\n    chain = [\"spec\", \"bundle_config\", \"rules\", \"reports\", \"inspect\", \"admin\"]\n    try:\n        idx = chain.index(active_agent)\n        if idx < len(chain)\
          \ - 1:\n            next_a = chain[idx + 1]\n            if next_a == \"bundle_config\" and not spec_complete:\n                return {\"next_agent\": \"done\", \"loop_done\": True,\n       \
          \                 \"reason\": \"Spec incomplete\"}\n            if next_a in (\"rules\", \"reports\", \"inspect\") and not bundle_complete:\n                return {\"next_agent\": \"done\", \"\
          loop_done\": True,\n                        \"reason\": \"Bundle incomplete\"}\n            return {\"next_agent\": next_a, \"loop_done\": False}\n        return {\"next_agent\": \"done\", \"\
          loop_done\": True}\n    except ValueError:\n        return {\"next_agent\": \"done\", \"loop_done\": True}\n"
        code_language: python3
        outputs:
          next_agent:
            type: string
          loop_done:
            type: boolean
          reason:
            type: string
        variables:
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - conversation
          - workflow_mode
          value_type: string
          variable: workflow_mode
        - value_selector:
          - conversation
          - spec_complete
          value_type: boolean
          variable: spec_complete
        - value_selector:
          - conversation
          - bundle_complete
          value_type: boolean
          variable: bundle_complete
      height: 112
      id: '1800000000740'
      parentId: '1800000000700'
      position:
        x: 2000
        y: 200
      positionAbsolute:
        x: 4200
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Loop Done Check
        type: if-else
        cases:
        - case_id: loop-done
          conditions:
          - comparison_operator: is
            id: 52c24dd0-ad64-4edd-9b24-e58c32ce587c
            value: 'true'
            varType: boolean
            variable_selector:
            - '1800000000740'
            - loop_done
          id: loop-done
          logical_operator: and
        desc: ''
      height: 148
      id: '1800000000745'
      parentId: '1800000000700'
      position:
        x: 2300
        y: 150
      positionAbsolute:
        x: 4500
        y: 550
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Break Loop
        type: assigner
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        version: '2'
      height: 84
      id: '1800000000751'
      parentId: '1800000000700'
      position:
        x: 2600
        y: 100
      positionAbsolute:
        x: 4800
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Continue Loop
        type: assigner
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000740'
          - next_agent
          variable_selector:
          - conversation
          - active_agent
          write_mode: over-write
        version: '2'
      height: 84
      id: '1800000000752'
      parentId: '1800000000700'
      position:
        x: 2600
        y: 300
      positionAbsolute:
        x: 4800
        y: 700
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Error Handler
        type: answer
        answer: Error in {{#conversation.active_agent#}} agent. Please try again or contact support.
        variables: []
      height: 137
      id: '1800000000760'
      parentId: '1800000000700'
      position:
        x: 2600
        y: 500
      positionAbsolute:
        x: 4800
        y: 900
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        selected: false
        title: Post-Loop Answer
        type: answer
        answer: '{{#1800000000700.output#}}'
        variables: []
      height: 103
      id: '1800000000800'
      position:
        x: 6400
        y: 600
      positionAbsolute:
        x: 6400
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: Pre-Loop Error
        type: answer
        answer: An error occurred while setting up. Please try again or contact support.
        variables: []
      height: 137
      id: '1800000000112'
      position:
        x: 2200
        y: 1300
      positionAbsolute:
        x: 2200
        y: 1300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 351.75
      y: 255.25
      zoom: 0.25
  rag_pipeline_variables: []
