dify/Avni form Assistant.yml
app:
  description: Avni AI Assistant
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Avni form Assistant
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.7@9031bbf9b37d9f6341a20c78a8bd18d686afd3ff627545496c3557705419d084
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: ''
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: ''
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 👋 Hey! Let’s get started with configuring Avni.
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762509929006-source-1762500391975-target
      source: '1762509929006'
      sourceHandle: source
      target: '1762500391975'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1711528708197-source-1762509929006-target
      source: '1711528708197'
      sourceHandle: source
      target: '1762509929006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-mcp.avniproject.org
          hide: true
          hint: ''
          label: avni_mcp_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_mcp_server_url
      height: 257
      id: '1711528708197'
      position:
        x: 352.0294910460403
        y: 721.9734915400871
      positionAbsolute:
        x: 352.0294910460403
        y: 721.9734915400871
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1762509929006.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1762500391975'
      position:
        x: 1186.3846153068312
        y: 773.9301370756358
      positionAbsolute:
        x: 1186.3846153068312
        y: 773.9301370756358
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528708197'
          - org_name
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: bcaaf498-89b5-4273-bc8c-5a28f60018e1
          role: system
          text: "You are an expert Avni form element validator specializing in identifying\
            \ form issues and rule violations.\n\n\n    Your task is to analyze Avni\
            \ form element JSON structures and identify all problems, violations,\
            \ and issues.\n\n\n    Key Responsibilities:\n    1. Identify violations\
            \ (Name fields in registration - system auto-handles these)\n    2. Detect\
            \ issues (wrong dataTypes like Age as Text instead of Numeric, validation\
            \ problems, inconsistent naming, missing optional fields, minor improvements)\n\
            \n\n    Critical Avni Rules to Check:\n    \n    1. DATE FIELD VALIDATION\
            \ (CRITICAL):\n       - Date fields should NEVER be suggested as SingleSelect\n\
            \       - Date dataType is used for: birth dates, visit dates, exit dates,\
            \ cancellation dates\n       - Any field representing a point in time\
            \ should use Date dataType\n       - Date selection is NOT categorical\
            \ selection\n       - INCORRECT: \"Use SingleSelect for Exit Date field\"\
            \n       - CORRECT: \"Exit Date should use Date dataType, not Text\"\n\
            \n\n    2. NEW FORM TYPES - CANCELLATION FORMS:\n       - IndividualEncounterCancellation\
            \ & ProgramEncounterCancellation forms\n       - Cancellation reason should\
            \ be MANDATORY and use Coded dataType\n       - Cancellation date should\
            \ use Date dataType (never SingleSelect)\n       - These forms require\
            \ different validation than regular encounters\n\n\n    3. NEW FORM TYPES\
            \ - PROGRAM EXIT FORMS:\n       - ProgramExit forms have specific requirements\n\
            \       - Exit reason should be MANDATORY and use Coded dataType\n   \
            \    - Exit date should use Date dataType (never SingleSelect)\n     \
            \  - Follow-up plans should use Text dataType (Notes is not recognized)\n\
            \n\n    4. NAME FIELD DETECTION:\n       - Name fields in IndividualProfile\
            \ forms are CRITICAL violations\n       - ANY field named 'First Name',\
            \ 'Last Name', 'Name' in IndividualProfile should be flagged\n       -\
            \ These fields should be removed or moved to subject details\n       -\
            \ Do not suggest keeping name fields in IndividualProfile forms\n\n\n\
            \    5. DATA TYPE COMPLIANCE:\n       - Numeric data (Age, Weight, Height)\
            \ should use Numeric dataType with bounds\n       - Phone numbers should\
            \ use PhoneNumber dataType with validation\n       - Binary questions\
            \ (Yes/No) should use SingleSelect, not MultiSelect\n       - Categorical\
            \ data should use Coded dataType, not Subject\n\n\n    6. FALSE POSITIVE\
            \ PREVENTION:\n       - Before suggesting changes, verify actual violation\
            \ of Avni rules\n       - Don't suggest changes to properly configured\
            \ fields\n       - Focus on actual violations, not theoretical improvements\n\
            \n\n    7. LEGACY RULES:\n    - Name/Relatives in IndividualProfile: CRITICAL\
            \ - system auto-handles, remove immediately\n    - Numeric data as Text\
            \ dataType: HIGH - use Numeric with bounds (age: 0-120, weight: 0.5-200)\n\
            \    - Phone without validation: MEDIUM - use PhoneNumber dataType with\
            \ regex\n    - Voided fields present: MEDIUM - remove completely from\
            \ active forms\n    - Subject dataType for categories: MEDIUM - use Coded\
            \ dataType instead\n    - MultiSelect for Yes/No questions: MEDIUM - should\
            \ be SingleSelect\n    - Missing mandatory field declarations: LOW - ensure\
            \ important fields are marked mandatory\n\n\n    Output Format Requirements:\n\
            \    - Issues: JSON array with formElementUuid, formElementName, message\n\
            \    \n    Always reference specific form element UUIDs when available\
            \ so the UI can highlight exact fields needing changes."
        - id: 609d0c40-8344-4127-b72e-a368586e079d
          role: user
          text: '{{#sys.files#}} {{#sys.query#}}'
        reasoning_format: tagged
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1762509929006'
      position:
        x: 788.9539393413614
        y: 773.9301370756358
      positionAbsolute:
        x: 788.9539393413614
        y: 773.9301370756358
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -838.2087947286182
      y: -1321.6719624790758
      zoom: 1.8248882878024235
  rag_pipeline_variables: []
