dify/Avni designer assistant.yml
app:
  description: Avni AI Assistant integrated with webapp to help design an organisation
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Avni designer assistant
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.7@9031bbf9b37d9f6341a20c78a8bd18d686afd3ff627545496c3557705419d084
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: ''
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: ''
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 👋 Hey! Let’s get started with configuring Avni.
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1762509929006-source-1762500391975-target
      selected: false
      source: '1762509929006'
      sourceHandle: source
      target: '1762500391975'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1711528708197-source-1732870000001-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1732870000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1732870000001-true-1762509929006-target
      selected: false
      source: '1732870000001'
      sourceHandle: 'true'
      target: '1762509929006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1732870000002-source-1732870000003-target
      selected: false
      source: '1732870000002'
      sourceHandle: source
      target: '1732870000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1732870000003-source-1732870000004-target
      selected: false
      source: '1732870000003'
      sourceHandle: source
      target: '1732870000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1732870000001-7a557c49-05d9-4157-8b6b-ce31b2ed7d6a-1732870000002-target
      source: '1732870000001'
      sourceHandle: 7a557c49-05d9-4157-8b6b-ce31b2ed7d6a
      target: '1732870000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1732870000001-false-1762509929006-target
      source: '1732870000001'
      sourceHandle: 'false'
      target: '1762509929006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-mcp.avniproject.org
          hide: true
          hint: ''
          label: avni_mcp_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_mcp_server_url
        - default: FormValidation
          hide: true
          hint: ''
          label: requestType
          max_length: 48
          options:
          - FormValidation
          - VisitSchedule
          placeholder: ''
          required: false
          type: select
          variable: requestType
      height: 283
      id: '1711528708197'
      position:
        x: 352.0294910460403
        y: 721.9734915400871
      positionAbsolute:
        x: 352.0294910460403
        y: 721.9734915400871
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1762509929006.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1762500391975'
      position:
        x: 1273.2861957817972
        y: 607.2500564925043
      positionAbsolute:
        x: 1273.2861957817972
        y: 607.2500564925043
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528708197'
          - org_name
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: bcaaf498-89b5-4273-bc8c-5a28f60018e1
          role: system
          text: "You are an expert Avni form element validator specializing in identifying\
            \ form issues and rule violations.\n\n\n    Your task is to analyze Avni\
            \ form element JSON structures and identify all problems, violations,\
            \ and issues.\n\n\n    Key Responsibilities:\n    1. Identify violations\
            \ (Name fields in registration - system auto-handles these)\n    2. Detect\
            \ issues (wrong dataTypes like Age as Text instead of Numeric, validation\
            \ problems, inconsistent naming, missing optional fields, minor improvements)\n\
            \n\n    Critical Avni Rules to Check:\n    \n    1. DATE FIELD VALIDATION\
            \ (CRITICAL):\n       - Date fields should NEVER be suggested as SingleSelect\n\
            \       - Date dataType is used for: birth dates, visit dates, exit dates,\
            \ cancellation dates\n       - Any field representing a point in time\
            \ should use Date dataType\n       - Date selection is NOT categorical\
            \ selection\n       - INCORRECT: \"Use SingleSelect for Exit Date field\"\
            \n       - CORRECT: \"Exit Date should use Date dataType, not Text\"\n\
            \n\n    2. NEW FORM TYPES - CANCELLATION FORMS:\n       - IndividualEncounterCancellation\
            \ & ProgramEncounterCancellation forms\n       - Cancellation reason should\
            \ be MANDATORY and use Coded dataType\n       - Cancellation date should\
            \ use Date dataType (never SingleSelect)\n       - These forms require\
            \ different validation than regular encounters\n\n\n    3. NEW FORM TYPES\
            \ - PROGRAM EXIT FORMS:\n       - ProgramExit forms have specific requirements\n\
            \       - Exit reason should be MANDATORY and use Coded dataType\n   \
            \    - Exit date should use Date dataType (never SingleSelect)\n     \
            \  - Follow-up plans should use Text dataType (Notes is not recognized)\n\
            \n\n    4. NAME FIELD DETECTION:\n       - Name fields in IndividualProfile\
            \ forms are CRITICAL violations\n       - ANY field named 'First Name',\
            \ 'Last Name', 'Name' in IndividualProfile should be flagged\n       -\
            \ These fields should be removed or moved to subject details\n       -\
            \ Do not suggest keeping name fields in IndividualProfile forms\n\n\n\
            \    5. DATA TYPE COMPLIANCE:\n       - Numeric data (Age, Weight, Height)\
            \ should use Numeric dataType with bounds\n       - Phone numbers should\
            \ use PhoneNumber dataType with validation\n       - Binary questions\
            \ (Yes/No) should use SingleSelect, not MultiSelect\n       - Categorical\
            \ data should use Coded dataType, not Subject\n\n\n    6. FALSE POSITIVE\
            \ PREVENTION:\n       - Before suggesting changes, verify actual violation\
            \ of Avni rules\n       - Don't suggest changes to properly configured\
            \ fields\n       - Focus on actual violations, not theoretical improvements\n\
            \n\n    7. LEGACY RULES:\n    - Name/Relatives in IndividualProfile: CRITICAL\
            \ - system auto-handles, remove immediately\n    - Numeric data as Text\
            \ dataType: HIGH - use Numeric with bounds (age: 0-120, weight: 0.5-200)\n\
            \    - Phone without validation: MEDIUM - use PhoneNumber dataType with\
            \ regex\n    - Voided fields present: MEDIUM - remove completely from\
            \ active forms\n    - Subject dataType for categories: MEDIUM - use Coded\
            \ dataType instead\n    - MultiSelect for Yes/No questions: MEDIUM - should\
            \ be SingleSelect\n    - Missing mandatory field declarations: LOW - ensure\
            \ important fields are marked mandatory\n\n\n    Output Format Requirements:\n\
            \    - Issues: JSON array with formElementUuid, formElementName, message\n\
            \    \n    Always reference specific form element UUIDs when available\
            \ so the UI can highlight exact fields needing changes."
        - id: 609d0c40-8344-4127-b72e-a368586e079d
          role: user
          text: '{{#sys.files#}} {{#sys.query#}}'
        reasoning_format: tagged
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1762509929006'
      position:
        x: 942.0309443515424
        y: 598.0544291915982
      positionAbsolute:
        x: 942.0309443515424
        y: 598.0544291915982
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: cond1
            value: ''
            variable_selector:
            - '1711528708197'
            - requestType
          - comparison_operator: contains
            id: 17398e4a-6c23-439c-bcf6-dc68c0821d86
            value: FormValidation
            varType: string
            variable_selector:
            - '1711528708197'
            - requestType
          id: 'true'
          logical_operator: and
        - case_id: 7a557c49-05d9-4157-8b6b-ce31b2ed7d6a
          conditions:
          - comparison_operator: contains
            id: 5616159f-cdde-4331-abd4-65c4caf180c6
            value: VisitSchedule
            varType: string
            variable_selector:
            - '1711528708197'
            - requestType
          id: 7a557c49-05d9-4157-8b6b-ce31b2ed7d6a
          logical_operator: and
        logical_operator: and
        selected: false
        title: Route by Request Type
        type: if-else
      height: 198
      id: '1732870000001'
      position:
        x: 650
        y: 750
      positionAbsolute:
        x: 650
        y: 750
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - PbU6BVReZ2F8Rm8JIn99UcGfvldJo3V6x0FYp4TfMA3owZBXaUbASK7kegUbSk8S
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval - Visit Schedule
        type: knowledge-retrieval
      height: 90
      id: '1732870000002'
      position:
        x: 950
        y: 900
      positionAbsolute:
        x: 950
        y: 900
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1732870000002'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}\n\n\n            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: vs-prompt-1
          role: system
          text: "# Avni Visit Scheduling Rule Generator — Final Production Prompt\n\
            \nYou are the world's best Avni (OpenCHS) rules engineer.\n\nYou are always\
            \ given two things:\n1. A clear user request (e.g. \"Schedule ANC follow-up\
            \ 28 days after current ANC visit\")\n2. Complete technical context as\
            \ JSON (encounter types, program, concepts, etc.)\n\nThis context is 100%\
            \ authoritative and always present.\n\n## Your Golden Rule\nOnly ask questions\
            \ if something is genuinely missing or ambiguous.  \nOtherwise: understand\
            \ silently and move fast.\n\n## Default Assumptions (unless contradicted)\n\
            - Trigger = completion of current encounter\n- Reference date = encounterDateTime\
            \ of current encounter\n- Flexibility window = ±7 days (e.g., 28 days\
            \ → 21–35 days window)\n- Next visit name = exactly as listed in context\n\
            - Stop scheduling after \"Delivery\" (pregnancy programs) or last visit\
            \ in sequence\n- Program name = \"Maternal Health\" or as specified in\
            \ context\n- Subject name\n- Current Visit name\n\n## Step-by-Step Behavior\n\
            \n### 1. Understand (Silent)\n Read the user request + full context JSON.\n\
            \nIf everything is clear (95% of cases):\n→ Do NOT ask any questions\n\
            → Do NOT say \"I understand\" or mention phases\n→ Go straight to step\
            \ 2\n\nMandatorily ask if:\n- Trigger is unclear (enrolment vs encounter)\n\
            - Timing is completely missing (e.g. \"schedule follow-up\" with no days/weeks)\n\
            - Next visit name is not in context\n- Conflicting info between request\
            \ and context\n\n### 2. Validate (Always Do This)\nPresent a clean table\
            \ with 3–4 real-world scenarios showing exactly when the rule will trigger.\n\
            \nExample:\n| Case                  | Trigger            | Reference Date\
            \     | Next Visit         | Earliest   | Latest     | Will Schedule?\
            \ |\n|-----------------------|--------------------|--------------------|--------------------|------------|------------|----------------|\n\
            | Standard ANC visit    | ANC completed      | 2025-04-01         | ANC\
            \ - Follow Up    | 2025-04-22 | 2025-05-06 | Yes            |\n| Early\
            \ completion      | ANC on day 20      | 2025-03-20         | ANC - Follow\
            \ Up        | Today      | +14 days   | Yes            |\n| After Delivery\
            \ | Delivery recorded  | 2025-06-15         | (none)           | —   \
            \       | —          | No             |\n\nThen ask:\nDo these scenarios\
            \ match exactly what you want?  \nReply **YES** to get the final rule\
            \ code, or tell me what to change.\n\n### 3. Generate Code (Only After\
            \ User Says \"YES\")\nDeliver:\n1. Complete, clean, production-ready JavaScript\
            \ rule\n2. One-line plain English summary\n3. No extra chatter\n Use this\
            \ exact code format:\n```javascript\n\"use strict\";\n({params, imports})\
            \ => {\n    const { entity, today } = params;\n    const builder = new\
            \ imports.rulesConfig.VisitScheduleBuilder({entity});\n\n    // Example:\
            \ ANC to ANC Follow Up (28 days ±7)\n    if (entity.encounterType.name\
            \ === \"ANC\") {\n        if (entity.individual.hasEncounterOfType(\"\
            \ Delivery\")) return builder.getAll();\n\n        const baseDate = entity.encounterDateTime;\n\
            \ builder.scheduleNext({\n            visitType: \"ANC - Follow Up\",\n\
            \            earliestDate: baseDate.addDays(21),\n            dueDate:\
            \ baseDate.addDays(28),\n            maxDate: baseDate.addDays(35)\n });\
            \ }\n\n    return builder.getAll();\n};\n\n## Context and Technical Details\n\
            Use this context for technical implementation: {{#context#}}"
        - id: vs-prompt-2
          role: user
          text: '{{#sys.query#}} {{#sys.files#}}'
        reasoning_format: tagged
        selected: false
        title: LLM - Visit Schedule
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1732870000003'
      position:
        x: 1251.4050029628945
        y: 900
      positionAbsolute:
        x: 1251.4050029628945
        y: 900
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1732870000003.text#}}'
        selected: false
        title: Answer - Visit Schedule
        type: answer
        variables: []
      height: 103
      id: '1732870000004'
      position:
        x: 1550
        y: 900
      positionAbsolute:
        x: 1550
        y: 900
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -191.1898533944243
      y: -258.4358219768303
      zoom: 0.6970948271661209
  rag_pipeline_variables: []
