dify/Avni [Staging] Sub-Agentic Assistant.yml
app:
  description: Avni AI Assistant
  icon: b849950f-3cae-4021-afc0-ce88c5d12035
  icon_background: ''
  icon_type: image
  mode: advanced-chat
  name: Avni [Staging] Sub-Agentic Assistant
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.8@6706e34565fb2c560cc3641c888b7f4e34288928df913e92241bd6d4f830a0cf
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: ''
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: ''
    id: c6cba07c-9187-4228-842f-42a0e3f2f709
    name: org_name
    selector:
    - conversation
    - org_name
    value: ''
    value_type: string
  - description: ''
    id: 0afa1396-e90b-4bbe-aa59-9f4e870a4792
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: ''
    id: 93cecf97-c283-40f6-a8bd-efd306bd94b1
    name: avni_ai_server_url
    selector:
    - conversation
    - avni_ai_server_url
    value: https://staging-ai.avniproject.org/
    value_type: string
  - description: ''
    id: a1d26303-4267-47ef-8662-2b246b1079f1
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: ''
    id: 133121cd-ffdc-4b00-a6d4-50e44d42e9d0
    name: active_agent
    selector:
    - conversation
    - active_agent
    value: ''
    value_type: string
  - description: ''
    id: e70690cc-336c-46f4-b20b-576153bbb9b7
    name: agent_memory
    selector:
    - conversation
    - agent_memory
    value: ''
    value_type: string
  - description: ''
    id: 4b1f4a64-c732-4f11-acb3-a6ecd9214738
    name: agent_loop_active
    selector:
    - conversation
    - agent_loop_active
    value: false
    value_type: boolean
  - description: ''
    id: 467f932c-99b5-443b-902f-55c458b858b2
    name: workflow_mode
    selector:
    - conversation
    - workflow_mode
    value: ''
    value_type: string
  - description: Flag-driven routing, current state machine phase.
    id: c5468d0e-dc76-4103-a1b0-c4d1da7fea4b
    name: active_phase
    selector:
    - conversation
    - active_phase
    value: intake
    value_type: string
  - description: Short-circuit flag for pending Spec Agent gap-fix input.
    id: 1103bd6a-9f6d-4c17-a1ae-2efd2a2a2218
    name: spec_awaiting_user_input
    selector:
    - conversation
    - spec_awaiting_user_input
    value: false
    value_type: boolean
  - description: Pending ambiguity questions from enrich_spec.
    id: 07169e52-4142-41fc-b21e-f404065cf936
    name: pending_ambiguities
    selector:
    - conversation
    - pending_ambiguities
    value: []
    value_type: array[object]
  - description: Last pipeline gate status.
    id: 2bf03c81-3bea-4703-886f-d34bcc8913bd
    name: last_gate_status
    selector:
    - conversation
    - last_gate_status
    value: not_run
    value_type: string
  - description: Last agent structured payload as a JSON string.
    id: f81440ee-c8be-4235-915f-eceb4d47df9f
    name: agent_structured
    selector:
    - conversation
    - agent_structured
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .xlsx
      - .csv
      - .json
      - .zip
      - .txt
      allowed_file_types:
      - document
      - custom
      allowed_file_upload_methods:
      - local_file
      enabled: true
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: Hey {{user_name}} ! I’m your AI assistant . I can help you with any questions about Avni — from creating
      new forms automatically to guiding you through the platform. How can I help you today?
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      config:
        inputs_config:
          enabled: true
          preset_response: In-appropriate input, only designed to help with Avni implementation tasks.
        outputs_config:
          enabled: true
          preset_response: I apologize, but I can only provide assistance with Avni implementation topics.
      enabled: true
      type: openai_moderation
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1757492907627-source-1757493270484-target
      selected: false
      source: '1757492907627'
      sourceHandle: source
      target: '1757493270484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1757495664531-source-1757495688732-target
      selected: false
      source: '1757495664531'
      sourceHandle: source
      target: '1757495688732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-3489d477-53a2-4b99-9f40-af010262a1c1-1758608702077-target
      selected: false
      source: '1757493270484'
      sourceHandle: 3489d477-53a2-4b99-9f40-af010262a1c1
      target: '1758608702077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1757493270484-8ad5b2c6-6d29-4e4f-9f13-7682d4803a70-1758699378772-target
      selected: false
      source: '1757493270484'
      sourceHandle: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
      target: '1758699378772'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528708197-source-1758713692744-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1758713692744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1758713692744-source-1757492907627-target
      selected: false
      source: '1758713692744'
      sourceHandle: source
      target: '1757492907628'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1757492907628-source-1800000000045-target
      selected: false
      source: '1757492907628'
      sourceHandle: source
      target: '1800000000045'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1800000000045-false-1757492907627-target
      selected: false
      source: '1800000000045'
      sourceHandle: 'false'
      target: '1757492907627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1800000000045-spec-awaiting-1800000000046-target
      selected: false
      source: '1800000000045'
      sourceHandle: spec-awaiting
      target: '1800000000046'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1800000000046-source-1800000000047-target
      selected: false
      source: '1800000000046'
      sourceHandle: source
      target: '1800000000047'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1800000000047-source-1775719228711-target
      selected: false
      source: '1800000000047'
      sourceHandle: source
      target: '1775719228711'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-false-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'false'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1757493270484-true-1757495664531-target
      selected: false
      source: '1757493270484'
      sourceHandle: 'true'
      target: '1757495664531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1775719228711-false-1775648480416-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'false'
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1775719228711-true-1775800000001-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'true'
      target: '1775800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1775800000001-source-1775800000002-target
      selected: false
      source: '1775800000001'
      sourceHandle: source
      target: '1775800000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1775800000002-source-1775648480416-target
      selected: false
      source: '1775800000002'
      sourceHandle: source
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 1711528708197-source-1775657870619-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1775657870619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1757493270484-case-agent-work-1800000000040-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-agent-work
      target: '1800000000040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1757493270484-case-bundle-setup-1800000000040-target
      selected: false
      source: '1757493270484'
      sourceHandle: case-bundle-setup
      target: '1800000000040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1800000000040-source-1775719228711-target
      selected: false
      source: '1800000000040'
      sourceHandle: source
      target: '1775719228711'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: loop
      id: 1775648480416-source-1800000000700-target
      selected: false
      source: '1775648480416'
      sourceHandle: source
      target: '1800000000700'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775648480416-fail-branch-1800000000112-target
      selected: false
      source: '1775648480416'
      sourceHandle: fail-branch
      target: '1800000000112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775800000002-fail-branch-1800000000112-target
      selected: false
      source: '1775800000002'
      sourceHandle: fail-branch
      target: '1800000000112'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: loop-start
        targetType: if-else
      id: 1800000000700start-source-1800000000710-target
      selected: false
      source: 1800000000700start
      sourceHandle: source
      target: '1800000000710'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-spec-1800000000101-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-spec
      target: '1800000000101'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-bundle-config-1800000000201-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-bundle-config
      target: '1800000000201'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-rules-1800000000301-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-rules
      target: '1800000000301'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-reports-1800000000401-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-reports
      target: '1800000000401'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-inspect-1800000000501-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-inspect
      target: '1800000000501'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: http-request
      id: 1800000000710-dispatch-admin-1800000000601-target
      selected: false
      source: '1800000000710'
      sourceHandle: dispatch-admin
      target: '1800000000601'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: code
      id: 1800000000710-false-1800000000720-target
      selected: false
      source: '1800000000710'
      sourceHandle: 'false'
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000101-source-1800000000110-target
      selected: false
      source: '1800000000101'
      sourceHandle: source
      target: '1800000000110'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000201-source-1800000000210-target
      selected: false
      source: '1800000000201'
      sourceHandle: source
      target: '1800000000210'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000301-source-1800000000310-target
      selected: false
      source: '1800000000301'
      sourceHandle: source
      target: '1800000000310'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000401-source-1800000000410-target
      selected: false
      source: '1800000000401'
      sourceHandle: source
      target: '1800000000410'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000501-source-1800000000510-target
      selected: false
      source: '1800000000501'
      sourceHandle: source
      target: '1800000000510'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: agent
      id: 1800000000601-source-1800000000610-target
      selected: false
      source: '1800000000601'
      sourceHandle: source
      target: '1800000000610'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000110-source-1800000000720-target
      selected: false
      source: '1800000000110'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000210-source-1800000000720-target
      selected: false
      source: '1800000000210'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000310-source-1800000000720-target
      selected: false
      source: '1800000000310'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000410-source-1800000000720-target
      selected: false
      source: '1800000000410'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000510-source-1800000000720-target
      selected: false
      source: '1800000000510'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: code
      id: 1800000000610-source-1800000000720-target
      selected: false
      source: '1800000000610'
      sourceHandle: source
      target: '1800000000720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000110-fail-branch-1800000000760-target
      selected: false
      source: '1800000000110'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000210-fail-branch-1800000000760-target
      selected: false
      source: '1800000000210'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000310-fail-branch-1800000000760-target
      selected: false
      source: '1800000000310'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000410-fail-branch-1800000000760-target
      selected: false
      source: '1800000000410'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000510-fail-branch-1800000000760-target
      selected: false
      source: '1800000000510'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: agent
        targetType: answer
      id: 1800000000610-fail-branch-1800000000760-target
      selected: false
      source: '1800000000610'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000101-fail-branch-1800000000760-target
      selected: false
      source: '1800000000101'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000201-fail-branch-1800000000760-target
      selected: false
      source: '1800000000201'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000301-fail-branch-1800000000760-target
      selected: false
      source: '1800000000301'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000401-fail-branch-1800000000760-target
      selected: false
      source: '1800000000401'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000501-fail-branch-1800000000760-target
      selected: false
      source: '1800000000501'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: answer
      id: 1800000000601-fail-branch-1800000000760-target
      selected: false
      source: '1800000000601'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: code
        targetType: assigner
      id: 1800000000761-source-1800000000760-target
      selected: false
      source: '1800000000761'
      sourceHandle: source
      target: '1800000000760'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: code
        targetType: code
      id: 1800000000720-source-1800000000725-target
      selected: false
      source: '1800000000720'
      sourceHandle: source
      target: '1800000000725'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: code
        targetType: assigner
      id: 1800000000725-source-1800000000727-target
      selected: false
      source: '1800000000725'
      sourceHandle: source
      target: '1800000000727'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: assigner
        targetType: assigner
      id: 1800000000727-source-1800000000730-target
      selected: false
      source: '1800000000727'
      sourceHandle: source
      target: '1800000000730'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: code
        targetType: if-else
      id: 1800000000740-source-1800000000745-target
      selected: false
      source: '1800000000740'
      sourceHandle: source
      target: '1800000000745'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: assigner
      id: 1800000000745-loop-done-1800000000751-target
      selected: false
      source: '1800000000745'
      sourceHandle: loop-done
      target: '1800000000751'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: assigner
      id: 1800000000745-false-1800000000752-target
      selected: false
      source: '1800000000745'
      sourceHandle: 'false'
      target: '1800000000752'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: loop
        targetType: agent
      id: 1800000000700-source-1776327635368-target
      selected: false
      source: '1800000000700'
      sourceHandle: source
      target: '1776327635368'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 1776327635368-source-1800000000800-target
      selected: false
      source: '1776327635368'
      sourceHandle: source
      target: '1800000000800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: assigner
        targetType: http-request
      id: 1800000000730-source-1800000000770-target
      selected: false
      source: '1800000000730'
      sourceHandle: source
      target: '1800000000770'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: code
      id: 1800000000770-fail-branch-1800000000761-target
      selected: false
      source: '1800000000770'
      sourceHandle: fail-branch
      target: '1800000000761'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: http-request
        targetType: code
      id: 1800000000770-source-1800000000776-target
      selected: false
      source: '1800000000770'
      sourceHandle: source
      target: '1800000000776'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: code
        targetType: if-else
      id: 1800000000776-source-1800000000779-target
      selected: false
      source: '1800000000776'
      sourceHandle: source
      target: '1800000000779'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: assigner
        targetType: if-else
      id: 1800000000779-source-1800000000777-target
      selected: false
      source: '1800000000779'
      sourceHandle: source
      target: '1800000000777'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: code
      id: 1800000000777-false-1800000000740-target
      selected: false
      source: '1800000000777'
      sourceHandle: 'false'
      target: '1800000000740'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: if-else
        targetType: assigner
      id: 1800000000777-gate-has-questions-1800000000778-target
      selected: false
      source: '1800000000777'
      sourceHandle: gate-has-questions
      target: '1800000000778'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: true
        loop_id: '1800000000700'
        sourceType: assigner
        targetType: code
      id: 1800000000778-source-1800000000740-target
      selected: false
      source: '1800000000778'
      sourceHandle: source
      target: '1800000000740'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_ai_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_ai_server_url
      height: 255
      id: '1711528708197'
      position:
        x: 0
        y: 703
      positionAbsolute:
        x: 0
        y: 703
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params:
            temperature: 0
            cache_system_message: true
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: b14eb575-d615-41dd-aac1-00663db3a6eb
          role: system
          text: "You are the Avni Platform Orchestrator of the Avni AI Assistant. Route user messages based on their PRIMARY\
            \ INTENT, not the complexity or specificity of their\nquestion.\n\n<context>\n{{#context#}}\n</context>\n\nFile\
            \ upload status: {{#1757492907628.file_info#}}\n\n## Core Routing Logic\n\n\n**OVERRIDE RULES**:\n1. If a message\
            \ is clearly NOT about Avni or data collection platforms → OUT_OF_SCOPE\n2. If a message starts with capability\
            \ questions (\"Is it possible\", \"Can Avni\", \"Does Avni support\", \"Is there a way\", \"How can I\"), it is\
            \ ALWAYS RAG regardless of complexity.\n\n\n### BUNDLE_SETUP — Program Setup from Uploaded SRS/Specification Files\n\
            \n**Priority: HIGHEST — evaluate before RAG and ASSISTANT**\n\n**HARD OVERRIDE — gap-fix continuation (defense-in-depth;\
            \ the workflow normally short-circuits past this classifier via the Spec Awaiting Check IF-ELSE node when conversation.spec_awaiting_user_input\
            \ is true, so this rule is only a fallback):**\nScan the MOST RECENT assistant turn in the conversation history.\
            \ If it contains either (a) a fenced ```json``` block with `\\\"intent\\\": \\\"ask_user\\\"`, or (b) the legacy\
            \ literal token `[AWAITING_USER_INPUT]` (pre-Stage-A agents), this user message is a reply to a pending Spec Agent\
            \ gap-fix question. You MUST route:\n  service = BUNDLE_SETUP\n  initial_agent = spec\n  workflow_mode = generic\n\
            \  clarification_needed = false\n  routing_reason = \"Continuation of Spec Agent gap-fix dialog (prior turn asked\
            \ user).\"\nApply this rule even when the user's reply is terse (\"remove all\", \"use defaults\", \"option B\
            \ for all\", \"1:A, 2:B, 3:Remove\", \"yes\", \"no\"), looks like a deletion request, looks out-of-scope, or mentions\
            \ nothing about Avni. Terse corrections during an active setup are never RAG/ASSISTANT/OUT_OF_SCOPE.\n\n**Route\
            \ BUNDLE_SETUP when ANY of the following:**\n1. The file upload status above shows files were uploaded (has_files\
            \ = true)\n2. User's message mentions uploading a file, SRS, scoping sheet, or specification document\n3. The\
            \ conversation already has BUNDLE_SETUP activity (earlier assistant turns produced spec/bundle/upload output,\
            \ even if no ask_user JSON), AND the current user message is a short reply or continuation — e.g., \"proceed\"\
            , \"approve\", \"approved\", \"looks good\", \"yes go ahead\", \"no change\", \"remove X\", \"keep X\", \"option\
            \ A\", \"1, 2, 3\", \"use defaults\", \"what's next?\", \"continue\", any message under 200 chars that reads as\
            \ a reply rather than a new question.\n4. User explicitly says \"upload SRS\", \"upload spec\", \"upload field\
            \ workflow\", \"generate bundle from file\"\n\n**When routing BUNDLE_SETUP, ALWAYS set initial_agent = \\\"spec\\\
            \" and workflow_mode = \\\"generic\\\"**. The spec agent must run first to parse the SRS and extract entities\
            \ before bundle generation. For the HARD OVERRIDE case above, `initial_agent = spec` is non-negotiable — the Spec\
            \ Agent is the only agent that can apply the user's gap-fix answers.\n\n**Do NOT route here for:**\n- Verbal SRS\
            \ description without a file (and no prior BUNDLE_SETUP activity) → ASSISTANT\n- General Avni platform questions\
            \ (when conversation has no active setup) → RAG\n\n\n### RAG - Platform Knowledge & Capabilities\n\n\n**Primary\
            \ Intent**: Learning what Avni can/cannot do\n\n\n**Definitive Indicators** (Route to RAG even if complex):\n\
            - \"What is Avni?\" → RAG (basic platform knowledge)\n- \"Tell me about Avni\" → RAG (platform overview)\n- \"\
            Is it possible to...\" → RAG (capability inquiry)\n- \"Can Avni...\" → RAG (platform capability)\n- \"Does Avni\
            \ support...\" → RAG (feature question)\n- \"Is there a way to...\" → RAG (method inquiry)\n- \"How can I...\"\
            \ → RAG (step-by-step guidance inquiry)\n- \"What are the limitations of...\" → RAG (constraint question)\n- \"\
            How does Avni handle...\" → RAG (mechanism inquiry)\n\n\n**Key Principle**: Complexity of the scenario does NOT\
            \ change the\nintent. A detailed capability question is still a capability question.\n\n\n\n### ASSISTANT - Custom/Novel\
            \ Requirements\n\n\n**Primary Intent**: Building something new or unique\n\n\n**Indicators**: - \"We need something\
            \ that doesn't exist...\" - \"Can you\nbuild/create/develop...\" - \"We have unique requirements...\" -\n\"Integration\
            \ with external system X...\" - \"Delete everything and start fresh...\" - \"Clean slate configuration...\" -\
            \ \"Remove all my current setup...\"\n\n\n### OUT_OF_SCOPE - Not Avni Related\n\n\n**Primary Intent**: Questions\
            \ completely unrelated to Avni or data collection platforms\n\n\n**Definitive Indicators**:\n- Questions for which\
            \ no relevant context available in this prompt\n- General programming/coding questions not specific to Avni\n\
            - Questions about other software platforms (Salesforce, Excel, etc.)\n- Personal questions, weather, news, entertainment\n\
            - Academic questions unrelated to health/social programs\n- Technical questions about non-Avni systems\n- \"What\
            \ is the capital of...\" / \"How do I cook...\" / \"What's the weather...\"\n- Questions about competitors without\
            \ Avni context\n\n\n\n**EXCEPTION**: Greeting messages (\"Hi\", \"Hello\", \"Good morning\") should NOT be marked\
            \ as OUT_OF_SCOPE. These require clarification to understand the user's actual intent.\n\n\n## Decision Framework\n\
            \n\n**Step 1**: Check relevance - If clearly NOT about Avni/data collection → OUT_OF_SCOPE (STOP HERE)\n**EXCEPTION**:\
            \ If greeting message → Set clarification_needed = true\n\n\n**Step 2**: Identify the question type - If starts\
            \ with capability\nquestions → RAG (STOP HERE) - If describes implementation needs →\nASSISTANT - If requests\
            \ deletion/configuration changes → ASSISTANT\n\n\n## Critical Examples\n\n✅ User uploads Excel/CSV/ZIP file →\
            \ **BUNDLE_SETUP** (highest priority)\n✅ \"Proceed with the spec\" when setup_mode_active=true → **BUNDLE_SETUP**\
            \ (follow-up)\n✅ \"Here is my SRS\" (with file attached) → **BUNDLE_SETUP**\n\n✅ \"What is Avni?\" → **RAG** (basic\
            \ platform knowledge)\n\n✅ \"Tell me about Avni platform\" → **RAG** (platform overview)\n\n✅ \"What does Avni\
            \ do?\" → **RAG** (platform purpose/functionality)\n\n✅ \"Is it possible to automatically show selected answers\
            \ from Clinical\nAssessment in Follow-up Visit forms?\" → **RAG** (capability question,\nregardless of technical\
            \ complexity)\n\n✅ \"Can Avni restrict encounter forms to single entry per individual?\" →\n**RAG** (capability\
            \ question)\n\n✅ \"Is there a way to integrate complex multi-step approval workflows?\"\n→ **RAG** (capability\
            \ question, even if the workflow is complex)\n\n✅ \"What are catchments\"\n✅ \"What are user groups\"\n✅ \"What\
            \ are identifiers\"\n✅ \"What is an identifier source\"\n✅ \"How do I create a new catchment\"\n✅ \"What is a\
            \ program\"\n✅ \"What is a subject type\"\n✅ \"How can I setup the assignment feature in Avni?\" → **RAG** (step-by-step\
            \ guidance question)\n\n✅ \"I want to delete my entire configuration and start fresh\" → **ASSISTANT** (implementation\
            \ request for complete deletion)\n\n✅ \"Can you help me clean slate my Avni setup?\" → **ASSISTANT** (configuration\
            \ deletion and rebuild request)\n\n✅ \"Remove everything and build a new configuration\" → **ASSISTANT** (delete\
            \ and create request)\n\n\n\n✅ \"What is the capital of France?\" → **OUT_OF_SCOPE** (not related to Avni)\n\n\
            \n✅ \"How do I write Python code for web scraping?\" → **OUT_OF_SCOPE** (general programming, not Avni-specific)\n\
            \n\n✅ \"Can you help me with my Excel formulas?\" → **OUT_OF_SCOPE** (different platform)\n\n\n✅ \"Hello\" → **RAG**\
            \ with clarification_needed = true (greeting requires clarification)\n\n\n✅ \"Hi there\" → **RAG** with clarification_needed\
            \ = true (greeting requires clarification)\n\n\n❌ **WRONG**: \"Sounds complex/custom → ASSISTANT\" ✅ **CORRECT**:\n\
            \"Starts with capability question → RAG\"\n\n\n## Common Misrouting Traps to Avoid\n\n\n**Trap 1**: Complexity\
            \ Bias - ❌ \"Complex scenario = custom work =\nASSISTANT\" - ✅ \"Capability question = platform inquiry = RAG\"\
            \n\n\n**Trap 2**: Implementation Details Bias - ❌ \"Mentions specific\ntechnical details = ASSISTANT\" - ✅ \"\
            Asking IF it's possible = RAG\"\n\n\n**Trap 3**: Domain Specificity Bias - ❌ \"Very specific use case =\nASSISTANT\"\
            \ - ✅ \"Question format determines intent\"\n\n\n**Trap 4**: Relevance Assumption - ❌ \"Any question = must be\
            \ Avni-related\" - ✅ \"Check if actually about Avni/data collection first\"\n\n\n**Trap 5**: Greeting Misrouting\
            \ - ❌ \"Greeting = OUT_OF_SCOPE\" - ✅ \"Greeting = needs clarification to understand intent\"\n\n\n## Response\
            \ Format\n\n\n``` json\n{\n  \"service\": \"RAG|ASSISTANT|BUNDLE_SETUP|OUT_OF_SCOPE\",\n  \"initial_agent\": \"\
            spec|bundle_config|rules|reports|inspect|admin\",\n  \"workflow_mode\": \"targeted|generic\",\n  \"confidence\"\
            : 0.0-1.0,\n  \"question_type\": \"capability_inquiry|implementation_request|novel_requirement|not_avni_related\"\
            ,\n  \"routing_reason\": \"Brief explanation focusing on question structure, not content complexity\",\n  \"clarification_needed\"\
            : true|false,\n  \"clarifying_questions\": [\"question1\", \"question2\"]\n}\n```\n\n\n## Clarifying Questions\
            \ Strategy\n\n\nAsk maximum 2 clarifying questions when:\n- Intent is ambiguous between RAG and Assistant\n- User\
            \ provides insufficient context about their needs\n- Requirements could match multiple services\n- User sends\
            \ only greeting messages without specific questions\n\n\n**Example clarifying questions:**\n- \"Could you describe\
            \ what type of programs your organization runs?\"\n- \"Are you looking to learn about Avni's capabilities or need\
            \ help setting something up?\"\n- \"Is this similar to typical community health/education programs?\"\n- \"How\
            \ can I help you with Avni today?\" (for greetings)\n\n\n**General Prompt for Clarification:** When unsure, ask\
            \ concise,\nopen-ended clarifying questions that help determine whether the user is\nasking about platform capabilities\
            \ (RAG) or needs implementation help\n(ASSISTANT). Never ask more than two questions at once.\n\n\n## Mental Model\
            \ Validation\n\n\nBefore routing, ask:\n1. **\"Is this just a greeting message?\"** - YES → RAG with clarification_needed\
            \ = true\n2. **\"Is this question actually about Avni or data collection platforms?\"** - NO → OUT_OF_SCOPE\n\
            3. **\"Is the user asking IF something is possible, or telling me they WANT something implemented?\"** - IF possible\
            \ → RAG - WANT implemented → ASSISTANT\n\n\n## Decision Tree for Edge Cases\n\n\n    User Message\n        │\n\
            \        ├── NOT about Avni/data collection (general questions, other platforms)?\n        │   └── YES → OUT_OF_SCOPE\n\
            \        │\n        ├── Starts with \"Is it possible...\" / \"Can Avni...\" / \"Does Avni...\" / \"How can I...\"\
            \ ?\n        │   └── YES → RAG (regardless of complexity)\n        │\n        ├── Describes implementation needs\
            \ (\"We need...\", \"Help us set up...\", \"Our org wants...\") or deletion       requests (\"Delete everything...\"\
            , \"Clean slate...\", \"Remove all...\")?\n        │   └── YES → ASSISTANT\n        │\n        └── UNCLEAR → Default\
            \ to RAG (safer for capability questions)"
        - id: 36b2faa1-0e45-4962-8107-74a07045af09
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              clarification_needed:
                type: boolean
              clarifying_questions:
                items:
                  type: string
                type: array
              confidence:
                type: number
              initial_agent:
                type: string
              question_type:
                type: string
              routing_reason:
                type: string
              service:
                type: string
              workflow_mode:
                type: string
            required:
            - service
            - initial_agent
            - workflow_mode
            - confidence
            - question_type
            - routing_reason
            - clarification_needed
            - clarifying_questions
            type: object
        structured_output_enabled: true
        title: Orchestrator
        type: llm
        variables: []
        vision:
          enabled: false
      height: 86
      id: '1757492907627'
      position:
        x: 1385
        y: 756
      positionAbsolute:
        x: 1385
        y: 756
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(files: list) -> dict:\n    if files and len(files) > 0:\n        names = [f.get(\"filename\", f.get(\"\
          name\", \"unknown\")) for f in files if isinstance(f, dict)]\n        return {\"has_files\": True, \"file_info\"\
          : f\"User uploaded {len(files)} file(s): {', '.join(names)}\"}\n    return {\"has_files\": False, \"file_info\"\
          : \"No files uploaded\"}\n"
        code_language: python3
        outputs:
          file_info:
            type: string
          has_files:
            type: boolean
        selected: false
        title: Check Files
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
      height: 50
      id: '1757492907628'
      position:
        x: 683
        y: 763
      positionAbsolute:
        x: 683
        y: 763
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 3489d477-53a2-4b99-9f40-af010262a1c1
          conditions:
          - comparison_operator: is
            id: 93fbecf3-5468-4878-84ce-37c7cfa15625
            value: 'true'
            varType: object
            variable_selector:
            - '1757492907627'
            - structured_output
            - clarification_needed
          - comparison_operator: <
            id: 964871af-0fc9-45e9-a795-d2fda4b4ad34
            value: '0.8'
            varType: number
            variable_selector:
            - '1757492907627'
            - structured_output
            - confidence
          id: 3489d477-53a2-4b99-9f40-af010262a1c1
          logical_operator: and
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: fb0a1b2b-46e8-4a67-8b98-b44ea87869db
            value: RAG
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 'true'
          logical_operator: and
        - case_id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          conditions:
          - comparison_operator: is
            id: beb8a551-f66d-4add-9480-bb9c185119f4
            value: OUT_OF_SCOPE
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: 8ad5b2c6-6d29-4e4f-9f13-7682d4803a70
          logical_operator: and
        - case_id: case-agent-work
          conditions:
          - comparison_operator: is
            id: c3b0ee63-3c37-45ad-a05e-0f7b28599a90
            value: ASSISTANT
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-agent-work
          logical_operator: and
        - case_id: case-bundle-setup
          conditions:
          - comparison_operator: is
            id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
            value: BUNDLE_SETUP
            varType: string
            variable_selector:
            - '1757492907627'
            - structured_output
            - service
          id: case-bundle-setup
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 484
      id: '1757493270484'
      position:
        x: 1746
        y: 557
      positionAbsolute:
        x: 1746
        y: 557
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1758713692744'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.3
            cache_system_message: true
          mode: chat
          name: claude-sonnet-4-6
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 5aa1519b-cc32-4d81-aaa2-c2e8e6b46c0c
          role: system
          text: "Use the following context as your learned knowledge, inside <context></context> XML tags.\n<context>\n{{#context#}}\n\
            </context>\nYou are talking to {{#1711528708197.user_name#}}from {{#1711528708197.org_name#}}\nYou are part of\
            \ the Avni AI Assistant. The Avni AI Assistant is capable of the following\n1. Answering questions about the Avni\
            \ system\n2. Assistance with designing workflows, forms, rules, reports, and full program setup on Avni\n\nYou\
            \ must not guess or invent Avni features, workflows, or UI options that are not explicitly known.\n\nWhen answer\
            \ to user:\n- If you don't know, just say that you don't know.\n- If you don't know when you are not sure, ask\
            \ for clarification.\n- If greeting, greet professionaly by their name :  {{#1711528708197.user_name#}}\n- Do\
            \ not greet repeatedly in every response.\n- Never infer or assume features (e.g., don't claim a program can be\
            \ assigned to a catchment unless explicitly supported).\n- If there is any ambiguity, ask a clarifying question\
            \ instead of guessing.\n  Avoid mentioning that you obtained the information from the context.\n  And answer according\
            \ to the language of the user's question."
        selected: false
        title: RAG LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 86
      id: '1757495664531'
      position:
        x: 2107
        y: 872
      positionAbsolute:
        x: 2107
        y: 872
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1757495664531.text#}}'
        desc: ''
        selected: false
        title: RAG Answer
        type: answer
        variables: []
      height: 101
      id: '1757495688732'
      position:
        x: 2448
        y: 864
      positionAbsolute:
        x: 2448
        y: 864
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: Hey {{#1711528708197.user_name#}}I need some clarification.{{#1757492907627.structured_output.clarifying_questions#}}
        selected: false
        title: Clarify the question
        type: answer
        variables: []
      height: 136
      id: '1758608702077'
      position:
        x: 2107
        y: 446
      positionAbsolute:
        x: 2107
        y: 446
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: This assistant can help you with any questions related to Avni. This does not seem relevant to Avni.
        selected: false
        title: Unrelated Question
        type: answer
        variables: []
      height: 130
      id: '1758699378772'
      position:
        x: 2107
        y: 662
      positionAbsolute:
        x: 2107
        y: 662
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 9TmCqtDyQNUaJCKXT7rPGCd21br8q6JzrrUr4xib3E9uqcfMf6t6rxJkkXFK7EzL
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 88
      id: '1758713692744'
      position:
        x: 342
        y: 744
      positionAbsolute:
        x: 342
        y: 744
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files:\n        return {\"file_infos_json\": \"[]\"\
          }\n    infos = [                                                                           \n        {\"url\": f.get(\"\
          url\", \"\"), \"filename\": f.get(\"filename\", \"document.xlsx\")}\n        for f in files                    \
          \                                              \n        if f.get(\"url\")                                   \n\
          \    ]                                                                                   \n    return {\"file_infos_json\"\
          : json.dumps(infos)}"
        code_language: python3
        desc: Extract pre-signed URLs and filenames — backend downloads the files
        outputs:
          file_infos_json:
            type: string
        selected: false
        title: Extract File Infos
        type: code
        variables:
        - value_selector:
          - sys
          - files
          variable: files
      height: 110
      id: '1775800000001'
      position:
        x: 2829
        y: 1310
      positionAbsolute:
        x: 2829
        y: 1310
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: parse-srs-file-body
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "file_infos": {{#1775800000001.file_infos_json#}}}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Parse SRS File
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}parse-srs-file'
        variables: []
      height: 175
      id: '1775800000002'
      position:
        x: 3170
        y: 1277
      positionAbsolute:
        x: 3170
        y: 1277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-73
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "auth_token": "{{#conversation.auth_token#}}"}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Store Avni Auth-Token
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}store-auth-token'
        variables: []
      height: 175
      id: '1775648480416'
      position:
        x: 3531
        y: 1168
      positionAbsolute:
        x: 3531
        y: 1168
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - avni_ai_server_url
          variable_selector:
          - conversation
          - avni_ai_server_url
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1711528708197'
          - org_name
          variable_selector:
          - conversation
          - org_name
          write_mode: over-write
        selected: false
        title: Conversation Variables Assigner
        type: assigner
        version: '2'
      height: 134
      id: '1775657870619'
      position:
        x: 362
        y: 912
      positionAbsolute:
        x: 362
        y: 912
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 3066368b-a96a-4f38-ad75-aa53556e44f8
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 122
      id: '1775719228711'
      position:
        x: 2468
        y: 1153
      positionAbsolute:
        x: 2468
        y: 1153
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1757492907627'
          - structured_output
          - initial_agent
          variable_selector:
          - conversation
          - active_agent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1757492907627'
          - structured_output
          - workflow_mode
          variable_selector:
          - conversation
          - workflow_mode
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        selected: false
        title: Set Initial Agent
        type: assigner
        version: '2'
      height: 134
      id: '1800000000040'
      position:
        x: 2107
        y: 1038
      positionAbsolute:
        x: 2107
        y: 1038
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        break_conditions:
        - comparison_operator: is
          id: 9b674a5a-6ccb-4687-929b-b238615dd49a
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - agent_loop_active
        error_handle_mode: terminated
        height: 2452
        logical_operator: and
        loop_count: 10
        loop_variables:
        - id: a416f73e-492a-44c9-9b05-4e9576a5b7ef
          label: agent_loop_active
          value:
          - conversation
          - agent_loop_active
          value_type: variable
          var_type: boolean
        - id: cd56c7bd-76ad-4c96-a8af-31e0ee630096
          label: output
          value:
          - conversation
          - agent_memory
          value_type: variable
          var_type: string
        selected: false
        start_node_id: 1800000000700start
        title: Agent Loop
        type: loop
        width: 5119
      height: 2452
      id: '1800000000700'
      position:
        x: 3892
        y: 0
      positionAbsolute:
        x: 3892
        y: 0
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 5119
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1800000000700start
      parentId: '1800000000700'
      position:
        x: 60
        y: 1157
      positionAbsolute:
        x: 3952
        y: 1157
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        cases:
        - case_id: dispatch-spec
          conditions:
          - comparison_operator: is
            id: fb4db41d-7c66-4527-a8dd-14c4db83b4ac
            value: spec
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-spec
          logical_operator: and
        - case_id: dispatch-bundle-config
          conditions:
          - comparison_operator: is
            id: b6837b40-e213-494d-8d55-cfc6f97a2861
            value: bundle_config
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-bundle-config
          logical_operator: and
        - case_id: dispatch-rules
          conditions:
          - comparison_operator: is
            id: f1f9d6d2-27a3-4374-984e-854d53b71595
            value: rules
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-rules
          logical_operator: and
        - case_id: dispatch-reports
          conditions:
          - comparison_operator: is
            id: 6366d54a-6309-4686-940f-529d821f5ba9
            value: reports
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-reports
          logical_operator: and
        - case_id: dispatch-inspect
          conditions:
          - comparison_operator: is
            id: fdf911b5-3c56-4bf0-a69f-ed75d5f5e237
            value: inspect
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-inspect
          logical_operator: and
        - case_id: dispatch-admin
          conditions:
          - comparison_operator: is
            id: afe3f421-0d0b-4367-b96b-37d80d813f6b
            value: admin
            varType: string
            variable_selector:
            - conversation
            - active_agent
          id: dispatch-admin
          logical_operator: and
        desc: ''
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Agent Dispatcher
        type: if-else
      height: 362
      id: '1800000000710'
      parentId: '1800000000700'
      position:
        x: 184
        y: 1000
      positionAbsolute:
        x: 4076
        y: 1000
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: SPEC_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/spec-agent.txt
        variables: []
      height: 203
      id: '1800000000101'
      parentId: '1800000000700'
      position:
        x: 525
        y: 60
      positionAbsolute:
        x: 4417
        y: 60
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: BUNDLE_CONFIG_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/bundle-config-agent.txt
        variables: []
      height: 219
      id: '1800000000201'
      parentId: '1800000000700'
      position:
        x: 525
        y: 408
      positionAbsolute:
        x: 4417
        y: 408
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: RULES_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/rules-agent.txt
        variables: []
      height: 203
      id: '1800000000301'
      parentId: '1800000000700'
      position:
        x: 525
        y: 782
      positionAbsolute:
        x: 4417
        y: 782
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: REPORTS_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/reports-agent.txt
        variables: []
      height: 203
      id: '1800000000401'
      parentId: '1800000000700'
      position:
        x: 525
        y: 1279
      positionAbsolute:
        x: 4417
        y: 1279
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: INSPECTOR_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/config-inspector-agent.txt
        variables: []
      height: 219
      id: '1800000000501'
      parentId: '1800000000700'
      position:
        x: 525
        y: 1958
      positionAbsolute:
        x: 4417
        y: 1958
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: ADMIN_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/prompts/admin-agent.txt
        variables: []
      height: 203
      id: '1800000000601'
      parentId: '1800000000700'
      position:
        x: 525
        y: 1621
      positionAbsolute:
        x: 4417
        y: 1621
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000101.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT RULES: 1. Use conversation_id for ALL tool calls. 2. Call append_agent_log at the START (what you
              plan to do) and END (what you did, result) of your work. 3. If a tool call fails or returns an error, log it
              immediately and try an alternative approach. 4. Always state your plan before acting: "I will call X to do Y".'
          maximum_iterations:
            type: constant
            value: 12
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
                cache_system_message: true
                cache_tool_definitions: true
                cache_tool_results: true
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Retrieve the stored SRS document text for this conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the stored SRS document text for this conversation
              tool_label: get_srs_text
              tool_name: get_srs_text
              type: api
            - enabled: true
              extra:
                description: Cache entities server-side by conversation_id (TTL 6h)
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                entities:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Cache entities server-side by conversation_id (TTL 6h)
              tool_label: store_entities
              tool_name: store_entities
              type: api
            - enabled: true
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: true
              extra:
                description: Apply corrections to extracted entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                corrections:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: true
              extra:
                description: Generate a YAML spec from stored entities and store it server-side
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                org_name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate a YAML spec from stored entities and store it server-side
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: true
              extra:
                description: Retrieve the full stored spec YAML for display to the user
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full stored spec YAML for display to the user
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              extra:
                description: Fetch one top-level section from the stored spec
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Fetch one top-level section from the stored spec
              tool_label: get_spec_section
              tool_name: get_spec_section
              type: api
            - enabled: true
              extra:
                description: Replace one top-level section in the stored spec
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
                value:
                  auto: 1
                  value: null
                yaml_fragment:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one top-level section in the stored spec
              tool_label: update_spec_section
              tool_name: update_spec_section
              type: api
            - enabled: true
              extra:
                description: Fetch one section from the stored entities dict
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Fetch one section from the stored entities dict
              tool_label: get_entities_section
              tool_name: get_entities_section
              type: api
            - enabled: true
              extra:
                description: Replace one section in the stored entities dict
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                items:
                  auto: 1
                  value: null
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one section in the stored entities dict
              tool_label: update_entities_section
              tool_name: update_entities_section
              type: api
            - enabled: true
              extra:
                description: Apply user-provided answers to stored ambiguities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                resolutions:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Apply user-provided answers to stored ambiguities
              tool_label: resolve_ambiguities
              tool_name: resolve_ambiguities
              type: api
            - enabled: true
              extra:
                description: Retrieve stored ambiguities for this conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve stored ambiguities for this conversation
              tool_label: get_ambiguities
              tool_name: get_ambiguities
              type: api
            - enabled: true
              extra:
                description: Initialize a guided chat SRS session with sector defaults
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                description:
                  auto: 1
                  value: null
                is_new_org:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
                sector:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Initialize a guided chat SRS session with sector defaults
              tool_label: chat_srs_init_session
              tool_name: chat_srs_init_session
              type: api
            - enabled: true
              extra:
                description: Update a specific section of the chat SRS session
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                data:
                  auto: 1
                  value: null
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a specific section of the chat SRS session
              tool_label: chat_srs_update_section
              tool_name: chat_srs_update_section
              type: api
            - enabled: true
              extra:
                description: Transform completed chat SRS sections into standard entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Transform completed chat SRS sections into standard entities
              tool_label: chat_srs_build_entities
              tool_name: chat_srs_build_entities
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                action:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                error:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                step:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: Retrieve the full agent activity log for a conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full agent activity log — check what previous agents have done before acting
              tool_label: get_agent_logs
              tool_name: get_agent_logs
              type: api
            - enabled: true
              extra:
                description: Get the comprehensive YAML spec reference schema
              parameters:
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Get valid fields for a spec section (subjectTypes, programs, encounterTypes, fields, etc.)
              tool_label: get_spec_format
              tool_name: get_spec_format
              type: api
            - enabled: true
              extra:
                description: Apply smart defaults and detect ambiguities in a stored spec
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                sector:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Apply smart defaults and detect ambiguities — returns questions for the user
              tool_label: enrich_spec
              tool_name: enrich_spec
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Spec Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Spec Agent
        tool_node_version: '2'
        type: agent
      height: 272
      id: '1800000000110'
      parentId: '1800000000700'
      position:
        x: 866
        y: 169
      positionAbsolute:
        x: 4758
        y: 169
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000201.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT RULES: 1. Use conversation_id for ALL tool calls. 2. Call append_agent_log at the START (what you
              plan to do) and END (what you did, result) of your work. 3. If a tool call fails or returns an error, log it
              immediately and try an alternative approach. 4. Always state your plan before acting: "I will call X to do Y".'
          maximum_iterations:
            type: constant
            value: 10
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
                cache_system_message: true
                cache_tool_definitions: true
                cache_tool_results: true
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Generate a complete Avni bundle ZIP from entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate a complete Avni bundle ZIP from entities
              tool_label: generate_bundle
              tool_name: generate_bundle
              type: api
            - enabled: true
              extra:
                description: Validate a generated bundle for structural correctness
              parameters:
                bundle:
                  auto: 1
                  value: null
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate a generated bundle for structural correctness
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: Patch an existing bundle ZIP with a new spec
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                existing_bundle_b64:
                  auto: 1
                  value: null
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Patch an existing bundle ZIP with a new spec
              tool_label: patch_bundle
              tool_name: patch_bundle
              type: api
            - enabled: true
              extra:
                description: List all files in a stored bundle with their sizes
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: List all files in a stored bundle with their sizes
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP
              parameters:
                content:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: Download existing org bundle from Avni and store server-side
              parameters:
                baseUrl:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                includeLocations:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Download existing org bundle from Avni and store server-side
              tool_label: download_bundle_b64
              tool_name: download_bundle_b64
              type: api
            - enabled: true
              extra:
                description: Generate complete AVNI form JSON from field specifications
              parameters:
                encounterType:
                  auto: 1
                  value: null
                fields:
                  auto: 1
                  value: null
                formType:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
                program:
                  auto: 1
                  value: null
                subjectType:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate complete AVNI form JSON from field specifications
              tool_label: generate_form
              tool_name: generate_form
              type: api
            - enabled: true
              extra:
                description: Suggest sector-specific form fields for an encounter type
              parameters:
                encounter_name:
                  auto: 1
                  value: null
                sector:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Suggest sector-specific form fields for an encounter type
              tool_label: suggest_form_fields
              tool_name: suggest_form_fields
              type: api
            - enabled: true
              extra:
                description: Parse natural language skip logic into AVNI declarative rules
              parameters:
                rules:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Parse natural language skip logic into AVNI declarative rules
              tool_label: generate_skip_logic
              tool_name: generate_skip_logic
              type: api
            - enabled: true
              extra:
                description: Execute Python code in a sandboxed environment
              parameters:
                code:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                input_bundle_files:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Execute Python code in a sandboxed environment
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: Read a file written by execute_python in chunks
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
                limit:
                  auto: 1
                  value: null
                offset:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read a file written by execute_python in chunks
              tool_label: read_silo_file
              tool_name: read_silo_file
              type: api
            - enabled: true
              extra:
                description: Upload a bundle ZIP to Avni server for import
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Upload a bundle ZIP to Avni server for import
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                action:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                error:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                step:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: Retrieve the full agent activity log for a conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full agent activity log — check what previous agents have done before acting
              tool_label: get_agent_logs
              tool_name: get_agent_logs
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Bundle Config Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Bundle Config Agent
        tool_node_version: '2'
        type: agent
      height: 288
      id: '1800000000210'
      parentId: '1800000000700'
      position:
        x: 866
        y: 522
      positionAbsolute:
        x: 4758
        y: 522
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000301.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT RULES: 1. Use conversation_id for ALL tool calls. 2. Call append_agent_log at the START (what you
              plan to do) and END (what you did, result) of your work. 3. If a tool call fails or returns an error, log it
              immediately and try an alternative approach. 4. Always state your plan before acting: "I will call X to do Y".'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
                cache_system_message: true
                cache_tool_definitions: true
                cache_tool_results: true
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Validate JavaScript rule code with static analysis
              parameters:
                code:
                  auto: 1
                  value: null
                rule_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate JavaScript rule code with static analysis
              tool_label: validate_rule
              tool_name: validate_rule
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP
              parameters:
                content:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: Execute Python code in a sandboxed environment
              parameters:
                code:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                input_bundle_files:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Execute Python code in a sandboxed environment
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                action:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                error:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                step:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: Generates JavaScript rule code for one of 7 supported types (visitSchedule, decision, validation,
                  eligibility, summary, worklist, checklist). Returns the code along with validation results.
              parameters:
                params:
                  auto: 1
                  value: null
                rule_type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generates JavaScript rule code for one of 7 supported types (visitSchedule, decision, validation,
                eligibility, summary, worklist, checklist). Returns the code along with validation results.
              tool_label: generate_rule
              tool_name: generate_rule
              type: api
            - enabled: true
              extra:
                description: Search Avni documentation and guides for rules, forms, reports, best practices, and examples
              parameters:
                category:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
                top_k:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Search Avni documentation and guides for rules, forms, reports, best practices, and examples
              tool_label: knowledge_search
              tool_name: knowledge_search
              type: api
            - enabled: true
              extra:
                description: Retrieve the full agent activity log for a conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full agent activity log — check what previous agents have done before acting
              tool_label: get_agent_logs
              tool_name: get_agent_logs
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Rules Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Rules Agent
        tool_node_version: '2'
        type: agent
      height: 250
      id: '1800000000310'
      parentId: '1800000000700'
      position:
        x: 866
        y: 891
      positionAbsolute:
        x: 4758
        y: 891
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000401.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT RULES: 1. Use conversation_id for ALL tool calls. 2. Call append_agent_log at the START (what you
              plan to do) and END (what you did, result) of your work. 3. If a tool call fails or returns an error, log it
              immediately and try an alternative approach. 4. Always state your plan before acting: "I will call X to do Y".'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
                cache_system_message: true
                cache_tool_definitions: true
                cache_tool_results: true
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Generate reportCard.json entries for AVNI dashboards
              parameters:
                card_types:
                  auto: 1
                  value: null
                custom_cards:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Generate reportCard.json entries for AVNI dashboards
              tool_label: generate_report_cards
              tool_name: generate_report_cards
              type: api
            - enabled: true
              extra:
                description: Suggest sector-specific dashboard cards and layout
              parameters:
                org_name:
                  auto: 1
                  value: null
                sector:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Suggest sector-specific dashboard cards and layout
              tool_label: suggest_dashboard
              tool_name: suggest_dashboard
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP
              parameters:
                content:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: Execute Python code in a sandboxed environment
              parameters:
                code:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                input_bundle_files:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Execute Python code in a sandboxed environment
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                action:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                error:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                step:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: Search Avni documentation and guides for rules, forms, reports, best practices, and examples
              parameters:
                category:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
                top_k:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Search Avni documentation and guides for rules, forms, reports, best practices, and examples
              tool_label: knowledge_search
              tool_name: knowledge_search
              type: api
            - enabled: true
              extra:
                description: Retrieve the full agent activity log for a conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full agent activity log — check what previous agents have done before acting
              tool_label: get_agent_logs
              tool_name: get_agent_logs
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Reports Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Reports Agent
        tool_node_version: '2'
        type: agent
      height: 250
      id: '1800000000410'
      parentId: '1800000000700'
      position:
        x: 866
        y: 1222
      positionAbsolute:
        x: 4758
        y: 1222
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000501.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT RULES: 1. Use conversation_id for ALL tool calls. 2. Call append_agent_log at the START and END of
              your work. 3. Do NOT fix bundle files yourself — if you find issues, use [ROUTE_TO:agent] to send fixes back
              to the right agent. 4. Your workflow: log_start → validate_bundle → upload_bundle → upload_status → log_end.
              If errors, read 1 file then [ROUTE_TO:agent]. 5. Your final response MUST include "Bundle uploaded successfully"
              or describe the error. This text is shown to the user.'
          maximum_iterations:
            type: constant
            value: 8
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
                cache_system_message: true
                cache_tool_definitions: true
                cache_tool_results: true
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Validate a generated bundle for structural correctness
              parameters:
                bundle:
                  auto: 1
                  value: null
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Validate a generated bundle for structural correctness
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: Retrieve the full stored spec YAML for display to the user
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full stored spec YAML for display to the user
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              extra:
                description: List all files in a stored bundle with their sizes
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: List all files in a stored bundle with their sizes
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored bundle
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Upload a bundle ZIP to Avni server for import
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Upload a bundle ZIP to Avni server for import
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: Check the status of a bundle upload task
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Check the status of a bundle upload task
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                action:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                error:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                step:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: Search Avni documentation and guides for rules, forms, reports, best practices, and examples
              parameters:
                category:
                  auto: 1
                  value: null
                query:
                  auto: 1
                  value: null
                top_k:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Search Avni documentation and guides for rules, forms, reports, best practices, and examples
              tool_label: knowledge_search
              tool_name: knowledge_search
              type: api
            - enabled: true
              extra:
                description: Retrieve the full agent activity log for a conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full agent activity log — check what previous agents have done before acting
              tool_label: get_agent_logs
              tool_name: get_agent_logs
              type: api
            - enabled: true
              extra:
                description: Get the comprehensive YAML spec reference schema
              parameters:
                section:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Get valid fields for a spec section (subjectTypes, programs, encounterTypes, fields, etc.)
              tool_label: get_spec_format
              tool_name: get_spec_format
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Config Inspector - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Config Inspector
        tool_node_version: '2'
        type: agent
      height: 250
      id: '1800000000510'
      parentId: '1800000000700'
      position:
        x: 866
        y: 1906
      positionAbsolute:
        x: 4758
        y: 1906
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '{{#1800000000601.body#}}


              Conversation ID: {{#sys.conversation_id#}}

              Agent Memory: {{#conversation.agent_memory#}}

              Org Name: {{#conversation.org_name#}}

              IMPORTANT RULES: 1. Use conversation_id for ALL tool calls. 2. Call append_agent_log at the START (what you
              plan to do) and END (what you did, result) of your work. 3. If a tool call fails or returns an error, log it
              immediately and try an alternative approach. 4. Always state your plan before acting: "I will call X to do Y".'
          maximum_iterations:
            type: constant
            value: 10
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.2
                cache_system_message: true
                cache_tool_definitions: true
                cache_tool_results: true
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Create a new location type (address level type)
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                level:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
                parentId:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Create a new location type (address level type)
              tool_label: create_location_type
              tool_name: create_location_type
              type: api
            - enabled: true
              extra:
                description: Update an existing location type
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                id:
                  auto: 1
                  value: null
                level:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
                parentId:
                  auto: 1
                  value: null
                uuid:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update an existing location type
              tool_label: update_location_type
              tool_name: update_location_type
              type: api
            - enabled: true
              extra:
                description: Delete a location type by ID
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete a location type by ID
              tool_label: delete_location_type
              tool_name: delete_location_type
              type: api
            - enabled: true
              extra:
                description: Get all locations for the organisation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Get all locations for the organisation
              tool_label: get_locations
              tool_name: get_locations
              type: api
            - enabled: true
              extra:
                description: Create a new location
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                level:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
                parents:
                  auto: 1
                  value: null
                type:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Create a new location
              tool_label: create_location
              tool_name: create_location
              type: api
            - enabled: true
              extra:
                description: Update a location
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                id:
                  auto: 1
                  value: null
                level:
                  auto: 1
                  value: null
                parentId:
                  auto: 1
                  value: null
                title:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a location
              tool_label: update_location
              tool_name: update_location
              type: api
            - enabled: true
              extra:
                description: Delete a location by ID
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete a location by ID
              tool_label: delete_location
              tool_name: delete_location
              type: api
            - enabled: true
              extra:
                description: Get all catchments for the organisation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Get all catchments for the organisation
              tool_label: get_catchments
              tool_name: get_catchments
              type: api
            - enabled: true
              extra:
                description: Create a new catchment
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                locationIds:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Create a new catchment
              tool_label: create_catchment
              tool_name: create_catchment
              type: api
            - enabled: true
              extra:
                description: Update a catchment
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                deleteFastSync:
                  auto: 1
                  value: null
                id:
                  auto: 1
                  value: null
                locationIds:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a catchment
              tool_label: update_catchment
              tool_name: update_catchment
              type: api
            - enabled: true
              extra:
                description: Delete a catchment by ID
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete a catchment by ID
              tool_label: delete_catchment
              tool_name: delete_catchment
              type: api
            - enabled: true
              extra:
                description: Find a user by name
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                name:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Find a user by name
              tool_label: find_user
              tool_name: find_user
              type: api
            - enabled: true
              extra:
                description: Update a user
              parameters:
                catchmentId:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                email:
                  auto: 1
                  value: null
                id:
                  auto: 1
                  value: null
                name:
                  auto: 1
                  value: null
                organisationId:
                  auto: 1
                  value: null
                phoneNumber:
                  auto: 1
                  value: null
                username:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Update a user
              tool_label: update_user
              tool_name: update_user
              type: api
            - enabled: true
              extra:
                description: Delete organisation implementation (config reset)
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                deleteAdminConfig:
                  auto: 1
                  value: null
                deleteMetadata:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Delete organisation implementation (config reset)
              tool_label: delete_implementation
              tool_name: delete_implementation
              type: api
            - enabled: true
              extra:
                description: Upload a bundle ZIP to Avni server for import
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Upload a bundle ZIP to Avni server for import
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: Check the status of a bundle upload task
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Check the status of a bundle upload task
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: Append a step trace entry to the agent activity log
              parameters:
                action:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                error:
                  auto: 1
                  value: null
                model:
                  auto: 1
                  value: null
                phase:
                  auto: 1
                  value: null
                status:
                  auto: 1
                  value: null
                step:
                  auto: 1
                  value: null
                summary:
                  auto: 1
                  value: null
                tokens_used:
                  auto: 1
                  value: null
                tool:
                  auto: 1
                  value: null
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Append a step trace entry to the agent activity log
              tool_label: append_agent_log
              tool_name: append_agent_log
              type: api
            - enabled: true
              extra:
                description: Retrieve the full agent activity log for a conversation
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: Retrieve the full agent activity log — check what previous agents have done before acting
              tool_label: get_agent_logs
              tool_name: get_agent_logs
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Admin Agent - specialized agent
        error_strategy: fail-branch
        isInLoop: true
        loop_id: '1800000000700'
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 5
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Admin Agent
        tool_node_version: '2'
        type: agent
      height: 272
      id: '1800000000610'
      parentId: '1800000000700'
      position:
        x: 866
        y: 1553
      positionAbsolute:
        x: 4758
        y: 1553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import re\n\ndef main(active_agent: str, existing_memory: str,\n         spec_text: str, bundle_text: str,\
          \ rules_text: str,\n         reports_text: str, inspect_text: str, admin_text: str) -> dict:\n    texts = {\n  \
          \      \"spec\": spec_text,\n        \"bundle_config\": bundle_text,\n        \"rules\": rules_text,\n        \"\
          reports\": reports_text,\n        \"inspect\": inspect_text,\n        \"admin\": admin_text,\n    }\n    agent_text\
          \ = texts.get(active_agent, \"\") or \"\"\n    t_lower = agent_text.lower()\n\n    # Extract key status signals\n\
          \    status_prefix = \"\"\n    upload_signals = [\"uploaded successfully\", \"bundle uploaded\", \"upload complete\"\
          ]\n    if any(s in t_lower for s in upload_signals):\n        status_prefix = \"[UPLOAD_SUCCESS] \"\n    elif \"\
          upload_bundle\" in t_lower and \"error\" not in t_lower:\n        status_prefix = \"[UPLOAD_ATTEMPTED] \"\n    elif\
          \ \"[error]\" in t_lower or \"status=error\" in t_lower:\n        status_prefix = \"[ERROR] \"\n\n    # Smart truncation:\
          \ keep more text (3000 chars) per agent\n    entry = \"[\" + active_agent + \"] \" + status_prefix + agent_text[:3000]\n\
          \    sep = chr(10) + \"---\" + chr(10)\n    memory_entry = (existing_memory + sep + entry) if existing_memory else\
          \ entry\n\n    # Cap total memory to 25000 chars to prevent context overflow\n    # Keep first 5000 (early agents)\
          \ + last 20000 (recent work)\n    if len(memory_entry) > 25000:\n        memory_entry = memory_entry[:5000] + chr(10)\
          \ + \"...[earlier entries truncated]...\" + chr(10) + memory_entry[-20000:]\n\n    return {\n        \"memory_entry\"\
          : memory_entry,\n        \"agent_output\": agent_text,\n    }\n"
        code_language: python3
        isInLoop: true
        loop_id: '1800000000700'
        outputs:
          agent_output:
            type: string
          memory_entry:
            type: string
        selected: false
        title: Output Collector
        type: code
        variables:
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - conversation
          - agent_memory
          value_type: string
          variable: existing_memory
        - value_selector:
          - '1800000000110'
          - text
          value_type: string
          variable: spec_text
        - value_selector:
          - '1800000000210'
          - text
          value_type: string
          variable: bundle_text
        - value_selector:
          - '1800000000310'
          - text
          value_type: string
          variable: rules_text
        - value_selector:
          - '1800000000410'
          - text
          value_type: string
          variable: reports_text
        - value_selector:
          - '1800000000510'
          - text
          value_type: string
          variable: inspect_text
        - value_selector:
          - '1800000000610'
          - text
          value_type: string
          variable: admin_text
      height: 50
      id: '1800000000720'
      parentId: '1800000000700'
      position:
        x: 1207
        y: 1156
      positionAbsolute:
        x: 5099
        y: 1156
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000720'
          - memory_entry
          variable_selector:
          - conversation
          - agent_memory
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: State Update
        type: assigner
        version: '2'
      height: 82
      id: '1800000000730'
      parentId: '1800000000700'
      position:
        x: 2170
        y: 1140
      positionAbsolute:
        x: 6062
        y: 1140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import json\nimport re\n\ndef main(active_agent: str, workflow_mode: str, agent_output: str,\n         agent_memory:\
          \ str, last_gate_status: str,\n         agent_structured: str) -> dict:\n    \"\"\"Stage B decider: deterministic\
          \ routing from typed conversation\n    variables. Replaces the old ~60-line keyword-matching logic.\n\n    agent_structured\
          \ arrives as a JSON-serialized string (Dify cloud\n    does not accept object-typed conversation variables), so\
          \ we parse\n    it here before reading typed fields.\n\n    Rule order:\n      1. targeted mode  -> done\n     \
          \ 2. intent=ask_user  -> pause (done)\n      3. intent=error     -> pause (done)\n      4. intent=re_route + Inspector\
          \  -> branch to re_route_target\n      5. legacy markers ([AWAITING_USER_INPUT], [ROUTE_TO:x])\n      6. gate errors\
          \ + under retry cap  -> re-run same agent\n      7. gate errors + over retry cap   -> done (fail)\n      8. gate\
          \ user_input_needed         -> pause\n      9. gate ok / not_run              -> advance in chain\n    \"\"\"\n\
          \    if workflow_mode == \"targeted\":\n        return {\"next_agent\": \"done\", \"loop_done\": True,\n       \
          \         \"reason\": \"Targeted mode — single agent only\"}\n\n    struct = {}\n    try:\n        if agent_structured:\n\
          \            struct = json.loads(agent_structured) or {}\n    except Exception:\n        struct = {}\n\n    intent\
          \ = str(struct.get(\"intent\", \"\") or \"\")\n\n    if intent == \"ask_user\":\n        return {\"next_agent\"\
          : \"done\", \"loop_done\": True,\n                \"reason\": f\"{active_agent} intent=ask_user (structured)\"}\n\
          \    if intent == \"error\":\n        return {\"next_agent\": \"done\", \"loop_done\": True,\n                \"\
          reason\": f\"{active_agent} intent=error (structured)\"}\n\n    if intent == \"re_route\" and active_agent == \"\
          inspect\":\n        target = str(struct.get(\"re_route_target\", \"\") or \"\")\n        valid_targets = (\"spec\"\
          , \"bundle_config\", \"rules\", \"reports\")\n        if target in valid_targets:\n            mem_lc = (agent_memory\
          \ or \"\").lower()\n            if \"[rerouted from inspect]\" not in mem_lc:\n                return {\"next_agent\"\
          : target, \"loop_done\": False,\n                        \"reason\": f\"Inspector re_route -> {target} (structured)\"\
          }\n\n    t = (agent_output or \"\").lower()\n    mem = (agent_memory or \"\").lower()\n\n    if \"[awaiting_user_input]\"\
          \ in t:\n        return {\"next_agent\": \"done\", \"loop_done\": True,\n                \"reason\": f\"{active_agent}\
          \ legacy [AWAITING_USER_INPUT] marker\"}\n\n    route_match = re.search(r\"\\[route_to:(\\w+)\\]\", t)\n    if route_match\
          \ and active_agent == \"inspect\":\n        target = route_match.group(1)\n        valid_targets = (\"spec\", \"\
          bundle_config\", \"rules\", \"reports\")\n        if target in valid_targets and \"[rerouted from inspect]\" not\
          \ in mem:\n            return {\"next_agent\": target, \"loop_done\": False,\n                    \"reason\": f\"\
          Inspector routing to {target} for fixes\"}\n\n    MAX_RETRIES = 3\n    runs_so_far = mem.count(f\"[gate-ran:{active_agent}]\"\
          )\n\n    if last_gate_status == \"errors\":\n        if runs_so_far < MAX_RETRIES:\n            return {\"next_agent\"\
          : active_agent, \"loop_done\": False,\n                    \"reason\": (\n                        f\"Gate errors\
          \ after {runs_so_far} run(s), \"\n                        f\"re-running {active_agent} \"\n                    \
          \    f\"({runs_so_far}/{MAX_RETRIES})\"\n                    )}\n        return {\"next_agent\": \"done\", \"loop_done\"\
          : True,\n                \"reason\": (\n                    f\"Gate errors persist after {MAX_RETRIES} retries \"\
          \n                    f\"of {active_agent}\"\n                )}\n\n    if last_gate_status == \"user_input_needed\"\
          :\n        return {\"next_agent\": \"done\", \"loop_done\": True,\n                \"reason\": f\"Gate requests\
          \ user input from {active_agent}\"}\n\n    chain = [\"spec\", \"bundle_config\", \"rules\", \"reports\", \"inspect\"\
          ]\n    try:\n        idx = chain.index(active_agent)\n    except ValueError:\n        return {\"next_agent\": \"\
          done\", \"loop_done\": True,\n                \"reason\": f\"Unknown agent: {active_agent}\"}\n\n    if idx < len(chain)\
          \ - 1:\n        next_a = chain[idx + 1]\n        return {\"next_agent\": next_a, \"loop_done\": False,\n       \
          \         \"reason\": f\"{active_agent} done, advancing to {next_a}\"}\n\n    return {\"next_agent\": \"done\",\
          \ \"loop_done\": True,\n            \"reason\": \"End of chain\"}\n"
        code_language: python3
        isInLoop: true
        loop_id: '1800000000700'
        outputs:
          loop_done:
            type: boolean
          next_agent:
            type: string
          reason:
            type: string
        selected: false
        title: Next Agent Decider
        type: code
        variables:
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - conversation
          - workflow_mode
          value_type: string
          variable: workflow_mode
        - value_selector:
          - '1800000000720'
          - agent_output
          value_type: string
          variable: agent_output
        - value_selector:
          - conversation
          - agent_memory
          value_type: string
          variable: agent_memory
        - value_selector:
          - conversation
          - last_gate_status
          value_type: string
          variable: last_gate_status
        - value_selector:
          - conversation
          - agent_structured
          value_type: string
          variable: agent_structured
      height: 50
      id: '1800000000740'
      parentId: '1800000000700'
      position:
        x: 4156
        y: 1209
      positionAbsolute:
        x: 8048
        y: 1209
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        cases:
        - case_id: loop-done
          conditions:
          - comparison_operator: is
            id: 52c24dd0-ad64-4edd-9b24-e58c32ce587c
            value: 'true'
            varType: boolean
            variable_selector:
            - '1800000000740'
            - loop_done
          id: loop-done
          logical_operator: and
        desc: ''
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Loop Done Check
        type: if-else
      height: 146
      id: '1800000000745'
      parentId: '1800000000700'
      position:
        x: 4477
        y: 1161
      positionAbsolute:
        x: 8369
        y: 1161
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Break Loop
        type: assigner
        version: '2'
      height: 82
      id: '1800000000751'
      parentId: '1800000000700'
      position:
        x: 4818
        y: 1311
      positionAbsolute:
        x: 8710
        y: 1311
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000740'
          - next_agent
          variable_selector:
          - conversation
          - active_agent
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Continue Loop
        type: assigner
        version: '2'
      height: 82
      id: '1800000000752'
      parentId: '1800000000700'
      position:
        x: 4818
        y: 1169
      positionAbsolute:
        x: 8710
        y: 1169
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "def main(active_agent: str, existing_memory: str) -> dict:\n    error_msg = f\"[ERROR] The {active_agent} agent\
          \ encountered an error and could not complete its task. The workflow has been stopped.\"\n    sep = \"\\n---\\n\"\
          \n    updated_memory = (existing_memory + sep + error_msg) if existing_memory else error_msg\n    return {\"updated_memory\"\
          : updated_memory}\n"
        code_language: python3
        isInLoop: true
        loop_id: '1800000000700'
        outputs:
          updated_memory:
            type: string
        selected: false
        title: Error Collector
        type: code
        variables:
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - conversation
          - agent_memory
          value_type: string
          variable: existing_memory
      height: 50
      id: '1800000000761'
      parentId: '1800000000700'
      position:
        x: 2832
        y: 1029
      positionAbsolute:
        x: 6724
        y: 1029
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1800000000761'
          - updated_memory
          variable_selector:
          - conversation
          - agent_memory
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Error Handler
        type: assigner
        version: '2'
      height: 108
      id: '1800000000760'
      parentId: '1800000000700'
      position:
        x: 3173
        y: 974
      positionAbsolute:
        x: 7065
        y: 974
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: "You are a friendly assistant that summarizes what happened during an Avni configuration workflow.\n\n\
              \  \n\n  ## Step 0: Check for pipeline gate questions\n  Look in the agent memory for [GATE ERROR] entries.\
              \ If found:\n  - These are validation errors that the pipeline found. The agent should have addressed them,\
              \ but if they persist, explain them to the user's input before the pipeline can continue.\n  - Present each\
              \ error clearly and explain what needs fixing.\n  - Do NOT summarize the workflow as if it's done — it's paused\
              \ waiting for input.\n  - Format: \"Before we can proceed, I need your input on a few items:\" then list each\
              \ question with numbered options.\n  - End with: \"The system will attempt to fix these on the next run.\"\n\
              \  - If [QUESTION] entries exist, SKIP all other summary steps.\n\n  ## Step 1: Get the full activity log\n\
              \  Call `get_agent_logs` with the conversation_id to retrieve the structured activity log. This is more\n  reliable\
              \ than the agent memory text below.\n\n  ## Step 2: Determine upload status\n\n  Look for these in the agent\
              \ log entries:\n  - **Uploaded**: Any entry with phase=\"upload\" and status=\"success\", OR action contains\
              \ \"uploaded\n  successfully\" or \"Bundle uploaded\"\n  - **NOT uploaded**: No such entry exists\n\n  Also\
              \ check the agent memory for backup signals:\n  <agent_log>\n  {{#conversation.agent_memory#}}\n  </agent_log>\n\
              \n  Look for [UPLOAD_SUCCESS] tag or \"upload_bundle\" / \"uploaded successfully\" in the memory text.\n\n \
              \ Do NOT guess. If you cannot find an explicit upload indicator in either source, say the bundle was NOT\n \
              \ uploaded.\n\n  ## Step 3: Write the summary\n\n  1. Check if the log contains entries with status=\"error\"\
              . If yes, explain what went wrong simply and\n  suggest retry.\n  2. Check if the log contains ROUTE_TO entries\
              \ that were NOT followed by a successful upload. Tell the\n  user what was found and what fix was attempted.\n\
              \  3. **If uploaded**: Start with \"Your bundle has been uploaded to Avni successfully.\" Then summarize what\n\
              \   was built in 3-5 bullet points. Next steps: review forms in Avni, set up locations and users.\n  4. **If\
              \ NOT uploaded**: Start with \"Your bundle has been generated but is NOT yet uploaded to Avni.\"\n  Explain\
              \ what happened and what the user should do (retry, or ask the assistant to upload).\n  5. Keep it under 200\
              \ words, use markdown.\n  6. Do NOT dump raw data or technical details.\n  7. Do NOT say \"ready to deploy\"\
              \ — either it IS deployed (uploaded) or it is NOT."
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 10240
                cache_system_message: true
                cache_tool_definitions: true
                cache_tool_results: true
              mode: chat
              model: claude-haiku-4-5-20251001
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: Summarize what was done and what the user should do next.
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: 'Returns all structured log entries for the conversation. Use this at the

                  START of your work to check what previous agents have already done — look

                  for phase/status entries like spec_generation:success, bundle_config:success,

                  rules_generation:success, upload:success to avoid redoing completed work.

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: fa71db84-aa31-44cc-95a2-6b5b7961a51e
              provider_show_name: Avni AI Staging SubAgents Openapi
              settings: {}
              tool_description: 'Returns all structured log entries for the conversation. Use this at the

                START of your work to check what previous agents have already done — look

                for phase/status entries like spec_generation:success, bundle_config:success,

                rules_generation:success, upload:success to avoid redoing completed work.

                '
              tool_label: get_agent_logs
              tool_name: get_agent_logs
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.34@4b41a374567eb7cb226ee2f851513794566956008f1166c63205efc921be72d8
        selected: false
        title: Summarize Results
        tool_node_version: '2'
        type: agent
      height: 186
      id: '1776327635368'
      position:
        x: 9111
        y: 1133
      positionAbsolute:
        x: 9111
        y: 1133
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1776327635368.text#}}'
        selected: false
        title: Post-Loop Answer
        type: answer
        variables: []
      height: 101
      id: '1800000000800'
      position:
        x: 9452
        y: 1175
      positionAbsolute:
        x: 9452
        y: 1175
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: An error occurred while setting up. Please try again or contact support.
        selected: false
        title: Pre-Loop Error
        type: answer
        variables: []
      height: 114
      id: '1800000000112'
      position:
        x: 3892
        y: 2532
      positionAbsolute:
        x: 3892
        y: 2532
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: gate-body
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "phase": "{{#conversation.active_agent#}}"}'
          type: json
        error_strategy: fail-branch
        headers: ''
        isInLoop: true
        loop_id: '1800000000700'
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Pipeline Gate
        type: http-request
        url: '{{#conversation.avni_ai_server_url#}}validate-pipeline-step'
        variables: []
      height: 175
      id: '1800000000770'
      parentId: '1800000000700'
      position:
        x: 2491
        y: 1093
      positionAbsolute:
        x: 6383
        y: 1093
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(gate_status: int, gate_body: str, agent_memory: str,\n         active_agent: str) ->\
          \ dict:\n    has_errors = False\n    gate_output = \"\"\n    last_gate_status = \"not_run\"\n    last_gate_errors_str\
          \ = \"\"\n    last_gate_warnings_str = \"\"\n    try:\n        parsed = json.loads(gate_body) if gate_body else\
          \ {}\n        errors = parsed.get(\"errors\", []) or []\n        warnings = parsed.get(\"warnings\", []) or []\n\
          \        next_action = parsed.get(\"next_action\", \"\")\n        has_errors = len(errors) > 0\n        last_gate_errors_str\
          \ = chr(10).join(str(e) for e in errors)\n        last_gate_warnings_str = chr(10).join(str(w) for w in warnings)\n\
          \        if next_action == \"user_input_needed\":\n            has_errors = False\n            last_gate_status\
          \ = \"user_input_needed\"\n        elif has_errors:\n            last_gate_status = \"errors\"\n        else:\n\
          \            last_gate_status = \"ok\"\n        parts = []\n        for err in errors:\n            parts.append(\"\
          [GATE ERROR] \" + str(err))\n        for warn in warnings[:5]:\n            parts.append(\"[GATE WARNING] \" + str(warn))\n\
          \        # Always log this gate run so the decider can count attempts.\n        if active_agent:\n            parts.append(\"\
          [gate-ran:\" + active_agent + \"]\")\n        gate_output = chr(10).join(parts)\n    except Exception:\n       \
          \ pass\n    if gate_status >= 400:\n        has_errors = False\n        last_gate_status = \"errors\"\n        last_gate_errors_str\
          \ = f\"Gate HTTP {gate_status}\"\n    return {\n        \"has_questions\": has_errors,\n        \"gate_output\"\
          : gate_output,\n        \"last_gate_status\": last_gate_status,\n        \"last_gate_errors\": last_gate_errors_str,\n\
          \        \"last_gate_warnings\": last_gate_warnings_str,\n    }\n"
        code_language: python3
        isInLoop: true
        loop_id: '1800000000700'
        outputs:
          gate_output:
            type: string
          has_questions:
            type: boolean
          last_gate_errors:
            type: string
          last_gate_status:
            type: string
          last_gate_warnings:
            type: string
        selected: false
        title: Gate Parser
        type: code
        variables:
        - value_selector:
          - '1800000000770'
          - status_code
          value_type: number
          variable: gate_status
        - value_selector:
          - '1800000000770'
          - body
          value_type: string
          variable: gate_body
        - value_selector:
          - conversation
          - agent_memory
          value_type: string
          variable: agent_memory
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
      height: 50
      id: '1800000000776'
      parentId: '1800000000700'
      position:
        x: 2832
        y: 1185
      positionAbsolute:
        x: 6724
        y: 1185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        cases:
        - case_id: gate-has-questions
          conditions:
          - comparison_operator: is
            id: gate-check-bool
            value: 'true'
            varType: boolean
            variable_selector:
            - '1800000000776'
            - has_questions
          id: gate-has-questions
          logical_operator: and
        desc: If pipeline gate has questions, break loop
        isInLoop: true
        loop_id: '1800000000700'
        selected: false
        title: Gate Check
        type: if-else
      height: 190
      id: '1800000000777'
      parentId: '1800000000700'
      position:
        x: 3474
        y: 1115
      positionAbsolute:
        x: 7366
        y: 1115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000776'
          - gate_output
          variable_selector:
          - conversation
          - agent_memory
          write_mode: append
        loop_id: '1800000000700'
        selected: false
        title: Gate Errors to Memory
        type: assigner
        version: '2'
      height: 82
      id: '1800000000778'
      parentId: '1800000000700'
      position:
        x: 3815
        y: 1120
      positionAbsolute:
        x: 7707
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import json\nimport re\n\ndef main(agent_output: str, active_agent: str,\n         current_active_phase: str,\n\
          \         current_spec_awaiting: bool,\n         current_pending_ambiguities: list) -> dict:\n    \"\"\"Parse the\
          \ structured JSON block emitted at the end of an agent's\n    response and compute new conversation-variable values.\
          \ Pass-through\n    the current state when no JSON block is found so downstream assigners\n    can overwrite unconditionally\
          \ without losing state.\n    \"\"\"\n    intent = \"\"\n    target_phase = \"\"\n    ambiguities = []\n    applied_changes\
          \ = []\n    reason = \"\"\n    parsed_ok = False\n    payload = None\n    text = agent_output or \"\"\n\n    # Prefer\
          \ a fenced ```json ... ``` block.\n    m = re.search(r\"```json\\s*(\\{.*?\\})\\s*```\", text, re.DOTALL)\n    if\
          \ m:\n        try:\n            payload = json.loads(m.group(1))\n        except Exception:\n            payload\
          \ = None\n\n    # Fall back: last brace-balanced object containing \"intent\".\n    if payload is None:\n      \
          \  for match in reversed(list(\n            re.finditer(r\"\\{[^{}]*\\\"intent\\\"[^{}]*\\}\", text, re.DOTALL)\n\
          \        )):\n            try:\n                payload = json.loads(match.group(0))\n                break\n  \
          \          except Exception:\n                continue\n\n    if isinstance(payload, dict):\n        intent = str(payload.get(\"\
          intent\", \"\") or \"\")\n        target_phase = str(payload.get(\"target_phase\", \"\") or \"\")\n        ambiguities\
          \ = payload.get(\"ambiguities\", []) or []\n        applied_changes = payload.get(\"applied_changes\", []) or []\n\
          \        reason = str(payload.get(\"reason\", \"\") or \"\")\n        parsed_ok = True\n\n    # Computed pass-through\
          \ outputs.\n    out_active_phase = (\n        target_phase\n        if (parsed_ok and target_phase)\n        else\
          \ (current_active_phase or \"intake\")\n    )\n    out_spec_awaiting = (\n        bool(parsed_ok and intent == \"\
          ask_user\" and active_agent == \"spec\")\n        if parsed_ok\n        else bool(current_spec_awaiting)\n    )\n\
          \    out_pending_ambiguities = (\n        ambiguities\n        if (parsed_ok and intent == \"ask_user\")\n     \
          \   else (current_pending_ambiguities or [])\n    )\n    # Dify cloud does not accept object-typed conversation\
          \ variables,\n    # so agent_structured is stored as a JSON string. Serialize here.\n    raw_payload_obj = payload\
          \ if isinstance(payload, dict) else {}\n    raw_payload = json.dumps(raw_payload_obj)\n\n    return {\n        \"\
          intent\": intent,\n        \"target_phase\": target_phase,\n        \"ambiguities\": ambiguities,\n        \"applied_changes\"\
          : applied_changes,\n        \"reason\": reason,\n        \"parsed_ok\": parsed_ok,\n        \"out_active_phase\"\
          : out_active_phase,\n        \"out_spec_awaiting\": out_spec_awaiting,\n        \"out_pending_ambiguities\": out_pending_ambiguities,\n\
          \        \"raw_payload\": raw_payload,\n    }\n"
        code_language: python3
        isInLoop: true
        loop_id: '1800000000700'
        outputs:
          ambiguities:
            type: array[object]
          applied_changes:
            type: array[object]
          intent:
            type: string
          out_active_phase:
            type: string
          out_pending_ambiguities:
            type: array[object]
          out_spec_awaiting:
            type: boolean
          parsed_ok:
            type: boolean
          raw_payload:
            type: string
          reason:
            type: string
          target_phase:
            type: string
        selected: false
        title: Agent Structured Parser
        type: code
        variables:
        - value_selector:
          - '1800000000720'
          - agent_output
          value_type: string
          variable: agent_output
        - value_selector:
          - conversation
          - active_agent
          value_type: string
          variable: active_agent
        - value_selector:
          - conversation
          - active_phase
          value_type: string
          variable: current_active_phase
        - value_selector:
          - conversation
          - spec_awaiting_user_input
          value_type: boolean
          variable: current_spec_awaiting
        - value_selector:
          - conversation
          - pending_ambiguities
          value_type: array[object]
          variable: current_pending_ambiguities
      height: 130
      id: '1800000000725'
      parentId: '1800000000700'
      position:
        x: 1528
        y: 1116
      positionAbsolute:
        x: 5420
        y: 1116
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000725'
          - out_active_phase
          variable_selector:
          - conversation
          - active_phase
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1800000000725'
          - out_spec_awaiting
          variable_selector:
          - conversation
          - spec_awaiting_user_input
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1800000000725'
          - out_pending_ambiguities
          variable_selector:
          - conversation
          - pending_ambiguities
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1800000000725'
          - raw_payload
          variable_selector:
          - conversation
          - agent_structured
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Phase Transition
        type: assigner
        version: '2'
      height: 180
      id: '1800000000727'
      parentId: '1800000000700'
      position:
        x: 1849
        y: 1091
      positionAbsolute:
        x: 5741
        y: 1091
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000776'
          - last_gate_status
          variable_selector:
          - conversation
          - last_gate_status
          write_mode: over-write
        loop_id: '1800000000700'
        selected: false
        title: Gate Result
        type: assigner
        version: '2'
      height: 135
      id: '1800000000779'
      parentId: '1800000000700'
      position:
        x: 3153
        y: 1142
      positionAbsolute:
        x: 7045
        y: 1142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        cases:
        - case_id: spec-awaiting
          conditions:
          - comparison_operator: is
            id: 25f782a3-425d-48e8-9fce-55ee2a5dd745
            value: true
            varType: boolean
            variable_selector:
            - conversation
            - spec_awaiting_user_input
          id: spec-awaiting
          logical_operator: and
        desc: Short-circuit when a Spec Agent gap-fix question is pending. Bypasses the Orchestrator LLM entirely and re-enters
          the agent loop with active_agent=spec so the user reply is applied by the Spec Agent.
        selected: false
        title: Spec Awaiting Check
        type: if-else
      height: 110
      id: '1800000000045'
      position:
        x: 1024
        y: 733
      positionAbsolute:
        x: 1024
        y: 733
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(user_query: str) -> dict:\n    \"\"\"Emit constants needed to resume the Spec Agent on a user reply\n\
          \    during a pending gap-fix. The downstream assigner copies these into\n    conversation variables so the graph\
          \ converges with the normal\n    Set-Initial-Agent path at the File Check IF.\n    \"\"\"\n    return {\n      \
          \  \"active_agent\": \"spec\",\n        \"workflow_mode\": \"generic\",\n        \"active_phase\": \"spec_correcting\"\
          ,\n        \"user_last_answer\": user_query or \"\",\n    }\n"
        code_language: python3
        outputs:
          active_agent:
            type: string
          active_phase:
            type: string
          user_last_answer:
            type: string
          workflow_mode:
            type: string
        selected: false
        title: Resume Awaiting Values
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: user_query
      height: 110
      id: '1800000000046'
      position:
        x: 1385
        y: 922
      positionAbsolute:
        x: 1385
        y: 922
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1800000000046'
          - active_agent
          variable_selector:
          - conversation
          - active_agent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1800000000046'
          - workflow_mode
          variable_selector:
          - conversation
          - workflow_mode
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - agent_loop_active
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1800000000046'
          - active_phase
          variable_selector:
          - conversation
          - active_phase
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - spec_awaiting_user_input
          write_mode: over-write
        selected: false
        title: Resume Awaiting Assigner
        type: assigner
        version: '2'
      height: 225
      id: '1800000000047'
      position:
        x: 1746
        y: 1121
      positionAbsolute:
        x: 1746
        y: 1121
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -44.56240319427828
      y: 198.1915893888977
      zoom: 0.25
  rag_pipeline_variables: []
