dify/SRS Bundle Generator (Agent+Tools).yml
app:
  description: SRS Bundle Generator with avni-ai backend tools for entity extraction,
    validation, and bundle generation
  icon: 📦
  icon_background: '#E7F3F8'
  icon_type: emoji
  mode: advanced-chat
  name: SRS Bundle Generator (Agent+Tools)
  use_icon_as_answer_icon: true
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: c6cba07c-9187-4228-842f-42a0e3f2f709
    name: org_name
    selector:
    - conversation
    - org_name
    value: durga_test
    value_type: string
  - description: ''
    id: 40c13e3c-089e-4def-ac61-ba7bfa172e31
    name: avni_base_url
    selector:
    - conversation
    - avni_base_url
    value: https://staging.avniproject.org
    value_type: string
  - description: ''
    id: a1d26303-4267-47ef-8662-2b246b1079f1
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: ''
    id: 0afa1396-e90b-4bbe-aa59-9f4e870a4792
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: ''
    id: 93cecf97-c283-40f6-a8bd-efd306bd94b1
    name: avni_mcp_server_url
    selector:
    - conversation
    - avni_mcp_server_url
    value: https://staging-ai.avniproject.org/
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .xlsx
      - .csv
      - .json
      - .zip
      - .txt
      allowed_file_types:
      - document
      - custom
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 'I''m the AVNI SRS Bundle Generator.


      1. Paste your SRS or upload Excel

      2. I''ll extract entities and validate

      3. Generate a YAML spec for your review

      4. Generate the bundle ZIP on approval


      What''s your SRS?'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - Generate a bundle for an MCH program
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 17756450495350-source-17756450495361-target
      selected: false
      source: '17756450495350'
      sourceHandle: source
      target: '17756450495361'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: agent
      id: 1775646587226-source-17756450495350-target
      selected: false
      source: '1775646587226'
      sourceHandle: source
      target: '17756450495350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1775648480416-source-1775646587226-target
      selected: false
      source: '1775648480416'
      sourceHandle: source
      target: '1775646587226'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: n-start-source-1775657870619-target
      selected: false
      source: n-start
      sourceHandle: source
      target: '1775657870619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: answer
      id: 17756450495350-fail-branch-1775658332808-target
      selected: false
      source: '17756450495350'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1775719228711-false-1775648480416-target
      selected: false
      source: '1775719228711'
      sourceHandle: 'false'
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1775657870619-source-1775719228711-target
      source: '1775657870619'
      sourceHandle: source
      target: '1775719228711'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775648480416-fail-branch-1775658332808-target
      source: '1775648480416'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775646587226-fail-branch-1775658332808-target
      source: '1775646587226'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1775719228711-true-1775800000001-target
      source: '1775719228711'
      sourceHandle: 'true'
      target: '1775800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1775800000001-source-1775800000002-target
      source: '1775800000001'
      sourceHandle: source
      target: '1775800000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1775800000002-source-1775648480416-target
      source: '1775800000002'
      sourceHandle: source
      target: '1775648480416'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1775800000002-fail-branch-1775658332808-target
      source: '1775800000002'
      sourceHandle: fail-branch
      target: '1775658332808'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - default: durga_test
          hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - default: himesh
          hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_mcp_server_url
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_mcp_server_url
      height: 257
      id: n-start
      position:
        x: 0
        y: 114
      positionAbsolute:
        x: 0
        y: 114
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    infos = [\n    \
          \    {\"url\": f.get(\"url\", \"\"), \"filename\": f.get(\"filename\", \"\
          document.xlsx\")}\n        for f in files\n        if f.get(\"url\")\n \
          \   ]\n    return {\"file_infos_json\": json.dumps(infos)}\n"
        code_language: python3
        desc: Extract pre-signed URLs and filenames — backend downloads the files
        outputs:
          file_infos_json:
            type: string
        selected: false
        title: Extract File Infos
        type: code
        variables:
        - value_selector:
          - sys
          - files
          variable: files
      height: 96
      id: '1775800000001'
      position:
        x: 1046
        y: 347
      positionAbsolute:
        x: 1046
        y: 347
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: parse-srs-file-body
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "file_infos":
              {{#1775800000001.file_infos_json#}}}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Parse SRS File
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}parse-srs-file'
        variables: []
      height: 177
      id: '1775800000002'
      position:
        x: 1046
        y: 347
      positionAbsolute:
        x: 1046
        y: 347
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'You are the AVNI SRS Bundle Generator Agent. You help users create
              complete AVNI configuration bundles from SRS specifications.


              Conversation ID: {{#sys.conversation_id#}}

              IMPORTANT: Use conversation_id (= {{#sys.conversation_id#}}) for ALL
              tool calls that need it.


              CRITICAL TOOL-CALL RULES (these override any conflicting instructions
              below):

              RULE 1 — FIRST TOOL CALL IS ALWAYS get_srs_text: At the very start of
              EVERY new SRS processing task, your first tool call MUST be get_srs_text(conversation_id).
              Do not show a plan, do not ask the user anything, do not say "let me
              retrieve" — just call the tool immediately. If it returns ok (200),
              use the srs_text field as your SRS input. If it returns 404 (no file
              uploaded), only then ask the user to paste the SRS text. After retrieving
              the text, call store_entities, then validate_entities, then generate_spec,
              then get_spec IN SEQUENCE without pausing. Only after get_spec returns
              do you show spec_yaml and ask for approval.

              RULE 2 — generate_bundle uses conversation_id ONLY: When the user approves
              the spec, call generate_bundle(conversation_id) without any entities
              field. Entities are already in the server store from RULE 1.

              RULE 3 — validate_bundle uses conversation_id ONLY: Call validate_bundle(conversation_id).
              Do NOT pass bundle_zip_b64.

              RULE 4 — upload_bundle uses conversation_id ONLY: Call upload_bundle(conversation_id).
              Do NOT pass bundle_zip_b64.


              {{#1775646587226.body#}}'
          maximum_iterations:
            type: constant
            value: 20
          model:
            type: constant
            value:
              completion_params:
                context_1m: true
                max_tokens: 16384
                prompt_caching_tool_definitions: true
                prompt_caching_tool_results: true
                temperature: 0.2
              mode: chat
              model: claude-sonnet-4-6
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: false
              extra:
                description: Call this once at the start of a conversation. All subsequent
                  tool calls that need auth can just pass conversation_id instead
                  of the avni-auth-token header.
              parameters:
                auth_token:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Call this once at the start of a conversation. All
                subsequent tool calls that need auth can just pass conversation_id
                instead of the avni-auth-token header.
              tool_label: store_auth_token
              tool_name: store_auth_token
              type: api
            - enabled: true
              extra:
                description: Call this once after entity extraction. Agent tools can
                  then pass only conversation_id instead of the full entities payload.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                entities:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Call this once after entity extraction. Agent tools
                can then pass only conversation_id instead of the full entities payload.
              tool_label: store_entities
              tool_name: store_entities
              type: api
            - enabled: true
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: true
              extra:
                description: Apply corrections to extracted entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                corrections:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: true
              extra:
                description: Generate a human-readable YAML spec from entities
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                org_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#n-start.org_name#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Generate a human-readable YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: true
              extra:
                description: Convert a YAML spec to a full entities dict for bundle
                  generation
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Convert a YAML spec to a full entities dict for bundle
                generation
              tool_label: spec_to_entities
              tool_name: spec_to_entities
              type: api
            - enabled: true
              extra:
                description: Convert an existing bundle to a human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#n-start.org_name#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Convert an existing bundle to a human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: true
              extra:
                description: Check the status of a bundle upload task
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Check the status of a bundle upload task
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: Download the current organisation configuration from
                  Avni
              parameters:
                includeLocations:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Download the current organisation configuration from
                Avni
              tool_label: get_existing_config
              tool_name: get_existing_config
              type: api
            - enabled: true
              extra:
                description: Execute Python code in a sandboxed environment
              parameters:
                code:
                  auto: 1
                  value: null
                context:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Execute Python code in a sandboxed environment
              tool_label: execute_python
              tool_name: execute_python
              type: api
            - enabled: true
              extra:
                description: List all files in a stored bundle with their sizes. Use
                  bundle_type='generated' (default) for the newly generated bundle
                  or 'existing' for the org's current bundle downloaded from Avni.
                  Returns file names and sizes so you can choose which file to inspect.
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: List all files in a stored bundle with their sizes.
              tool_label: get_bundle_files
              tool_name: get_bundle_files
              type: api
            - enabled: true
              extra:
                description: Read the content of a specific file from a stored bundle.
                  filename examples are 'forms/MCH Registration.json', 'concepts.json',
                  'subjectTypes.json', 'formMappings.json'. Use bundle_type='existing'
                  to inspect the org's current config for comparison or diagnosis.
              parameters:
                bundle_type:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Read the content of a specific file from a stored
                bundle by filename.
              tool_label: get_bundle_file
              tool_name: get_bundle_file
              type: api
            - enabled: true
              extra:
                description: Retrieve the full stored spec YAML for display. Call
                  this after generate_spec confirms stored=true. Shows spec_yaml in
                  the agent response for user review.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Retrieve the full stored spec YAML for display to
                the user after generate_spec confirms stored=true.
              tool_label: get_spec
              tool_name: get_spec
              type: api
            - enabled: true
              extra:
                description: Fetch one section array from stored entities (e.g. encounter_types,
                  forms). Use for targeted review or edit of one section without loading
                  all entities. Valid sections — subject_types, programs, encounter_types,
                  address_levels, forms.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Fetch one section array from the stored entities dict
                for targeted inspection or edit.
              tool_label: get_entities_section
              tool_name: get_entities_section
              type: api
            - enabled: true
              extra:
                description: Replace one section in the stored entities dict and re-store
                  it. Use to fix just encounter_types, forms, or any other section
                  without re-extracting all entities. Always validate_entities after
                  this call.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                items:
                  auto: 1
                  value: null
                section:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Replace one section in the stored entities dict (surgical
                edit without full re-extraction).
              tool_label: update_entities_section
              tool_name: update_entities_section
              type: api
            - enabled: true
              extra:
                description: Fetch one top-level section from the stored spec YAML
                  (e.g. encounterTypes, programs, subjectTypes). Allows targeted review
                  or edit of one section without retrieving the full spec.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Fetch one top-level YAML section from the stored spec
                for targeted inspection or edit.
              tool_label: get_spec_section
              tool_name: get_spec_section
              type: api
            - enabled: true
              extra:
                description: Replace one file in the stored generated bundle ZIP and
                  re-store it. Use for surgical bundle fixes after validate_bundle
                  reports errors — fix one file then re-validate, no full bundle regeneration
                  needed. filename examples — 'forms/ANCForm.json', 'concepts.json',
                  'formMappings.json'.
              parameters:
                content:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                filename:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Replace one file in the stored generated bundle ZIP
                for surgical fixes without regenerating the full bundle.
              tool_label: put_bundle_file
              tool_name: put_bundle_file
              type: api
            - enabled: true
              extra:
                description: The SRS document text is pre-stored server-side by the
                  Dify workflow before the agent starts. Call this to fetch the full
                  text for entity extraction instead of reading it from the query
                  field.
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: The SRS document text is pre-stored server-side by
                the Dify workflow before the agent starts. Call this to fetch the
                full text for entity extraction instead of reading it from the query
                field.
              tool_label: get_srs_text
              tool_name: get_srs_text
              type: api
            - enabled: true
              extra:
                description: 'Preferred: pass conversation_id only (no entities).
                  Entities are fetched

                  automatically from the server-side entity store populated by store_entities.

                  Bundle is stored server-side (TTL 6h) and only a lightweight summary
                  is

                  returned — nothing large reaches the LLM. Pass the same conversation_id
                  to

                  validate_bundle and upload_bundle afterwards.

                  Legacy: pass entities directly (with or without conversation_id).

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#n-start.org_name#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Preferred: pass conversation_id only (no entities).
                Entities are fetched

                automatically from the server-side entity store populated by store_entities.

                Bundle is stored server-side (TTL 6h) and only a lightweight summary
                is

                returned — nothing large reaches the LLM. Pass the same conversation_id
                to

                validate_bundle and upload_bundle afterwards.

                Legacy: pass entities directly (with or without conversation_id).

                '
              tool_label: generate_bundle
              tool_name: generate_bundle
              type: api
            - enabled: true
              extra:
                description: 'Preferred: pass conversation_id to fetch bundle from
                  server-side store

                  (no large payload on LLM). Fallback: pass bundle dict or bundle_zip_b64
                  directly.

                  '
              parameters:
                bundle:
                  auto: 1
                  value: null
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Preferred: pass conversation_id to fetch bundle from
                server-side store

                (no large payload on LLM). Fallback: pass bundle dict or bundle_zip_b64
                directly.

                '
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: 'Preferred (JSON body): pass conversation_id + spec_yaml.
                  The existing bundle

                  is fetched from server-side store (must have called download_bundle_b64
                  with

                  conversation_id first). The patched result is stored under conversation_id

                  ready for validate_bundle and upload_bundle — no bundle_zip_b64
                  on the LLM.

                  Legacy (multipart/form-data): pass existing_bundle_b64 + spec_yaml
                  directly.

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                existing_bundle_b64:
                  auto: 1
                  value: null
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Preferred (JSON body): pass conversation_id + spec_yaml.
                The existing bundle

                is fetched from server-side store (must have called download_bundle_b64
                with

                conversation_id first). The patched result is stored under conversation_id

                ready for validate_bundle and upload_bundle — no bundle_zip_b64 on
                the LLM.

                Legacy (multipart/form-data): pass existing_bundle_b64 + spec_yaml
                directly.

                '
              tool_label: patch_bundle
              tool_name: patch_bundle
              type: api
            - enabled: true
              extra:
                description: 'Auth and bundle are both resolved from server-side store
                  using conversation_id.

                  Pass conversation_id (after calling generate_bundle or patch_bundle
                  with it)

                  and neither bundle_zip_b64 nor an auth header is needed.

                  Legacy: pass bundle_zip_b64 directly with avni-auth-token header.

                  '
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Auth and bundle are both resolved from server-side
                store using conversation_id.

                Pass conversation_id (after calling generate_bundle or patch_bundle
                with it)

                and neither bundle_zip_b64 nor an auth header is needed.

                Legacy: pass bundle_zip_b64 directly with avni-auth-token header.

                '
              tool_label: upload_bundle
              tool_name: upload_bundle
              type: api
            - enabled: true
              extra:
                description: 'When conversation_id is provided: downloads the org''s
                  current bundle, stores

                  it server-side under ''{conversation_id}:existing'' (TTL 6h), and
                  returns a

                  summary only — bundle_zip_b64 never reaches the LLM. Afterwards
                  use

                  get_bundle_files/get_bundle_file to inspect it, or patch_bundle
                  to apply

                  spec changes.

                  Without conversation_id: legacy behaviour, returns full bundle_zip_b64.

                  '
              parameters:
                baseUrl:
                  auto: 0
                  value:
                    type: mixed
                    value: https://staging.avniproject.org
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                includeLocations:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'When conversation_id is provided: downloads the org''s
                current bundle, stores

                it server-side under ''{conversation_id}:existing'' (TTL 6h), and
                returns a

                summary only — bundle_zip_b64 never reaches the LLM. Afterwards use

                get_bundle_files/get_bundle_file to inspect it, or patch_bundle to
                apply

                spec changes.

                Without conversation_id: legacy behaviour, returns full bundle_zip_b64.

                '
              tool_label: download_bundle_b64
              tool_name: download_bundle_b64
              type: api
            - enabled: true
              extra:
                description: 'Surgical edit — replaces a single top-level YAML key
                  and re-stores the spec.

                  Use to fix one section (e.g. encounterTypes) without rewriting the
                  whole spec.

                  Provide either ''value'' (parsed object) or ''yaml_fragment'' (YAML
                  string).

                  '
              parameters:
                conversation_id:
                  auto: 0
                  value:
                    type: mixed
                    value: '{{#sys.conversation_id#}}'
                section:
                  auto: 1
                  value: null
                value:
                  auto: 1
                  value: null
                yaml_fragment:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: 'Surgical edit — replaces a single top-level YAML
                key and re-stores the spec.

                Use to fix one section (e.g. encounterTypes) without rewriting the
                whole spec.

                Provide either ''value'' (parsed object) or ''yaml_fragment'' (YAML
                string).

                '
              tool_label: update_spec_section
              tool_name: update_spec_section
              type: api
            - enabled: false
              extra:
                description: Decodes a base64-encoded Excel SRS file, runs the deterministic
                  scoping_parser server-side, and stores the resulting entities under
                  conversation_id. Returns ok=true with entity counts on success,
                  ok=false with error on parse failure.
              parameters:
                conversation_id:
                  auto: 1
                  value: null
                file_b64:
                  auto: 1
                  value: null
                filename:
                  auto: 1
                  value: null
              provider_name: 7f9b21ca-bafb-43f6-8294-4357a954d50d
              provider_show_name: Avni AI Staging NoAuth openapi
              settings: {}
              tool_description: Decodes a base64-encoded Excel SRS file, runs the
                deterministic scoping_parser server-side, and stores the resulting
                entities under conversation_id. Returns ok=true with entity counts
                on success, ok=false with error on parse failure.
              tool_label: parse_srs_file
              tool_name: parse_srs_file
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Extracts entities from SRS, generates and validates bundle via tools
        error_strategy: fail-branch
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: true
            size: 10
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Bundle Agent
        tool_node_version: '2'
        type: agent
      height: 312
      id: '17756450495350'
      position:
        x: 2474
        y: 0
      positionAbsolute:
        x: 2474
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: '{{#17756450495350.text#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: Response
        type: answer
        variables: []
      height: 103
      id: '17756450495361'
      position:
        x: 2816
        y: 52
      positionAbsolute:
        x: 2816
        y: 52
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        error_strategy: fail-branch
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: BUNDLE_AGENT_PROMPT_FETCH
        type: http-request
        url: https://raw.githubusercontent.com/avniproject/avni-ai/refs/heads/app-configurator-dev/bundle-agent-prompt.txt
        variables: []
      height: 205
      id: '1775646587226'
      position:
        x: 2112
        y: 138
      positionAbsolute:
        x: 2112
        y: 138
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-73
            key: ''
            type: text
            value: '{"conversation_id": "{{#sys.conversation_id#}}", "auth_token":
              "{{#conversation.auth_token#}}"}'
          type: json
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Store Avni Auth-Token
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}store-auth-token'
        variables: []
      height: 177
      id: '1775648480416'
      position:
        x: 1750
        y: 197
      positionAbsolute:
        x: 1750
        y: 197
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - n-start
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - n-start
          - avni_mcp_server_url
          variable_selector:
          - conversation
          - avni_mcp_server_url
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - n-start
          - org_name
          variable_selector:
          - conversation
          - org_name
          write_mode: over-write
        selected: false
        title: Conversation Variables Assigner
        type: assigner
        version: '2'
      height: 136
      id: '1775657870619'
      position:
        x: 342
        y: 175
      positionAbsolute:
        x: 342
        y: 175
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Type: {{#17756450495350.error_type#}}


          Message: {{#17756450495350.error_message#}}'
        selected: false
        title: Agent Error
        type: answer
        variables: []
      height: 137
      id: '1775658332808'
      position:
        x: 2836
        y: 311
      positionAbsolute:
        x: 2836
        y: 311
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 3066368b-a96a-4f38-ad75-aa53556e44f8
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1775719228711'
      position:
        x: 684
        y: 181
      positionAbsolute:
        x: 684
        y: 181
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -6.59376650688597
      y: 277.74546892011995
      zoom: 0.48165704070855697
  rag_pipeline_variables: []
