App Configurator [Staging] v3.yml
app:
  description: Avni AI Assistant — App Configurator (Refactored)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: App Configurator [Staging] v3
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: agimaster/justwait:0.0.2@1cc2d5e7fbd6a829396c8a51947924f799f9566071bf8499c4e2a9f75ad3330f
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.8@6706e34565fb2c560cc3641c888b7f4e34288928df913e92241bd6d4f830a0cf
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: Avni auth token for API calls
    id: f3337c5a-b833-47a7-8eeb-1d29182542f9
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: Avni AI server base URL
    id: 4c1c713d-15fd-4a91-904b-20ef56e53cd0
    name: avni_mcp_server_url
    selector:
    - conversation
    - avni_mcp_server_url
    value: ''
    value_type: string
  - description: Extracted entities from specification file
    id: dada7c31-e9c4-4b37-838c-00f71b67c54a
    name: entities_jsonl
    selector:
    - conversation
    - entities_jsonl
    value: {}
    value_type: object
  - description: Uploaded specification files
    id: ee0fbd12-9867-4b7c-95d5-4b74e03475be
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: Upload task ID for polling
    id: 79e98864-f718-4375-b980-b8e9df1fa427
    name: upload_task_id
    selector:
    - conversation
    - upload_task_id
    value: ''
    value_type: string
  - description: Boolean constant true
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: Boolean constant false
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: Controls upload polling loop
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  - description: Tracks if user is in active setup workflow
    id: a1b2c3d4-e5f6-4789-a0b1-c2d3e4f5a6b7
    name: setup_mode_active
    selector:
    - conversation
    - setup_mode_active
    value: false
    value_type: boolean
  - description: Stores the user's anchored intent
    id: b2c3d4e5-f6a7-4890-b1c2-d3e4f5a6b7c8
    name: primary_intent
    selector:
    - conversation
    - primary_intent
    value: ''
    value_type: string
  - description: Base64 encoded bundle ZIP for upload
    id: e5f6a7b8-c9d0-4123-e4f5-a6b7c8d9e0f1
    name: bundle_zip_b64
    selector:
    - conversation
    - bundle_zip_b64
    value: ''
    value_type: string
  - description: Counter for chitchat messages
    id: c3d4e5f6-a7b8-4901-c2d3-e4f5a6b7c8d9
    name: chitchat_count
    selector:
    - conversation
    - chitchat_count
    value: 0
    value_type: integer
  - description: Counter for out-of-scope messages
    id: d4e5f6a7-b8c9-4012-d3e4-f5a6b7c8d9e0
    name: out_of_scope_count
    selector:
    - conversation
    - out_of_scope_count
    value: 0
    value_type: integer
  - description: Approved YAML spec from Spec Agent
    id: f7a8b9c0-d1e2-4f3a-b4c5-d6e7f8a9b0c1
    name: spec_yaml
    selector:
    - conversation
    - spec_yaml
    value: ''
    value_type: string
  - description: Base64 encoded existing org bundle ZIP downloaded from Avni
    id: a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
    name: existing_bundle_b64
    selector:
    - conversation
    - existing_bundle_b64
    value: ''
    value_type: string
  - description: Organisation name persisted across conversation turns
    id: 7a1b2c3d-e4f5-4678-9a0b-1c2d3e4f5678
    name: org_name
    selector:
    - conversation
    - org_name
    value: ''
    value_type: string
  - description: PEV retry cycle counter for self-healing loop
    id: 8b2c3d4e-f5a6-4789-0b1c-2d3e4f567890
    name: retry_count
    selector:
    - conversation
    - retry_count
    value: 0
    value_type: integer
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .XLSX
      - .XLS
      - .CSV
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: 'Hey {{user_name}}! I’m your Avni AI assistant. I can help
      you with:


      📚 **Learn about Avni** — Ask me anything about the platform

      📄 **Set up your program** — Upload a Field Workflow Specification and I’ll configure
      everything

      🔧 **Custom configuration** — Build something unique


      How can I help you today?'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - I want to set up a new program
    - What is Avni?
    - Upload my field workflow specification
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: if-else
        targetType: llm
      id: 538316d7-e6df-4c85-aa8e-882da2decf95
      selected: false
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: case-rag
      target: e8e3b068-cdf1-4094-adc2-fcb4bf26c104
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
      id: d3514041-504a-4de1-bce9-63101ad5f1e4
      selected: false
      source: e8e3b068-cdf1-4094-adc2-fcb4bf26c104
      sourceHandle: source
      target: 337ac9ff-56b5-47d3-9358-3431dcecb944
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: 875c60cc-86f0-489d-9f97-a1e53966a106
      selected: false
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: case-clarify
      target: e4d76fda-c4a2-40eb-a6e2-3ca33bb4a865
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: c501d3e4-1f59-4ac4-9cdd-55ba7b42b765
      selected: false
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: case-oos
      target: 29a68eb3-abe1-4391-8cad-2192e54528af
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: llm
      id: fa6827a3-35fe-4bf5-9749-cb047c315329
      selected: false
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: case-assistant
      target: e8f8d433-0512-442d-b51e-690b1fd12676
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: llm
        targetType: answer
      id: c32374c3-d160-41f0-84f9-32eeda89cd7c
      selected: false
      source: e8f8d433-0512-442d-b51e-690b1fd12676
      sourceHandle: source
      target: 70edf318-545a-4702-be66-83abd1e71f9f
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 34a092ad-c6d5-4ae1-9b21-f13100daefee
      selected: false
      source: b105cc65-2258-4933-9567-b484d315e9ee
      sourceHandle: 'No'
      target: 41baa894-e39d-45c7-826d-9ba1faad150b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        sourceType: loop-start
        targetType: tool
      id: 6eba93ff-953a-4d06-89aa-84731de91aa8
      selected: false
      source: 47e94f80-07ea-4cf9-b0e3-36875cb6a80c
      sourceHandle: source
      target: c22ed9a5-0d83-4d53-81f6-7c1bb2828a5a
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        sourceType: tool
        targetType: http-request
      id: 9b6ed349-cd70-432c-a3f8-90a07592d1a7
      selected: false
      source: c22ed9a5-0d83-4d53-81f6-7c1bb2828a5a
      sourceHandle: source
      target: eb1998db-b052-4be3-90fb-ccf69c9aad16
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 8976fc6a-a699-4cbe-a732-28196a29717e
      selected: false
      source: b105cc65-2258-4933-9567-b484d315e9ee
      sourceHandle: __timeout
      target: ef812954-180c-4672-9c41-4d2e8058fdb5
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 83a65c01-c680-4fe1-acc9-5fc79f7a12c0
      selected: false
      source: 2848b2cf-5194-422f-abe7-b634b8f41d82
      sourceHandle: 'true'
      target: 8b8ee9f6-6f79-42c3-8925-1b1f6557a6c4
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 52902246-5c44-4d17-9e2a-e12fed46be09
      selected: false
      source: 2848b2cf-5194-422f-abe7-b634b8f41d82
      sourceHandle: d26825bc-0735-4704-b42c-eb42f6cb4b67
      target: 187a5511-2859-43d3-a332-0673a25c483c
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f8bddd65-6adf-4aa2-8892-54e1111f7c4b
      selected: false
      source: 2848b2cf-5194-422f-abe7-b634b8f41d82
      sourceHandle: bef31e01-b42e-40cf-9c16-fd9fef71ec17
      target: 7066fcb1-d654-4d34-9ff5-4fe95c6b6faa
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 9b19d130-7def-40a6-9991-09d6c1093494
      selected: false
      source: 2848b2cf-5194-422f-abe7-b634b8f41d82
      sourceHandle: 16b24b6c-aef8-437c-a9e3-18a892d85f37
      target: 83eb496d-85e1-46ed-93e1-0472eb34e3d3
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 3725b1d1-7d4b-4ce2-b7e0-53a5e5d92d87
      selected: false
      source: 2848b2cf-5194-422f-abe7-b634b8f41d82
      sourceHandle: 54bc604c-0b21-4ea6-8050-d3af11bdbce4
      target: 66abc910-ef40-4cf0-aeef-895f07939ef4
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: c2d3fd06-15b5-4b05-9a64-da0c534a4402
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: 'true'
      target: da538de9-c1a6-46e9-b189-9e5978bf6521
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 6430bfca-0214-43c3-93e3-6d86d49bcdff
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-401
      target: eed94bb6-3565-4fbc-944c-3b114211f447
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 9db08a1d-bc02-4f2c-aa9e-5577fed018e1
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-403
      target: 848fa968-67cb-41cc-a287-322536fe9f69
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: bd658ad0-0e3a-4181-8df3-0fe2f5544abe
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-404
      target: 7b04db95-2264-496e-8447-0efb83a7b9a2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: f3560770-af07-4b82-a69c-b569556d0f88
      selected: false
      source: f9136731-f6e1-472d-8cad-55edaed02022
      sourceHandle: upload-case-500
      target: 608df9da-f21e-4d20-8d01-e4d65fec1256
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1efc98d6-5259-48f4-8d5c-5070280b7c0c
      selected: false
      source: 50519a54-053f-4c25-9486-ec03eadb94ca
      sourceHandle: case-error-report
      target: 0f4603cf-1aab-4b53-a05d-c5cb6f9194c2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: loop
      id: 2795cb77-3d53-4f58-8f4a-83795e7f4ef5
      selected: false
      source: 50519a54-053f-4c25-9486-ec03eadb94ca
      sourceHandle: 'false'
      target: 35da18be-8683-4108-a00a-4a695ab52939
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1fd37563-4e27-4513-ac64-285252a6be58
      selected: false
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: case-delete-config
      target: 6494459f-3dee-4fc1-bdff-ff0400aefd52
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: human-input
      id: 83618b08-77b8-4192-9e51-849d1a5c695c
      selected: false
      source: 6494459f-3dee-4fc1-bdff-ff0400aefd52
      sourceHandle: source
      target: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: http-request
      id: 8f9c1b42-cf3b-4dcf-9ba8-d8848452ea2f
      selected: false
      source: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      sourceHandle: 'Yes'
      target: fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 1095c308-ab1b-423d-905f-9440034dffd4
      selected: false
      source: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      sourceHandle: 'No'
      target: 3cfb30bf-9386-48db-bfa2-3bd3359cf040
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: 03d16593-0963-4eb3-94bf-abc7ac9f4c3d
      selected: false
      source: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      sourceHandle: __timeout
      target: 3cfb30bf-9386-48db-bfa2-3bd3359cf040
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: f2628cd3-a5cc-40d5-a45f-6d7c759be676
      selected: false
      source: fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
      sourceHandle: source
      target: 13f1b052-2aed-4126-937d-5a4837d77639
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: aa8fb267-1494-40cf-b763-f5caa2f31cca
      selected: false
      source: 13f1b052-2aed-4126-937d-5a4837d77639
      sourceHandle: 'true'
      target: c776a305-2e50-42e0-9209-32881d893c32
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 2c0a3302-d904-4d25-bac6-5334d67b47d4
      selected: false
      source: 13f1b052-2aed-4126-937d-5a4837d77639
      sourceHandle: 'false'
      target: 750b6d5a-d7b6-4e8f-8449-b51e3d84f7fd
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1a9c3198-3492-44d0-ad45-0bc4346d072a
      selected: false
      source: 76910038-4a13-4647-aee2-30be4c282e31
      sourceHandle: 'true'
      target: e6b32cb1-406f-47e0-8f96-18b75d76fdf2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        sourceType: if-else
        targetType: answer
      id: 98938e7f-b8bd-4afb-bba6-5d0716785311
      selected: false
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: case-setup-guidance
      target: d9ccc273-d1c4-44d1-8894-177b64b92bfa
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 832726e4-72f8-4a5a-860a-1dfc3d3cfebc
      selected: false
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: 'false'
      target: 29a68eb3-abe1-4391-8cad-2192e54528af
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        sourceType: if-else
        targetType: assigner
      id: d4a7cb88-3ba7-4232-aba7-bdcb0058bf2d
      selected: false
      source: 89c2cb52-3281-4545-af67-31b339980b22
      sourceHandle: 'true'
      target: ff6d33df-8310-4f7f-85a6-491645d8b5fe
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        sourceType: if-else
        targetType: answer
      id: 80f9c75e-9348-4c4e-b3e4-5e1fc0383930
      selected: false
      source: 89c2cb52-3281-4545-af67-31b339980b22
      sourceHandle: 'false'
      target: abe6cb3a-769a-4f59-b705-fef4884fdb5e
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        sourceType: assigner
        targetType: answer
      id: 24e376ae-b1b4-4b20-aaae-449ff541bb6e
      selected: false
      source: ff6d33df-8310-4f7f-85a6-491645d8b5fe
      sourceHandle: source
      target: 48d1cfc7-02ef-457e-8e39-bff34b4fb91e
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 3768efbc-85a1-4b13-a8b3-59be2f46bb81
      selected: false
      source: 6a6165a9-076f-47c8-b1d5-26f3fb39907a
      sourceHandle: source
      target: 942f84c8-36f3-4af6-8c41-d85b4a3f6f31
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: 52dde296-fa85-448b-b8e3-5934d4a368c6
      selected: false
      source: 6a6165a9-076f-47c8-b1d5-26f3fb39907a
      sourceHandle: source
      target: 74a6ce71-2f7c-47ba-8f2b-3c5aff99727c
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: assigner
      id: bf74e0c7-c9a6-43b7-a545-101ad833d5e5
      selected: false
      source: 6a6165a9-076f-47c8-b1d5-26f3fb39907a
      sourceHandle: source
      target: 8cf929e0-b909-47df-949b-6d40ed0a3bbe
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        sourceType: http-request
        targetType: code
      id: d7e32139-ef4b-4f78-833c-d51738ebcb7a
      source: eb1998db-b052-4be3-90fb-ccf69c9aad16
      sourceHandle: source
      target: 4d4d116e-624d-4a18-8088-161152f67c51
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        sourceType: code
        targetType: if-else
      id: fa1c584e-0ecf-459b-9a4f-96fd38c95103
      source: 4d4d116e-624d-4a18-8088-161152f67c51
      sourceHandle: source
      target: 89c2cb52-3281-4545-af67-31b339980b22
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 6a6165a9-076f-47c8-b1d5-26f3fb39907a-source-536c1e44-5bdb-479e-8fd4-0b3f36d85a1b-target
      source: 6a6165a9-076f-47c8-b1d5-26f3fb39907a
      sourceHandle: source
      target: 536c1e44-5bdb-479e-8fd4-0b3f36d85a1b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 536c1e44-5bdb-479e-8fd4-0b3f36d85a1b-source-27e73ff3-f0ce-4d21-a282-2dc450bf3f5b-target
      source: 536c1e44-5bdb-479e-8fd4-0b3f36d85a1b
      sourceHandle: source
      target: 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b-source-4f829f1f-f4db-4b21-a501-fcbc863ee2ce-target
      source: 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
      sourceHandle: source
      target: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce-case-filesetup-f1ffbe75-d06a-4349-b6d4-78aabd9596ee-target
      source: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      sourceHandle: case-filesetup
      target: f1ffbe75-d06a-4349-b6d4-78aabd9596ee
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: f1ffbe75-d06a-4349-b6d4-78aabd9596ee-false-addf214e-9e80-4030-9160-5e59b8031e58-target
      source: f1ffbe75-d06a-4349-b6d4-78aabd9596ee
      sourceHandle: 'false'
      target: addf214e-9e80-4030-9160-5e59b8031e58
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_mcp_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_mcp_server_url
      height: 257
      id: 6a6165a9-076f-47c8-b1d5-26f3fb39907a
      position:
        x: 0
        y: 418
      positionAbsolute:
        x: 0
        y: 418
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6a6165a9-076f-47c8-b1d5-26f3fb39907a
          - avni_mcp_server_url
          variable_selector:
          - conversation
          - avni_mcp_server_url
          write_mode: over-write
        selected: false
        title: AI Server url assigner
        type: assigner
        version: '2'
      height: 84
      id: 942f84c8-36f3-4af6-8c41-d85b4a3f6f31
      position:
        x: 362
        y: 607
      positionAbsolute:
        x: 362
        y: 607
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6a6165a9-076f-47c8-b1d5-26f3fb39907a
          - auth_token
          variable_selector:
          - conversation
          - auth_token
          write_mode: over-write
        selected: false
        title: Auth token var assigner
        type: assigner
        version: '2'
      height: 84
      id: 74a6ce71-2f7c-47ba-8f2b-3c5aff99727c
      position:
        x: 362
        y: 771
      positionAbsolute:
        x: 362
        y: 771
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6a6165a9-076f-47c8-b1d5-26f3fb39907a
          - org_name
          variable_selector:
          - conversation
          - org_name
          write_mode: over-write
        selected: false
        title: Org name assigner
        type: assigner
        version: '2'
      height: 84
      id: 8cf929e0-b909-47df-949b-6d40ed0a3bbe
      position:
        x: 362
        y: 935
      positionAbsolute:
        x: 362
        y: 935
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 9TmCqtDyQNUaJCKXT7rPGCd21br8q6JzrrUr4xib3E9uqcfMf6t6rxJkkXFK7EzL
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 6
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o
            provider: langgenius/openai/openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: 536c1e44-5bdb-479e-8fd4-0b3f36d85a1b
      position:
        x: 342
        y: 437
      positionAbsolute:
        x: 342
        y: 437
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - 536c1e44-5bdb-479e-8fd4-0b3f36d85a1b
          - result
        model:
          completion_params:
            max_tokens: 19999
            response_format: JSON
            temperature: 0.1
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 8a1b2c3d-e4f5-4678-9a0b-1c2d3e4f5a6b
          role: system
          text: "You are the Avni Platform Orchestrator. Your sole job is to classify\
            \ the user's message into one service and decide if clarification is needed.\n\
            \n<context> {{#context#}} </context>\n<user_uploaded_files> {{#sys.files#}}\
            \ </user_uploaded_files>\n\n## GOLDEN RULE — check this before anything\
            \ else\nIf sys.files is NOT empty → service = FILE_SETUP. Stop. Do not\
            \ evaluate any other rule.\n\n## Session State\n- setup_mode_active: {{#conversation.setup_mode_active#}}\n\
            - entities_jsonl: {{#conversation.entities_jsonl#}}\n\n## Routing (evaluate\
            \ in order, stop at first match)\n1. setup_mode_active=true OR entities_jsonl\
            \ non-empty → FILE_SETUP (user is mid-setup; anchor to it even if message\
            \ drifts)\n2. Greeting (hi/hello/thanks) → RAG, clarification_needed=false\n\
            3. Capability question (\"Can Avni\", \"Is it possible\", \"Does Avni\
            \ support\", \"How does\") → RAG\n4. Delete/reset request (\"delete everything\"\
            , \"clean slate\", \"start fresh\", \"remove all config\") → DELETE_CONFIG\n\
            5. Implementation request (\"build\", \"create\", \"develop\", \"set up\
            \ for me\") → ASSISTANT\n6. Setup intent WITHOUT file (\"I want to set\
            \ up\", \"how do I configure\") → PROGRAM_SETUP_GUIDANCE\n7. Unrelated\
            \ to Avni → OUT_OF_SCOPE\n8. Anything else Avni-related → RAG\n\n## Deviation\
            \ Handling\nIf setup_mode_active=true and the message is chitchat or out-of-scope,\
            \ still return FILE_SETUP with deviation_detected=true. Do NOT abandon\
            \ the session.\n\n## Clarification Policy\nSet clarification_needed=true\
            \ ONLY when ALL three are true:\n- The question cannot be answered without\
            \ one specific missing detail\n- That detail materially changes the answer\n\
            - The session is NOT in setup mode\nMax 2 questions. Each question must\
            \ name exactly what information is expected.\n\n## Response Format\n{\"\
            service\": \"RAG|ASSISTANT|FILE_SETUP|PROGRAM_SETUP_GUIDANCE|DELETE_CONFIG|OUT_OF_SCOPE\"\
            ,\n \"confidence\": 0.0-1.0,\n \"question_type\": \"...\",\n \"routing_reason\"\
            : \"...\",\n \"clarification_needed\": false,\n \"clarifying_questions\"\
            : [],\n \"deviation_detected\": false}\n"
        - id: 3925c0a4-bbab-4189-8ba8-ac1725e2263e
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            properties:
              clarification_needed:
                type: boolean
              clarifying_questions:
                items:
                  type: string
                type: array
              confidence:
                maximum: 1
                minimum: 0
                type: number
              deviation_detected:
                type: boolean
              question_type:
                type: string
              routing_reason:
                type: string
              service:
                enum:
                - RAG
                - ASSISTANT
                - FILE_SETUP
                - PROGRAM_SETUP_GUIDANCE
                - DELETE_CONFIG
                - OUT_OF_SCOPE
                type: string
            required:
            - service
            - confidence
            - question_type
            - routing_reason
            - clarification_needed
            - clarifying_questions
            - deviation_detected
            type: object
        structured_output_enabled: true
        structured_output_schema:
          properties:
            clarification_needed:
              type: boolean
            clarifying_questions:
              items:
                type: string
              type: array
            confidence:
              type: number
            question_type:
              type: string
            routing_reason:
              type: string
            service:
              type: string
          required:
          - service
          - confidence
          type: object
        title: Orchestrator
        type: llm
      height: 88
      id: 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
      position:
        x: 684
        y: 438
      positionAbsolute:
        x: 684
        y: 438
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-filesetup
          conditions:
          - comparison_operator: is
            value: FILE_SETUP
            variable_selector:
            - 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
            - structured_output
            - service
          id: case-filesetup
          logical_operator: and
        - case_id: case-clarify
          conditions:
          - comparison_operator: is
            value: 'true'
            variable_selector:
            - 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
            - structured_output
            - clarification_needed
          id: case-clarify
          logical_operator: and
        - case_id: case-rag
          conditions:
          - comparison_operator: is
            value: RAG
            variable_selector:
            - 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
            - structured_output
            - service
          id: case-rag
          logical_operator: and
        - case_id: case-assistant
          conditions:
          - comparison_operator: is
            value: ASSISTANT
            variable_selector:
            - 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
            - structured_output
            - service
          id: case-assistant
          logical_operator: and
        - case_id: case-setup-guidance
          conditions:
          - comparison_operator: is
            value: PROGRAM_SETUP_GUIDANCE
            variable_selector:
            - 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
            - structured_output
            - service
          id: case-setup-guidance
          logical_operator: and
        - case_id: case-delete-config
          conditions:
          - comparison_operator: is
            value: DELETE_CONFIG
            variable_selector:
            - 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
            - structured_output
            - service
          id: case-delete-config
          logical_operator: and
        - case_id: case-oos
          conditions:
          - comparison_operator: is
            value: OUT_OF_SCOPE
            variable_selector:
            - 27e73ff3-f0ce-4d21-a282-2dc450bf3f5b
            - structured_output
            - service
          id: case-oos
          logical_operator: and
        selected: false
        title: Main Router
        type: if-else
      height: 580
      id: 4f829f1f-f4db-4b21-a501-fcbc863ee2ce
      position:
        x: 1026
        y: 228
      positionAbsolute:
        x: 1026
        y: 228
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - 536c1e44-5bdb-479e-8fd4-0b3f36d85a1b
          - result
        model:
          completion_params: {}
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 9b2c3d4e-f5a6-4789-0b1c-2d3e4f5a6b7c
          role: system
          text: 'Use the context inside <context></context> tags as your knowledge.

            <context> {{#context#}} </context>

            You are talking to {{#6a6165a9-076f-47c8-b1d5-26f3fb39907a.user_name#}}
            from {{#6a6165a9-076f-47c8-b1d5-26f3fb39907a.org_name#}}. You are part
            of the Avni AI Assistant.

            Currently capable of: 1. Answering questions about the Avni system 2.
            Assistance with designing workflows, forms etc on Avni

            Not currently capable of: 1. Helping with rules

            Context State: - Setup mode active: {{#conversation.setup_mode_active#}}
            - Entities loaded: {{#conversation.entities_jsonl#}}

            Rules: - If you don''t know, say so. Don''t guess or invent features.
            - If greeting, greet warmly by name: {{#6a6165a9-076f-47c8-b1d5-26f3fb39907a.user_name#}}
            - Do not greet repeatedly. - Answer in the user''s language.

            CLARIFICATION DISCIPLINE: - If greeting: respond warmly, do NOT ask questions
            unless user explicitly asks for help - If question has adequate context:
            answer directly - If ambiguous AND not in setup mode: ask ONE specific
            question with clear expected response format - If setup_mode_active=true
            and question relates to setup: answer directly without clarification

            '
        - id: rag-user-msg-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: false
        title: RAG LLM
        type: llm
      height: 88
      id: e8e3b068-cdf1-4094-adc2-fcb4bf26c104
      position:
        x: 1388
        y: 8
      positionAbsolute:
        x: 1388
        y: 8
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#e8e3b068-cdf1-4094-adc2-fcb4bf26c104.text#}}'
        selected: false
        title: RAG Answer
        type: answer
      height: 103
      id: 337ac9ff-56b5-47d3-9358-3431dcecb944
      position:
        x: 1730
        y: 0
      positionAbsolute:
        x: 1730
        y: 0
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#27e73ff3-f0ce-4d21-a282-2dc450bf3f5b.structured_output.clarifying_questions#}}


          Note: Please provide specific details so I can help you better.'
        selected: false
        title: Clarify the question
        type: answer
      height: 135
      id: e4d76fda-c4a2-40eb-a6e2-3ca33bb4a865
      position:
        x: 1388
        y: 176
      positionAbsolute:
        x: 1388
        y: 176
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'I''m sorry, that question doesn''t seem to be related to Avni. I
          can help you with:

          - Learning about Avni''s features

          - Setting up programs and forms

          - Configuring your Avni implementation


          How can I help you with Avni today?'
        selected: false
        title: Unrelated Question
        type: answer
      height: 196
      id: 29a68eb3-abe1-4391-8cad-2192e54528af
      position:
        x: 1388
        y: 789
      positionAbsolute:
        x: 1388
        y: 789
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'You can set up your program by uploading a **Field Workflow Specification**.
          Here is a [sample field workflow specification document](https://docs.google.com/spreadsheets/d/1cEod2MbMtRvAcupArC4nZaHIYB2HHUrIIbOZR0uGRz8/edit?gid=262841117#gid=262841117)
          that you can use as a template.


          Once you fill it out, click the **+** icon below to upload your file and
          I''ll automatically create:

          - Location hierarchy

          - Subject types

          - Programs

          - Encounter types

          - Forms and form mappings


          I can also clarify any questions you have about filling the document. What
          would you like to know?'
        selected: false
        title: Program Setup Guidance
        type: answer
      height: 356
      id: d9ccc273-d1c4-44d1-8894-177b64b92bfa
      position:
        x: 1388
        y: 1065
      positionAbsolute:
        x: 1388
        y: 1065
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 0c3d4e5f-a6b7-4890-1c2d-3e4f5a6b7c8d
          role: system
          text: ''
        - id: 1c276f7a-296a-466b-9296-1d0c4024a349
          role: user
          text: 'You are Avni Copilot, an expert assistant for the Avni data collection
            platform. Guide NGOs and implementers in designing Avni configurations.

            Context State: - Setup mode active: {{#conversation.setup_mode_active#}}
            - Entities loaded: {{#conversation.entities_jsonl#}} - Primary intent:
            {{#conversation.primary_intent#}}

            - Ask ONE simple question at a time (guidance, not clarification) - Org
            Type is {{#6a6165a9-076f-47c8-b1d5-26f3fb39907a.org_type#}} - If Org Type
            is "Production" or "UAT", tell user automatic configurations are not supported
            for their org type. Do not proceed. - If Org Type is "Trial", proceed
            with configuration. - You are talking to {{#6a6165a9-076f-47c8-b1d5-26f3fb39907a.user_name#}}
            - When user wants to create config, suggest uploading a Field Workflow
            Specification file instead.

            BEHAVIOR: - If setup_mode_active=true: stay focused on configuration,
            minimal questions - If user deviates from setup task, gently redirect:
            "Let''s focus on your configuration. What would you like to adjust?" -
            Provide clear, actionable guidance'
        selected: false
        title: Assistant LLM
        type: llm
      height: 88
      id: e8f8d433-0512-442d-b51e-690b1fd12676
      position:
        x: 1388
        y: 391
      positionAbsolute:
        x: 1388
        y: 391
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#e8f8d433-0512-442d-b51e-690b1fd12676.text#}}'
        selected: false
        title: Assistant Answer
        type: answer
      height: 103
      id: 70edf318-545a-4702-be66-83abd1e71f9f
      position:
        x: 1730
        y: 383
      positionAbsolute:
        x: 1730
        y: 383
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-true
          conditions:
          - comparison_operator: not empty
            value: ''
            varType: object
            variable_selector:
            - conversation
            - entities_jsonl
          - comparison_operator: empty
            value: ''
            varType: array
            variable_selector:
            - sys
            - files
          id: case-true
          logical_operator: and
        selected: false
        title: Already Processed?
        type: if-else
      height: 150
      id: f1ffbe75-d06a-4349-b6d4-78aabd9596ee
      position:
        x: 1388
        y: 559
      positionAbsolute:
        x: 1388
        y: 559
      selected: true
      type: custom
      width: 242
    - data:
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: addf214e-9e80-4030-9160-5e59b8031e58
      position:
        x: 1750
        y: 597
      positionAbsolute:
        x: 1750
        y: 597
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 5a9ba9a4-8795-4906-a2f9-82fae7b36cc8
          - structured_output
          variable_selector:
          - conversation
          - entities_jsonl
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'True'
          variable_selector:
          - conversation
          - setup_mode_active
          write_mode: over-write
        selected: false
        title: Save Entities JSONL
        type: assigner
        version: '2'
      height: 110
      id: 9c0103c2-e377-4925-8f4a-501ff5b34379
      position:
        x: 2450
        y: 738
      positionAbsolute:
        x: 2450
        y: 738
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: store-entities-body
            key: ''
            type: text
            value: "{\n  \"conversation_id\": \"{{#sys.conversation_id#}}\",\n  \"\
              entities\": {{#conversation.entities_jsonl#}}\n}\n"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 10
        title: Store Entities
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}store-entities'
      height: 141
      id: ecd0bd72-6c77-4fb8-a362-0164343614af
      position:
        x: 2784
        y: 686
      positionAbsolute:
        x: 2784
        y: 686
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 7b3e4f5a-c6d7-4e89-a0b1-c2d3e4f5a6b7
            key: ''
            type: text
            value: "{\n  \"conversation_id\": \"{{#sys.conversation_id#}}\"\n}\n"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 60
          max_write_timeout: 10
        title: Ambiguity Checker
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}validate-entities'
      height: 141
      id: 3a88cb07-e172-4132-b8b9-8b029f177a84
      position:
        x: 3118
        y: 702
      positionAbsolute:
        x: 3118
        y: 702
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#b6ca284e-1eee-4453-ac2f-f1c1b2f8c085.text#}}


          Does everything look correct? Click **Yes** to proceed with configuration,
          or **No** to make corrections.'
        selected: false
        title: Summary Answer
        type: answer
      height: 152
      id: f1361b33-bc79-43b7-a966-6a9fb53920ff
      position:
        x: 3790
        y: 697
      positionAbsolute:
        x: 3790
        y: 697
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        headers: avni-auth-token:{{#conversation.auth_token#}}
        method: get
        params: includeLocations:false
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 120
          max_write_timeout: 10
        title: Download Existing Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}download-bundle-b64'
      height: 141
      id: a3d80a70-5da7-4edc-9c32-66de6f9845e1
      position:
        x: 5532
        y: 657
      positionAbsolute:
        x: 5532
        y: 657
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(bundle_b64: str, spec_yaml: str) -> dict:\n\
          \    body = {\n        \"existing_bundle_b64\": bundle_b64 or \"\",\n  \
          \      \"spec_yaml\": spec_yaml or \"\"\n    }\n    return {\"json_body\"\
          : json.dumps(body)}\n"
        code_language: python3
        outputs:
          json_body:
            children: null
            type: string
        selected: false
        title: Build Patch Body
        type: code
        variables:
        - value_selector:
          - a3d80a70-5da7-4edc-9c32-66de6f9845e1
          - body
          - bundle_zip_b64
          value_type: string
          variable: bundle_b64
        - value_selector:
          - conversation
          - spec_yaml
          value_type: string
          variable: spec_yaml
      height: 52
      id: 92c62559-e52e-454c-a579-ddc4536a6134
      position:
        x: 5874
        y: 700
      positionAbsolute:
        x: 5874
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 4d4c1c5d-e5b8-45f0-b692-c0a5a42ac691
            key: ''
            type: text
            value: '{{#92c62559-e52e-454c-a579-ddc4536a6134.json_body#}}'
          type: raw-text
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 180
          max_write_timeout: 30
        title: Patch Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}patch-bundle'
      height: 141
      id: e8f9a0b1-c2d3-4e4f-a5b6-c7d8e9f0a1b2
      position:
        x: 5874
        y: 657
      positionAbsolute:
        x: 5874
        y: 657
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    try:\n        parsed\
          \ = json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"bundle_zip_b64\"\
          : parsed.get(\"patched_bundle_b64\", parsed.get(\"bundle_zip_b64\", \"\"\
          )),\n        \"files_patched\": parsed.get(\"files_patched\", 0),\n    \
          \    \"confidence\": parsed.get(\"confidence\", {})\n    }\n"
        code_language: python3
        outputs:
          bundle_zip_b64:
            children: null
            type: string
          confidence:
            children: null
            type: object
          files_patched:
            children: null
            type: number
        selected: false
        title: Parse Bundle Response
        type: code
        variables:
        - value_selector:
          - e8f9a0b1-c2d3-4e4f-a5b6-c7d8e9f0a1b2
          - body
          value_type: string
          variable: body
      height: 52
      id: 4eb75ab2-87de-48f6-b52e-35f8646da88d
      position:
        x: 6216
        y: 702
      positionAbsolute:
        x: 6216
        y: 702
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 4eb75ab2-87de-48f6-b52e-35f8646da88d
          - bundle_zip_b64
          variable_selector:
          - conversation
          - bundle_zip_b64
          write_mode: over-write
        selected: false
        title: Save Bundle B64
        type: assigner
        version: '2'
      height: 84
      id: 473230ae-fcca-4f3b-b410-fc792d8b0e88
      position:
        x: 6558
        y: 686
      positionAbsolute:
        x: 6558
        y: 686
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 94a48a21-1e24-4f35-93d1-920d93afe268
            key: ''
            type: text
            value: "{\n  \"bundle_zip_b64\": \"{{#conversation.bundle_zip_b64#}}\"\
              \n}\n"
          type: json
        headers: 'Content-Type:application/json

          avni-auth-token:{{#conversation.auth_token#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 120
          max_write_timeout: 30
        title: Upload Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}upload-bundle'
      height: 141
      id: 959d2ca3-2445-4375-ac9e-f68f47724a2f
      position:
        x: 7242
        y: 657
      positionAbsolute:
        x: 7242
        y: 657
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    try:\n        parsed\
          \ = json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"task_id\": parsed.get(\"\
          task_id\", \"\"),\n        \"status\": parsed.get(\"status\", \"\")\n  \
          \  }\n"
        code_language: python3
        outputs:
          status:
            children: null
            type: string
          task_id:
            children: null
            type: string
        selected: false
        title: Parse Upload Response
        type: code
        variables:
        - value_selector:
          - 959d2ca3-2445-4375-ac9e-f68f47724a2f
          - body
          value_type: string
          variable: body
      height: 52
      id: 6d81a37b-960b-42d3-ae88-5799cd773102
      position:
        x: 7584
        y: 702
      positionAbsolute:
        x: 7584
        y: 702
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6d81a37b-960b-42d3-ae88-5799cd773102
          - task_id
          variable_selector:
          - conversation
          - upload_task_id
          write_mode: over-write
        selected: false
        title: Save Task ID
        type: assigner
        version: '2'
      height: 84
      id: 8e0563d0-7844-4e89-a765-cbd9647e7676
      position:
        x: 7926
        y: 686
      positionAbsolute:
        x: 7926
        y: 686
      selected: false
      type: custom
      width: 242
    - data:
        delivery_methods:
        - enabled: true
          id: fa93dae0-de3e-4354-80b6-279549abcae0
          type: webapp
        form_content: ''
        inputs: []
        selected: false
        timeout: 1
        timeout_unit: hour
        title: Confirm Entities
        type: human-input
        user_actions:
        - button_style: primary
          id: 'Yes'
          title: 'Yes'
        - button_style: default
          id: 'No'
          title: 'No'
      height: 190
      id: b105cc65-2258-4933-9567-b484d315e9ee
      position:
        x: 4144
        y: 667
      positionAbsolute:
        x: 4144
        y: 667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        break_conditions:
        - comparison_operator: is
          id: 60dfd905-4978-4518-b4c6-943941b7f125
          value: false
          varType: boolean
          variable_selector:
          - conversation
          - loop
        error_handle_mode: terminated
        height: 523
        logical_operator: and
        loop_count: 20
        selected: false
        start_node_id: 47e94f80-07ea-4cf9-b0e3-36875cb6a80c
        title: Upload Poll Loop
        type: loop
        width: 2116
      height: 523
      id: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 8610
        y: 483
      positionAbsolute:
        x: 8610
        y: 483
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2116
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 47e94f80-07ea-4cf9-b0e3-36875cb6a80c
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 60
        y: 135
      positionAbsolute:
        x: 8670
        y: 618
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        is_team_authorization: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The number of seconds to wait
            ja_JP: The number of seconds to wait
            pt_BR: The number of seconds to wait
            zh_Hans: 等待的秒数
          label:
            en_US: Seconds
            ja_JP: Seconds
            pt_BR: Seconds
            zh_Hans: 秒数
          llm_description: The number of seconds to pause execution
          max: null
          min: null
          name: seconds
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          seconds: '3'
        plugin_id: agimaster/justwait
        plugin_unique_identifier: agimaster/justwait:0.0.2@1cc2d5e7fbd6a829396c8a51947924f799f9566071bf8499c4e2a9f75ad3330f
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=d6ae5ab1-753e-4a2e-9183-eff6f9ec2d00&filename=a260a47b34be7b6bca428d8e8617d3ad9389cde761097b839c16a4e3ff378fbc.svg
        provider_id: agimaster/justwait/justwait
        provider_name: agimaster/justwait/justwait
        provider_type: builtin
        selected: false
        title: Wait
        tool_configurations: {}
        tool_description: Wait for a specified number of seconds, similar to Python's
          time.sleep() function
        tool_label: Wait
        tool_name: wait
        tool_node_version: '2'
        tool_parameters:
          seconds:
            type: constant
            value: 3
        type: tool
      height: 52
      id: c22ed9a5-0d83-4d53-81f6-7c1bb2828a5a
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 184
        y: 133
      positionAbsolute:
        x: 8794
        y: 616
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: avni-auth-token:{{#conversation.auth_token#}}
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
        title: Check Upload Status
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}upload-status/{{#conversation.upload_task_id#}}'
        variables: []
      height: 160
      id: eb1998db-b052-4be3-90fb-ccf69c9aad16
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 506
        y: 79
      positionAbsolute:
        x: 9116
        y: 562
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            value: completed
            varType: string
            variable_selector:
            - 4d4d116e-624d-4a18-8088-161152f67c51
            - status
          - comparison_operator: contains
            id: bb085deb-9e17-477b-8010-3d80bc018375
            value: failed
            varType: string
            variable_selector:
            - 4d4d116e-624d-4a18-8088-161152f67c51
            - status
          id: 'true'
          logical_operator: or
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        selected: false
        title: Upload Done?
        type: if-else
      height: 198
      id: 89c2cb52-3281-4545-af67-31b339980b22
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 1150
        y: 60
      positionAbsolute:
        x: 9760
        y: 543
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - loop
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - 'False'
          variable_selector:
          - conversation
          - setup_mode_active
          write_mode: over-write
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        selected: false
        title: Break Upload Loop
        type: assigner
        version: '2'
      height: 110
      id: ff6d33df-8310-4f7f-85a6-491645d8b5fe
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 1492
        y: 244
      positionAbsolute:
        x: 10102
        y: 727
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: '✅ **Configuration complete!**


          Your implementation bundle has been generated and uploaded to Avni.


          **Confidence score:**  {{#4eb75ab2-87de-48f6-b52e-35f8646da88d.confidence#}}


          **Next steps:**

          1. Log into [Avni](https://app.avniproject.org) to review your configuration

          2. Check Subject Types, Programs, Encounter Types, and Forms in the Admin
          panel

          3. Verify form fields and mappings are correct

          4. Test the workflow by creating a sample subject


          If you need to make changes, just upload an updated specification or describe
          the corrections in this chat.'
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        selected: false
        title: Upload Done
        type: answer
      height: 328
      id: 48d1cfc7-02ef-457e-8e39-bff34b4fb91e
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 1814
        y: 175
      positionAbsolute:
        x: 10424
        y: 658
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: ⏳ Uploading bundle to Avni server... Please wait.
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        selected: false
        title: Upload Progress
        type: answer
      height: 116
      id: abe6cb3a-769a-4f59-b705-fef4884fdb5e
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 1492
        y: 68
      positionAbsolute:
        x: 10102
        y: 551
      selected: false
      type: custom
      width: 242
      zIndex: 1002
    - data:
        answer: The confirmation timed out. Your extracted entities have been saved.
          You can continue the setup by sending another message.
        selected: false
        title: Timeout
        type: answer
      height: 148
      id: ef812954-180c-4672-9c41-4d2e8058fdb5
      position:
        x: 4506
        y: 940
      positionAbsolute:
        x: 4506
        y: 940
      selected: false
      type: custom
      width: 242
    - data:
        answer: 'Please describe the corrections you''d like to make. For example:

          - "Remove program X"

          - "Change encounter type Y to scheduled"

          - "Add a new subject type called Z"


          I''ll update the configuration and show you a revised summary.'
        selected: false
        title: Corrections Prompt
        type: answer
      height: 196
      id: 41baa894-e39d-45c7-826d-9ba1faad150b
      position:
        x: 4506
        y: 1120
      positionAbsolute:
        x: 4506
        y: 1120
      selected: false
      type: custom
      width: 242
    - data:
        answer: 🔄 Generating configuration spec from your confirmed entities. This
          may take a moment...
        selected: false
        title: 'Progress: Generating Spec'
        type: answer
      height: 132
      id: ea75c737-ec88-4d16-ab02-281ab9c2d006
      position:
        x: 4506
        y: 510
      positionAbsolute:
        x: 4506
        y: 510
      selected: false
      type: custom
      width: 242
    - data:
        answer: 📥 Downloading existing bundle from Avni...
        selected: false
        title: 'Progress: Downloading Bundle'
        type: answer
      height: 116
      id: c65065ca-cc2a-4584-9a1b-86df0ee71658
      position:
        x: 5190
        y: 510
      positionAbsolute:
        x: 5190
        y: 510
      selected: false
      type: custom
      width: 242
    - data:
        answer: 📤 Uploading bundle to Avni server...
        selected: false
        title: 'Progress: Uploading Bundle'
        type: answer
      height: 116
      id: 6962ba89-7408-45d1-880f-0fd134dc1705
      position:
        x: 6900
        y: 510
      positionAbsolute:
        x: 6900
        y: 510
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 64000
            temperature: 0.3
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: b58fc3ce-f0ed-4ddc-811f-2cd4d84d881d
          role: system
          text: 'You are an Avni platform configuration assistant. Your job is to
            present a clear, structured summary of the extracted app configuration
            entities and highlight any issues that need the user''s attention before
            proceeding.


            Format your response in three sections in markdown format:


            ## Extracted Configuration

            List every extracted entity grouped by type (Subject Types, Programs,
            Encounter Types, Address Levels, Forms). For each entity, show all key
            fields.


            ## Issues & Warnings

            If the ambiguity report contains warnings or errors, clearly list each
            one and explain what needs to be fixed. If there are no issues, say "No
            issues found".


            ## Next Steps

            If there are errors: explain what corrections are needed before we can
            proceed.

            If warnings only: note them and ask the user to confirm they want to proceed
            or make corrections.

            If no issues: confirm the configuration looks good and ask for approval
            to proceed.'
        - id: 2151dbf6-c159-451e-a23b-e1abb3537053
          role: user
          text: 'Extracted Entities:

            {{#conversation.entities_jsonl#}}


            Validation Report:

            {{#3a88cb07-e172-4132-b8b9-8b029f177a84.body#}}'
        selected: false
        structured_output_enabled: false
        title: Summary LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: b6ca284e-1eee-4453-ac2f-f1c1b2f8c085
      position:
        x: 3460
        y: 738
      positionAbsolute:
        x: 3460
        y: 738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            response_format: JSON
            temperature: 0.1
          mode: chat
          name: claude-haiku-4-5-20251001
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: 41cb4e1b-4c4e-4513-a2e1-d7c4eca5864e
          role: system
          text: 'You are an entity extraction assistant for the Avni platform. Extract
            ALL entities from the document content below.


            Document content: {{#addf214e-9e80-4030-9160-5e59b8031e58.text#}}


            Extract into 5 arrays: subject_types, programs, encounter_types, address_levels,
            forms.

            Rules:

            subject_types: name, type (Person|Individual|Household|Group|User), lowest_address_level

            programs: name, target_subject_type, colour (hex or null)

            encounter_types: name, program_name (or null), subject_type, is_program_encounter
            (bool), is_scheduled (bool)

            address_levels: name, level (int), parent (name or null). Topmost has
            highest level number.

            forms: Extract form fields where explicitly defined in the document. Each
            form: name, formType (IndividualProfile|ProgramEnrolment|ProgramExit|ProgramEncounter|Encounter|ProgramEncounterCancellation),
            subjectType (or null), program (or null), encounterType (or null), fields
            (array of: name, dataType (Text|Numeric|Coded|Date|DateTime|Duration|PhoneNumber|Audio|Image|Video|File|Location),
            mandatory (bool). Only include unit/min/max when present. Only include
            options for Coded fields. Omit all null/empty optional fields entirely.

            Only extract from explicitly defined tables/sections. Do not invent entities.
            Ignore nan values. Trim whitespace. Use actual booleans not strings. If
            no form fields are defined in the document, return forms as empty array
            (auto-derive will run as fallback).

            '
        selected: false
        structured_output:
          schema:
            properties:
              address_levels:
                items:
                  type: object
                type: array
              encounter_types:
                items:
                  type: object
                type: array
              forms:
                items:
                  type: object
                type: array
              programs:
                items:
                  type: object
                type: array
              subject_types:
                items:
                  type: object
                type: array
            required:
            - subject_types
            - programs
            - encounter_types
            - address_levels
            - forms
            type: object
        structured_output_enabled: true
        structured_output_schema:
          properties:
            address_levels:
              items:
                type: object
              type: array
            encounter_types:
              items:
                type: object
              type: array
            forms:
              items:
                type: object
              type: array
            programs:
              items:
                type: object
              type: array
            subject_types:
              items:
                type: object
              type: array
          type: object
        title: Entity Extractor
        type: llm
        vision:
          enabled: false
      height: 88
      id: 5a9ba9a4-8795-4906-a2f9-82fae7b36cc8
      position:
        x: 2096
        y: 729
      positionAbsolute:
        x: 2096
        y: 729
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body) -> dict:\n    try:\n        parsed =\
          \ json.loads(body) if isinstance(body, str) else body\n    except (json.JSONDecodeError,\
          \ TypeError):\n        parsed = {}\n    return {\n        \"task_id\": parsed.get(\"\
          task_id\", \"\"),\n        \"status\": parsed.get(\"status\", \"\")\n  \
          \  }\n"
        code_language: python3
        isInIteration: false
        isInLoop: true
        loop_id: 35da18be-8683-4108-a00a-4a695ab52939
        outputs:
          status:
            children: null
            type: string
          task_id:
            children: null
            type: string
        selected: false
        title: Parse Upload Status Response
        type: code
        variables:
        - value_selector:
          - eb1998db-b052-4be3-90fb-ccf69c9aad16
          - body
          value_type: string
          variable: body
      height: 52
      id: 4d4d116e-624d-4a18-8088-161152f67c51
      parentId: 35da18be-8683-4108-a00a-4a695ab52939
      position:
        x: 828
        y: 133
      positionAbsolute:
        x: 9438
        y: 616
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'You are the Spec Agent. The user has ALREADY confirmed their entities.
              Generate the YAML spec and output it immediately.


              Conversation ID: {{#sys.conversation_id#}}


              IMPORTANT: use conversation_id for all tool calls.

              Steps — do ALL in order, do NOT ask the user anything:

              1. Call generate_spec with {"conversation_id": "{{#sys.conversation_id#}}"}

              2. Call validate_spec with the returned spec_yaml

              3. If validation has errors, call apply_entity_corrections then regenerate.

              4. Output your final message in EXACTLY this format:


              SPEC_APPROVED

              (paste the complete YAML spec here)


              CRITICAL RULES:

              - Do NOT ask the user any questions. They already confirmed.

              - Do NOT wrap YAML in markdown code blocks.

              - Your final output MUST start with SPEC_APPROVED on its own line followed
              by the raw YAML spec.

              - Do NOT add commentary before SPEC_APPROVED.'
          maximum_iterations:
            type: constant
            value: 5
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 16384
                temperature: 0.3
              mode: chat
              model: claude-haiku-4-5-20251001
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: true
              extra:
                description: Apply corrections to extracted entities
              parameters:
                corrections:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: true
              extra:
                description: Generate YAML spec from entities
              parameters:
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Generate YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: false
              extra:
                description: Validate a generated bundle ZIP
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a generated bundle ZIP
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: false
              extra:
                description: Convert an existing bundle to human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Convert an existing bundle to human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: false
              extra:
                description: Check bundle upload status
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Check bundle upload status
              tool_label: upload_status
              tool_name: upload_status
              type: api
            - enabled: true
              extra:
                description: Call this once after entity extraction. Agent tools can
                  then pass only conversation_id instead of the full entities payload.
              parameters:
                conversation_id:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Call this once after entity extraction. Agent tools
                can then pass only conversation_id instead of the full entities payload.
              tool_label: store_entities
              tool_name: store_entities
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Iteratively refines entities with user corrections, generates and validates
          YAML spec, then stores approved spec in conversation.
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Spec Agent
        tool_node_version: '2'
        type: agent
      height: 264
      id: 3b1db8bf-6e79-4646-9103-077a6ca90299
      position:
        x: 4506
        y: 596
      positionAbsolute:
        x: 4506
        y: 596
      selected: false
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(agent_response: str) -> dict:\n    # Extract\
          \ spec_yaml from agent response\n    # Look for SPEC_APPROVED marker followed\
          \ by YAML content\n    if \"SPEC_APPROVED\" not in agent_response:\n   \
          \     return {\"spec_yaml\": \"\", \"approved\": False}\n    \n    # Extract\
          \ everything after SPEC_APPROVED\n    parts = agent_response.split(\"SPEC_APPROVED\"\
          , 1)\n    if len(parts) < 2:\n        return {\"spec_yaml\": \"\", \"approved\"\
          : False}\n    \n    spec_content = parts[1].strip()\n    \n    # Remove\
          \ markdown code blocks if present\n    spec_content = re.sub(r'^```ya?ml\\\
          s*\\n', '', spec_content, flags=re.MULTILINE)\n    spec_content = re.sub(r'\\\
          n```\\s*$', '', spec_content, flags=re.MULTILINE)\n    \n    return {\n\
          \        \"spec_yaml\": spec_content.strip(),\n        \"approved\": True\n\
          \    }\n"
        code_language: python3
        outputs:
          approved:
            children: null
            type: boolean
          spec_yaml:
            children: null
            type: string
        selected: false
        title: Extract Spec YAML
        type: code
        variables:
        - value_selector:
          - 3b1db8bf-6e79-4646-9103-077a6ca90299
          - text
          value_type: string
          variable: agent_response
      height: 52
      id: 0e3ec62b-9e28-4d64-b0f6-60d5c6fb1a1c
      position:
        x: 4848
        y: 702
      positionAbsolute:
        x: 4848
        y: 702
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 0e3ec62b-9e28-4d64-b0f6-60d5c6fb1a1c
          - spec_yaml
          variable_selector:
          - conversation
          - spec_yaml
          write_mode: over-write
        selected: false
        title: Save Spec YAML
        type: assigner
        version: '2'
      height: 84
      id: 61246b3d-16a0-4768-8b58-d9d3aa1c0441
      position:
        x: 5190
        y: 686
      positionAbsolute:
        x: 5190
        y: 686
      selected: false
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'You are the Review Agent for the Avni App Configurator. Your task
              is to inspect the generated bundle before uploading to Avni.


              Bundle (base64): {{#conversation.bundle_zip_b64#}}


              Workflow:

              1. Call validate-bundle to check for structural issues.

              2. If there are errors, report them and stop (do not upload).

              3. If validation passes, call bundle-to-spec to show a human-readable
              summary.

              4. Output: BUNDLE_APPROVED to proceed with upload, or BUNDLE_REJECTED
              with error details.'
          maximum_iterations:
            type: constant
            value: 3
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 8192
                temperature: 0.2
              mode: chat
              model: claude-haiku-4-5-20251001
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: false
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: false
              extra:
                description: Apply corrections to extracted entities
              parameters:
                corrections:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: false
              extra:
                description: Generate YAML spec from entities
              parameters:
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Generate YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: false
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a generated bundle ZIP
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a generated bundle ZIP
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: true
              extra:
                description: Convert an existing bundle to human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Convert an existing bundle to human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: false
              extra:
                description: Check bundle upload status
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Check bundle upload status
              tool_label: upload_status
              tool_name: upload_status
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Inspects generated bundle before upload. Validates bundle, optionally
          converts to spec for diff, then proceeds to upload.
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Review Agent
        tool_node_version: '2'
        type: agent
      height: 264
      id: 264d37e7-9580-4d26-be76-4ecdbf32803a
      position:
        x: 6900
        y: 596
      positionAbsolute:
        x: 6900
        y: 596
      selected: false
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: 'You are the Error Agent for the Avni App Configurator. An upload
              was initiated and you need to monitor or diagnose any issues.


              Upload Task ID: {{#conversation.upload_task_id#}}

              Server URL: {{#conversation.avni_mcp_server_url#}}


              Workflow:

              1. Check upload status.

              2. If completed successfully, report success to user.

              3. If failed, analyze error message, diagnose root cause.

              4. If fixable (e.g. missing field, wrong format), attempt fix and output
              RETRY_BUNDLE with corrected entities.

              5. If not fixable, output clear ERROR_REPORT explaining what failed
              and why.'
          maximum_iterations:
            type: constant
            value: 3
          model:
            type: constant
            value:
              completion_params:
                max_tokens: 8192
                temperature: 0.2
              mode: chat
              model: claude-haiku-4-5-20251001
              model_type: llm
              provider: langgenius/anthropic/anthropic
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: false
              extra:
                description: Validate extracted entities for structural issues
              parameters:
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate extracted entities for structural issues
              tool_label: validate_entities
              tool_name: validate_entities
              type: api
            - enabled: false
              extra:
                description: Apply corrections to extracted entities
              parameters:
                corrections:
                  auto: 1
                  value: null
                entities:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Apply corrections to extracted entities
              tool_label: apply_entity_corrections
              tool_name: apply_entity_corrections
              type: api
            - enabled: false
              extra:
                description: Generate YAML spec from entities
              parameters:
                entities:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Generate YAML spec from entities
              tool_label: generate_spec
              tool_name: generate_spec
              type: api
            - enabled: false
              extra:
                description: Validate a YAML spec for structural and cross-reference
                  errors
              parameters:
                spec_yaml:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a YAML spec for structural and cross-reference
                errors
              tool_label: validate_spec
              tool_name: validate_spec
              type: api
            - enabled: true
              extra:
                description: Validate a generated bundle ZIP
              parameters:
                bundle_zip_b64:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Validate a generated bundle ZIP
              tool_label: validate_bundle
              tool_name: validate_bundle
              type: api
            - enabled: false
              extra:
                description: Convert an existing bundle to human-readable YAML spec
              parameters:
                bundle:
                  auto: 1
                  value: null
                org_name:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Convert an existing bundle to human-readable YAML
                spec
              tool_label: bundle_to_spec
              tool_name: bundle_to_spec
              type: api
            - enabled: true
              extra:
                description: Check bundle upload status
              parameters:
                task_id:
                  auto: 1
                  value: null
              provider_name: 808c3c77-09f3-4380-8339-d99c1dc6eb59
              provider_show_name: Avni AI Staging openAPI
              settings: {}
              tool_description: Check bundle upload status
              tool_label: upload_status
              tool_name: upload_status
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: Diagnoses upload failures, analyzes server errors, and attempts recovery
          or reports clearly to the user.
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.14@26958a0e80a10655ce73812bdb7c35a66ce7b16f5ac346d298bda17ff85efd1e
        selected: false
        title: Error Agent
        tool_node_version: '2'
        type: agent
      height: 248
      id: f6a7cffe-d1af-4c54-9a49-a64cf97e3584
      position:
        x: 8268
        y: 604
      positionAbsolute:
        x: 8268
        y: 604
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000001
            value: '400'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: 'true'
          logical_operator: and
        - case_id: upload-case-401
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000002
            value: '401'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-401
          logical_operator: and
        - case_id: upload-case-403
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000003
            value: '403'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-403
          logical_operator: and
        - case_id: upload-case-404
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000004
            value: '404'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-404
          logical_operator: and
        - case_id: upload-case-500
          conditions:
          - comparison_operator: '='
            id: a1b2c3d4-0001-4001-8001-000000000005
            value: '500'
            varType: number
            variable_selector:
            - 959d2ca3-2445-4375-ac9e-f68f47724a2f
            - status_code
          id: upload-case-500
          logical_operator: and
        selected: false
        title: Upload Error Check
        type: if-else
      height: 436
      id: f9136731-f6e1-472d-8cad-55edaed02022
      position:
        x: 7584
        y: 1092
      positionAbsolute:
        x: 7584
        y: 1092
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: bad request format'
        selected: false
        title: Upload Err 400
        type: answer
        variables: []
      height: 100
      id: da538de9-c1a6-46e9-b189-9e5978bf6521
      position:
        x: 7926
        y: 1027
      positionAbsolute:
        x: 7926
        y: 1027
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Auth token missing or expired. Please start a new
          conversation.'
        selected: false
        title: Upload Err 401
        type: answer
        variables: []
      height: 132
      id: eed94bb6-3565-4fbc-944c-3b114211f447
      position:
        x: 7926
        y: 1166
      positionAbsolute:
        x: 7926
        y: 1166
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Unauthorized access'
        selected: false
        title: Upload Err 403
        type: answer
        variables: []
      height: 100
      id: 848fa968-67cb-41cc-a287-322536fe9f69
      position:
        x: 7926
        y: 1305
      positionAbsolute:
        x: 7926
        y: 1305
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Entity not found'
        selected: false
        title: Upload Err 404
        type: answer
        variables: []
      height: 100
      id: 7b04db95-2264-496e-8447-0efb83a7b9a2
      position:
        x: 7926
        y: 1444
      positionAbsolute:
        x: 7926
        y: 1444
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Upload failed: Server error. Please try again later.'
        selected: false
        title: Upload Err 500
        type: answer
        variables: []
      height: 116
      id: 608df9da-f21e-4d20-8d01-e4d65fec1256
      position:
        x: 7926
        y: 1583
      positionAbsolute:
        x: 7926
        y: 1583
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-bundle-approved
          conditions:
          - comparison_operator: contains
            id: cbv-cond-approved
            value: BUNDLE_APPROVED
            varType: string
            variable_selector:
            - 264d37e7-9580-4d26-be76-4ecdbf32803a
            - text
          id: case-bundle-approved
          logical_operator: and
        - case_id: case-bundle-rejected
          conditions:
          - comparison_operator: contains
            id: cbv-cond-rejected
            value: BUNDLE_REJECTED
            varType: string
            variable_selector:
            - 264d37e7-9580-4d26-be76-4ecdbf32803a
            - text
          id: case-bundle-rejected
          logical_operator: and
        selected: false
        title: Check Bundle Verdict
        type: if-else
      height: 220
      id: fdc6e190-6b61-49f1-8b9c-1df70dd6ee1f
      position:
        x: 7242
        y: 510
      positionAbsolute:
        x: 7242
        y: 510
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: case-retry-bundle
          conditions:
          - comparison_operator: contains
            id: cev-cond-retry
            value: RETRY_BUNDLE
            varType: string
            variable_selector:
            - f6a7cffe-d1af-4c54-9a49-a64cf97e3584
            - text
          id: case-retry-bundle
          logical_operator: and
        - case_id: case-error-report
          conditions:
          - comparison_operator: contains
            id: cev-cond-error
            value: ERROR_REPORT
            varType: string
            variable_selector:
            - f6a7cffe-d1af-4c54-9a49-a64cf97e3584
            - text
          id: case-error-report
          logical_operator: and
        selected: false
        title: Check Error Verdict
        type: if-else
      height: 220
      id: 50519a54-053f-4c25-9486-ec03eadb94ca
      position:
        x: 8610
        y: 510
      positionAbsolute:
        x: 8610
        y: 510
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(current_count: int) -> dict:\n    return {\"new_count\": (current_count\
          \ or 0) + 1}\n"
        code_language: python3
        outputs:
          new_count:
            children: null
            type: number
        selected: false
        title: Increment Retry
        type: code
        variables:
        - value_selector:
          - conversation
          - retry_count
          value_type: number
          variable: current_count
      height: 52
      id: cf4c5fbe-1460-44e4-9775-5650873dfdbd
      position:
        x: 7584
        y: 380
      positionAbsolute:
        x: 7584
        y: 380
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - cf4c5fbe-1460-44e4-9775-5650873dfdbd
          - new_count
          variable_selector:
          - conversation
          - retry_count
          write_mode: over-write
        selected: false
        title: Save Retry Count
        type: assigner
        version: '2'
      height: 84
      id: ee69171b-0c05-4dcb-bcb2-4057a5119579
      position:
        x: 7926
        y: 364
      positionAbsolute:
        x: 7926
        y: 364
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '>='
            id: cmr-cond-exceeded
            value: '3'
            varType: number
            variable_selector:
            - cf4c5fbe-1460-44e4-9775-5650873dfdbd
            - new_count
          id: 'true'
          logical_operator: and
        selected: false
        title: Check Max Retries
        type: if-else
      height: 164
      id: 76910038-4a13-4647-aee2-30be4c282e31
      position:
        x: 8268
        y: 356
      positionAbsolute:
        x: 8268
        y: 356
      selected: false
      type: custom
      width: 242
    - data:
        answer: '❌ **Maximum retry attempts reached.**


          The configuration could not be completed automatically after 3 attempts.
          Please review the errors above and try again with a corrected specification,
          or describe the corrections you''d like to make.'
        selected: false
        title: Max Retries Exhausted
        type: answer
      height: 196
      id: e6b32cb1-406f-47e0-8f96-18b75d76fdf2
      position:
        x: 8610
        y: 270
      positionAbsolute:
        x: 8610
        y: 270
      selected: false
      type: custom
      width: 242
    - data:
        answer: '❌ **Upload failed and could not be auto-corrected.**


          Please review the error details above. You can describe corrections or upload
          a revised specification to try again.'
        selected: false
        title: Upload Error Report
        type: answer
      height: 164
      id: 0f4603cf-1aab-4b53-a05d-c5cb6f9194c2
      position:
        x: 8952
        y: 604
      positionAbsolute:
        x: 8952
        y: 604
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 672c5bec-9261-4ee1-a82d-2b743caa821b
            value: '400'
            varType: number
            variable_selector:
            - a3d80a70-5da7-4edc-9c32-66de6f9845e1
            - status_code
          id: 'true'
          logical_operator: and
        - case_id: d26825bc-0735-4704-b42c-eb42f6cb4b67
          conditions:
          - comparison_operator: '='
            id: 4c421e43-485e-4ed1-857d-d7d121c4e3fe
            value: '401'
            varType: number
            variable_selector:
            - a3d80a70-5da7-4edc-9c32-66de6f9845e1
            - status_code
          id: d26825bc-0735-4704-b42c-eb42f6cb4b67
          logical_operator: and
        - case_id: bef31e01-b42e-40cf-9c16-fd9fef71ec17
          conditions:
          - comparison_operator: '='
            id: 191a228d-f21b-4e30-aa99-cdaf8f14df5a
            value: '403'
            varType: number
            variable_selector:
            - a3d80a70-5da7-4edc-9c32-66de6f9845e1
            - status_code
          id: bef31e01-b42e-40cf-9c16-fd9fef71ec17
          logical_operator: and
        - case_id: 16b24b6c-aef8-437c-a9e3-18a892d85f37
          conditions:
          - comparison_operator: '='
            id: bde8bc5c-7b23-4a53-965f-5092fa64ed6c
            value: '404'
            varType: number
            variable_selector:
            - a3d80a70-5da7-4edc-9c32-66de6f9845e1
            - status_code
          id: 16b24b6c-aef8-437c-a9e3-18a892d85f37
          logical_operator: and
        - case_id: 54bc604c-0b21-4ea6-8050-d3af11bdbce4
          conditions:
          - comparison_operator: '='
            id: 42dce423-7b96-4112-a0a1-f15e66b21422
            value: '500'
            varType: number
            variable_selector:
            - a3d80a70-5da7-4edc-9c32-66de6f9845e1
            - status_code
          id: 54bc604c-0b21-4ea6-8050-d3af11bdbce4
          logical_operator: and
        selected: false
        title: IF/ELSE 4
        type: if-else
      height: 436
      id: 2848b2cf-5194-422f-abe7-b634b8f41d82
      position:
        x: 5842
        y: 1092
      positionAbsolute:
        x: 5842
        y: 1092
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: bad request format
        selected: false
        title: Answer 10
        type: answer
        variables: []
      height: 100
      id: 8b8ee9f6-6f79-42c3-8925-1b1f6557a6c4
      position:
        x: 6408
        y: 1027
      positionAbsolute:
        x: 6408
        y: 1027
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Auth token missing or expired
        selected: false
        title: Answer 11
        type: answer
        variables: []
      height: 100
      id: 187a5511-2859-43d3-a332-0673a25c483c
      position:
        x: 6408
        y: 1166
      positionAbsolute:
        x: 6408
        y: 1166
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Unauthorized access '
        selected: false
        title: Answer 12
        type: answer
        variables: []
      height: 100
      id: 7066fcb1-d654-4d34-9ff5-4fe95c6b6faa
      position:
        x: 6408
        y: 1305
      positionAbsolute:
        x: 6408
        y: 1305
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Entity not found
        selected: false
        title: Answer 13
        type: answer
        variables: []
      height: 100
      id: 83eb496d-85e1-46ed-93e1-0472eb34e3d3
      position:
        x: 6408
        y: 1444
      positionAbsolute:
        x: 6408
        y: 1444
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: server error
        selected: false
        title: Answer 14
        type: answer
        variables: []
      height: 100
      id: 66abc910-ef40-4cf0-aeef-895f07939ef4
      position:
        x: 6408
        y: 1583
      positionAbsolute:
        x: 6408
        y: 1583
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '⚠️ **Are you sure you want to delete the entire implementation?**


          This will remove all Subject Types, Programs, Encounter Types, Forms, and
          related configuration from the organisation. This action cannot be undone.


          Please confirm by clicking **Yes** or **No**.'
        selected: false
        title: Delete Confirm Prompt
        type: answer
      height: 212
      id: 6494459f-3dee-4fc1-bdff-ff0400aefd52
      position:
        x: 1368
        y: 1100
      positionAbsolute:
        x: 1368
        y: 1100
      selected: false
      type: custom
      width: 242
    - data:
        delivery_methods:
        - enabled: true
          id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
          type: webapp
        form_content: ''
        inputs: []
        selected: false
        timeout: 2
        timeout_unit: hour
        title: Delete Confirmation
        type: human-input
        user_actions:
        - button_style: primary
          id: 'Yes'
          title: 'Yes'
        - button_style: default
          id: 'No'
          title: 'No'
      height: 190
      id: 5fad1f03-767c-4ce6-a5ec-0ae45f9ebc88
      position:
        x: 1710
        y: 1100
      positionAbsolute:
        x: 1710
        y: 1100
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: ''
            header: avni-auth-token
            type: custom
          type: api-key
        body:
          data: ''
          type: none
        headers: Content-Type:application/json
        method: delete
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          connect: 30
          max_connect_timeout: 300
          max_read_timeout: 600
          max_write_timeout: 600
          read: 120
          write: 120
        title: Delete Implementation
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}/api/implementation'
        variables:
        - value_selector:
          - conversation
          - auth_token
          variable: auth_token
      height: 141
      id: fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
      position:
        x: 2052
        y: 1100
      positionAbsolute:
        x: 2052
        y: 1100
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: drc-cond-200
            value: '200'
            varType: number
            variable_selector:
            - fd04c2c9-c8ad-4ee4-a836-00f71a2fa43b
            - status_code
          id: 'true'
          logical_operator: and
        selected: false
        title: Delete Result Check
        type: if-else
      height: 148
      id: 13f1b052-2aed-4126-937d-5a4837d77639
      position:
        x: 2394
        y: 1100
      positionAbsolute:
        x: 2394
        y: 1100
      selected: false
      type: custom
      width: 242
    - data:
        answer: '✅ **Implementation deleted successfully.**


          All configuration has been removed. You can start fresh by uploading a new
          scoping document or describing your requirements.'
        selected: false
        title: Delete Success
        type: answer
      height: 164
      id: c776a305-2e50-42e0-9209-32881d893c32
      position:
        x: 2736
        y: 1020
      positionAbsolute:
        x: 2736
        y: 1020
      selected: false
      type: custom
      width: 242
    - data:
        answer: '❌ **Failed to delete implementation.**


          The server returned an error. Please check your auth token is valid and
          try again.'
        selected: false
        title: Delete Failure
        type: answer
      height: 148
      id: 750b6d5a-d7b6-4e8f-8449-b51e3d84f7fd
      position:
        x: 2736
        y: 1220
      positionAbsolute:
        x: 2736
        y: 1220
      selected: false
      type: custom
      width: 242
    - data:
        answer: Delete operation cancelled. Your current configuration remains unchanged.
        selected: false
        title: Delete Cancelled
        type: answer
      height: 132
      id: 3cfb30bf-9386-48db-bfa2-3bd3359cf040
      position:
        x: 2052
        y: 1350
      positionAbsolute:
        x: 2052
        y: 1350
      selected: false
      type: custom
      width: 242
    viewport:
      x: 212.81786224653024
      y: 112.07810791526754
      zoom: 0.5
  rag_pipeline_variables: []
