NewAppConfigurator.yml
app:
  description: Avni AI Assistant — App Configurator (Refactored)
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: App Configurator [Staging] v2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: 'Avni auth token for API calls'
    id: f3337c5a-b833-47a7-8eeb-1d29182542f9
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: 'Avni AI server base URL'
    id: 4c1c713d-15fd-4a91-904b-20ef56e53cd0
    name: avni_mcp_server_url
    selector:
    - conversation
    - avni_mcp_server_url
    value: ''
    value_type: string
  - description: 'Extracted entities from specification file'
    id: dada7c31-e9c4-4b37-838c-00f71b67c54a
    name: entities_jsonl
    selector:
    - conversation
    - entities_jsonl
    value: {}
    value_type: object
  - description: 'Uploaded specification files'
    id: ee0fbd12-9867-4b7c-95d5-4b74e03475be
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: 'Upload task ID for polling'
    id: a1b2c3d4-e5f6-7890-abcd-upload_task_id
    name: upload_task_id
    selector:
    - conversation
    - upload_task_id
    value: ''
    value_type: string
  - description: 'Boolean constant true'
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: 'Boolean constant false'
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: 'Controls upload polling loop'
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .XLSX
      - .XLS
      - .CSV
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        file_size_limit: 15
        batch_count_limit: 5
        workflow_file_upload_limit: 10
      number_limits: 5
    opening_statement: "Hey {{user_name}}! I\u2019m your Avni AI assistant. I can help\
      \ you with:\n\n\U0001F4DA **Learn about Avni** \u2014 Ask me anything about\
      \ the platform\n\U0001F4C4 **Set up your program** \u2014 Upload a Field Workflow\
      \ Specification and I\u2019ll configure everything\n\U0001F527 **Custom configuration**\
      \ \u2014 Build something unique\n\nHow can I help you today?"
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - "I want to set up a new program"
    - "What is Avni?"
    - "Upload my field workflow specification"
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false

  # ═══════════════════════════════════════════════════════════════════
  # NEW DIFY FLOW — REFACTORED FOR BUNDLE-FIRST ARCHITECTURE
  # ═══════════════════════════════════════════════════════════════════
  #
  # Flow Overview:
  #
  #   Start → Knowledge Retrieval → Orchestrator LLM → Router IF/ELSE
  #     ├─ RAG → RAG LLM → RAG Answer
  #     ├─ ASSISTANT → Assistant LLM → Assistant Answer
  #     ├─ FILE_SETUP (no existing entities) → Doc Extractor → Entity Extractor
  #     │    → Ambiguity Checker → Save Entities → Summary LLM → Human Confirm
  #     │    → Yes: Generate Bundle → Upload Bundle → Poll Status → Done
  #     │    → No: Ask Corrections → Entities Corrector LLM → Loop back
  #     ├─ FILE_SETUP (existing entities) → Entities Corrector → same confirm flow
  #     └─ OUT_OF_SCOPE → Out of Scope Answer
  #
  # Key Changes from Old Flow:
  #   1. REMOVED: /process-config-async + 20-iteration polling loop
  #   2. ADDED: /generate-bundle → /upload-bundle → /upload-status flow
  #   3. ADDED: Sample document link when user asks about program setup
  #   4. ADDED: Progress messages during bundle generation + upload
  #   5. ADDED: Idempotent updates (download existing bundle before re-upload)
  #
  # ═══════════════════════════════════════════════════════════════════

  graph:
    edges:
    # Start → variable assigners (parallel)
    - {source: '1711528708197', sourceHandle: source, target: '1774005428719', targetHandle: target, data: {sourceType: start, targetType: assigner}}
    - {source: '1711528708197', sourceHandle: source, target: '1774005484035', targetHandle: target, data: {sourceType: start, targetType: assigner}}
    # Start → Knowledge Retrieval
    - {source: '1711528708197', sourceHandle: source, target: '1758713692744', targetHandle: target, data: {sourceType: start, targetType: knowledge-retrieval}}
    # Knowledge Retrieval → Orchestrator
    - {source: '1758713692744', sourceHandle: source, target: '1757492907627', targetHandle: target, data: {sourceType: knowledge-retrieval, targetType: llm}}
    # Orchestrator → Main Router
    - {source: '1757492907627', sourceHandle: source, target: '1757493270484', targetHandle: target, data: {sourceType: llm, targetType: if-else}}

    # === RAG PATH ===
    - {source: '1757493270484', sourceHandle: 'case-rag', target: '1757495664531', targetHandle: target, data: {sourceType: if-else, targetType: llm}}
    - {source: '1757495664531', sourceHandle: source, target: '1757495688732', targetHandle: target, data: {sourceType: llm, targetType: answer}}

    # === CLARIFICATION PATH ===
    - {source: '1757493270484', sourceHandle: 'case-clarify', target: '1758608702077', targetHandle: target, data: {sourceType: if-else, targetType: answer}}

    # === OUT_OF_SCOPE PATH ===
    - {source: '1757493270484', sourceHandle: 'case-oos', target: '1758699378772', targetHandle: target, data: {sourceType: if-else, targetType: answer}}

    # === ASSISTANT PATH ===
    - {source: '1757493270484', sourceHandle: 'case-assistant', target: '17580163919060', targetHandle: target, data: {sourceType: if-else, targetType: llm}}
    - {source: '17580163919060', sourceHandle: source, target: '1760358474156', targetHandle: target, data: {sourceType: llm, targetType: answer}}

    # === FILE_SETUP PATH ===
    # Router → Already Processed check
    - {source: '1757493270484', sourceHandle: 'case-filesetup', target: 'fs-check-processed', targetHandle: target, data: {sourceType: if-else, targetType: if-else}}

    # First time: Doc Extractor → Entity Extractor → Save → Ambiguity → Summary
    - {source: 'fs-check-processed', sourceHandle: 'case-false', target: '1774264909113', targetHandle: target, data: {sourceType: if-else, targetType: document-extractor}}
    - {source: '1774264909113', sourceHandle: source, target: '1774264840300', targetHandle: target, data: {sourceType: document-extractor, targetType: llm}}
    - {source: '1774264840300', sourceHandle: source, target: 'fs-save-jsonl', targetHandle: target, data: {sourceType: llm, targetType: assigner}}
    - {source: 'fs-save-jsonl', sourceHandle: source, target: '1773908701222', targetHandle: target, data: {sourceType: assigner, targetType: code}}
    - {source: '1773908701222', sourceHandle: source, target: '1773909315118', targetHandle: target, data: {sourceType: code, targetType: llm}}
    - {source: '1773909315118', sourceHandle: source, target: '1773909436902', targetHandle: target, data: {sourceType: llm, targetType: answer}}
    - {source: '1773909436902', sourceHandle: source, target: 'fs-human-input', targetHandle: target, data: {sourceType: answer, targetType: human-input}}

    # Already processed: Corrector flow
    - {source: 'fs-check-processed', sourceHandle: 'case-true', target: '1773981975918', targetHandle: target, data: {sourceType: if-else, targetType: llm}}
    - {source: '1773981975918', sourceHandle: source, target: '1773982043351', targetHandle: target, data: {sourceType: llm, targetType: code}}
    - {source: '1773982043351', sourceHandle: source, target: '1773984373385', targetHandle: target, data: {sourceType: code, targetType: assigner}}
    - {source: '1773984373385', sourceHandle: source, target: '1774002885641', targetHandle: target, data: {sourceType: assigner, targetType: llm}}
    - {source: '1774002885641', sourceHandle: source, target: '1773909436902', targetHandle: target, data: {sourceType: llm, targetType: answer}}

    # Human Input → Yes → Generate Bundle
    - {source: 'fs-human-input', sourceHandle: 'case-yes', target: 'generate-bundle-req', targetHandle: target, data: {sourceType: human-input, targetType: http-request}}
    # Generate Bundle → Upload Bundle
    - {source: 'generate-bundle-req', sourceHandle: source, target: 'upload-bundle-req', targetHandle: target, data: {sourceType: http-request, targetType: http-request}}
    # Upload Bundle → Poll Loop
    - {source: 'upload-bundle-req', sourceHandle: source, target: 'upload-poll-loop', targetHandle: target, data: {sourceType: http-request, targetType: loop}}
    # Poll Loop internals
    - {source: 'upload-poll-loop-start', sourceHandle: source, target: 'wait-upload', targetHandle: target, data: {sourceType: loop-start, targetType: tool}}
    - {source: 'wait-upload', sourceHandle: source, target: 'check-upload-status', targetHandle: target, data: {sourceType: tool, targetType: code}}
    - {source: 'check-upload-status', sourceHandle: source, target: 'upload-status-check', targetHandle: target, data: {sourceType: code, targetType: if-else}}
    # Completed → break loop
    - {source: 'upload-status-check', sourceHandle: 'case-true', target: 'break-upload-loop', targetHandle: target, data: {sourceType: if-else, targetType: assigner}}
    - {source: 'break-upload-loop', sourceHandle: source, target: 'upload-done-answer', targetHandle: target, data: {sourceType: assigner, targetType: answer}}
    # Not completed → progress answer
    - {source: 'upload-status-check', sourceHandle: 'case-false', target: 'upload-progress-answer', targetHandle: target, data: {sourceType: if-else, targetType: answer}}

    # Human Input → No → Ask Corrections
    - {source: 'fs-human-input', sourceHandle: 'case-no', target: 'fs-ask-corrections', targetHandle: target, data: {sourceType: human-input, targetType: answer}}

    # Human Input → Timeout
    - {source: 'fs-human-input', sourceHandle: 'case-timeout', target: 'fs-timeout', targetHandle: target, data: {sourceType: human-input, targetType: answer}}

    nodes:
    # ─── START NODE ─────────────────────────────────────────────────
    - data:
        title: Start
        type: start
        variables:
        - label: user_name
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: user_name
        - label: auth_token
          max_length: 512
          options: []
          required: true
          type: text-input
          variable: auth_token
        - label: org_name
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: org_name
        - label: avni_mcp_server_url
          max_length: 512
          options: []
          required: true
          type: text-input
          variable: avni_mcp_server_url
        - label: org_type
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: org_type
      id: '1711528708197'
      position: {x: 0, y: 430}
      type: custom

    # ─── VARIABLE ASSIGNERS ────────────────────────────────────────
    - data:
        items:
        - input_type: variable
          operation: over-write
          value: ['1711528708197', avni_mcp_server_url]
          variable_selector: [conversation, avni_mcp_server_url]
          write_mode: over-write
        title: AI Server url assigner
        type: assigner
        version: '2'
      id: '1774005428719'
      position: {x: 362, y: 618}
      type: custom
    - data:
        items:
        - input_type: variable
          operation: over-write
          value: ['1711528708197', auth_token]
          variable_selector: [conversation, auth_token]
          write_mode: over-write
        title: Auth token var assigner
        type: assigner
        version: '2'
      id: '1774005484035'
      position: {x: 362, y: 780}
      type: custom

    # ─── KNOWLEDGE RETRIEVAL ───────────────────────────────────────
    - data:
        dataset_ids: []
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
          weights:
            keyword_setting: {keyword_weight: 0.3}
            vector_setting: {vector_weight: 0.7}
        query_variable_selector: [sys, query]
        retrieval_mode: multiple
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-4o
            provider: langgenius/openai/openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      id: '1758713692744'
      position: {x: 342, y: 450}
      type: custom

    # ─── ORCHESTRATOR LLM ──────────────────────────────────────────
    - data:
        context:
          enabled: true
          variable_selector: ['1758713692744', result]
        model:
          completion_params:
            response_format: {type: json_object}
            temperature: 0.1
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: orchestrator-system
          role: system
          text: >
            You are the Avni Platform Orchestrator. Route user messages based on PRIMARY INTENT.


            <context>
            {{#context#}}
            </context>

            <user_uploaded_files>
            {{#sys.files#}}
            </user_uploaded_files>


            ## Routing Rules

            OVERRIDE RULES (check in order):
            1. NOT about Avni → OUT_OF_SCOPE
            2. File upload (.xlsx, .xls, .csv) or mentions uploading a spec/SRS/field workflow → FILE_SETUP
            3. "I want to set up a program" / "How do I set up" / setup guidance without a file → PROGRAM_SETUP_GUIDANCE
            4. Capability questions ("Is it possible", "Can Avni", "Does Avni support", "How can I") → RAG
            5. Implementation needs ("Build/create/develop", "Delete everything", "Clean slate") → ASSISTANT
            6. Greeting → RAG with clarification_needed=true


            ### PROGRAM_SETUP_GUIDANCE (NEW)
            When user wants to set up a program but hasn't uploaded a file yet.
            Response should guide them to upload a Field Workflow Specification.


            ## Response Format (JSON)

            {"service": "RAG|ASSISTANT|FILE_SETUP|PROGRAM_SETUP_GUIDANCE|OUT_OF_SCOPE",
             "confidence": 0.0-1.0,
             "question_type": "...",
             "routing_reason": "...",
             "clarification_needed": true|false,
             "clarifying_questions": []}
        structured_output_enabled: true
        structured_output_schema:
          properties:
            clarification_needed: {type: boolean}
            clarifying_questions: {items: {type: string}, type: array}
            confidence: {type: number}
            question_type: {type: string}
            routing_reason: {type: string}
            service: {type: string}
          required: [service, confidence]
          type: object
        title: Orchestrator
        type: llm
      id: '1757492907627'
      position: {x: 683, y: 451}
      type: custom

    # ─── MAIN ROUTER IF/ELSE ───────────────────────────────────────
    - data:
        cases:
        - case_id: case-clarify
          conditions:
          - comparison_operator: is
            value: 'true'
            variable_selector: ['1757492907627', structured_output, clarification_needed]
          logical_operator: and
        - case_id: case-rag
          conditions:
          - comparison_operator: is
            value: RAG
            variable_selector: ['1757492907627', structured_output, service]
          logical_operator: and
        - case_id: case-assistant
          conditions:
          - comparison_operator: is
            value: ASSISTANT
            variable_selector: ['1757492907627', structured_output, service]
          logical_operator: and
        - case_id: case-filesetup
          conditions:
          - comparison_operator: is
            value: FILE_SETUP
            variable_selector: ['1757492907627', structured_output, service]
          logical_operator: and
        - case_id: case-setup-guidance
          conditions:
          - comparison_operator: is
            value: PROGRAM_SETUP_GUIDANCE
            variable_selector: ['1757492907627', structured_output, service]
          logical_operator: and
        - case_id: case-oos
          conditions:
          - comparison_operator: is
            value: OUT_OF_SCOPE
            variable_selector: ['1757492907627', structured_output, service]
          logical_operator: and
        title: Main Router
        type: if-else
      id: '1757493270484'
      position: {x: 1024, y: 252}
      type: custom

    # ─── RAG PATH ──────────────────────────────────────────────────
    - data:
        context:
          enabled: true
          variable_selector: ['1758713692744', result]
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: rag-system
          role: system
          text: >
            Use the context inside <context></context> tags as your knowledge.

            <context>
            {{#context#}}
            </context>

            You are talking to {{#1711528708197.user_name#}} from {{#1711528708197.org_name#}}.
            You are part of the Avni AI Assistant.

            Currently capable of:
            1. Answering questions about the Avni system
            2. Assistance with designing workflows, forms etc on Avni

            Not currently capable of:
            1. Helping with rules

            Rules:
            - If you don't know, say so. Don't guess or invent features.
            - If greeting, greet by name: {{#1711528708197.user_name#}}
            - Do not greet repeatedly.
            - If ambiguous, ask a clarifying question.
            - Answer in the user's language.
        title: RAG LLM
        type: llm
      id: '1757495664531'
      position: {x: 1385, y: 732}
      type: custom
    - data:
        answer: '{{#1757495664531.text#}}'
        title: RAG Answer
        type: answer
      id: '1757495688732'
      position: {x: 1726, y: 715}
      type: custom

    # ─── CLARIFICATION ANSWER ──────────────────────────────────────
    - data:
        answer: '{{#1757492907627.structured_output.clarifying_questions#}}'
        title: Clarify the question
        type: answer
      id: '1758608702077'
      position: {x: 1385, y: 306}
      type: custom

    # ─── OUT OF SCOPE ANSWER ───────────────────────────────────────
    - data:
        answer: "I'm sorry, that question doesn't seem to be related to Avni. I can\
          \ help you with:\n- Learning about Avni's features\n- Setting up programs\
          \ and forms\n- Configuring your Avni implementation\n\nHow can I help you\
          \ with Avni today?"
        title: Unrelated Question
        type: answer
      id: '1758699378772'
      position: {x: 1385, y: 522}
      type: custom

    # ─── PROGRAM SETUP GUIDANCE ANSWER (NEW) ───────────────────────
    - data:
        answer: "You can set up your program by uploading a **Field Workflow Specification**.\
          \ Here is a [sample field workflow specification document](https://docs.google.com/spreadsheets/d/1cEod2MbMtRvAcupArC4nZaHIYB2HHUrIIbOZR0uGRz8/edit?gid=262841117#gid=262841117)\
          \ that you can use as a template.\n\nOnce you fill it out, click the **+**\
          \ icon below to upload your file and I'll automatically create:\n- Location\
          \ hierarchy\n- Subject types\n- Programs\n- Encounter types\n- Forms and\
          \ form mappings\n\nI can also clarify any questions you have about filling\
          \ the document. What would you like to know?"
        title: Program Setup Guidance
        type: answer
      id: 'setup-guidance-answer'
      position: {x: 1385, y: 450}
      type: custom

    # ─── ASSISTANT PATH ────────────────────────────────────────────
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: assistant-system
          role: system
          text: >
            You are Avni Copilot, an expert assistant for the Avni data collection platform.
            Guide NGOs and implementers in designing Avni configurations.

            - Ask one simple question at a time
            - Org Type is {{#1711528708197.org_type#}}
            - If Org Type is "Production" or "UAT", tell user automatic configurations are not supported for their org type. Do not proceed.
            - If Org Type is "Trial", proceed with configuration.
            - You are talking to {{#1711528708197.user_name#}}
            - When user wants to create config, suggest uploading a Field Workflow Specification file instead.
        title: Assistant LLM
        type: llm
      id: '17580163919060'
      position: {x: 1385, y: 140}
      type: custom
    - data:
        answer: '{{#17580163919060.text#}}'
        title: Assistant Answer
        type: answer
      id: '1760358474156'
      position: {x: 2087, y: 0}
      type: custom

    # ─── FILE_SETUP: Already Processed? ────────────────────────────
    - data:
        cases:
        - case_id: case-true
          conditions:
          - comparison_operator: is_not
            value: '{}'
            variable_selector: [conversation, entities_jsonl]
          logical_operator: and
        title: Already Processed?
        type: if-else
      id: 'fs-check-processed'
      position: {x: 1385, y: 898}
      type: custom

    # ─── FILE_SETUP: Document Extractor ────────────────────────────
    - data:
        title: Doc Extractor
        type: document-extractor
        variable_selector: [sys, files]
      id: '1774264909113'
      position: {x: 1554, y: 1257}
      type: custom

    # ─── FILE_SETUP: Entity Extractor LLM ──────────────────────────
    - data:
        model:
          completion_params:
            response_format: {type: json_object}
            temperature: 0.1
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: entity-extractor-system
          role: system
          text: >
            You are an entity extraction assistant for the Avni platform. Extract ALL entities from the document content below.


            Document content:
            {{#1774264909113.text#}}


            Extract into 4 arrays: subject_types, programs, encounter_types, address_levels.

            Rules:
            - Subject types: name, type (Person|Individual|Household|Group|User), form_link, lowest_address_level
            - Programs: name, target_subject_type, enrolment_form, exit_form
            - Encounter types: name, program_name, subject_type, encounter_type (Scheduled|Unscheduled), is_program_encounter (bool), frequency
            - Address levels: name, level (int), parent (name or null). Topmost has highest level number.
            - Only extract from defined tables. Don't create entities just because they're referenced.
            - Ignore nan values. Trim whitespace. Use actual booleans not strings.

            Output as JSON: {"subject_types": [...], "programs": [...], "encounter_types": [...], "address_levels": [...]}
        structured_output_enabled: true
        structured_output_schema:
          properties:
            address_levels: {items: {type: object}, type: array}
            encounter_types: {items: {type: object}, type: array}
            programs: {items: {type: object}, type: array}
            subject_types: {items: {type: object}, type: array}
          type: object
        title: Entity Extractor
        type: llm
      id: '1774264840300'
      position: {x: 1843, y: 1232}
      type: custom

    # ─── FILE_SETUP: Save Entities JSONL ───────────────────────────
    - data:
        items:
        - input_type: variable
          operation: over-write
          value: ['1774264840300', structured_output]
          variable_selector: [conversation, entities_jsonl]
          write_mode: over-write
        title: Save Entities JSONL
        type: assigner
        version: '2'
      id: 'fs-save-jsonl'
      position: {x: 2158, y: 1257}
      type: custom

    # ─── FILE_SETUP: Ambiguity Checker ─────────────────────────────
    - data:
        code: |
          def _fuzzy_match(name, known_names):
              lower = name.strip().lower()
              for known in known_names:
                  if lower == known.lower() or lower in known.lower() or known.lower() in lower:
                      return True
              return False

          def main(extracted_entities: dict):
              st_rows = extracted_entities.get("subject_types", [])
              prog_rows = extracted_entities.get("programs", [])
              enc_rows = extracted_entities.get("encounter_types", [])
              addr_rows = extracted_entities.get("address_levels", [])
              subject_type_names = {r["name"] for r in st_rows if r.get("name")}
              program_names = {r["name"] for r in prog_rows if r.get("name")}
              issues = []

              seen = {}
              for r in st_rows:
                  key = r.get("name", "").strip().lower()
                  if not key: continue
                  if key in seen:
                      issues.append({"severity": "error", "entity_type": "subject_type", "message": f"Duplicate subject type: '{r['name']}'"})
                  else:
                      seen[key] = r["name"]

              for r in st_rows:
                  if not r.get("type"):
                      issues.append({"severity": "warning", "entity_type": "subject_type", "message": f"Subject type '{r.get('name', '?')}' is missing 'type'"})

              seen = {}
              for r in prog_rows:
                  key = r.get("name", "").strip().lower()
                  if not key: continue
                  if key in seen:
                      issues.append({"severity": "error", "entity_type": "program", "message": f"Duplicate program: '{r['name']}'"})
                  else:
                      seen[key] = r["name"]

              for r in prog_rows:
                  target = r.get("target_subject_type", "")
                  if not target:
                      issues.append({"severity": "warning", "entity_type": "program", "message": f"Program '{r['name']}' missing target subject type"})
                  elif not _fuzzy_match(target, subject_type_names):
                      issues.append({"severity": "warning", "entity_type": "program", "message": f"Program '{r['name']}' references unknown subject type '{target}'"})

              for r in enc_rows:
                  if r.get("is_program_encounter"):
                      program = r.get("program_name", "")
                      if program and not _fuzzy_match(program, program_names):
                          issues.append({"severity": "warning", "entity_type": "program_encounter", "message": f"Program encounter '{r['name']}' references unknown program '{program}'"})
                  else:
                      subject = r.get("subject_type", "")
                      if subject and not _fuzzy_match(subject, subject_type_names):
                          issues.append({"severity": "warning", "entity_type": "encounter", "message": f"Encounter '{r['name']}' references unknown subject type '{subject}'"})

              if not addr_rows:
                  issues.append({"severity": "warning", "entity_type": "location_hierarchy", "message": "No location hierarchy found."})

              error_count = sum(1 for i in issues if i["severity"] == "error")
              warning_count = sum(1 for i in issues if i["severity"] == "warning")
              if not issues:
                  issues_summary = "No issues found. All entities look good."
              else:
                  lines = []
                  for i in issues:
                      prefix = "ERROR" if i["severity"] == "error" else "WARNING"
                      lines.append(f"[{prefix}] {i['message']}")
                  issues_summary = "\n".join(lines)

              return {"output": {"entities": extracted_entities, "issues_summary": issues_summary, "error_count": error_count, "warning_count": warning_count}}
        code_language: python3
        outputs:
          output: {type: object}
        title: Ambiguity Checker
        type: code
        variables:
        - value_selector: [conversation, entities_jsonl]
          value_type: object
          variable: extracted_entities
      id: '1773908701222'
      position: {x: 2479, y: 1224}
      type: custom

    # ─── FILE_SETUP: Summary LLM ──────────────────────────────────
    - data:
        model:
          completion_params: {temperature: 0.3}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: summary-system
          role: system
          text: >
            Present a summary of parsed entities from the field workflow specification.
            List EVERY entity individually with all fields. Group by type.

            Entities:
            {{#conversation.entities_jsonl#}}

            Ambiguity Report:
            {{#1773908701222.output.issues_summary#}}

            After summary, ask: "Does everything look correct? Click **Yes** to proceed with configuration, or **No** to make corrections."
        title: Summary LLM
        type: llm
      id: '1773909315118'
      position: {x: 2769, y: 1081}
      type: custom

    # ─── FILE_SETUP: Summary Answer ────────────────────────────────
    - data:
        answer: '{{#1773909315118.text#}}'
        title: Summary Answer
        type: answer
      id: '1773909436902'
      position: {x: 3130, y: 918}
      type: custom

    # ─── FILE_SETUP: Human Input (Confirm) ─────────────────────────
    - data:
        options:
        - id: case-yes
          title: 'Yes'
        - id: case-no
          title: 'No'
        timeout_config:
          enabled: true
          timeout_seconds: 300
        title: Confirm Entities
        type: human-input
      id: 'fs-human-input'
      position: {x: 3471, y: 884}
      type: custom

    # ─── FILE_SETUP: Ask Corrections ───────────────────────────────
    - data:
        answer: "Please describe the corrections you'd like to make. For example:\n\
          - \"Rename 'Beneficiary' to 'Individual'\"\n\
          - \"Remove the ANC Visit encounter\"\n\
          - \"Add a new program called Child Health\"\n\n\
          I'll update the entities and show you the revised summary."
        title: Ask Corrections
        type: answer
      id: 'fs-ask-corrections'
      position: {x: 3832, y: 777}
      type: custom

    # ─── FILE_SETUP: Timeout ───────────────────────────────────────
    - data:
        answer: "The confirmation timed out. Your extracted entities have been saved.\
          \ You can continue the setup by sending another message."
        title: Timeout
        type: answer
      id: 'fs-timeout'
      position: {x: 3832, y: 971}
      type: custom

    # ─── FILE_SETUP: Entities Corrector LLM ────────────────────────
    - data:
        model:
          completion_params:
            response_format: {type: json_object}
            temperature: 0.1
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: corrector-system
          role: system
          text: >
            You are an entity correction assistant. Apply corrections to the current entities.

            Current entities:
            {{#conversation.entities_jsonl#}}

            User's correction request:
            {{#sys.query#}}

            Output a JSON with "corrections" array. Each correction is a full entity object.
            To rename: output old entity with _delete:true + new entity.
            To delete: output {_delete: true, name: "..."}.
            To add: output the full entity.
            Use actual booleans, not strings.
        structured_output_enabled: true
        structured_output_schema:
          properties:
            corrections: {items: {type: object}, type: array}
          required: [corrections]
          type: object
        title: Entities Corrector LLM
        type: llm
      id: '1773981975918'
      position: {x: 1746, y: 917}
      type: custom

    # ─── FILE_SETUP: Entities Corrector Code ───────────────────────
    - data:
        code: |
          import json

          def main(entities_jsonl: list, corrections_str: str):
              entities = list(entities_jsonl) if entities_jsonl else []
              try:
                  parsed = json.loads(corrections_str) if isinstance(corrections_str, str) else corrections_str
                  if isinstance(parsed, dict):
                      corrections = parsed.get("corrections", [])
                  elif isinstance(parsed, list):
                      corrections = parsed
                  else:
                      corrections = []
              except (json.JSONDecodeError, TypeError):
                  return {"result": entities}
              if not corrections:
                  return {"result": entities}
              for correction in corrections:
                  if not isinstance(correction, dict):
                      continue
                  if correction.get("_delete"):
                      name = correction.get("name", "")
                      entity_type = correction.get("type", "")
                      for i, entity in enumerate(entities):
                          if entity.get("type") == entity_type and entity.get("name") == name:
                              entities.pop(i)
                              break
                      continue
                  c_type = correction.get("type", "")
                  c_name = correction.get("name", "")
                  matched_idx = None
                  for i, entity in enumerate(entities):
                      if entity.get("type") == c_type and entity.get("name") == c_name:
                          matched_idx = i
                          break
                  if matched_idx is not None:
                      entities[matched_idx] = correction
                  else:
                      entities.append(correction)
              return {"result": entities}
        code_language: python3
        outputs:
          result:
            children: null
            type: "array[object]"
        title: Entities Corrector
        type: code
        variables:
        - value_selector: [conversation, entities_jsonl]
          value_type: string
          variable: entities_jsonl
        - value_selector: ['1773981975918', structured_output]
          value_type: object
          variable: corrections_str
      id: '1773982043351'
      position: {x: 2087, y: 933}
      type: custom

    # ─── FILE_SETUP: Update entities_jsonl ─────────────────────────
    - data:
        items:
        - input_type: variable
          operation: over-write
          value: ['1773982043351', result]
          variable_selector: [conversation, entities_jsonl]
          write_mode: over-write
        title: Update entities_jsonl
        type: assigner
        version: '2'
      id: '1773984373385'
      position: {x: 2428, y: 917}
      type: custom

    # ─── FILE_SETUP: Correction Summary LLM ────────────────────────
    - data:
        model:
          completion_params: {temperature: 0.7}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: correction-summary-system
          role: system
          text: >
            Present updated entities after corrections. Group by type, show what changed.
            Ask user to confirm or request more corrections.

            Updated Entities:
            {{#conversation.entities_jsonl#}}

            User's correction request:
            {{#sys.query#}}
        title: Correction Summary LLM
        type: llm
      id: '1774002885641'
      position: {x: 2769, y: 915}
      type: custom

    # ─── GENERATE BUNDLE (HTTP Request) ────────────────────────────
    - data:
        authorization: {config: null, type: no-auth}
        body:
          data:
          - id: bundle-body
            key: ''
            type: text
            value: >
              {
                "entities": {{#conversation.entities_jsonl#}},
                "org_name": "{{#1711528708197.org_name#}}"
              }
          type: json
        headers: "Content-Type:application/json\navni-auth-token:{{#conversation.auth_token#}}"
        method: post
        retry_config: {max_retries: 3, retry_enabled: true, retry_interval: 100}
        ssl_verify: true
        timeout: {max_connect_timeout: 0, max_read_timeout: 120, max_write_timeout: 0}
        title: Generate Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}generate-bundle'
      id: 'generate-bundle-req'
      position: {x: 3832, y: 1100}
      type: custom

    # ─── UPLOAD BUNDLE (HTTP Request) ──────────────────────────────
    - data:
        authorization: {config: null, type: no-auth}
        body:
          data:
          - id: upload-body
            key: ''
            type: text
            value: >
              {
                "bundle_zip_b64": "{{#generate-bundle-req.body.bundle_zip_b64#}}"
              }
          type: json
        headers: "Content-Type:application/json\navni-auth-token:{{#conversation.auth_token#}}"
        method: post
        retry_config: {max_retries: 2, retry_enabled: true, retry_interval: 500}
        ssl_verify: true
        timeout: {max_connect_timeout: 0, max_read_timeout: 120, max_write_timeout: 0}
        title: Upload Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}upload-bundle'
      id: 'upload-bundle-req'
      position: {x: 4173, y: 1100}
      type: custom

    # ─── UPLOAD POLL LOOP ──────────────────────────────────────────
    - data:
        break_condition:
        - conversation
        - loop
        logical_operator: and
        max_iterations: 20
        title: Upload Poll Loop
        type: loop
      id: 'upload-poll-loop'
      position: {x: 4514, y: 1050}
      type: custom

    - data:
        title: ''
        type: loop-start
      id: 'upload-poll-loop-start'
      position: {x: 4574, y: 1113}
      type: custom

    # Wait 3 seconds
    - data:
        selected: false
        title: Wait
        type: tool
      id: 'wait-upload'
      position: {x: 4700, y: 1112}
      type: custom

    # Check upload status
    - data:
        code: |
          import json
          import requests
          from typing import Dict, Any

          def check_upload_status(task_id: str, avni_mcp_server_url: str) -> Dict[str, Any]:
              session = requests.Session()
              status_url = f"{avni_mcp_server_url}upload-status/{task_id}"
              try:
                  response = session.get(status_url, timeout=10)
                  if response.status_code != 200:
                      return {"error": f"HTTP {response.status_code}", "task_id": task_id}
                  return response.json()
              except requests.exceptions.RequestException as e:
                  return {"error": str(e), "task_id": task_id}

          def main(upload_response: Dict[str, Any], avni_mcp_server_url: str):
              task_id = upload_response.get("task_id", "")
              result = check_upload_status(task_id, avni_mcp_server_url)
              status = result.get("status", "")
              is_terminal = status in ["completed", "failed"]
              return {"output": result, "is_terminal": is_terminal}
        code_language: python3
        outputs:
          output: {type: object}
          is_terminal: {type: boolean}
        title: Check Upload Status
        type: code
        variables:
        - value_selector: ['upload-bundle-req', body]
          value_type: object
          variable: upload_response
        - value_selector: [conversation, avni_mcp_server_url]
          value_type: string
          variable: avni_mcp_server_url
      id: 'check-upload-status'
      position: {x: 5020, y: 1112}
      type: custom

    # Upload status check
    - data:
        cases:
        - case_id: case-true
          conditions:
          - comparison_operator: is
            value: 'true'
            variable_selector: ['check-upload-status', is_terminal]
          logical_operator: and
        title: Upload Done?
        type: if-else
      id: 'upload-status-check'
      position: {x: 5340, y: 1064}
      type: custom

    # Break loop
    - data:
        items:
        - input_type: constant
          operation: over-write
          value: false
          variable_selector: [conversation, loop]
          write_mode: over-write
        title: Break Upload Loop
        type: assigner
        version: '2'
      id: 'break-upload-loop'
      position: {x: 5680, y: 1020}
      type: custom

    # Upload done answer
    - data:
        answer: "✅ **Configuration complete!**\n\n\
          Your implementation bundle has been generated and uploaded to Avni.\n\n\
          **Summary:**\n\
          {{#generate-bundle-req.body.summary#}}\n\n\
          **Confidence score:** {{#generate-bundle-req.body.confidence.overall#}}\n\n\
          You can now log into Avni to review your configuration. If you need to make\
          \ changes, just upload an updated specification or describe the corrections."
        title: Upload Done
        type: answer
      id: 'upload-done-answer'
      position: {x: 6020, y: 1020}
      type: custom

    # Upload progress
    - data:
        answer: "⏳ Uploading bundle to Avni server... Please wait."
        title: Upload Progress
        type: answer
      id: 'upload-progress-answer'
      position: {x: 5680, y: 1200}
      type: custom

    # Edge for setup guidance
    - data: {}
      id: 'setup-guidance-edge'
      source: '1757493270484'
      sourceHandle: 'case-setup-guidance'
      target: 'setup-guidance-answer'
      targetHandle: target
      type: custom
