ShortApp Config [Staging] Assistant.yml
app:
  description: Avni AI Assistant
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: UpdatedApp Config [Staging] Assistant
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: f3337c5a-b833-47a7-8eeb-1d29182542f9
    name: auth_token
    selector:
    - conversation
    - auth_token
    value: ''
    value_type: string
  - description: ''
    id: 4c1c713d-15fd-4a91-904b-20ef56e53cd0
    name: avni_mcp_server_url
    selector:
    - conversation
    - avni_mcp_server_url
    value: ''
    value_type: string
  - description: ''
    id: bcee7516-c52d-4ed0-aff4-50107f092ca0
    name: session_status
    selector:
    - conversation
    - session_status
    value: ''
    value_type: string
  - description: ''
    id: dada7c31-e9c4-4b37-838c-00f71b67c54a
    name: entities_jsonl
    selector:
    - conversation
    - entities_jsonl
    value: {}
    value_type: object
  - description: ''
    id: ee0fbd12-9867-4b7c-95d5-4b74e03475be
    name: uploaded_files
    selector:
    - conversation
    - uploaded_files
    value: []
    value_type: array[object]
  - description: ''
    id: 80e10fd7-a4a9-4300-ad77-fd31a27bb86b
    name: 'True'
    selector:
    - conversation
    - 'True'
    value: true
    value_type: boolean
  - description: ''
    id: 0873be68-c224-4e79-8cf8-ce2f583d6509
    name: 'False'
    selector:
    - conversation
    - 'False'
    value: false
    value_type: boolean
  - description: ''
    id: ebacfa4e-342c-455e-a4ba-b70851015711
    name: loop
    selector:
    - conversation
    - loop
    value: true
    value_type: boolean
  environment_variables:
  - description: ''
    id: 16bf6bae-2ad7-483e-a226-add93e02d738
    name: CODE_MAX_DEPTH
    selector:
    - env
    - CODE_MAX_DEPTH
    value: '100'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: Hey {{user_name}} ! I’m your AI assistant . I can help you
      with any questions about Avni — from creating new forms automatically to guiding
      you through the platform. How can I help you today?
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1773909315118-source-1773909436902-target
      selected: false
      source: '1773909315118'
      sourceHandle: source
      target: '1773909436902'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: human-input
      id: 1773909436902-source-fs-human-input-target
      selected: false
      source: '1773909436902'
      sourceHandle: source
      target: fs-human-input
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: fs-human-input-No-fs-ask-corrections-target
      selected: false
      source: fs-human-input
      sourceHandle: 'No'
      target: fs-ask-corrections
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: fs-human-input-timeout-fs-timeout-target
      selected: false
      source: fs-human-input
      sourceHandle: timeout
      target: fs-timeout
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: fs-check-processed-true-1773981975918-target
      selected: false
      source: fs-check-processed
      sourceHandle: 'true'
      target: '1773981975918'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1773981975918-source-1773982043351-target
      selected: false
      source: '1773981975918'
      sourceHandle: source
      target: '1773982043351'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1773982043351-source-1773984373385-target
      selected: false
      source: '1773982043351'
      sourceHandle: source
      target: '1773984373385'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1773984373385-source-1774002885641-target
      selected: false
      source: '1773984373385'
      sourceHandle: source
      target: '1774002885641'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774002885641-source-1773909436902-target
      selected: false
      source: '1774002885641'
      sourceHandle: source
      target: '1773909436902'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: answer
      id: fs-human-input-__timeout-fs-timeout-target
      selected: false
      source: fs-human-input
      sourceHandle: __timeout
      target: fs-timeout
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1774005032398-source-1774005187885-target
      selected: false
      source: '1774005032398'
      sourceHandle: source
      target: '1774005187885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: human-input
        targetType: http-request
      id: fs-human-input-Yes-1774005032398-target
      selected: false
      source: fs-human-input
      sourceHandle: 'Yes'
      target: '1774005032398'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: fs-check-processed-false-1774264909113-target
      selected: false
      source: fs-check-processed
      sourceHandle: 'false'
      target: '1774264909113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1774264909113-source-1774264840300-target
      selected: false
      source: '1774264909113'
      sourceHandle: source
      target: '1774264840300'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1774264840300-source-fs-save-jsonl-target
      selected: false
      source: '1774264840300'
      sourceHandle: source
      target: fs-save-jsonl
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: fs-save-jsonl-source-1773908701222-target
      selected: false
      source: fs-save-jsonl
      sourceHandle: source
      target: '1773908701222'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1773908701222-source-1773909315118-target
      selected: false
      source: '1773908701222'
      sourceHandle: source
      target: '1773909315118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1711528708197-source-fs-check-processed-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: fs-check-processed
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - hide: true
          label: auth_token
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: auth_token
        - hide: true
          label: org_name
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: org_name
        - default: trial
          hide: true
          label: org_type
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: org_type
        - hide: true
          hint: ''
          label: user_name
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_name
        - default: https://staging-ai.avniproject.org/
          hide: true
          hint: ''
          label: avni_mcp_server_url
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: avni_mcp_server_url
      height: 257
      id: '1711528708197'
      position:
        x: 920.497910547814
        y: 1343.2212472233255
      positionAbsolute:
        x: 920.497910547814
        y: 1343.2212472233255
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\nAmbiguity Checker code node for Dify chatflow.\n\nTakes the\
          \ structured extraction LLM output and validates for completeness,\nconsistency,\
          \ and orphaned references. Runs in Dify's Python sandbox.\n\nInput:  extracted_entities\
          \ (object) — from Extraction LLM structured output\n        {subject_types:\
          \ [...], programs: [...], encounter_types: [...], address_levels: [...]}\n\
          Output: output (object) — contains validated entities (same structure) +\
          \ issues\n\"\"\"\n\n\ndef _fuzzy_match(name, known_names):\n    lower =\
          \ name.strip().lower()\n    for known in known_names:\n        if lower\
          \ == known.lower() or lower in known.lower() or known.lower() in lower:\n\
          \            return True\n    return False\n\n\ndef main(extracted_entities:\
          \ dict):\n    st_rows = extracted_entities.get(\"subject_types\", [])\n\
          \    prog_rows = extracted_entities.get(\"programs\", [])\n    enc_rows\
          \ = extracted_entities.get(\"encounter_types\", [])\n    addr_rows = extracted_entities.get(\"\
          address_levels\", [])\n\n    subject_type_names = {r[\"name\"] for r in\
          \ st_rows if r.get(\"name\")}\n    program_names = {r[\"name\"] for r in\
          \ prog_rows if r.get(\"name\")}\n\n    issues = []\n\n    # Check duplicate\
          \ subject types\n    seen = {}\n    for r in st_rows:\n        key = r.get(\"\
          name\", \"\").strip().lower()\n        if not key:\n            continue\n\
          \        if key in seen:\n            issues.append({\"severity\": \"error\"\
          , \"entity_type\": \"subject_type\",\n                           \"message\"\
          : f\"Duplicate subject type: '{r['name']}'\"})\n        else:\n        \
          \    seen[key] = r[\"name\"]\n\n    # Check subject type fields\n    for\
          \ r in st_rows:\n        if not r.get(\"type\"):\n            issues.append({\"\
          severity\": \"warning\", \"entity_type\": \"subject_type\",\n          \
          \                 \"message\": f\"Subject type '{r.get('name', '?')}' is\
          \ missing 'type'\"})\n\n    # Check duplicate programs\n    seen = {}\n\
          \    for r in prog_rows:\n        key = r.get(\"name\", \"\").strip().lower()\n\
          \        if not key:\n            continue\n        if key in seen:\n  \
          \          issues.append({\"severity\": \"error\", \"entity_type\": \"program\"\
          ,\n                           \"message\": f\"Duplicate program: '{r['name']}'\"\
          })\n        else:\n            seen[key] = r[\"name\"]\n\n    # Check program\
          \ references\n    for r in prog_rows:\n        target = r.get(\"target_subject_type\"\
          , \"\")\n        if not target:\n            issues.append({\"severity\"\
          : \"warning\", \"entity_type\": \"program\",\n                         \
          \  \"message\": f\"Program '{r['name']}' is missing target subject type\"\
          })\n        elif not _fuzzy_match(target, subject_type_names):\n       \
          \     issues.append({\"severity\": \"warning\", \"entity_type\": \"program\"\
          ,\n                           \"message\": f\"Program '{r['name']}' references\
          \ subject type '{target}' which doesn't match any defined subject type\"\
          })\n\n    # Check encounter references\n    for r in enc_rows:\n       \
          \ if r.get(\"is_program_encounter\"):\n            program = r.get(\"program_name\"\
          , \"\")\n            if program and not _fuzzy_match(program, program_names):\n\
          \                issues.append({\"severity\": \"warning\", \"entity_type\"\
          : \"program_encounter\",\n                               \"message\": f\"\
          Program encounter '{r['name']}' references program '{program}' which doesn't\
          \ match any defined program\"})\n        else:\n            subject = r.get(\"\
          subject_type\", \"\")\n            if subject and not _fuzzy_match(subject,\
          \ subject_type_names):\n                issues.append({\"severity\": \"\
          warning\", \"entity_type\": \"encounter\",\n                           \
          \    \"message\": f\"Encounter '{r['name']}' references subject type '{subject}'\
          \ which doesn't match any defined subject type\"})\n\n    # Check location\
          \ hierarchy\n    if not addr_rows:\n        issues.append({\"severity\"\
          : \"warning\", \"entity_type\": \"location_hierarchy\",\n              \
          \         \"message\": \"No location hierarchy found. A default hierarchy\
          \ will be generated.\"})\n\n    error_count = sum(1 for i in issues if i[\"\
          severity\"] == \"error\")\n    warning_count = sum(1 for i in issues if\
          \ i[\"severity\"] == \"warning\")\n\n    if not issues:\n        issues_summary\
          \ = \"No issues found. All entities look good.\"\n    else:\n        lines\
          \ = []\n        errors = [i for i in issues if i[\"severity\"] == \"error\"\
          ]\n        warnings = [i for i in issues if i[\"severity\"] == \"warning\"\
          ]\n        if errors:\n            lines.append(f\"{len(errors)} error(s):\"\
          )\n            for e in errors:\n                lines.append(f\"  [ERROR]\
          \ {e['message']}\")\n        if warnings:\n            lines.append(f\"\
          {len(warnings)} warning(s):\")\n            for w in warnings:\n       \
          \         lines.append(f\"  [WARNING] {w['message']}\")\n        issues_summary\
          \ = \"\\n\".join(lines)\n\n    return {\"output\": {\n        \"entities\"\
          : extracted_entities,\n        \"issues_summary\": issues_summary,\n   \
          \     \"error_count\": error_count,\n        \"warning_count\": warning_count,\n\
          \        \"has_errors\": error_count > 0,\n        \"has_warnings\": warning_count\
          \ > 0,\n    }}\n"
        code_language: python3
        outputs:
          output:
            children: null
            type: object
        selected: false
        title: Ambiguity Checker
        type: code
        variables:
        - value_selector:
          - conversation
          - entities_jsonl
          value_type: string
          variable: extracted_entities
      height: 52
      id: '1773908701222'
      position:
        x: 2475.1169293192866
        y: 1715.139778237027
      positionAbsolute:
        x: 2475.1169293192866
        y: 1715.139778237027
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: cond-already-processed
            varType: string
            variable_selector:
            - conversation
            - entities_jsonl
          id: 'true'
          logical_operator: and
        selected: false
        title: Already Processed?
        type: if-else
      height: 124
      id: fs-check-processed
      position:
        x: 1278.9574798325389
        y: 1384.415242469337
      positionAbsolute:
        x: 1278.9574798325389
        y: 1384.415242469337
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        assigned_variable_selector:
        - conversation
        - entities_jsonl
        input_variable_selector:
        - '1773908701222'
        - output
        - entities_jsonl
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1774264840300'
          - structured_output
          variable_selector:
          - conversation
          - entities_jsonl
          write_mode: over-write
        selected: false
        title: Save Entities JSONL
        type: assigner
        version: '2'
        write_mode: over-write
      height: 84
      id: fs-save-jsonl
      position:
        x: 2153.9568929368324
        y: 1747.9840250032742
      positionAbsolute:
        x: 2153.9568929368324
        y: 1747.9840250032742
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 51066c17-8638-4392-9c7f-9a1b479d288a
          role: system
          text: 'You are presenting a summary of parsed entities from a field workflow
            specification file. Present ALL entities in a detailed, point-wise format.
            At the end, show the ambiguity report and ask the user to confirm or correct.


            RULES FOR PRESENTING THE SUMMARY:


            1. Use the exact field names from Avni: "type" (not "kind"), "name", "subject",
            "program", etc.

            2. List EVERY entity individually — never summarize with "Various..."
            or "etc."

            3. For Subject Types, show: name, type (Person/Individual/Household/Group),
            formLink, lowestAddressLevel, description (if present)

            4. For Programs, show: name, target subject, enrolmentForm, exitForm,
            description (if present)

            5. For Encounter Types, list EACH ONE with: name, Scheduled/Unscheduled,
            subject type (for general encounters) or program name (for program encounters),
            frequency (if present), formsLinked (if present)

            6. For Address Levels, show the hierarchy chain clearly: e.g. District
            (level 3) → Block (level 2) → Village (level 1)

            7. Group encounters into "General Encounters" and "Program Encounters"
            sections.


            Entities:


            {{#conversation.entities_jsonl#}}


            Ambiguity Report:



            {{#1773908701222.output.issues_summary#}}




            After presenting the summary, ask: "Does everything look correct? Click
            Yes to proceed with bundle generation, or No to make corrections."'
        selected: false
        title: Summary LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773909315118'
      position:
        x: 2765.361668337755
        y: 1572.1747744029835
      positionAbsolute:
        x: 2765.361668337755
        y: 1572.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773909315118.text#}} {{#1774002885641.text#}}'
        selected: false
        title: Summary Answer
        type: answer
        variables: []
      height: 121
      id: '1773909436902'
      position:
        x: 3126.361668337755
        y: 1409.1747744029835
      positionAbsolute:
        x: 3126.361668337755
        y: 1409.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        delivery_methods:
        - enabled: true
          id: 8b5a32a3-115e-45a0-95e3-29256edc9047
          type: webapp
        form_content: ''
        inputs: []
        selected: false
        timeout: 1
        timeout_unit: day
        title: Confirm Entities
        type: human-input
        user_actions:
        - button_style: primary
          id: 'Yes'
          title: 'Yes'
        - button_style: default
          id: 'No'
          title: 'No'
      height: 190
      id: fs-human-input
      position:
        x: 3467.361668337755
        y: 1375.1747744029835
      positionAbsolute:
        x: 3467.361668337755
        y: 1375.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '

          Tell me what corrections are needed and I will update the entities.'
        selected: false
        title: Ask Corrections
        type: answer
        variables: []
      height: 116
      id: fs-ask-corrections
      position:
        x: 3828.361668337755
        y: 1268.1747744029835
      positionAbsolute:
        x: 3828.361668337755
        y: 1268.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Session timed out. Please upload your file again to start over.
        selected: false
        title: Timeout
        type: answer
        variables: []
      height: 116
      id: fs-timeout
      position:
        x: 3828.361668337755
        y: 1462.1747744029835
      positionAbsolute:
        x: 3828.361668337755
        y: 1462.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9e3f4fee-df92-4529-a660-1f3802422240
          role: system
          text: "You are an entity correction assistant. The user has reviewed a list\
            \ of parsed entities from their field workflow specification and wants\
            \ to make changes.\n\nBelow are the current entities:\n\n```json\n{{#conversation.entities_jsonl#}}\
            \ \n```\n\nThe user's correction request:\n{{#sys.query#}}\n\nYour job:\
            \ output a JSON object with corrections grouped by entity type. Only include\
            \ entity types that have changes.\n\nEntity types and their fields:\n\n\
            **subject_types**: `{\"name\": \"...\", \"type\": \"Person|Individual|Household|Group|User\"\
            , \"form_link\": \"...\", \"lowest_address_level\": \"...\", \"description\"\
            : \"...\"}`\n\n**programs**: `{\"name\": \"...\", \"target_subject_type\"\
            : \"...\", \"enrolment_form\": \"...\", \"exit_form\": \"...\", \"description\"\
            : \"...\"}`\n\n**encounter_types**: `{\"name\": \"...\", \"program_name\"\
            : \"...\", \"subject_type\": \"...\", \"encounter_type\": \"Scheduled|Unscheduled\"\
            , \"is_program_encounter\": true|false, \"frequency\": \"...\", \"forms_linked\"\
            : \"...\", \"cancellation_form\": \"...\", \"description\": \"...\"}`\n\
            \n**address_levels**: `{\"name\": \"...\", \"level\": N, \"parent\": \"\
            ...|null\"}`\n\nRules:\n1. Match entities by `name` — include the complete\
            \ entity object with all fields (not just changed ones).\n2. To rename:\
            \ output the entity with the new name. The code matches by name, so include\
            \ the OLD name entity with `_delete: true` and a NEW entity with the new\
            \ name.\n3. To delete: output `{\"_delete\": true, \"name\": \"...\"}`\
            \ in the appropriate entity type array.\n4. To add: output the full entity\
            \ object in the appropriate array.\n5. Only include entity type arrays\
            \ that have changes.\n6. Boolean fields must be actual booleans (`true`/`false`),\
            \ not strings."
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              corrections:
                items:
                  additionalProperties: false
                  properties:
                    _delete:
                      type: boolean
                    encounterType:
                      type: string
                    is_program_encounter:
                      type: boolean
                    level:
                      type: number
                    name:
                      type: string
                    parent:
                      type: string
                    program:
                      type: string
                    row:
                      type: number
                    sheet:
                      type: string
                    subject:
                      type: string
                    subjectTypeKind:
                      type: string
                    type:
                      type: string
                  required:
                  - type
                  - name
                  - sheet
                  - row
                  type: object
                type: array
            required:
            - corrections
            type: object
        structured_output_enabled: true
        title: Entities Corrector LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773981975918'
      position:
        x: 1693.6228718506427
        y: 1406.1439912160204
      positionAbsolute:
        x: 1693.6228718506427
        y: 1406.1439912160204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\"\"\"\nApply Corrections code node for Dify chatflow.\n\nTakes the\
          \ current entities JSONL and the Correction LLM's output\n(a list of updated/new/deleted\
          \ entities), applies the changes.\n\nMatching logic:\n  1. Match by (sheet,\
          \ row) — stable even after renames\n  2. Fallback: match by (type, name)\
          \ — for manually added entities\n  3. No match → append as new entity\n\n\
          If an entity has \"_delete\": true, it is removed.\n\nInput:\n  entities_jsonl\
          \ (list) — current entities from conv var (array[object])\n  corrections_str\
          \ (str) — LLM's output: JSON with corrections array\nOutput:\n  result (list)\
          \ — updated entities array\n\"\"\"\n\nimport json\n\n\ndef main(entities_jsonl:\
          \ list, corrections_str: str):\n    entities = list(entities_jsonl) if entities_jsonl\
          \ else []\n\n    try:\n        parsed = json.loads(corrections_str) if corrections_str\
          \ else {}\n        if isinstance(parsed, dict):\n            corrections\
          \ = parsed.get(\"corrections\", [])\n        elif isinstance(parsed, list):\n\
          \            corrections = parsed\n        else:\n            corrections\
          \ = []\n    except (json.JSONDecodeError, TypeError):\n        return {\"\
          result\": entities}\n\n    if not corrections:\n        return {\"result\"\
          : entities}\n\n    for correction in corrections:\n        if not isinstance(correction,\
          \ dict):\n            continue\n\n        if correction.get(\"_delete\"\
          ):\n            sheet = correction.get(\"sheet\", \"\")\n            row\
          \ = correction.get(\"row\", 0)\n            name = correction.get(\"name\"\
          , \"\")\n            entity_type = correction.get(\"type\", \"\")\n\n  \
          \          for i, entity in enumerate(entities):\n                if sheet\
          \ and row and entity.get(\"sheet\") == sheet and entity.get(\"row\") ==\
          \ row:\n                    entities.pop(i)\n                    break\n\
          \                elif entity.get(\"type\") == entity_type and entity.get(\"\
          name\") == name:\n                    entities.pop(i)\n                \
          \    break\n            continue\n\n        sheet = correction.get(\"sheet\"\
          , \"\")\n        row = correction.get(\"row\", 0)\n        matched_idx =\
          \ None\n\n        if sheet and row:\n            for i, entity in enumerate(entities):\n\
          \                if entity.get(\"sheet\") == sheet and entity.get(\"row\"\
          ) == row:\n                    matched_idx = i\n                    break\n\
          \n        if matched_idx is None:\n            c_type = correction.get(\"\
          type\", \"\")\n            c_name = correction.get(\"name\", \"\")\n   \
          \         for i, entity in enumerate(entities):\n                if entity.get(\"\
          type\") == c_type and entity.get(\"name\") == c_name:\n                \
          \    matched_idx = i\n                    break\n\n        if matched_idx\
          \ is not None:\n            entities[matched_idx] = correction\n       \
          \ else:\n            entities.append(correction)\n\n    return {\"result\"\
          : entities}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: Entities Corrector
        type: code
        variables:
        - value_selector:
          - conversation
          - entities_jsonl
          value_type: string
          variable: entities_jsonl
        - value_selector:
          - '1773981975918'
          - structured_output
          value_type: object
          variable: corrections_str
      height: 52
      id: '1773982043351'
      position:
        x: 2083.361668337755
        y: 1424.1747744029835
      positionAbsolute:
        x: 2083.361668337755
        y: 1424.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1773982043351'
          - result
          variable_selector:
          - conversation
          - entities_jsonl
          write_mode: over-write
        selected: false
        title: Update entities_jsonl
        type: assigner
        version: '2'
      height: 84
      id: '1773984373385'
      position:
        x: 2424.361668337755
        y: 1408.1747744029835
      positionAbsolute:
        x: 2424.361668337755
        y: 1408.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: d05c2b08-4a54-4016-9e99-65ae39b3c7e1
          role: system
          text: 'You are presenting updated entities after the user requested corrections.

            Read the entities below and present them in a clear, readable format grouped
            by type (subject types, programs, encounters, program encounters, address
            levels). Show what changed compared to the user''s correction request.


            After the summary, ask the user to confirm if everything looks correct
            now, or tell you what else needs to be corrected.

            Updated Entities:

            {{#conversation.entities_jsonl#}}

            User''s correction request:

            {{#sys.query#}}'
        selected: false
        title: Correction Summary LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774002885641'
      position:
        x: 2765.361668337755
        y: 1406.1747744029835
      positionAbsolute:
        x: 2765.361668337755
        y: 1406.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-131
            key: ''
            type: text
            value: '{

              "entities": {{#conversation.entities_jsonl#}},

              "org_name": "{{#1711528708197.org_name#}}"                          
                                                                                 
                     }'
          type: json
        headers: 'Content-Type:application/json

          avni-auth-token:{{#conversation.auth_token#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Call Generate Bundle
        type: http-request
        url: '{{#conversation.avni_mcp_server_url#}}generate-bundle'
        variables: []
      height: 141
      id: '1774005032398'
      position:
        x: 3828.361668337755
        y: 1656.1747744029835
      positionAbsolute:
        x: 3828.361668337755
        y: 1656.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774005032398.body#}}'
        selected: false
        title: Answer 12
        type: answer
        variables: []
      height: 103
      id: '1774005187885'
      position:
        x: 4169.361668337755
        y: 1675.1747744029835
      positionAbsolute:
        x: 4169.361668337755
        y: 1675.1747744029835
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: avniplatform@samanvayfoundation.org
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"There
          is some bug in dify due to which code node was failing hence I had to use
          HTTP REQUEST Node","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774005765849'
      position:
        x: 3557.1152154683145
        y: 1693.9971613460716
      positionAbsolute:
        x: 3557.1152154683145
        y: 1693.9971613460716
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: avniplatform@samanvayfoundation.org
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"This
          API is still under dev","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774008479412'
      position:
        x: 3885.6352816884773
        y: 1839.2898032733679
      positionAbsolute:
        x: 3885.6352816884773
        y: 1839.2898032733679
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 76d15d49-1bae-4d0b-baaa-58c8c6be3e59
          role: system
          text: "You are an entity extraction assistant for the Avni platform. You\
            \ read the content of a field workflow specification document and extract\
            \ structured entities from it.\n\nThe document content (converted from\
            \ Excel to markdown by the Doc Extractor):\n{{#1774264909113.text#}}\n\
            \nYour job: extract ALL entities from this document and output them as\
            \ a JSON array. Each entity must be one of the following types:\n\n##\
            \ Entity Types and Fields\n\n### subject_type\nRegistration/subject types\
            \ (e.g., Individual, Beneficiary, School, Household)\n```json\n{\n  \"\
            name\": \"...\",\n  \"type\": \"Person|Individual|Household|Group|User\"\
            ,\n  \"form_link\": \"name of the registration form (if mentioned)\",\n\
            \  \"lowest_address_level\": \"lowest location level for registration\
            \ (e.g., Village, Hamlet)\",\n  \"description\": \"description if provided\"\
            ,\n  \"last_name_optional\": true|false,\n  \"unique_name\": true|false,\n\
            \  \"allow_profile_picture\": true|false\n}\n```\n- `type` must be one\
            \ of: Person, Individual, Household, Group, User\n- Only include fields\
            \ that are explicitly mentioned or clearly implied in the document\n\n\
            ### program\nPrograms that subjects can be enrolled in\n```json\n{\n \
            \ \"name\": \"...\",\n  \"target_subject_type\": \"target subject type\
            \ name\",\n  \"colour\": \"#hex color if mentioned\",\n  \"enrolment_form\"\
            : \"enrolment form name if mentioned\",\n  \"exit_form\": \"exit form\
            \ name if mentioned\",\n  \"program_start_condition\": \"start condition\
            \ if mentioned\",\n  \"program_end_condition\": \"end condition if mentioned\"\
            ,\n  \"allow_multiple_enrolments\": true|false,\n  \"show_growth_chart\"\
            : true|false\n}\n```\n- `target_subject_type` should reference one of\
            \ the subject_type names extracted above\n- `colour` is a hex colour code\
            \ — if not mentioned, omit the field\n\n### encounter_type\nVisits/encounters\
            \ (both general and program-linked)\n```json\n{\n  \"name\": \"...\",\n\
            \  \"program_name\": \"program name or empty string\",\n  \"subject_type\"\
            : \"subject type name\",\n  \"encounter_type\": \"Scheduled|Unscheduled\"\
            ,\n  \"is_program_encounter\": true|false,\n  \"frequency\": \"scheduling\
            \ frequency if mentioned (e.g., Monthly, Weekly, Daily)\",\n  \"forms_linked\"\
            : \"form name if mentioned\",\n  \"cancellation_form\": \"cancellation\
            \ form name if mentioned\",\n  \"description\": \"description or purpose\
            \ if provided\"\n}\n```\n- If the encounter appears in a table with a\
            \ \"Program name\" column, it is a program encounter: set `is_program_encounter:\
            \ true` and fill in `program_name`\n- If the encounter appears in a table\
            \ with a \"Subject Type\" column (but no program column), it is a general\
            \ encounter: set `is_program_encounter: false` and `program_name: \"\"\
            `\n- `encounter_type` should be \"Scheduled\" or \"Unscheduled\" based\
            \ on the document. Terms like \"Unplanned\" or \"As required\" or \"As\
            \ cases arise\" mean \"Unscheduled\"\n\n### address_level\nLocation hierarchy\
            \ levels (e.g., State → District → Block → Village)\n```json\n{\n  \"\
            name\": \"...\",\n  \"level\": 1,\n  \"parent\": \"parent level name or\
            \ null\"\n}\n```\n- The topmost level has `parent: null` and the highest\
            \ level number\n- Each child has a lower level number than its parent\n\
            - For example: State(level=4) → District(level=3) → Block(level=2) → Village(level=1)\n\
            - If multiple hierarchies share levels (e.g., \"District → Block → Hamlet\"\
            \ and \"District → Block → School\"), extract each unique level only once\
            \ but include all leaf levels\n\n## How to identify each entity type from\
            \ the markdown tables\n\nThe document contains multiple tables. Identify\
            \ them by their column headers:\n\n- **Subject types table**: Has columns\
            \ like \"Subject Type Name\", \"Type\", \"Form Link\", \"Lowest Address\
            \ Level\", \"Description\"\n- **Programs table**: Has columns like \"\
            Program Name\", \"Enrolment Form\", \"Exit Form\", \"Target Subject Type\"\
            \n- **General encounters table**: Has columns like \"Encounter Name\"\
            , \"Subject Type\", \"Encounter Type (Scheduled/Unscheduled)\", \"Frequency\"\
            \n- **Program encounters table**: Has columns like \"Encounter Name\"\
            , \"Program name\", \"Encounter Type\", \"Frequency\" — the key difference\
            \ from general encounters is the \"Program name\" column\n- **Location\
            \ hierarchy**: Look for arrow-separated chains like \"District → Block\
            \ → Village\" or similar hierarchical descriptions\n\n## Rules\n\n1. Extract\
            \ entities from ALL tables you can identify using the column header patterns\
            \ above.\n2. Do NOT create subject types or programs just because they\
            \ are referenced in encounter columns. Only extract subject types from\
            \ the subject types table and programs from the programs table. For example,\
            \ if an encounter references subject type \"User\" but \"User\" does not\
            \ appear in the subject types table, do NOT add \"User\" as a subject\
            \ type.\n3. Only include fields that are actually present in the document.\
            \ Do not guess values.\n4. Ignore `nan` values — treat them as missing\
            \ (omit the field).\n5. Trim whitespace from all names.\n6. Do NOT skip\
            \ entities that are clearly defined in any table, even if their formatting\
            \ is unusual.\n7. Boolean fields (`is_program_encounter`, `group`, `household`,\
            \ etc.) must be actual booleans (`true`/`false`), NOT strings (`\"true\"\
            `/`\"false\"`).\n\n## Output Format\n\nRespond with a JSON object containing\
            \ four arrays — one per entity type:\n\n{\n\"subject_types\": [\n{\"name\"\
            : \"Beneficiary Registration\", \"type\": \"Person\", \"form_link\": \"\
            Beneficiary Registration\"},\n{\"name\": \"School Registration\", \"type\"\
            : \"Individual\", \"description\": \"They will provide the list of schools\"\
            }\n],\n\"programs\": [\n{\"name\": \"Maternal Health\", \"target_subject_type\"\
            : \"Beneficiary Registration\", \"enrolment_form\": \"Maternal Enrolment\"\
            , \"exit_form\": \"Maternal Exit\"}\n],\n\"encounter_types\": [\n{\"name\"\
            : \"ANC Visit\", \"program_name\": \"Maternal Health\", \"subject_type\"\
            : \"\", \"encounter_type\": \"Scheduled\", \"is_program_encounter\": true,\
            \ \"frequency\": \"Monthly\"},\n{\"name\": \"Home Visit\", \"program_name\"\
            : \"\", \"subject_type\": \"Beneficiary Registration\", \"encounter_type\"\
            : \"Unscheduled\", \"is_program_encounter\": false}\n],\n\"address_levels\"\
            : [\n{\"name\": \"District\", \"level\": 3, \"parent\": null},\n{\"name\"\
            : \"Block\", \"level\": 2, \"parent\": \"District\"},\n{\"name\": \"Village\"\
            , \"level\": 1, \"parent\": \"Block\"}\n]\n}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              address_levels:
                items:
                  additionalProperties: false
                  properties:
                    level:
                      type: number
                    name:
                      type: string
                    parent:
                      type: string
                  required:
                  - name
                  - level
                  - parent
                  type: object
                type: array
              encounter_types:
                items:
                  additionalProperties: false
                  properties:
                    encounterType:
                      type: string
                    frequency:
                      type: string
                    is_program_encounter:
                      type: string
                    name:
                      type: string
                    program:
                      type: string
                    subject:
                      type: string
                  required:
                  - name
                  - program
                  - subject
                  - encounterType
                  - is_program_encounter
                  - frequency
                  type: object
                type: array
              programs:
                items:
                  additionalProperties: false
                  properties:
                    enrolmentForm:
                      type: string
                    exitForm:
                      type: string
                    name:
                      type: string
                    subject:
                      type: string
                  required:
                  - name
                  - subject
                  - enrolmentForm
                  - exitForm
                  type: object
                type: array
              subject_types:
                items:
                  additionalProperties: false
                  properties:
                    formLink:
                      type: string
                    name:
                      type: string
                    subjectTypeKind:
                      type: string
                  required:
                  - name
                  - subjectTypeKind
                  - formLink
                  type: object
                type: array
            required:
            - subject_types
            - programs
            - encounter_types
            - address_levels
            type: object
        structured_output_enabled: true
        title: Entity Extractor
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774264840300'
      position:
        x: 1822.406433258765
        y: 1698.9932504633216
      positionAbsolute:
        x: 1822.406433258765
        y: 1698.9932504633216
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1774264909113'
      position:
        x: 1536.668431391241
        y: 1623.9130301377706
      positionAbsolute:
        x: 1536.668431391241
        y: 1623.9130301377706
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -527.5349971107789
      y: -656.8174109621277
      zoom: 0.6283898970053466
  rag_pipeline_variables: []
